[2019-12-19 17:38] #9430 closed

[2019-12-19 18:09] gerritc opened #9433 "[BUG]Swagger: repoCreateStatus returns Status instead of an Array<Status>"
- Gitea version: 1.10.0
- Git version: 2.17.1
- Operating system: Ubuntu 18.04.3 LTS
- Database:
  - [X] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant

## Description
The Swagger api method repoCreateStatus expected an Array<Status> but gitea returns Status so the client f

[2019-12-19 21:46] #9433 closed

[2019-12-19 23:11] sapk commented on #9426
Hi, I am not sure to understand what is your use-case but the scenario you describe are achievable with gitea and openssh currently. If you want to use it in such a specific config I can only send your to openssh configuration docs and gitea docs and try to understand how it works under the hood.

For example such cases are also supported by advanced openssh/gitea combo config like http://man.open

[2019-12-20 00:07] sapk commented on #2792
font-family is now: `Lato,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif`. I don't remember when it was changed (maybe when changed for language compatibility) but I think we can close this issue.
Feel free to re-open the issue if you still have the same issue.

[2019-12-20 00:07] #2792 closed

[2019-12-20 00:38] lunny opened #9439 "Cannot edit code comment"

[2019-12-20 00:44] lunny commented on #9406
I just close this now.

[2019-12-20 00:44] #9406 closed

[2019-12-20 02:13] #8362 closed

[2019-12-20 02:15] 6543 commented on #9439
@lunny do you mean this:
![](https://cdn.discordapp.com/attachments/323701541297192961/657374766453489684/Bildschirmfoto_zu_2019-12-20_01-11-47.png)

affected is try.gitea.io and gitea.com

[2019-12-20 02:23] lunny commented on #9439
@6543 No. I don't mean the duplicated input box. I mean we should edit the comment ourselves.

[2019-12-20 02:37] 6543 opened #9442 "[Bug] [UI] duplicated input box"
afected: gitea e57f76393 and db5524a9a (1.11.0+dev-472)

how to reproduce:

 1. creat a code comment on a PullRequest
 2. save it
 3. try to edit the comment ... -> reproduced

how it looks like:

![](https://cdn.discordapp.com/attachments/323701541297192961/657374766453489684/Bildschirmfoto_zu_2019-12-20_01-11-47.png)

[2019-12-20 02:38] #8505 closed

[2019-12-20 03:22] lunny opened #9443 "Migrating code reviews on pull requests"
Currently when migrating a repository from github, you can migrate pull requests but reviews cannot be migrated.

[2019-12-20 05:26] Russtopia commented on #189
Hi all,

This is sort of a crazy idea, but ... perhaps a solution for code review that is decoupled from *any* particular platform could be made from one of the web plugins that allow general annotation on top of HTML, such as https://web.hypothes.is/ or some of the others here: https://www.maketecheasier.com/google-chrome-extensions-annotate-text-on-the-web/

Perhaps someone with knowledge in the

[2019-12-20 08:38] gabyx commented on #8273
**on 1.7.4 (9f33aa6)** I had lots of connections too on the peak, when `Filtering...` -> LFS Smudge:
netstat -ant | awk '{print $6}' | sort | uniq -c | sort -n
      1 Foreign
      1 established)
      5 LISTEN
     10 ESTABLISHED
   8599 TIME_WAIT

[2019-12-20 10:13] f0x52 opened #9445 "No warnings when database connection can't be established"
- Gitea version (or commit ref): gitea-1.10.1-linux-amd64
- Git version: 2.23.0
- Operating system: Debian Sid
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Unbeknownst to me, my postgres crashed (probably out of

[2019-12-20 10:54] rrimc69 commented on #4308
+1 same issue. Created bare repo from scratch, in GUI, no initial file addition possible from the GUI in the bare repo after creation.

[2019-12-20 11:08] timonegk commented on #9365
I am experiencing the same problem with PostgreSQL, Debian Buster and Gitea 1.10.1.

[2019-12-20 11:20] timonegk commented on #9365
Oh, I think the problem is the `noexec` flag. I am using podman for virtualization which mounts volumes with `noexec` by default. The [corresponding issue](https://github.com/containers/libpod/issues/4318) seems to be [fixed already](https://github.com/containers/libpod/pull/4557), but my release does not contain the fix yet. I will try again with the current release and report the results here.

[2019-12-20 11:25] timonegk commented on #9365
Yes, that was the problem. Thank you for the quick response!

[2019-12-20 11:33] #9365 closed

[2019-12-20 11:35] lunny opened #9446 "Attachments support on milestone"
We could upload attachments on milestone.

[2019-12-20 11:53] timonegk commented on #9365
Well I don't know if this works for @mschoettle too

[2019-12-20 12:12] lunny commented on #9445
What's the output?

[2019-12-20 12:59] theAkito opened #9447 "Commits to private repositories are ignored in statistics"
- Gitea version (or commit ref): 6d811bcb1
- Git version: 2.11.0
- Operating system: DietPi (based on Raspbian)
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description
Commits to my own private repositories don't show up on the Gitea W

[2019-12-20 15:31] mbedded commented on #9429
Thank you for your quick feedback. My data is stored in /home/pi/gitea.

[code]

I installed the system-script as described in https://docs.gitea.io/en-us/linux-service/.
[code]

[2019-12-20 18:06] finkr opened #9448 "Insufficent LDAP log"
- Gitea version : 1.11
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

      2019/12/20 18:46:51 ...es/auth/ldap/ldap.go:101:findUserDN() [D] Failed search using filter[(objectCategory=user)%!(EXTRA string=jdoe)]: LDAP Result Code 201 "Filter Compile Error": ldap: finished compiling filter with extra at end: %!(EXT

[2019-12-20 18:08] finkr commented on #8413
set "LEVEL=debug" in the file `app.ini` to see error messages (restart required)

[2019-12-20 19:24] 6543 commented on #9429
first look: It looks like the config file patjs do not match

[2019-12-20 21:57] Tchoupinax commented on #9201
![image](https://user-images.githubusercontent.com/9136206/71295375-eb120e00-237b-11ea-9776-a00923f3c1e8.png)

Example 1 : i merged develop into master, i removed develop, i created develop in local and push it to gitea... but new develop branch has a reference to the PR that concerns the old branch.

[2019-12-20 23:03] zeripath commented on #9429
Yet again the non-standard paths problem strikes again.

Gitea does not obey the FHS. It expects to be run at the base of its configuration and data directories.

Sticking it in /usr/local/bin and expecting it to work like a FHS compliant program causes no end of trouble.

We should change our documentation to recommend using the FHS compliant wrapper script or rebuilding with the FHS compliant op

[2019-12-20 23:06] zeripath commented on #9365
Hmm I think I'll leave it closed unless they write back to say that doesn't explain their problem

[2019-12-21 03:10] xuenhua commented on #8373
The same issue

[2019-12-21 03:17] xuenhua commented on #8373
Raspberry 4's CPU is arm cortex-a72, I tried arm-6 ,arm-5 ,arm64 ,not work, please verify it‘s compatible with Raspberry 4

[2019-12-21 04:23] techknowlogick commented on #8373
Arm6 works with rpi4, however the rpi4 introduced a big into their firmware that caused this issue for more than just Gitea. They have since patched the issue but an update to the firmware is needed

[2019-12-21 04:46] bhalbright opened #9453 "Issue with paging on /repos/{owner}/{repo}/git/trees/{sha} api"
- Gitea version (or commit ref): 4f42e03
- Git version: 2.19.1.windows.1
- Operating system: Windows 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ x] Not relevant
- Log gist:
2019/12/20 22:25:14 ...les/context/panic.go:35:1() [E] PANIC:: runtime error:

[2019-12-21 04:48] bhalbright commented on #9453
I intend to submit a PR for this issue when I can fix it. This was actually found by an Unfolding Word developer https://github.com/unfoldingWord.

[2019-12-21 11:17] mbedded commented on #9429
I am sorry but I didn't understood that in complete :/

In my service I have the following line
[code]

There is a path to my gitea executable with `-c` giving the configuration file. What confuses me is the fact that `stop service` and `start service` are working after I restarted my device. But downloading the file, adding `chmod +x` and start the service again should be working.
I am not entire

[2019-12-21 14:57] tuxmaster5000 commented on #8994
The same using pgsql 12 on centos 7

[2019-12-21 16:53] SpaWn2KiLl commented on #8127
Fixed in #9452

[2019-12-21 17:02] SpaWn2KiLl commented on #6209
#9452 adds API support for pagination. [Frontend](https://github.com/SpaWn2KiLl/gitea/blob/list_pagination/routers/user/setting/profile.go#L199-L202) should be changed either by using the pagination or retrieving all results

[2019-12-21 17:59] noamross opened #9457 "Gitea not serving static asssets from STATIC_URL_PREFIX"
- Gitea version 1.10.1 built with go1.13.1 : bindata, sqlite, sqlite_unlock_notify
- git version 2.23.0
- Operating system: FreeBSD 11.3-RELEASE-p2
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description

I am running gitea at https://

[2019-12-21 18:04] techknowlogick commented on #9457
Thank you for opening up this ticket. The CDN functionality was introduced in 1.11-dev, and has not been backported to 1.10.X. We hope to release an RC of 1.11 soon.

[2019-12-21 18:04] #9457 closed

[2019-12-21 18:04] noamross commented on #9457
Thank you

[2019-12-21 19:30] HowToMeetLadies opened #9458 "authorized_keys (external SSH)"
- Gitea version (or commit ref): `Gitea version 1.10.1 built with GNU Make 4.1, go1.13.4 : bindata, sqlite, sqlite_unlock_notify`
- Git version: `git version 2.11.0`
- Operating system: `Debian Stretch - Linux HOSTNAME 5.1.14-xen #5114 SMP Sat Jun 22 15:59:13 CEST 2019 x86_64 GNU/Linux`
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bu

[2019-12-21 21:10] Tchoupinax commented on #5733
What's up with this feature ? :)

[2019-12-21 21:16] mschoettle commented on #9365
Thanks.

I had `user` in my mount options which implies `noexec`. Without it it works now.

However, I think there should be some indication (in the logs or somewhere else) that the hooks are not executable.

[2019-12-21 21:47] HowToMeetLadies commented on #9458
Shame on me. The url (nginx) pointed to another machine. *faceplause*

**It runs all the time**. Please excuse the disturbance.

I am a former gitolite user and it was perfectly fine there, but gitea is simply awesome.

🥇

[2019-12-21 21:47] #9458 closed

[2019-12-21 23:50] 6543 commented on #5733
dont have time to implement it jet :(

[2019-12-22 01:26] SpaWn2KiLl commented on #9165
I believe the problem is due to:
https://github.com/go-gitea/gitea/blob/master/routers/api/v1/repo/issue.go#L74
https://github.com/go-gitea/gitea/blob/master/routers/api/v1/repo/issue.go#L153

#9452 will fix this issue

[2019-12-22 01:28] #8127 closed

[2019-12-22 01:29] lunny commented on #8127
@SpaWn2KiLl This said the problem of UI not API. It's fixed by #9092.

[2019-12-22 01:31] lunny commented on #9453
Fixed by #9459

[2019-12-22 01:31] #9453 closed

[2019-12-22 08:42] iwzoo commented on #9365
I'm having exact the same problem here. I run gitea + sqlite docker container on debian.

[2019-12-22 09:06] iwzoo opened #9461 "can't push local repo to remote"
- Gitea version (or commit ref):
1.11.0+dev-352-g66028d58f built with GNU Make 4.2.1, go1.13.4 : bindata, sqlite, sqlite_unlock_notify
- Git version: 2.22.0
- Operating system: Debian, Docker
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- L

[2019-12-22 11:49] lukastribus opened #9462 "API: feature request to add author/committer date"
- Gitea version (or commit ref): 1.11.0+dev-481-g1df701fd1
- Git version: `2.17.1` or whatever `try.gitea.io` runs
- Operating system: Ubuntu 16.04 or whatever `try.gitea.io` runs
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes
  - [ ] No
  - [x] Not relevant
- Log gist: n/a

## Description

This

[2019-12-22 12:17] anthonyvdotbe commented on #8545
AFAICT, the purpose of that is to avoid certain attributes from getting stripped by Gitea. To solve this issue, there should be a way to do the exact opposite: tell Gitea to strip certain attributes. I tried with the section below, but it doesn't help:
[code]

[2019-12-22 13:03] #8392 closed

[2019-12-22 14:03] #8410 closed

[2019-12-22 14:29] 6543 commented on #9462
first look: I would extend the `body`, more exact:
from ...
 - DeleteFileOptions
 - CreateFileOptions
 - UpdateFileOptions
... the `Identity` type has to be extendet ...

[2019-12-22 14:39] 6543 commented on #9462
but extending `IdentityOptions` and `Identity` with a fild not related to itself is ... mad

 * GitHub [Link] (https://developer.github.com/v3/repos/contents/#parameters-2) do not have this option so adding a optional in-body-param is the way I would do it

[2019-12-22 14:42] 6543 commented on #9462
what do you thin of:

[code]

[2019-12-22 14:50] 6543 commented on #9462
and
* https://github.com/go-gitea/gitea/blob/master/modules/repofiles/update.go#L374
* https://github.com/go-gitea/gitea/blob/master/modules/repofiles/temp_repo.go#L190
have to be changed ...

[2019-12-22 15:51] j-be opened #9465 "Cannot add SSH key"
- Gitea version (or commit ref): 1.10.1
- Git version: 2.17.1
- Operating system: Ubuntu 18.04.3 LTS
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- SSH
  - [x] OpenSSH
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:
Log shows nothing but the `[SQL]` stuff.

## Description

I

[2019-12-22 16:53] zeripath commented on #9461
We need some more information I'm afraid.

What version of Gitea?

Do you get any logs in Gitea when you push?

It looks like you're pushing over http is that correct?

Are your Gitea repositories mounted on an executable partition? If they are mounted noexec or user then I'm afraid that won't work as Gitea is informed by git hooks about pushes.

[2019-12-22 16:56] zeripath commented on #8630
Heya could you test again on master I think we may have inadvertently resolved this.

[2019-12-22 17:39] zeripath commented on #9227
I should note that the above was fixed by #9302

[2019-12-22 17:39] zeripath commented on #9227
Would anyone be able to test on master to see if #9302 has solved the issue?

[2019-12-22 17:55] mschoettle commented on #9365
@iwzoo: Did you check this [comment](#issuecomment-567889477)?

I connected to the container and tried to execute a hook manually (for example: `/data/git/repositories/<user>/<repo>/hooks/post.receive.d/gitea`) which gave me "permission denied". That way I knew it was the problem described above.

[2019-12-22 19:02] mrsdizzie commented on #9465
Do yo have ```MINIMUM_KEY_SIZE_CHECK = true``` in your config? If so I think this is a bug because the default minimum key lengths aren't set properly so enabling that will cause all key length checks to fail (will send a PR for that in a moment).

[2019-12-22 19:49] 6543 commented on #9165
#9452 should close this

[2019-12-22 19:55] SpaWn2KiLl commented on #9165
Actually I don’t think it closes. I’ve analyzed branch master and I’m not sure my PR fixed that issue. I think it is other bug, but I’m not sure

[2019-12-22 19:55] j-be commented on #9465
Yes, `MINIMUM_KEY_SIZE_CHECK = true` is in my config. Does that mean I can just remove that setting for the time being?

[2019-12-22 19:59] mrsdizzie commented on #9465
Yes if you disable that it should avoid this bug until it is fixed

[2019-12-22 20:01] 6543 commented on #9165
o title was litle bit misleading .. you are right

[2019-12-22 20:22] aggarwaldev opened #9467 "Unable to close issue"
- Gitea version (or commit ref): 1.10.1
- Git version: 2.22.0
- Operating system: Ubuntu (Linux)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (https://try.gitea.io/aggarwal.dev/sample/issues/1)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description
When using an Issue template with check

[2019-12-22 20:41] j-be commented on #9465
Perfect, thanks a lot for the quick help.

[2019-12-22 22:46] #9465 closed

[2019-12-23 02:33] bagasme commented on #9467
Can you reproduce this issue without issue template?

[2019-12-23 03:36] bagasme opened #9468 "[Feature Request] Search on 404 Page"
## Description

Currently, `404 Not Found` page on Gitea just display the error code and Gitea version. The search box should be added in that page, to let users search for code, projects, and people they supposed to look for.

## Screenshots

404 on Gitea:
![404 on Gitea](https://user-images.githubusercontent.com/40219486/71334226-d007ef80-256f-11ea-999f-570c023d787f.png)

404 on GitHub:
![404 on

[2019-12-23 04:10] 6543 commented on #9407
`box-shadow: 0 0 0 1px #2185d0 inset !important;` fix it if I add it manualy to `<a>` container

[2019-12-23 04:44] mxvin opened #9469 "Memory OOM during build"
Hi, I got problem while build from source:

- Gitea version (or commit ref): All tags/version
- Operating system: Debian 8 Kernel  2.6.32
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:
[code]

## Description
I realized this might be memory related problem. Because I see "/usr/lib/go/pkg/tool/linux_amd64/compile" pr

[2019-12-23 05:27] fangxin810425 opened #9470 "Code Review"
- Gitea version (or commit ref):
- Git version:
- Operating system:
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

...

## Screenshots

[2019-12-23 05:29] #9470 closed

[2019-12-23 06:34] Avey777 opened #9471 "希望增加pages的功能"
我是一个喜欢使用gitea的产品经理，在之前使用gitee和gitlab时都有pages功能， 现在转战gitea 希望有朋友可以贡献此项功能

[2019-12-23 08:48] tuxmaster5000 opened #9472 "[Feature Request] Organisation wide default hooks, without write shell code"
Possible to set default hooks on organisation wild repos, without writing shell code.
Like this in bitbucket.
![Screenshot_2019-12-23  Bitbucket](https://user-images.githubusercontent.com/837503/71346879-49e8aa80-2569-11ea-9fd8-03a35fd6f85d.png)

[2019-12-23 08:55] zeripath commented on #9469
Try building without bindata?

[2019-12-23 10:37] aggarwaldev commented on #9467
No. It works fine without issue template. I think it's because of the tick boxes.

[2019-12-23 11:10] bagasme commented on #9471
@Avey777 Can you please speak English here and describe your issue details?

[2019-12-23 11:12] bagasme commented on #9445
I think Gitea should consider database connection errors as *error*, not warning.

[2019-12-23 11:15] bagasme commented on #9429
@mbedded FHS is *Filesystem Hierarchy Standard*, which describes common paths for Unix and Unix-like systems (including Linux).

[2019-12-23 11:44] Andersbiha commented on #9469
Try mounting a swap partition before compilation.

On my low memory devices i usually mount a 2GB swap partition in addition to the 1GB onboard memory. I haven't tested to exact consumption so you might be able to compile it with less.

[2019-12-23 11:46] zeripath commented on #9429
Sorry I missed your reply @mbedded. My message wasn't necessarily directed at fixing your problem directly.

Let's try to solve your problem before discussing how to prevent this from happening to other people in future.

If I understand correctly, you have:

* The gitea binary is found in /home/pi/gitea/gitea
* You normally run gitea using systemd with the above unit file.

In your first comment

[2019-12-23 11:48] bagasme commented on #9472
@tuxmaster5000 Did you mean pre-receive webhooks as per your screenshot?

[2019-12-23 11:58] mlthlschr commented on #2908
Would be great if this could be implemented.
I want to expose some of my (public) repos to peeps who are not registered to my gitea instance, but I do not want to show them all of my registered users (including admin). As @theAkito mentioned, simply `REQUIRE_SIGNIN_VIEW = true` does not fix the problem.

[2019-12-23 12:03] lunny commented on #8083
We need a new unit named `milestone` to do that.

[2019-12-23 12:05] lunny commented on #9471
duplicated with #3834

[2019-12-23 12:05] #9471 closed

[2019-12-23 12:15] lunny commented on #9469
What's your golang version?

[2019-12-23 12:55] lunny commented on #9467
@aggarwaldev try site is a master version not v1.10.1.

[2019-12-23 13:08] flipkickmedia opened #9474 "Unable to pull with fcgi+unix, gitea serve passing bearer token gets 403"
[code]

**logs generated from above config:**
[code]

==> /var/lib/gitea/workdir/log/access.log <==
[code]

audit log from ssh: https://pastebin.com/Skw6DKLx

[2019-12-23 13:17] zeripath commented on #9474
**audit log of gitea command involved by ssh session to git use from git clone command:**
[code]

[2019-12-23 13:21] zeripath commented on #9474
OK, so setting up a basic test on my machine does not immediately reproduce the problem, but I note that the logging doesn't work correctly because `ctx.Req.RequestURI` is empty. I suspect that this might be at least partly responsible for the problem.

[2019-12-23 13:23] mxvin commented on #9469
Hi,
Thanks for all that replied to this post, I think I just confuse, as the documentation mentioning usage of 'bindata' on the build flag, I think that's mandatory.

Making swap is not possible on current machine as it runs OVZ virtualization that limit some system level execution.
And Yes, to resolve this issue, just build without bindata, omit that flag if you dealing with limited memory, and t

[2019-12-23 13:32] zeripath commented on #9474
I've just checked with `REQUIRE_SIGNIN_VIEW               = true` on the internal SSH and can't get it to be replicated

[2019-12-23 13:42] tuxmaster5000 commented on #9472
@bagasme Yes, and some often used pre-defined like this.

[2019-12-23 13:46] zeripath commented on #9474
Using openSSH doesn't seem to replicate this issue either.

I think you mentioned PAM in discord - I wonder if there is an issue authenticating against PAM - however, the SSH key should just be being used and there should be no attempt to log in against PAM so I don't think that can be the issue here.

[2019-12-23 13:59] zeripath commented on #9445
https://github.com/go-gitea/gitea/blob/2de8b27dd1a109e923af7e9026e541539ec054ed/routers/init.go#L57-L78

shows a lot of logging when there is errors...

[2019-12-23 14:51] inf3rno opened #9475 "[Feature Request] taking notes"
Many times I have a good idea or something I want to do in mind when I am working on an issue and writing a long text. I can choose between being sidetracked and creating new issues or forgetting it or opening a different application maybe using paper and pen to write down my notes. On github I really miss being able to write down a few words and work on it later. I am not sure if Gitea already co

[2019-12-23 15:10] e3b0c442 commented on #6152
My work on the WebAuthn conversion PR can be tracked here: #9451

[2019-12-23 15:49] zeripath commented on #9474
OK so it appears that this was a proxy problem. I'll close this.

#9473 fixes the problem with logging of opaqued urls.

[2019-12-23 15:49] #9474 closed

[2019-12-23 16:39] jorng commented on #6152
I am 💯 in favor of the migration to WebAuthn. I will close this and track that issue.

[2019-12-23 16:39] #6152 closed

[2019-12-23 16:45] #8294 closed

[2019-12-23 18:06] zeripath commented on #9398
OK I noticed that things waiting on the issue indexer won't shutdown nicely because the holder doesn't listen to shutdown - that's fixed in #9363. #9313 removed the equivalent problem from the repo holder but, introduced other bugs which should be fixed by: #9476

[2019-12-23 18:31] zeripath commented on #9467
<a id="dropzone">Does this set an id?</a>

[2019-12-23 18:34] zeripath commented on #9467
but I wanted to link to <a href='#dropzone'>Does this set an id?</a>

[2019-12-23 18:36] zeripath commented on #9467
<a id="some-id">This some-id</a>

<a href="#some-id">this should link to some-id</a>

<a href="#user-content-some-id">this should link to some-id</a>

<a id="user-content-some-id">Let's see what you do here</a>

[2019-12-23 18:41] jolheiser commented on #9467
For the record, the tests above are because this issue actually comes from header IDs.
The OP issue has `### module` which is given an auto-ID of `module` which is then giving `dropzone.js` a problem.

https://stackoverflow.com/a/3434388
https://github.com/go-gitea/gitea/blob/master/public/vendor/plugins/dropzone/dropzone.js#L1619-L1623

[2019-12-23 22:38] #9467 closed

[2019-12-23 22:43] mrsdizzie commented on #9475
You mean the gist feature? If so there is already an (old) issue for that #693

[2019-12-23 23:44] inf3rno commented on #9475
@mrsdizzie No, as far as I understand the gist is for sending code. This one would be only for writing down a few words and continue work without major interruption and check it again later. Maybe it is similar to a todo list, but it isn't entirely that. The notes can be repo related or something totally unrelated, for example I realize that I need to buy eggs when I am working on a project, readi

[2019-12-24 02:33] #9462 closed

[2019-12-24 03:16] 6543 commented on #9475
I would say you want two things:
* draft issues
* a simole way to create them while working on a issue

?

[2019-12-24 03:43] zzps opened #9481 "Need to add --work-path to authorized_keys"
- Gitea version (or commit ref): 1.10.1
- Git version:  2.24.1
- Operating system:  centos 7.7
- Database (use `[x]`):  tidb 3.0  ok for mysql
  - [ ] PostgreSQL
  - [x ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x ] No
  - [ ] Not relevant
- Log gist:
```can not clone repository over ssh , and it is work over htt

[2019-12-24 03:59] bagasme commented on #9481
@zzps Perhaps at what repo you install Git?

And can you provide full log for this issue?

[2019-12-24 04:10] zzps commented on #9481
ok ,I have said that when gitea is not work, I do that use gogs with same way on the same machine . and clone work fine both over ssh and http. so  it can prove git is ok.
and you ask more log   ,i show  some.
app.ini   :
APP_NAME = 智脸猫
RUN_USER = git
RUN_MODE = prod

[oauth2]
JWT_SECRET = iY6hiKXXTNojeIufes_60zWdXGdA_Vdfg6cPHxmjYIs

[security]
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9

[2019-12-24 04:43] KenMercusLai commented on #7609
you can convert it to a regular repo in the setting page of your repo.

[2019-12-24 04:53] zzps commented on #9481
more  information!  when I use gitea inernal ssh server by add
START_SSH_SERVER = true
SSH_PORT  = 22222
it works!!!
so why it can't work with openssh???why?

[2019-12-24 05:21] zzps commented on #8315
I get the same problem as you . but I do not think it's not a Gitea issue. because use deepin'os clone also get the problem. so I  think it is a bug of gitea

[2019-12-24 05:31] flipkickmedia commented on #9474
It worked with the branch you created. Master still fails to work:

[code]

[2019-12-24 06:35] iwzoo commented on #9461
Gitea: 1.11.0+dev-352-g66028d58f built with GNU Make 4.2.1, go1.13.4 : bindata, sqlite, sqlite_unlock_notify

Yes, I'm using http for pushing.

Do you mean the the mount of /data should be executable (without nonexec option)?

[2019-12-24 06:51] zeripath commented on #9461
Yes, exactly that.

[2019-12-24 06:53] zeripath commented on #8679
We could make it possible to assign to a team.

[2019-12-24 07:29] lunny commented on #9481
You cannot share the `git` account with other git service. I think that's the reason why ssh not work.

[2019-12-24 07:34] zzps commented on #9481
I create user git just for run gitea，no others。by the way   I have said gogs works fine,  and use gitea built ssh server works fine

[2019-12-24 07:34] lunny commented on #9475
@inf3rno I'm using `private repository` + `Typora` to do that.

[2019-12-24 07:41] lunny commented on #9469
@mxvin Before Gitea v1.11 that's work. But when Gitea v1.11 `make build` means `make generate build` on v1.10 or before. Except you know more detail about gitea build, otherwise it's a bit complicated to compile without embedded resouces.

With or withoud embedded resouces, Gitea will both work. You should copy `public`, `templates`, `options` the three folders with Gitea binary.

[2019-12-24 07:44] lunny commented on #9481
You can go to gitea ui -> admin panel and run `Update the '.ssh/authorized_keys' file with Gitea SSH keys. (Not needed for the built-in SSH server.)` and `Resynchronize pre-receive, update and post-receive hooks of all repositories.`. That will overwrite other git services' public key and hooks.

[2019-12-24 07:50] zeripath commented on #9481
The key you use to connect to Gitea must be controlled by Gitea. That is, it must have been added to Gitea's db and must have been added to the authorized_keys file by Gitea.

[2019-12-24 07:52] zzps commented on #9481
i have done all that steps , no work!

[2019-12-24 07:53] zzps commented on #9481
yes! I actualy do all these operation, but no work!   but gogs works well !

[2019-12-24 08:02] zeripath commented on #9481
Are you running gogs and Gitea with the same user? Your description seems to imply that. That won't work and I'd ask you to think about why because the reason is simple.

Remove all of the gogs lines from authorized_keys.

[2019-12-24 08:04] zzps commented on #9481
I do the gitea install strictly by the document, I see the  key be added to the db and authorized_keys file   all things be done ok, and it is fine in gogs but can not work in gitea

[2019-12-24 08:07] zzps commented on #9481
yes ,  I run gogs and Gitea with the same user "git", before I change gogs to gitea, I have remove all the gogs key from authorized_keys . and it  still not work

[2019-12-24 08:30] zeripath commented on #9481
If Gitea works on the internal SSH server then the problem lies at authorized_keys.

Let us begin again.

1. What user is running Gitea?
2. What config and what environment are you using to run Gitea and where?
3. Do the lines in .ssh/authorized_keys look correct for the above information? Give us an example - you can cut the key off after the first few letters.
4. Ensure that Gitea is now no long

[2019-12-24 08:44] #8457 closed

[2019-12-24 09:04] zzps commented on #9481
ok, now I answer your question one by one:
1, I use user git run gitea , and only run gitea
2,  I do not know your point about the config and environment, I could say that  app.ini is above,and git version ,system too
3, I copy the key from authorized_keys here :
# gitea public key
command="/usr/local/gitea/gitea --config='/usr/local/gitea/custom/conf/app.ini' serv key-14",no-port-forwarding,no-X1

[2019-12-24 09:12] zeripath commented on #9481
What happens if you SSH directly without going through git? You should get told you have authenticated by Gitea does not provide a shell or thereabouts

[2019-12-24 09:16] zzps commented on #9481
ssh git@192.168.1.249
The authenticity of host '192.168.1.249 (192.168.1.249)' can't be established.
ECDSA key fingerprint is SHA256:tb7qobfbP/lYnboDAQIZ0WUIhfxNc63cnQkMesnG+9o.
Are you sure you want to continue connecting (yes/no/[fingerprint])? yes
Warning: Permanently added '192.168.1.249' (ECDSA) to the list of known hosts.
PTY allocation request failed on channel 0
Connection to 192.168.1.249

[2019-12-24 09:18] zeripath commented on #9481
Well that's interesting.

From a command line on the server run:

[code]

[2019-12-24 09:21] zzps commented on #9481
/usr/local/gitea/gitea --config='/usr/local/gitea/custom/conf/app.ini' serv key-17
Hi there, zzps! You've successfully authenticated with the key named 本地pc, but Gitea does not provide shell access.
If this is unexpected, please log in with password and setup Gitea under another user.

[2019-12-24 09:54] zeripath commented on #9481
Did you deliberately change the key number? I'm going to assume that the key number still matches authorized keys.

So now the question comes as to why SSH can't run or it fails for that command.

There's an interesting bit where SSH states Pty allocation failed. Now that's weird because we explicitly say don't give a Pty in our authorized_keys

So I wonder, if you remove the no-pty from the autho

[2019-12-24 10:02] zzps commented on #9481
because I have change the key before run ,so that I should replace serv-14 to serv-17, and  your command is serv-14 and I  run serv-17,it doesn't matter.
abount the pty question , I can test it , I have environment

[2019-12-24 10:26] zeripath commented on #9481
Any progress on testing the pty things?

[2019-12-24 10:27] zeripath commented on #9481
You just need to remove the no-pty, from the authorized_keys and try SSHing again

[2019-12-24 10:43] zzps commented on #9481
after remove no-pty in the authorised_keys
it shows:
$ ssh git@192.168.1.249
Connection to 192.168.1.249 closed.

[2019-12-24 10:48] zzps commented on #9481
it still can not clone over ssh

[2019-12-24 11:09] zzps commented on #9481
I think I should show you a strange discovery, the gitea generate authorized_keys and the line
"/usr/local/gitea/gitea --config='/usr/local/gitea/custom/conf/app.ini' serv key-1" shows with  red color .
and the gogs
generate authorized_keys and the line
"/usr/local/gogs/gogs serv key-3 --config='/usr/local/gogs/custom/conf/app.ini'" shows with white color .

!!!may be it is the clue!!!!!

[2019-12-24 11:18] zeripath commented on #9481
So for some reason it appears SSH cannot run the command. I guess check the permissions for everything? Is there a difference with gogs?

[2019-12-24 11:55] mbedded commented on #9429
@bagasme Thank you for that information.

@zeripath that's no problem. Currently there are some holidays, too. So I don't expect an answer within a few days :)
Your list above is correct and describes my current environment.

I have _no_ Gitea-executable in any other path. I missed to mention the `chmod +x` command in my minimal example above. The execution rights where updated so it can be execut

[2019-12-24 13:19] Fardinak commented on #2222
Plugin support has indeed improved since 1.8, but Windows is still unsupported at this time and it doesn't seem like there's any active effort towards making it happen. However the community seems keen on accepting a pull request from someone who knows actually how to implement it…

[Plugin support in `v1.13`](https://github.com/golang/go/blob/b0a2a817571c52341603d7d089c4138b048c67c3/src/plugin/pl

[2019-12-24 13:46] zeripath commented on #2222
Oops, didn't mean to close this.

One thing I think would help would be a more extensible markdown renderer. I understand Hugo has moved to the goldmark renderer.

[2019-12-24 14:34] demostanis-worlds commented on #6972
You need to set the owner of `/etc/gitea` to the user you're using with gitea:
`sudo chown -R username /etc/gitea`

[2019-12-24 15:26] iwzoo commented on #9461
is there any chance or plan to make it working on noexec partition?

[2019-12-24 18:26] inf3rno commented on #9475
No, it is less than a draft. It is just a small note to remember what to do next after I finished working on the actual issue. Something like a short todo list for that day.

[2019-12-24 18:28] inf3rno commented on #9475
Thanks, I'll check this typora.

[2019-12-24 18:52] 6543 commented on #8684
@noerw will #9373 close this?

[2019-12-24 18:53] 6543 commented on #8684
Or do you mean creating a UI?

[2019-12-24 20:48] bhalbright opened #9483 "add/remove issue dependency failing"
Adding or removing a dependency in the gitea user interface is failing, user gets an error 500 and the dependency is not added or removed.

- Gitea version (or commit ref): 30181d459da79ef57c58bb3789e2ce7130d08b77
- Git version:  version 2.19.1.windows.1
- Operating system: Windows 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug

[2019-12-24 21:01] bhalbright commented on #2434
Just dropping a note that I'm going to work on an attempt at this based on the ui design by @scullhead
 and @guillep2k and using the api endpoint I worked on in #7901

[2019-12-24 22:44] #7289 closed

[2019-12-24 23:50] JustAnotherArchivist opened #9485 "Webhook payload documentation"
I am currently working on a custom notification system involving Gitea. The details of this setup aren't really relevant to the topic at hand; there'll be an HTTP server that takes events via webhooks and produces notifications to send elsewhere.

My problem: there's hardly any documentation on webhooks. [The doc page](https://docs.gitea.io/en-us/webhooks/) merely lists the different hooks availab

[2019-12-25 00:23] 6543 commented on #9483
does #9484 close this? - then this need to be closed

[2019-12-25 00:23] #9483 closed

[2019-12-25 00:27] lunny commented on #2434
@bhalbright The permission check with pagnation is something we need pay attention to.

[2019-12-25 01:13] zzps commented on #9481
I have check everything permissions , no difference with gogs.

[2019-12-25 02:56] 6543 opened #9486 "[API] add endpoint for single comment"
like github has `"latest_comment_url": "https://api.github.com/repos/octokit/octokit.rb/issues/comments/123",`

[2019-12-25 02:57] 6543 commented on #9486
useful for #4811

[2019-12-25 03:44] lunny commented on #9481
Have you tried run `ssh -T git@192.168.1.249` on your local machine?

[2019-12-25 03:51] lunny opened #9487 "Use github.com/yuin/goldmark as markdown parser"
As mentioned on https://github.com/go-gitea/gitea/issues/2222#issuecomment-568751429 by @zeripath

[2019-12-25 03:51] zzps commented on #9481
done that and no help . and I move the environment to machine :192.168.1.250, and do all the step as document, it still doesn't work !
![q1](https://user-images.githubusercontent.com/33255974/71431457-edbe8b80-270c-11ea-90cd-d10028aabfd8.png)

[2019-12-25 04:20] a7hybnj2 commented on #8928
I just learned of gitignore.io and they have fp-info-cache in their defaults for kicad.

[2019-12-25 06:05] zeripath commented on #9481
Is it possible that the serv command cannot talk to the Gitea server and that's the problem here?

(I've checked if the Chinese ideograms were a problem and they're not on my server)

Do you have some super locked down SSHd configuration?

[2019-12-25 06:07] zeripath commented on #8928
It's already in there on master:

https://github.com/go-gitea/gitea/blob/f88715e29c8cd6865b69eb8e692d051d977e93a5/options/gitignore/KiCad#L15

[2019-12-25 06:07] #8928 closed

[2019-12-25 06:36] lunny commented on #9481
It should return
[code]
Before this, there is no any internal http request.
So `/usr/local/gitea/gitea --config='/usr/local/gitea/custom/conf/app.ini' serv key-1` hasn't been invoked.
Maybe you could confirm that `authorized_keys` owned by `git` and has a permission mode `600`.

[2019-12-25 06:49] zeripath commented on #9481
@lunny

https://github.com/go-gitea/gitea/blob/f88715e29c8cd6865b69eb8e692d051d977e93a5/cmd/serv.go#L105

Makes a call to the Gitea server.

If authorized keys wasn't working SSH would refuse to allow them to authenticate and they wouldn't get the Pty refused message.

Looking again at cmd/serv.go the only way this could fail silently is if during setup setting.NewContext calls a fatal

https://gi

[2019-12-25 08:38] zzps commented on #9481
I have change Chinese to english, no   help too !

[2019-12-25 08:46] zzps commented on #9481
run  `/usr/local/gitea/gitea --config='/usr/local/gitea/custom/conf/app.ini' serv key-1 ` could return  what you said,  and I can show you the permission to prove all things config is ok.
![7%RKP2((Q9M`B@9(G(NJ@RX](https://user-images.githubusercontent.com/33255974/71439840-0c854800-2736-11ea-8a81-13be52fa8609.png)
![XTCR8{W2IQS@L%0WD6M Y$E](https://user-images.githubusercontent.com/33255974/71439

[2019-12-25 08:51] zzps commented on #9481
![)7ULTS1K}5 PO9773`5}FOU](https://user-images.githubusercontent.com/33255974/71440005-ced4ef00-2736-11ea-9dd9-6c5924fd33ce.png)
![8%$S4AU(%G8KI6)67`QAUD](https://user-images.githubusercontent.com/33255974/71440010-d3010c80-2736-11ea-9c78-248ceaa53d29.png)
![S{YY4OIZSUPRB2Y1ZBZIVL9](https://user-images.githubusercontent.com/33255974/71440014-d85e5700-2736-11ea-94b4-f04fb6c4b384.png)

[2019-12-25 11:06] zeripath commented on #9481
I'm a bit stuck as to what could be going on here. I suspect the issue is that NewContext() is throwing a Fatal and that's killing things. Now rather distressingly, macaron.init will cause a fatal if it is started from a non readable directory - but why would gogs work in that case?!

OK is it possible that the home directory (according to /etc/passwd) for the git user is /usr/local/git or worse s

[2019-12-25 11:08] zeripath commented on #9481
Once again I'm sorry this is turning in to such a rigmarole. There is something very weird happening and replacing gogs with gitea is usually just drop-in at least at this point.

[2019-12-25 11:34] zzps commented on #9481
now  I have done as your steps above, and this is the pic:
![a](https://user-images.githubusercontent.com/33255974/71444612-9bea2580-274d-11ea-82b2-5bb005ad966c.png)

[2019-12-25 11:42] zzps commented on #9481
I should give you my best thanks!

[2019-12-25 12:02] zeripath commented on #9481
Could you add an `echo $USER` too?

[2019-12-25 12:53] bagasme commented on #9354
I had opened PR @ #9491.

[2019-12-25 15:55] bobemoe opened #9493 "Backspace not working in new SimpleMDE on Issue/Commment"
- Gitea version (or commit ref): 1.11.0+dev-494-gf88715e29
- Can you reproduce the bug at https://try.gitea.io: Yes

## Description

When editing an issue body or comment the backspace key will not work to delete characters once the caret has been moved with arrow keys or mouse click.

Typing new characters works and the new characters can be deleted all the way back to where the last caret positi

[2019-12-25 16:03] bobemoe commented on #7619
This seems to be fixed now since SimpleMDE has been added. The textarea no longer has focus after clicking "Edit" so a manual focus is required initially and caret and highlight is visible :)

[2019-12-25 16:03] #7619 closed

[2019-12-25 19:29] zeripath commented on #9227
I can't replicate this since #9302 was merged. Therefore I'm closing this issue.

[2019-12-25 19:29] #9227 closed

[2019-12-25 20:08] zeripath opened #9495 "Gitea makes update hooks but doesn't use them"
- Gitea version (or commit ref): master

## Description

https://github.com/go-gitea/gitea/blob/3e166bd0550eceade275023616a02a8bf12d58c9/models/repo.go#L979

creates update hooks however gitea does not use this hook and the equivalent hook is essentially empty except for reading the settings file.

This would be of little consequence, except update is run for every reference and this means the set

[2019-12-26 00:59] lunny commented on #9461
@iwzoo I think it can't. Hooks scripts need execute permission.

[2019-12-26 01:01] #8703 closed

[2019-12-26 01:02] zzps commented on #9481
![g](https://user-images.githubusercontent.com/33255974/71452275-616ca100-27be-11ea-91ff-20bcaa119c8b.png)

[2019-12-26 05:05] #9354 closed

[2019-12-26 06:06] bagasme commented on #9067
@esradioli did you mean [@strk's comment on #6998](https://github.com/go-gitea/gitea/issues/6998#issuecomment-502340323)?

[2019-12-26 06:28] bagasme opened #9499 "[Question] [Docs] Correct Database Collation?"
## Description

Currently in [Gitea docs](https://docs.gitea.io) doesn't mention the right database encoding and collation to use for Gitea. This cause issues when using features e.g. emoji as per #9336.

Perhaps the docs can be updated by mentioning recommended database encoding:
- MySQL: `utf8mb4_*`
- PostgreSQL: ?
- SQLite: ?

[2019-12-26 07:31] yisiliang commented on #6620
@

I have the same issue.
But my GITEA is running in Docker.

[2019-12-26 08:39] yisiliang commented on #6620
after "Resynchronize pre-receive, update and post-receive hooks of all repositories. ", seems it is ok now.

[2019-12-26 08:48] zeripath commented on #9461
So there is actuallly a potential technique with setting the GIT_HOOK_DIR environment variable. However I just don't have time to do it as yet and it's potentially a little fiddly as we would have to deal with other hooks etc.

[2019-12-26 09:11] zeripath commented on #9481
Damn it's not that then... I'm quite stumped.

Ok on master I just added an extra option to serv: `--debug` would it be possible to grab master and change the authorized_keys line to include `--debug` ?

[2019-12-26 09:23] lunny opened #9500 "Bug on pagination of repository issues"
When you have two filters of labels and then click 2nd page, the filter will lost.

It's work when you have only one label filter.

[2019-12-26 09:39] zzps commented on #9481
how should I do? be  more detail please

[2019-12-26 10:38] tboerger commented on #2222
I still think it would make sense to implement the plugin api based on grpc and use the hashicorp plugin lib, this is already heavily battle tested.

[2019-12-26 11:14] bagasme commented on #8353
Just pinging...

WordPress have template for privacy policy page, like below:

[code]

We can use it as starting point for the template.

[2019-12-26 11:29] #8540 closed

[2019-12-26 13:17] #9380 closed

[2019-12-26 15:27] davidsvantesson commented on #5997
@zeripath I don't think we need to store anything at approve time. If a push causes approvals to become stale it would make all approvals for that PR stale. For sure someone might force-push the old SHA back and make the approval valid again, but IMO we don't need to consider that case.

So my idea is either
 - Check every new commit to see if it changes the diff with the merge branch
 - Assume ne

[2019-12-26 16:32] russell opened #9504 "Gogs webhook form missing ContentType field"
- Gitea version (or commit ref): 1.11.0+dev-496-g3e166bd05
- Git version:
- Operating system: Linux (docker) docker.io/gitea/gitea@sha256:19fd040118804252e4d991b8279d84be965c12ab1fa02cbb51119e5475b69bb0
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [X] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [X] Yes (provide example URL)
  - [ ] No
  - [ ] Not r

[2019-12-26 16:39] russell commented on #9504
after a bit more investigation, it looks like the field is hidden, so you can edit the page with the inspector to work around this for the time being

[code]

[2019-12-26 16:53] ankurash opened #9505 "[Feature Request] A redirect link to the repository's latest release/tag"
- Gitea version (or commit ref): 1.10.1
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Github has a redirect link to the latest release in a repository. For ex

[2019-12-26 17:05] #8394 closed

[2019-12-26 18:05] #8014 closed

[2019-12-26 19:56] davidsvantesson commented on #5997
Pushes to base branch: In my opinion this should not make approvals stale / require re-review. If there are merge conflicts that would require re-review after that has been fixed.

[2019-12-26 20:35] a7hybnj2 commented on #8928
@zeripath what version is master? I just upgraded to 1.10.1 and its still not there. Any idea when master will become a release?

[2019-12-26 21:03] zeripath commented on #8928
it will be 1.11. We'll have a RC soonish I think

[2019-12-27 01:45] lunny opened #9507 "Don't insert all commits actions on dashboard when push"
We should only list some of the pushed commits but not all of them.

<img width="559" alt="图片" src="https://user-images.githubusercontent.com/81045/71496291-85e37e80-288d-11ea-9970-defeff3b0c8e.png">

[2019-12-27 02:20] fangxin810425 opened #9508 "time tracking"
- Gitea version (or commit ref):1.10.0-windows-4.0-amd64
- Git version: 2.24.1, Wire Protocol Version 2 Enabled
- Operating system:window 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
   It is configured as HTT

[2019-12-27 04:01] hulb opened #9509 "out of memory in memory limited docker container"
- Gitea version (or commit ref):
    1.11.0+dev-454-gba8f93a14 built with GNU Make 4.2.1, go1.13.5 : bindata, sqlite, sqlite_unlock_notify
- Git version:
2.22.2
- Operating system:
debian, but I run gitea in docker and limit it's memory less than 900M since my vps is a small one
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at htt

[2019-12-27 05:03] Anakros commented on #9156
I found a small workaround.

1. Check that there are no running migration tasks
[code]
2. Update repository statuses manually from `RepositoryBeingMigrated` to `RepositoryReady`
[code]

It seems the api method doesn't run this code https://github.com/go-gitea/gitea/blob/1615b3c1874932c08d504fcc111f46105a2207b6/models/task.go#L222-L240 for some reason when importing local repositories.

[2019-12-27 05:54] lunny commented on #2222
https://github.com/hashicorp/go-plugin allow only an executable binary plugin and running on the local network. So the plugin have be run on a sandbox(i.e. docker) to avoid it read/write filesystem/database directly.

[2019-12-27 07:25] neingeist commented on #9156
Another workaround if you're setting up a new Gitea installation: I used 1.9 to import and then upgraded to 1.10.

[2019-12-27 09:11] zeripath commented on #9509
Looks like it is parse patch that did the pin kill.

It's a problematic piece of code that reads in and parses the diff data in its entirety - it's very wasteful of memory and data. It's been on my naughty list for a while.

Maybe you could adjust your templates to prevent showing these diffs?

[2019-12-27 09:19] hulb commented on #9509
Thanks for reply. Can you tell me where I can ajdust the template?

[2019-12-27 09:31] zeripath commented on #9509
https://docs.gitea.io/en-us/customizing-gitea/

But there is no guarantee that this will work as we might even be pregenerating the diffs.

[2019-12-27 09:32] zeripath commented on #9509
(I'm on my phone so checking would be quite difficult.)

[2019-12-27 09:43] hulb commented on #9509
That's ok, thx. But it's not suitable for me.The change will affects all repos. I think the problem might be that there is a repo which contains some larg pdf file and I downloaded one of them(through the 'raw' link). As for now, I try to not use it and see if it will happen again. Thx again.

[2019-12-27 11:01] sapk commented on #2222
@lunny I also think that the grpc solution is good because it allow local and remote. If plugin dev choose to acces database and file directly when run locally it is their concern. Maybe later we could choose to isolate (chroot, container, ...) local plugin but I think it would be extra first since it would be platform dependant.

[2019-12-27 11:33] lunny commented on #9509
Download file should not spend many memories.

[2019-12-27 11:42] lunny commented on #2222
@sapk I don't think that's their concern. I think the security should be consider when we design the plugin system.
Once you choose use plugin system, gitea could require you installed docker or k8s. All plugins should declare their permissions(read disk/visit network and other etc.)

[2019-12-27 11:43] tboerger commented on #2222
I don't get your concerns... That doesn't make sense to me.

[2019-12-27 12:11] bagasme commented on #9508
The link you mention returned 404 or 500?

[2019-12-27 12:13] meteorlxy opened #9514 "[Feature Request] Flexible redirect_uri of OAuth2"
- Gitea version (or commit ref): d151503d3428d61b5b3cb27ddbe849d3a6f288eb
- ~Git version:~
- ~Operating system:~
- ~Database (use `[x]`):~
- ~Can you reproduce the bug at https://try.gitea.io:~
- ~Log gist:~

## Description

https://github.com/go-gitea/gitea/blob/d151503d3428d61b5b3cb27ddbe849d3a6f288eb/models/oauth2_application.go#L64-L66

Currently, gitea test `redirect_uri` via [`com.IsSliceCon

[2019-12-27 12:34] #9156 closed

[2019-12-27 12:35] lafriks commented on #9156
Fixed in #9511

[2019-12-27 13:07] zeripath commented on #9509
yeah, @lunny is right here. The thing that ate all of the memory here was here:

https://github.com/go-gitea/gitea/blob/2401779aac7fae0b055e3caf4dddf109425db4bc/routers/repo/commit.go#L229

Which is in `repo.Diff` and corresponds to:

 https://github.com/go-gitea/gitea/blob/2401779aac7fae0b055e3caf4dddf109425db4bc/routers/routes/routes.go#L938

E.g. viewing a commit page.

[2019-12-27 13:19] lunny commented on #2222
@tboerger Plugins will run on your gitea server machine, it can do anything that's what my concerns. Could you explain why did you think that's not a problem?

[2019-12-27 13:28] lunny commented on #9509
OK. For a workround, you can change `setting.Git.MaxGitDiffLines`, `setting.Git.MaxGitDiffLineCharacters` and `setting.Git.MaxGitDiffFiles`.
We should load diff sections asynchronously.

[2019-12-27 13:30] tboerger commented on #2222
They can do whatever they implement... That's the use case for plugins 😂

[2019-12-27 13:39] zeripath commented on #2222
Depending on the level of plugin integration, there is a slight issue to do with plugins being run whilst there is an ongoing transaction with the db - but we'd just have to be explicit about when this happens. I would argue that level of integration would be too much to begin with.

If a server owner wants to blow themselves up by having a plugin that erases their entire db that's their call. We

[2019-12-27 14:25] tboerger commented on #2222
Dependency injection doesn't exist in go... How to use wire you can see within drone.

Define some hook endpoints via interfaces, there drone could also give some advice. Start with first parts that can be extended and increase the hooks step by step

[2019-12-27 14:33] Mikaela commented on #6682
I am still able to reproduce, however the Gitea instance is outdated which cannot be helped at the moment and I think next time I will just open a new issue as my previous comment leave it unclear if this is even my issue.

[2019-12-27 15:22] zeripath commented on #9495
I'm gonna reopen this because #9496 doesn't actually remove these hooks anymore.

[2019-12-27 15:33] lunny commented on #9495
OKay. I think it's clear as @lafriks said https://github.com/go-gitea/gitea/pull/9496#issuecomment-569283556.

`pre_receive` hook will be invoked before any objects stored on git repository.
`update` hook will be invoked after that but before change the branch/tag to that new refs.

Currently, we just need to use `pre_receive` to protect branches and `post_receive` to update something.

[2019-12-27 15:37] zeripath commented on #9495
Almost everything that can be done in an update hook can be done at pre-receive - the only things being different are that pre-receive cannot make references whereas it appears that update can. Despite its name pre-receive is called after the packs have been received and are present on the server in the quarantine directory.

Update hooks have to run once per received reference this makes them a r

[2019-12-27 15:38] zeripath commented on #9495
For reference looking at the Git source code:

You'd think that pre-receive is run before the packs are uploaded... but that's not what the documentation implies nor what this code does:

https://github.com/git/git/blob/0a76bd7381ec0dbb7c43776eb6d1ac906bca29e6/builtin/receive-pack.c#L1459-L1531

pre-receive is called at

https://github.com/git/git/blob/0a76bd7381ec0dbb7c43776eb6d1ac906bca29e6/buil

[2019-12-27 16:20] lunny commented on #9495
@zeripath see the comments on https://github.com/git/git/blob/0a76bd7381ec0dbb7c43776eb6d1ac906bca29e6/builtin/receive-pack.c#L1506-L1517 . The packs uploaded on temp directory before pre-received hook.

[2019-12-27 16:41] #9091 closed

[2019-12-27 16:46] Fardinak commented on #2222
I think @lunny's concerns are valid, but that problem also exists with Go plugins or most other methods. I don't find requiring docker to be a viable option for a user that needs only a couple of plugins with their instance either. Also since OS support is clearly important, we need to remember that Docker still requires running a resource intensive VM on macOS.

Running plugins in a safe sandbox

[2019-12-27 16:48] 6543 opened #9517 "make test-sqlite create not ignored dir"
`make test-sqlite` create dir `/modules/indexer/code/bleve.index/` wich is not in `.gitignore`

[2019-12-27 16:51] zeripath commented on #9495
Yes. The directories are specified as GIT_QUARANTINE_PATH.

All of the objects are on the server already and can be queried with an appropriate look up in the quarantine dir and the alternative dir as appropriate.

We do this already in the pre-receive hook:

https://github.com/go-gitea/gitea/blob/145c1ea0b6b1f79eff047041853378319117fd39/routers/private/hook.go#L65-L78

We will never need a update

[2019-12-27 16:57] andreynering commented on #2222
[Yegi](https://github.com/containous/yaegi) (a Go interpreter written in Go) is also a thing nowadays.

[2019-12-27 17:00] 6543 commented on #9517
removed from #9200 because of un-consencus if this should be added to .gitignore and/or `make clean` should handle it

[2019-12-27 17:00] 6543 commented on #9517
@lunny @zeripath point

[2019-12-27 17:13] zeripath commented on #9517
We should simply not create it in the first place.

Any test that touches the source-code tree is broken. If I could figure out how to do it I'd make it a hard fail to write anything, ever, to the tree during a test. It should be absolutely not allowed.

[2019-12-27 17:28] Fardinak commented on #2222
Oh that looks really interesting. How feasible would it be to create a limited subset of the stdlib? Although I don't know how that would affect the rest of the libraries, it could for example help disable the plugins from accessing the filesystem, or limit them to only the interface provided by Gitea.

[2019-12-27 18:12] 6543 commented on #9233
this bug is stil anoying and block work on gitea.com :(

[2019-12-27 18:27] #8176 closed

[2019-12-27 18:52] tboerger commented on #2222
With all the concerns you should continue with the mono binary. I will unsubscribe from this issue because I currently don't believe this will lead to something useful.

[2019-12-27 20:30] #8513 closed

[2019-12-27 20:30] #8559 closed

[2019-12-27 20:30] #8833 closed

[2019-12-27 21:23] zeripath commented on #8721
I believe that this has been fixed already.

[2019-12-27 21:23] #8721 closed

[2019-12-27 23:20] zeripath opened #9521 "Expose setting in template helpers"
- Gitea version (or commit ref): master

- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description

a number of template helpers are basically just wrappers to values in setting.

I propose that instead we expose setting in template helpers. It would simplify things and allow for more expressive templates.

Eg.

https://g

[2019-12-28 02:08] #9517 closed

[2019-12-28 03:11] bhalbright commented on #6181
This issue can be closed, it was fixed by PR #9424 and was also backported to 1.10.0

[2019-12-28 03:12] #6181 closed

[2019-12-28 03:12] techknowlogick commented on #6181
@bhalbright thanks :)

[2019-12-28 06:04] hulb commented on #9509
Ok ,thx guys. I'll try it later.

[2019-12-28 07:31] bagasme opened #9527 "[Feature] Reject User Registration Below (Predefined) Age"
## Description

Currently Gitea accepts user registration for any age. As #8353 will add Terms of Service, we will now require users registers at age 13 or older. The age will be calculated using date of birth entered when an user register to Gitea. Gitea should reject users which their age are under 13, during registration.

Existing users must be prompted to add their date of birth. Again, if th

[2019-12-28 09:22] zeripath commented on #9509
Hmm I suspect that that code is such that that might not do what you suspect. It appears the max diff lines only takes effect when looking at the next file.

[2019-12-28 09:24] zeripath commented on #9527
How about just adding "by signing up you agree to the terms & conditions" waiver instead.

Birthdates are sensitive personal data and we should not be collecting them.

[2019-12-28 09:34] bagasme commented on #9527
@zeripath I agree. But how can we determine user's age if we don't store their birthdate?

[2019-12-28 09:36] Fardinak commented on #2222
Well it seems like the GRPC option makes sense to most. Let me know if I can be of help in any way. We're currently using Go+GRPC on a company project so I have some experience with it.

[2019-12-28 10:35] zeripath commented on #9527
You don't.

The purpose of GDPR is that you should store and obtain only that which is necessary.

It's simply not necessary to get a user's date of birth - even if you want to exclude persons under the age of 13 just stick it in the terms waiver or if you want to make it explicit stick a checkbox in where they state they're over 13. (I'm suspicious that we should set that at 18 because we absolut

[2019-12-28 10:38] zeripath commented on #9527
Now if you allow marketing on your Gitea site you might actually have a valid reason for collecting dob - as the marketing company could demand it... But Gitea itself doesn't need it.

[2019-12-28 13:00] 6543 commented on #8036
I'll take a look at it

[2019-12-28 14:43] #9500 closed

[2019-12-28 16:44] 6543 commented on #8169
reverence: https://github.com/go-gitea/gitea/pull/3572/files#r205924980

[2019-12-28 16:46] 6543 commented on #8169
half working solution:
if you replace `1.1.1` with `{{AppVer}}`

at https://github.com/go-gitea/gitea/blob/master/routers/api/v1/api.go#L12

It works with stable versions but on dev the '+' mess around and you get `1.11.0&#43;dev-517-g1ea447aed ` for example

[2019-12-28 17:44] 6543 commented on #8036
@falkzilm this issue is about two different topics/issues:
1. Delete Tag on Release deletion too via API
2. error with release attatchment deletion

to 1.:
 * It work's as expected
 * I would leave it as it is (you can handle things more specific with API)
    - just delete release and then delete tag via git (`git push --delete origin tagname`) if you like to have same result than UI does

to 2:

[2019-12-28 18:16] 6543 commented on #8036
... 2. works as expected on 1.11.0-dev (ed67bbe4442cc26fc64102c04d6fbea348f52e7c)

@falkzilm do you still have this problem on your side with current master branch version?

[2019-12-28 18:40] 6543 commented on #8415
after #9422 is this still the case?

[2019-12-28 19:04] markus-seidl opened #9530 "CLI: admin auth list and delete are broken"
- Gitea version (or commit ref): Gitea version 1.11.0+dev-479-g8149ed704 built with GNU Make 4.2.1, go1.13.5 : bindata, sqlite, sqlite_unlock_notify
- Git version:
- Operating system:
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log gist:

[2019-12-28 20:53] kasbah opened #9531 "Redirect on changing user and organization name"
Currently gitea redirects repository URLs when you change the repository name (implemented in https://github.com/go-gitea/gitea/pull/807), but if you change a username or organization name then gitea won't redirect.

I am just wondering if there is interest in having redirects on username and organization name change implemented as well.

[2019-12-28 21:28] 6543 commented on #8737
still there

[2019-12-28 21:53] 6543 commented on #8737
note for me: look at DB.tables: `watch` `issue_watch`

[2019-12-28 22:22] 6543 commented on #8737
[code]

[2019-12-28 22:38] 6543 commented on #8737
:eyes: models.notification.go L77

[2019-12-28 23:57] 6543 opened #9534 "[feature] replace attachment when same name on uplaod"
come up in #9529

@davidsvantesson point

[2019-12-29 01:02] lafriks commented on #9531
That is tricky one as somebody can create org or user with old name so it would not be consistent and could lead to potential problems

[2019-12-29 01:14] kasbah commented on #9531
There is a similar problem for just changing repository names that was already solved in #807 I believe. The solution is to not redirect when a new org/user takes the old name. This is also [how Github does it](https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/changing-your-github-username#repository-references).

[2019-12-29 01:32] lunny commented on #8415
But that haven't been back port to v1.10

[2019-12-29 03:18] 6543 commented on #8853
@techknowlogick can you add this to 1.10.2 ?

[2019-12-29 03:37] 6543 commented on #8853
@techknowlogick / @lunny can you add Milestone 1.10.2 ?

[2019-12-29 03:58] 6543 commented on #8415
my suggestion is to move it to 1.11.0 - so we dont need a backport to close this ?

[2019-12-29 03:59] 6543 commented on #8415
@lunny my suggestion is to move it to 1.11.0 - so we dont need a backport to close this ?

[2019-12-29 03:59] 6543 commented on #8415
@wroghtast are you ok to wait for 1.11.0 ?

[2019-12-29 04:57] bagasme commented on #9530
Perhaps for `auth delete` currently `--id` option not supported?

[2019-12-29 05:06] markus-seidl commented on #9530
@bagasme Then how should the record to be deleted then be selected?

[2019-12-29 08:04] techknowlogick commented on #9530
Seems [docs](https://docs.gitea.io/en-us/command-line/#admin) are incorrect for this option, as they recommend `--id`

[2019-12-29 08:58] zeripath commented on #8743
I'm fairly certain that this has been fixed. Therefore I'm closing this. @FalconWu2017 please reopen if the problem persists.

[2019-12-29 08:58] #8743 closed

[2019-12-29 09:35] 6543 commented on #9189
# how and why this bug happen in simple terms
1. issue.LoadAttributes() andles deleted users by change some data so UI and is working
2. API issue edit (wich open/close and edit an issue) use this function to load the issue complete into ram
3. at api routine issue values are changed based on json <- the -1 from loadAttributes is now in the object
4. the api safe the in memory issue back to DB ->

[2019-12-29 12:04] bagasme commented on #9527
[GitHub TOS](https://help.github.com/en/github/site-policy/github-terms-of-service) says that:

[code]

Maybe Gitea site admin could perform such intervention. Facebook however, enforce age requirement during registration.

[2019-12-29 12:37] bagasme commented on #9493
@lunny Did you mean selecting the caret cause this bug?

[2019-12-29 14:13] imacks commented on #2307
i am looking for this feature too!

[2019-12-29 14:24] #8853 closed

[2019-12-29 15:49] pangmer commented on #7499
i meet the same question,if you know how to fix it pelease call me

[2019-12-29 15:51] pangmer commented on #7499
It's strange that my log didn't report the wrong information,only web show 500 status code

[2019-12-29 17:03] MarcelHillmann opened #9540 "PullRequest "squash and merge" issue"
- Gitea version (or commit ref): 1.11.0+dev-482-g2f9564f99
- Git version:
- Operating system: windows / linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) https://try.gitea.io/MarcelHillmann/testSquashAndMerge/pulls/2
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Descri

[2019-12-29 20:00] davidsvantesson commented on #3902
The way Gitlab support this is by using a plantuml server to generate the image (a public or private set up server). Thus they only need to compress and encode the text in base64. The resulting rendered page in GL looks like this:

[code]

A more generic way to add support for this would be to add support for the following features:
- Allow external renders to output content other than html (image

[2019-12-29 21:44] davidsvantesson commented on #9540
Your HEAD is pointing at branch _develop_. Did you change the default branch? Other than that I don't find anything strange in your repository and what you describe.
The merge conflict is not strange, you squash merged your changes and then applied new changes directly adjecent to previous changes. Git will give merge conflicts for this diff.
In general, and specifically if _squash merge_ is used,

[2019-12-29 22:57] zeripath commented on #9527
Exactly - Facebook use the dob for other things. We can simply have similar a thing to GH in our ToS

[2019-12-29 23:07] zeripath commented on #3902
I think mermaid js has some way of doing this

[2019-12-30 00:24] r00tusrDE commented on #8720
Please delete this issue. I opened it accidentally. Thanks.

[2019-12-30 00:53] fangxin810425 commented on #9508
400 Bad Request

[2019-12-30 02:49] clarfon commented on #9426
Okay, so, my original post was really terribly worded but essentially, this is *not* allowed with current gitea and this is essentially a request to make it possible somehow. I'll try and reword the post to make that clearer.

[2019-12-30 02:50] meteorlxy commented on #9514
@jonasfranz

[2019-12-30 03:37] chaosmonk1 opened #9541 "Failed to get home directory: Cannot specify home directory because it's empty"
- Gitea version (or commit ref):
- Git version:
- Operating system:
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

I have installed Gitea on Debian 10, mostly following [these instructions](https://docs.gitea.io/e

[2019-12-30 04:46] clarfon opened #9542 "Feature request - changing default branch name"
Right now, gitea always defaults to creating a `master` branch as the default, and the default can be changed per repo with a setting. It would be nice if we could change the default branch name so that new repos would be created with the given name, e.g. if you wanted to use `prod` instead of `master`.

[2019-12-30 04:54] 6543 commented on #9508
@fangxin810425 wich url/link ?! - is it about UI or API? ...

[2019-12-30 06:13] zeripath commented on #9541
The FHS compliant script wasn't really intended to be used with special inits like that - rather it was just to make normal working practice work - with that init it's intended that you just point it to the Gitea binary.

(The purpose of the FHS compliant script is to allow one to use standard scripts without special adjustments. I'm also not certain how start-stop-daemon reacts to a script in exe

[2019-12-30 06:18] zeripath commented on #9542
The first branch you push to an empty repository will become the default.

[2019-12-30 06:32] jiangytcn commented on #9481
I had similar issue before, but it might be not relevant

The gitea in my environment is deployed on top of Kube with Istio gateway and metallb lb.
I didn't configure the ingress for `tcp 22`, leading to the traffic not correctly went into gitea. after added a new rule for that, the issue fixed.

So, need to make sure the ssh traffic went to the gitea server other than the linux server.

when you

[2019-12-30 07:00] chaosmonk1 commented on #9541
@zeripath

Thanks for your response, and for being willing to provide support for my nonstandard configuration.

I replaced `$DAEMON_ARGS` with `${DAEMON_ARGS}`, although if I understand correctly, the braces are only necessary to clarify `$foobar` versus `${foo}bar` and I don't think will make a difference here.

This seems to conflict with the previous change, as it omits `$DAEMON_ARGS` or `${DA

[2019-12-30 07:17] chaosmonk1 commented on #9541
Okay, I did try rebooting with the init script pointing directly to the binary in `/usr/lib/gitea/gitea`.  Gitea did not start automatically, so I ran `sudo service gitea start`, and got the same two errors as usual, but once Gitea started, my changes to `app.ini` *did* take effect.  So things are *sort of* working in the sense that I could get by like this, but not in a way I feel in control of.

[2019-12-30 07:32] clarfon commented on #9542
You're given the option to initialise the repo with a readme and license, which always chooses master.

[2019-12-30 07:54] zeripath commented on #9541
Ok. Redrop the -c from Daemon args and stick into the Gitea FHS script:

[code]
(That's assuming that user gets set otherwise you could just export HOME=/home/git.)

I'm still concerned that the arguments are being passed as a single argument not as separate arguments. You could test that by adding an echo in the appropriate place in the script. That could be the fault of the start-stop-daemon scr

[2019-12-30 08:19] zeripath commented on #9542
Ok.

Fairly simple thing to do - good first pr.

If you want it quickly stick a bounty on bounty source.

[2019-12-30 08:50] bagasme commented on #9527
@zeripath So what purpose of DOB in this case (Gitea) rather than just age verifying?

[2019-12-30 09:14] meteorlxy opened #9543 "[Feature Request] Allow GET comments reactions without token via API"
## Description

Related to #9220

Currently, we can:

- GET issues: https://gitea.com/api/v1/repos/meteorlxy/vssue-test/issues?q=[Vssue]Vssue+Dev
- GET comments: https://gitea.com/api/v1/repos/meteorlxy/vssue-test/issues/1/comments

But we can't GET reactions if we don't pass token (get 401):

- GET reactions: https://gitea.com/api/v1/repos/meteorlxy/vssue-test/issues/comments/104283/reactions

Ho

[2019-12-30 09:39] meteorlxy opened #9544 "[Bug Report] Reactions API throws 500 for duplicate reaction"
## Description

If we post a same reaction more than one time via reaction API, it will throw 500.

https://gitea.com/api/swagger#/issue/issuePostCommentReaction

`POST /repos/{owner}/{repo}/issues/comments/{id}/reactions`

FYI, GitHub returns `201` for created, and returns `200` for duplicated

cc @6543

## Screenshots

**First Time (OK)**

![image](https://user-images.githubusercontent.com/18205

[2019-12-30 11:04] zeripath commented on #9493
I can confirm this.

The troublesome line is:

https://github.com/go-gitea/gitea/blob/d59536c222857713d95846d77903282afe608f23/web_src/js/index.js#L1493

I'm not sure what the trigger is there for, but deleting that line makes deletion work again.

[2019-12-30 11:19] zeripath commented on #9493
@blueworrybear what was the purpose of that line?

[2019-12-30 11:38] 6543 commented on #9544
The Api works as intended (500 is xorm error ...)

I could change this ...

[2019-12-30 11:40] meteorlxy commented on #9544
Yes, a `5xx` code means things do not work as expected

[2019-12-30 12:09] aureooms opened #9546 "Anonymized private activity"
This is a feature request.

Feature: to be able to publicize activity on private repositories in a way that does not reveal information on what is being worked on. For example by adding this activity to the activity graph. Currently only public activity is shown on the activity graph.

Similar to this github feature: https://help.github.com/en/github/setting-up-and-managing-your-github-profile/pub

[2019-12-30 12:14] aureooms commented on #9546
Maybe duplicate of #9447?

Related to #6, #2349, #7392.

[2019-12-30 13:04] jasder opened #9547 "[API] add the latest commit record of the project tree directory"
Can you add some data to an existing API, example:
![image](https://user-images.githubusercontent.com/6260038/71583050-bfdfa980-2b47-11ea-84cc-5ec46fb10c07.png)

![image](https://user-images.githubusercontent.com/6260038/71583084-e9003a00-2b47-11ea-885d-77641697e6c1.png)

[2019-12-30 14:07] 6543 commented on #6628
@zeripath does goldmark handle *this* different? (#9533)

[2019-12-30 14:15] 6543 commented on #9543
I'll have a look at it ..
PS: reaction_summary might be helpfull but dont know when this get finished: #9497

[2019-12-30 16:05] jolheiser opened #9549 "Detect and show force pushes in PR"
Similar to GH, a pull request should show when its branch has been force-pushed to.
This is handy/relevant information to know, and might even help determine otherwise confusing behavior.

[2019-12-30 16:22] guillep2k opened #9551 "Manual-merge check will close and mark merged PRs that are reset to master"
Gitea Version: 1.11.0+dev-497-gc0f879546 c0f879546

If a PR's branch is reset to the content of the base repo's master, the PR will be closed and marked as merged by the manual-merge detection routine. This at least seems to be what's happened to https://gitea.com/gitea/go-sdk/pulls/203 (which incidentally was created from a `master` branch).

[2019-12-30 16:30] themightychris opened #9552 "Merge commits generated by pull request capture no pull request detail"
On Github, the merge commit generated from merging a pull request through the UI includes both the PR # and the description copy from the PR:

[code]

Gitea however generates a merge commit without any reference to the PR issue number:

[code]

Not that Gitea has to exactly replicate what Github does, but the inability to correlate merges back to their pull request easily creates a big pain point.

[2019-12-30 16:34] zeripath commented on #6628
I don't it does out of the box - however, it should be quite easy to make it do it. There's a potential time cost to doing the rendering I guess would have to look up the strings in some sort of map.

 Do you know does the :wibble: syntax conflict any other markdown? I don't think it does.

[2019-12-30 16:51] PKizzle commented on #8589
I don't think this issue has been resolved yet. Any further comments @hsiejkowski, @jkocot ?

[2019-12-30 16:57] 6543 commented on #9551
[code ref](https://github.com/go-gitea/gitea/blob/d59536c222857713d95846d77903282afe608f23/services/pull/check.go#L120)

[2019-12-30 17:11] #9493 closed

[2019-12-30 17:36] zeripath commented on #9551
I guess if we just change these two lines to be Closed instead:

https://github.com/go-gitea/gitea/blob/b983ff447387d40700ad8c0a56f90052878fec98/services/pull/check.go#L156-L158

[2019-12-30 17:37] zeripath commented on #9551
https://github.com/go-gitea/gitea/blob/b983ff447387d40700ad8c0a56f90052878fec98/services/pull/check.go#L142-L146

and these too.

[2019-12-30 17:39] guillep2k commented on #9551
But is it correct to close the PR? It can't be merged anymore, but the PR itself could receive further commits that change that.

[2019-12-30 19:20] 6543 commented on #9407
## Note: I dont wok on it  - so feel free to take it @silverwind, @kolaente (noticed you know JS), others ...

[2019-12-30 21:11] hsiejkowski commented on #8589
For us this works as expected, so we have no further comments.

[2019-12-30 21:54] davidsvantesson opened #9553 "Add support for external renders for code blocks"
Just as you can specify an external render for a specific file, it would be cool to have an external render for a specific code block. This should be handled backend and the data feed to the external script would be the content of the code block instead of a complete file.

Code highligtning is currently handled frontend by javascript. Placing the external tool support in the backend would allow m

[2019-12-30 22:20] chaosmonk1 commented on #9541
Thanks.  You put me on the right track, and I think I have everything almost working now.  I decided to give up on the FSH wrapper, accept that Gitea looks for everything in its own directory, and wherever that annoys me to give Gitea a symlink to my preferred location.

* I got rid of the wrapper script, and just placed the Gitea binary in `/usr/lib/gitea/`.

* I made `/usr/lib/gitea/custom/conf/

[2019-12-30 22:20] #9541 closed

[2019-12-30 22:48] kolaente commented on #9407
@6543 This should be done using `border` rather than `box-shadow`. Or is there a specific reason to use `box-shadow` instead?

[2019-12-30 22:49] 6543 commented on #9407
I have no idear ... I'm a JS/CSS noob

[2019-12-30 22:58] zeripath commented on #9553
So goldmark has a chroma extension which behaves exactly like that

[2019-12-30 23:01] zeripath commented on #9407
There's also a spacing issue I've just noticed on the admin pages - UI attached sections seem to be very close to each other

[2019-12-30 23:40] 6543 opened #9555 "[bug] global explore show repos of hidden org"
![Bildschirmfoto zu 2019-12-31 00-39-16](https://user-images.githubusercontent.com/24977596/71605024-2ffd2800-2b66-11ea-8f79-9569e89d0162.png)

if you like to look at it - you get a 404 wich shows that the repo view handle rights in a correct way

[2019-12-30 23:48] 6543 commented on #8036
@lunny can you remove `confirmed` and add **lable** `status/needs-feedback ` plz?

[2019-12-30 23:56] 6543 commented on #6773
@mmarif4u at the current state we can close this?
I try it out and the API worked as expected ...

[2019-12-31 00:07] 6543 commented on #4693
@HoffmannP I find `{id}` more elegant and smalrer than `{milestone_id}`  and the URL path determine its meaning so if path is `.../milestone/{id}` its very likely that the id is a milestone_id ?

[2019-12-31 00:10] 6543 commented on #4277
@Mohammed90 https://gitea.com/api/swagger#/repository/repoMergePullRequest

-> API now has a `do` field wich is interpreted as Enum: [ merge, rebase, rebase-merge, squash ]

[2019-12-31 00:11] 6543 commented on #4277
@Mohammed90 if you are fine with - can you close this issue?

[2019-12-31 00:13] 6543 commented on #4277
PS: for the SDK there is a PR https://gitea.com/gitea/go-sdk/pulls/146

[2019-12-31 00:35] 6543 commented on #3843
@nblock I can't reproduce it!

maby you got into this trap: https://github.com/go-gitea/gitea/pull/9556

can you try it again and if it works close this issue?

[2019-12-31 00:44] 6543 commented on #7787
this is because of: https://github.com/go-gitea/gitea/blob/master/modules/structs/user.go#L35-L42
"...for backward compatibility"

we fist need update the SDK [Link](https://gitea.com/gitea/go-sdk/src/branch/master/gitea/user.go) and remove it later in a major release

[2019-12-31 01:02] lovebaby979 opened #9557 "how to run with kuberntes without database?"
How to run gitea with kubernets without database, by cluster, 3 pods?

[2019-12-31 01:09] Mohammed90 commented on #4277
That PR is not merged yet. I'll close it when it's merged.

[2019-12-31 01:47] bagasme opened #9559 "[Feature] API Rate Limiting"
## Description

As #8353 will add TOS, we'd like to apply rate limiting on Gitea API.

Per [GH](https://developer.github.com/v3/#rate-limiting):

- 60 requests per hour for unauthenticated requests:
- 5000 requests per hour for all authenticated requests, regardless made either via basic authentication or OAuth.
- 403 error returned if exceeding the limit.
- If OAuth application makes unauthentica

[2019-12-31 01:51] bagasme commented on #9549
@jolheiser What about the implementation?

[2019-12-31 01:53] #4027 closed

[2019-12-31 01:54] lafriks commented on #9182
Sorry I linked wrong issue

[2019-12-31 01:55] lafriks commented on #4027
Please reopen if still not fixed

[2019-12-31 02:00] #9487 closed

[2019-12-31 02:04] bagasme commented on #9557
@lovebaby979 Did you mean that your setup is a Gitea pod and two (remote) database pods?

[2019-12-31 03:40] #8568 closed

[2019-12-31 04:11] #9039 closed

[2019-12-31 05:04] lunny commented on #9557
A database is necessary.

[2019-12-31 06:36] lunny opened #9562 "Custom fonts URL on fomantic"
Currently, fomantic will load fonts from https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin&display=swap. That should be configurable.

[2019-12-31 06:39] lunny commented on #8763
Have you tried run `gitea migrate` before this command?

[2019-12-31 06:42] lunny commented on #9551
It should be marked as merged but not closed if it's correct. But that's not the issue.

In fact the detection if it has been merged is not right I think.

[2019-12-31 07:58] davidlt commented on #8607
The issue is still present int 1.10.1. IIUC this issue should be solved in 1.11.0 in 2020 Jan.

[2019-12-31 08:21] #9544 closed

[2019-12-31 08:35] bagasme commented on #9562
@lunny Can the config be stored @ `app.ini`?

[2019-12-31 08:40] lunny commented on #8607
Maybe another of my PR on v1.10.2 fixed this? #9511

[2019-12-31 08:42] #6773 closed

[2019-12-31 08:44] bagasme commented on #9557
@lunny I don't know what @lovebaby979 intend to do, but I interpret this issue as running Gitea in a pod separated from the DB pod.

[2019-12-31 08:46] zeripath commented on #4693
The trouble is the swagger API is presented in multiple different formats, but most often without the URL to accompany it. In which case, the only context you have is the method name and parameter names. I can easily imagine that using id might be confusing in that situation.

[2019-12-31 08:46] 8ctopus commented on #705
I just experienced the negative surprise to see my private gitea repository indexed. I naively thought search engines would not find the subfolder on my website, but they did.
Based on my experience, I would also suggest:
1. create a default robots.txt that rejects all crawlers
2. make it clear in the installation documentation that by default the gitea installation will be indexed by search engin

[2019-12-31 09:08] zeripath commented on #9549
We need another comment type.

The detection code would go in to:

https://github.com/go-gitea/gitea/blob/4acca9d2e8618a5283495fcd3b313fd53c953f18/services/pull/pull.go#L217

Or could go in to the pre-receive hook...  (Actually instead we should probably prevent direct update of refs/pull paths in pre-receive...)

[2019-12-31 09:11] hauke68 opened #9565 "Telegram webhook: no test message can be sent"
- Gitea version (or commit ref): 1.10.1
- Git version: 2.1.4
- Operating system: Debian Linux
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description
I created a webhook for Telgram. Bot is online and working (tested via tr

[2019-12-31 09:14] hauke68 commented on #9565
Okay, found the error:
The hook was not set to "All events".

[2019-12-31 09:14] #9565 closed

[2019-12-31 09:18] lunny commented on #8607
@6543 Maybe @davidlt could confirm that.

[2019-12-31 12:18] bagasme commented on #9546
@aureooms redacting activity?

[2019-12-31 13:04] tboerger commented on #705
Private repositories won't get indexed. You simply got public repos what should be totally obviously indexed if they are found by Google or other search engines.

[2019-12-31 14:10] zeripath commented on #9551
It's actually quite difficult - by the time ManualMerge is called we've lost the previous SHA.

In Pushtobaserepo we have both and can do the check but there's no state we can choose which says don't mark as merged

[2019-12-31 14:22] silverwind commented on #9562
All assets should be served locally, with the only exception being Gravatar avatars (unfortunately).

[2019-12-31 15:06] #8580 closed

[2019-12-31 15:33] nblock commented on #3843
@6543 I no longer have access to the code and tooling mentioned in the bug report. Therefore, I rather close this issue.

[2019-12-31 15:33] #3843 closed

[2019-12-31 16:30] waltervanzellaGVT opened #9569 "problem in initial configuration"
- Gitea version (or commit ref):  1.9.0-dev
- Git version: 2.24.1.2
- Operating system: Windows Server 2019 essential
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [X] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log gist:

## Description
Hi,  I have a problem during the initial configur

[2019-12-31 17:49] PKizzle commented on #8589
If I understand correctly you enabled the Captcha option and the password field is shown?
Well shouldn't the password field also be visible without Captcha being enabled?

[2019-12-31 18:36] Flutterlice opened #9570 "Clicking on issues from repository activity page uses absolute url instead of relative."
- Gitea version (or commit ref): 1.11.0+dev-530-g9600c2708
- Git version: 2.24.1
- Operating system: Debian
- Database (use `[x]`):
  - [X] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [X] No
  - [ ] Not relevant

## Description

As you can see from the screenshot, using links on the activity page o

[2019-12-31 18:48] Flutterlice commented on #9570
So i looked around and it seems like every template uses $.RepoLink as a root href url everywhere except for repo/activity.tmpl which uses $.Repository.HTMLURL for some reason, i guess here's an easy fix.

[2019-12-31 19:00] Flutterlice commented on #9570
![image](https://user-images.githubusercontent.com/7157355/71631278-a4e56600-2c29-11ea-9cfd-b37d7b89f22b.png)
After applying changes in the PR above link changes to the correct one (Using local IP in my case)

[2020-01-01 00:05] teotikalki commented on #8697
I have no knowledge of coding Go, but I've got a VM server, multiple domains that I can play with, and experience with Nginx reverse proxy. I'd be happy to set up a dedicated Gitea instance for testing.

[2020-01-01 00:16] teotikalki commented on #1612
I'd just like to add that before Microsoft inspired a mass migration away from Github this wouldn't have been a killer feature... NOW it is. Less and less of the repos for OS projects that I'm researching are on Github now (MAYBE mirrored here).

I've read that ones Github commit history can read like a cv and that one of the reasons that the software world is so career mobile is that a person can

[2020-01-01 00:55] lunny commented on #9570
Closed by #9571

[2020-01-01 00:55] #9570 closed

[2020-01-01 01:14] lunny commented on #8774
Since `push to create feature` has been implemented, I think we can close this now.

[2020-01-01 01:52] lunny commented on #9551
So maybe we should disable that currently to avoid making confuse.

[2020-01-01 03:54] #9507 closed

[2020-01-01 04:26] lunny commented on #9562
I have sent a PR https://github.com/go-gitea/gitea/pull/9561 to use npm to build fomantic at first.

[2020-01-01 04:45] lunny commented on #8415
@6543 we could send another PR to fix this issue.

[2020-01-01 05:06] #9407 closed

[2020-01-01 07:33] bagasme commented on #9562
@lunny Why npm first?

[2020-01-01 07:43] bagasme opened #9575 "Add Custom Footer Links"
## Description

Currently additional links can only be added to `extra_links.tmpl`. However, it adds links to head navbar. Some pages (e.g. Privacy Policy) are customarily linked in the footer.

I will shortly create a PR for this issue.

[2020-01-01 08:16] lunny commented on #9562
@bagasme I have disabled google fonts on #9561. Because we used minified js/css of fomantic we should not change it. So we have to build fomantic from the source.

[2020-01-01 08:30] lunny commented on #9508
Have you tries 1.10.1 ?

[2020-01-01 08:33] lunny commented on #8649
If we could generate an encoded URL for repository which has an expired time, and then you can share it with others.

[2020-01-01 12:18] lunny opened #9577 "Site readonly mode"
Site admin could set site as readonly mode so that nobody could push git datas/creae issues/prs

[2020-01-01 12:34] lunny commented on #9534
resolved by #9529?

[2020-01-01 12:35] lunny commented on #9534
I think so.

[2020-01-01 13:42] cmarshall108 commented on #8649
Yeah that would certainly work.

[2020-01-01 14:40] lunny commented on #8704
I think this has been resolved since we have used goldmark to instead blackfriday. see https://gitea.com/lunny/test_markdown/src/branch/master/README.md

[2020-01-01 14:45] lunny commented on #9531
@lafriks What's the problems? But we have implemented the redirects when you change repository name.

[2020-01-01 15:25] 6543 commented on #8672
I'll close this because service identifyer is done by '#'

as proposed in #9084

[2020-01-01 15:25] #8672 closed

[2020-01-01 15:37] andreymal commented on #7966
@lunny successfully reproduced with `IS_TLS_ENABLED = false` and `HOST = 127.0.0.2:25` on Gitea 1.10.1

[2020-01-01 16:08] #8184 closed

[2020-01-01 16:56] fangxin810425 commented on #9508
Sorry, it should be a configuration problem. Thank @bagasme @6543 @lunny @zacheryph .
PROTOCOL		= https
ROOT_URL           = http://xxxxxxx

[2020-01-01 16:56] #9508 closed

[2020-01-01 17:21] metaisfabien commented on #7702
For me gitea/gitea:last send twice gitea/gitea:1.10 send one time.

[2020-01-01 18:12] 6543 commented on #9508
@fangxin810425 if you need config help you can ask on discord: https://discord.gg/NsatcWJ

[2020-01-01 18:56] brandonkal commented on #8704
Resolved

[2020-01-01 18:56] #8704 closed

[2020-01-01 19:02] giteaUser opened #9578 "Notifications Triggered Twice For Issue Assignees"
- Gitea version (or commit ref): 1.11.0+dev-535-g60f279a86
- Git version: not needed
- Operating system: not needed
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

When assigning users to issues, email and web hook

[2020-01-01 20:49] abilogos opened #9579 "Add Html Rendering in Md files"
Hello I Guest there is a feature That it would to be good to be add.
Capability to render Html That has been written in Mark Down Files.

Gitea Dosent Show Html Tags And Styling.

If Any One Can give me Some Hint.
 I would Appreciate  to Contribute if it can be Done With JS Because I am not familiar with The Go.
Thanks.

[2020-01-01 21:10] jolheiser commented on #9579
Can you explain further? HTML is rendered in markdown files.
https://try.gitea.io/jolheiser/ciw/src/branch/master/README.md

[2020-01-01 21:13] lafriks commented on #9579
Closing as already supported, please reopen if something does not work as expected

[2020-01-01 21:13] #9579 closed

[2020-01-01 22:51] #9189 closed

[2020-01-01 23:39] lafriks commented on #9531
No problem, could be some risks but I'm fine if someone sends PR for this

[2020-01-01 23:39] bienchen opened #9581 "custom app.ini with Docker, weird behaviour"
- Gitea version (or commit ref): 1.10.1
- Git version: 2.22.2
- Operating system: alpine (Docker)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

When using Docker/ Compose. Placing an app.ini in /data/gitea/ or /d

[2020-01-01 23:55] bienchen commented on #9581
OK, when bending the /custom directory to a volume on my disk, via Docker Compose, using a custom app.ini stops working. When I go back to use the file system inside the container it works again.

[2020-01-02 00:50] lunny commented on #8327
So we could depend on package https://github.com/go-playground/locales and use %s on these translation strings about days.

[2020-01-02 02:07] #9578 closed

[2020-01-02 02:31] sapk commented on #9581
@bienchen Hi, can you provide your docker-compose file (censor any data sensible) ? or from what documentation you based it ?
It will help use understand how you are setup and diagnose what is wrong.
You can also have a look on our [discord](https://discord.gg/NsatcWJ) where there is a chan dedicated for docker with maintainer and users which could help you.

[2020-01-02 03:02] #9442 closed

[2020-01-02 05:05] bagasme commented on #9577
@lunny nobody except admin itself?

[2020-01-02 05:25] lunny commented on #9577
Right.

[2020-01-02 07:06] Dark-Feather commented on #6863
@vv01f My domain is impacted in a similar way -- notably, we don't use SMTP at all. We worked around it by a couple principles in our deployment.
* We self-host Gitea, IRC, and OpenLDAP.
* Gitea and IRC both disallow account creation and populate directly from OpenLDAP
* The mail attribute on our OpenLDAP accounts is set to `ircs://$domain:$port/$USER`
* Our GPG keys can have this attribute set by

[2020-01-02 07:25] abilogos commented on #9579
According to this PR :
https://try.gitea.io/jolheiser/ciw/pulls/18
Html Styling Dosent Work As I expected.

[2020-01-02 07:36] abilogos commented on #9579
My Expected View Behavior:
![Screenshot from 2020-01-02 10-57-38](https://user-images.githubusercontent.com/17473661/71656004-cf7d0f00-2d4e-11ea-8537-1232b993a956.png)

But What i Got:
![Screenshot from 2020-01-02 10-59-51](https://user-images.githubusercontent.com/17473661/71656200-a90ba380-2d4f-11ea-88f5-c0e2d38c28f9.png)

[2020-01-02 07:36] zeripath commented on #9579
Ah did you have classes or styles on the html?

Raw Styles cannot be allowed - there's a huge number of horrible things a style can do.

Regarding classes we can consider prefixing these with a "user-content-" prefix again because we don't want to allow user generated content to look like Gitea content.

[2020-01-02 07:44] abilogos commented on #9579
so if i define my styling i <style> tag and give element class names with user-content- prefix, does it works?
something like:
<style>
.user-content-label-success{
background: ...;
}
</style>

[2020-01-02 08:14] 6543 commented on #7569
gone with **fomantic** :+1:

[2020-01-02 08:14] #7569 closed

[2020-01-02 08:14] bienchen commented on #9581
Documentation: https://docs.gitea.io/en-us/install-with-docker/
Dockerfile is attached, docker-compose.yml attached. I think the mounting of volumes may be an issue. I copy the custom app.ini into GITEA_CUSTOM during `docker build`, when mounting a volume to that path the app.ini gets shadowed and gitea creates a new one on startup.

[docker-compose.yml.txt](https://github.com/go-gitea/gitea/files

[2020-01-02 08:23] zeripath commented on #9579
You had style attributes on the embedded HTML in your markdown in the example screenshots.

Style attributes and elements cannot be allowed. Just think about the things a hostile user could do if it was. (You know CSS and style can be used to load arbitrary URLs - but even if you block those coming up with any sort of sanitised safe set is very difficult.)

Looking at your example though I do see

[2020-01-02 08:40] sapk commented on #9581
I just re-check the setup script and the config should not be re-written if existing. https://github.com/go-gitea/gitea/blob/master/docker/root/etc/s6/gitea/setup#L17
I will have to re-check but docker doesn't copy the original content (from container) when using bind mount.
I would suggest you to store your custom file somewhere else and copy (or link) it in the setup script to your bind path.

[2020-01-02 08:58] bienchen commented on #9581
Yeah, if I leave the app.ini in the container file system it works. Then its present on gitea startup.

[2020-01-02 09:25] davidsvantesson commented on #9534
#9529 only solves a consequence of being able to upload two files with same names.
This is more related to #6563, that we don't support to update or delete attachments for releases.

[2020-01-02 09:41] davidsvantesson opened #9584 "Allow to enable/disable external render per repository"
Gitea allows the server administrator to add different rendering extensions in form of [external renders](https://docs.gitea.io/en-us/external-renderers/). There is currently no possibilities for the users of the Gitea site to decide if they want to use that render. My suggestion is to add options to the external rendering settings:

[code]

If this ini setting is not given, the default is "defaul

[2020-01-02 09:43] sapk commented on #9581
I have check and bind mount are not copied.
You can override the part in the setup script that generate the configuration by copying your config set at build time just after the check that the folder doesn't exist yet https://github.com/go-gitea/gitea/blob/master/docker/root/etc/s6/gitea/setup#L17.

[2020-01-02 10:46] bienchen commented on #9581
Thanks for checking. This setup script is not called during `docker build` but when starting the container at entrypoint. What I'm gonna do is copy the config set into the image's file system during build and point GITEA_CUSTOM to it. That way the config file exists when the setup script checks for it.

[2020-01-02 10:46] #9581 closed

[2020-01-02 14:40] 6543 commented on #9394
reproduced: https://gitea.com/gitea/tea/pulls/80

[2020-01-02 15:43] rveerd opened #9589 "Create repos on push not working"
- Gitea version (or commit ref): Gitea version 1.10.1 built with GNU Make 4.1, go1.13.4 : bindata, sqlite, sqlite_unlock_notify
- Git version: git version 2.18.1
- Operating system: CentOS Linux release 8.0.1905 (Core)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ]

[2020-01-02 15:44] jolheiser commented on #9589
This is only available in 1.11, which has not been released yet.

[2020-01-02 17:06] davidsvantesson commented on #3336
As proposed by @6543 lets have a vote on the different options. Sorry for the many options, I found quite many possibilites to solve this.

[![](https://api.gh-polls.com/poll/01DXKK3Z1J7N8SXTJ1E9HZWQQZ/Show%20existing)](https://api.gh-polls.com/poll/01DXKK3Z1J7N8SXTJ1E9HZWQQZ/Show%20existing/vote)
[![](https://api.gh-polls.com/poll/01DXKK3Z1J7N8SXTJ1E9HZWQQZ/Delete%20all)](https://api.gh-polls.com

[2020-01-02 17:14] davidsvantesson commented on #3336
The `Delete all and enable all` option will not be easy to handle through the ini configuration, as it requires to keep track when the setting is changed. However it would make sense if units is enabled/disabled as modules from the command line or via the admin web interface.

[2020-01-02 17:37] ghnp5 opened #9590 "2FA IP whitelist to bypass timeouts"
- Gitea version (or commit ref): 1.11.0+dev
- Operating system: CentOS Docker
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite

## Description

Would it be possible to make 2FA whitelist the IP and not ask for another code for some time defined by us? E.g., for 30 days, do not ask for another 2FA code.

It's very annoying that every time I am logged off (a few

[2020-01-02 19:05] lafriks commented on #9590
You can check remember me checkbox to increase login timeout

[2020-01-02 19:25] ghnp5 commented on #9590
I always do that, but apparently it doesn't increase to whatever fits me.

[2020-01-02 19:32] guillep2k commented on #3336
Sorry, I've found the poll options very confusing. Is it perhaps the case that part of the discussion was held elsewhere?

Anyway, when globally disabling something as important as PRs or wiki, I would not disable them repo by repo but only at the global level, and existing data should be kept. Then, I'd add a tool ("the Doctor" or admin option) to remove all unnecessary data in case the admin rea

[2020-01-02 19:57] davidsvantesson commented on #3336
Honestly I don't like this poll toll, adding very long poll options didn't work. I think use reactions for different poll options work better...

From your comment it seem you propse "Hide existing". I should clarify that data will not be deleted in any case, it simply means to disable the units for all repositories. So you have to enable the unit manually again, but all data will be there.

I don

[2020-01-02 20:30] guillep2k commented on #3336
I'm not saying it will be a common case, but if we can support disabling the units temporarily to re-enable them later, I don't see why not; notice that even if the data is never deleted (e.g. wiki repos), I propose to leave the unit enabled at the repo level, so those that had it enabled should "remember" that when wikis are enabled again. My thinking is that admins should be able to "test" the f

[2020-01-02 20:34] davidsvantesson commented on #3336
The Kanban feature?
Any additional per-repo (stand-alone) feature someone wants to add.

[2020-01-02 21:27] #9543 closed

[2020-01-02 23:12] 6543 opened #9593 "Markdown dont render SVG on Chrome"
as title

[2020-01-02 23:14] 6543 commented on #9593
-> look if `Privacy Badger` blocks it!

[2020-01-02 23:14] #9593 closed

[2020-01-02 23:57] 6543 commented on #4811
## Status: Ready only Tests needed and depend on two PR!

# -> #4811

[2020-01-02 23:57] 6543 commented on #4811
Interested people can test this PR now

[2020-01-03 00:16] ArchangeGabriel commented on #7874
@lunny I still can’t found your key anywhere. Can you upload your _public_ key somewhere accessible please? :)

[2020-01-03 00:17] ArchangeGabriel commented on #7874
(Or just reupload it on GitHub as instructed by https://github.com/lunny.gpg)

[2020-01-03 00:48] lunny commented on #7874
Let me try.

[2020-01-03 01:10] lunny commented on #7874
@ArchangeGabriel After I readded the same gpg public key, it now OK.

[2020-01-03 03:45] bagasme commented on #9590
@ghnp5 bug on remember me?

[2020-01-03 10:16] JAClaveroGarcia opened #9594 "Assign a branch to a issue after creating it"
Not every time it is possible to create the branch before creating the new theme.

This is possible? It is developed? I'm wrong?

[2020-01-03 11:06] hsiejkowski commented on #8589
To test it once again I disabled captcha on gitea 1.10.2 and the password field is visible. Regardless if ALLOW_ONLY_EXTERNAL_REGISTRATION is set to false or true.

[2020-01-03 11:28] ArchangeGabriel commented on #7874
@lunny Thanks, perfect. :)

[2020-01-03 11:29] ArchangeGabriel commented on #9151
I can confirm this now works correctly (well at least it does not crash, did not received an email yet). :)

[2020-01-03 12:06] mbarinc commented on #2529
This is a very useful feature especially if it can be set at the organization level.
It's possible to put this issue in the next release 1.12?

[2020-01-03 13:14] 6543 commented on #2529
@mbarinc if someone has a PR for 1.12

[2020-01-03 13:41] stklcode commented on #9183
I've updated from 1.10.1 to 1.10.2 today. No change.

However by chance I've found the origin of the bug, because I have migrated my Gitea to a different directory structure and had to re-synchronize all hook scripts.

Apparently there are 2 identical hook files for pre- and post-receive phase, one named _gitea_ (the correct one) and one named like the phase.
[code]
(not for _update_)

Last modifi

[2020-01-03 13:42] mpuromaki commented on #7092
![diff](https://user-images.githubusercontent.com/23620092/71726255-2eba4c80-2e3f-11ea-89d1-6bf4d7a58864.PNG)

I would like to auto-collapse/hide/push-down diffs that have specific type of change (regexp?).

My use case is IDE generated changes to hundreds of files in each commit. These changes has to be included in the commits since they're checksums etc.

[2020-01-03 14:26] lunny commented on #9183
`pre-receive.d/gitea` is managed by gitea internal. `pre-receive.d/pre-receive` could be changed on gitea UI if you have enough permission.

[2020-01-03 14:32] lunny commented on #2529
@6543 I think no PR for this currently.

[2020-01-03 15:30] davidsvantesson commented on #7614
This issue is only about rendring from binary files, not to binary files? If so it is implemented by #8300 and can be closed?

It would be cool to also support rendering to binary files (mainly images), but that is maybe another issue.

[2020-01-03 17:47] #9130 closed

[2020-01-03 17:51] lafriks commented on #7614
Closing as implemented, reopen if anything else is needed

[2020-01-03 17:51] #7614 closed

[2020-01-03 18:41] #9575 closed

[2020-01-03 20:18] timonegk opened #9597 "Option to show login page instead of home page"
- Gitea version (or commit ref): 1.10.1

## Description
In my use case, the user must always be logged in to use my gitea instance, there are no public repositories. Therefore I would like to let the user always land on the login page when they are not logged in. When they are logged in, they should be redirected to their home page, as usual.
Currently, the closest I can get there is by setting `L

[2020-01-03 21:10] stklcode commented on #9183
I know. Content was exactly the same for all affected repos and I‘m pretty sure I never configured this and none of the collaborators knew the binary/config paths... 🤔

[2020-01-03 21:12] sbrl opened #9598 "bad GPG signature on latest v1.10.2 release"
- Gitea version (or commit ref): v1.10.2
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist: https://starbeamrainbowlabs.com/bin/exoh

## Description

The GPG signature on the amd6

[2020-01-04 00:33] PKizzle commented on #8589
I found pull request #9150, which deals with this issue. So I will comment again once I've done the update.

[2020-01-04 00:38] PKizzle commented on #8589
Okay, so after the update from 1.10 to 1.10.2 everything is working as expected. I'll close the issue.

[2020-01-04 00:38] #8589 closed

[2020-01-04 00:44] bagasme commented on #9597
@timonegk what about `LANDING_PAGE = user/login`?

[2020-01-04 02:01] lunny commented on #9598
Have you update the public key? see https://github.com/go-gitea/gitea/issues/7295

[2020-01-04 02:06] lunny commented on #9183
If the content in `pre-receive.d/pre-receive` is the same as which in `pre-receive.d/gitea`.

[2020-01-04 02:40] silverwind commented on #9553
Related: https://github.com/go-gitea/gitea/issues/7729

[2020-01-04 03:22] lunny commented on #6927
@zeripath I think this could be closed.

[2020-01-04 04:39] lunny commented on #9158
This should be a bug and I think this is a broken again?

[2020-01-04 07:28] timonegk commented on #9597
According to the documentation and the sample app.ini, the only possible values are `home`, `explore` and `organizations`. But maybe other values work nevertheless, I can try later.

[2020-01-04 07:56] davidsvantesson commented on #9594
Duplicate of #3620

[2020-01-04 08:26] #9594 closed

[2020-01-04 11:10] 8ctopus commented on #705
@tboerger what I mean, is that I have a repo I need to share with fellow team members that I don't want to be indexed by search engines. For ease of use, I also opted to have the url publicly accessible provided you know the address.

[2020-01-04 11:19] #8628 closed

[2020-01-04 14:19] #7914 closed

[2020-01-04 15:26] Tchoupinax commented on #9201
Hello,

I installed the milestone 1.10.2 that should fix this problem but it appears that nothing has changed for it (or i do not understand).

![image](https://user-images.githubusercontent.com/9136206/71767600-1107e880-2f0e-11ea-8e33-26598e2d3a9f.png)

Once again i will describe my issue :

I have two branches, master and develop. I push some code on my develop branch, create a pull request and

[2020-01-04 16:26] tboerger commented on #705
Than you should add a custom robots.txt. Not everybody wants to hide all the repos. If something is private, make it private. Everything else could be generally fine to get indexed.

The few exceptions that want to avoid it: add a robots.txt to the customization.

[2020-01-04 18:32] 6543 commented on #9201
@Tchoupinax can you reopen this issue?

[2020-01-04 20:27] #8725 closed

[2020-01-04 21:13] HorlogeSkynet commented on #6237
Hey over there ! I hope you all are doing okay by this beginning of 2020 :ok_hand:

A simple message for :

1. Confirming this issue is now fixed (yes, a bit late, sorry) ;
2. A quick and dirty trick to make _missing tags_ (the ones that were pushed while Gitea was actually broken) appear as `Releases` : `git push --delete origin vX.Y.Z && git push origin --tags`.

Bye, thanks for all :wave:

[2020-01-04 22:02] zeripath commented on #9006
Hi peeps! So I finally got round to looking at this.

First of all I can't replicate this on master on sqlite, but I do suspect however, that this might be another example of the tcp port exhaustion issue as I see that you're using MySQL.

You will need to set MAX_OPEN_CONNS, MAX_IDLE_CONNS and CONN_MAX_LIFETIME. In particular you should set MAX_OPEN_CONNS = MAX_IDLE_CONNS.

[2020-01-04 22:05] mglomba commented on #4478
+1

[2020-01-04 22:14] everflux commented on #9006
For me it seems that the issue was fixed by forcing the workdir permissions on all files to be reset. It was not the sql lite but the git repository itself it seems.

[2020-01-04 22:18] zeripath commented on #9006
@everflux  if the permissions on the git repository were messed up I could imagine that git would fail in this way.

[2020-01-04 22:26] 6543 opened #9602 "[BUG] [UI] avatar dimentions got lost after fomantic switch"
afected: 1.11.1-dev (gitea.com)
how this looks like:

![Bildschirmfoto zu 2020-01-04 23-24-07](https://user-images.githubusercontent.com/24977596/71772309-a96f8e80-2f49-11ea-92bb-2c2b796f088e.png)

[2020-01-04 23:06] #9006 closed

[2020-01-05 01:21] sapk commented on #7908
Since #9340, all access to attachments are checked for right to access related to the issue or release their are attached.

[2020-01-05 01:21] #7908 closed

[2020-01-05 01:45] sapk opened #9605 "ui: group notifications by repository"
As we use more and more gitea as the git host for repos, the notification page should need a re-work to be able to filter and order notifications. The main issue is being able to filter by repository but later it would be great to have the same level of filtering as github (participating, ...)

[2020-01-05 03:04] jolheiser commented on #9555
To aid anyone looking into this, the problem comes from
https://github.com/go-gitea/gitea/blob/08424648ae0e7db107d0a1d8b4454557cb9f275f/models/repo_list.go#L230-L232

Because even though the repo is public, this condition doesn't take private orgs into account.
I have been mulling it over off and on, but truth be told that function is a tricky mess that needs refactoring imo
I'll keep thinking on

[2020-01-05 04:48] ZetaPhoenix commented on #8606
Still relevant as last I checked there is no armhf version.

[2020-01-05 04:56] #9602 closed

[2020-01-05 07:02] 6543 commented on #9555
@jolheiser how do you create this code views in markdown?

[2020-01-05 10:36] rain0r opened #9610 "Disable remote messages on push"
With the pre- and post-receive calls introduced in #8602, Gitea now sends messages to the pushing client, for example:

[code]

Since git always displays this messages, even when called with `--quiet`, it would be great if these messages could be turned off.

[2020-01-05 10:56] zeripath commented on #9610
So perhaps some explanation is in order.

This was added to prevent pre-receive and post-receive timing out when multiple branches & tags are pushed. By multiple I mean > 100.

Hmm...

Maybe we could stack these up and only display them if you push more than 30 references?

[2020-01-05 11:49] Tchoupinax commented on #9201
I can't. :/
Let's an Gitea member reopens this please :)

[2020-01-05 12:09] 6543 commented on #9201
@techknowlogick ⬆️ ?

[2020-01-05 12:10] 6543 commented on #9201
@techknowlogick ⬆️ ?

[2020-01-05 12:35] sbrl commented on #9598
Ah, looks like updating the GPG key fixed it:

[code]

For future reference, I did this:

[code]

....though I guess that this would be more future-proof:

[code]

[2020-01-05 12:35] #9598 closed

[2020-01-05 12:56] cornelk commented on #7973
@mathysie please test again with v1.10.2 or later, this should be fixed with https://github.com/go-gitea/gitea/pull/9422

[2020-01-05 12:58] zeripath commented on #9201
I've reopened but I still don't understand the problem - probably because I've not read the issue completely.

[2020-01-05 13:16] 6543 commented on #9201
@Tchoupinax if you do it this way:
1. merge Dev branch to master
2. Delete
3. creat new Dev branch localy
4. **add at leas 1 new commit**
5. push

is it still referenced?

[2020-01-05 13:26] 6543 commented on #9201
@zeripath I can confirm the bug:

if you merge a branch into master, delete the branch and add a new branch **with the same name** gitea think it is the same branch and on the **repo-branch-view** the old PR is reverenced

This happen because gitea determine the source branch of a PR by repo and branch **name**

To fix this the **repo-branch-view** only should show merged with reference if merged_

[2020-01-05 13:27] 6543 commented on #9201
Dont know what the correct title of THIS issue should look like ...

[2020-01-05 13:55] lafriks commented on #7973
Closing as fixed, reopen if there is still a problem

[2020-01-05 13:55] #7973 closed

[2020-01-05 14:12] Tchoupinax commented on #9201
@6543 Thank you for reproducing and confirming the bug ;)

[2020-01-05 18:48] #9555 closed

[2020-01-05 19:51] guillep2k opened #9613 "Proposal: User <-> repo unit cross table for easier permission checking."
I propose to create a new table (`user_repo_units`) to summarize all permissions a user requires to access any repository; this table should be derived from all the possible permission sources (e.g. team membership, admin status, repo visibility, repo active units, etc.). Any changes in the system that modifies the user's accessibility to any repo should update said table. Then, many queries can u

[2020-01-05 20:56] zeripath commented on #9201
Ah I've been able to repeat this on the branches view.

I've fixed another issue - if the branch has moved on from the MergeCommitID we shouldn't offer to delete it either.

[2020-01-05 20:59] boyter commented on #8499
Ah the joy of talking a long break. Everything you were working on gets closed :)

Ill start work on this again in a few days.

[2020-01-05 21:20] zeripath commented on #9201
The problem here is that the MergeCommitID isn't the actual head - I need to use a different ID...

[2020-01-05 21:48] zeripath commented on #9201
OK I've come up with a solution but it's very inefficient and it needs to be improved.

The branches page likely needs some pagination too.

[2020-01-05 23:50] 6543 commented on #9201
@lunny wrong milestone, schould we create 1.10.3?

[2020-01-06 01:04] 6543 commented on #9201
@lafriks can you move this to 1.10.3 pleace

[2020-01-06 01:39] lunny commented on #9613
And we could also support collabrators unit permissions if this. Currently only organization's repositories could have unit permissions, but not individual's.

And this may result in the inconsistent between team_unit and user_repo_units. But even that, I also support to add the extra table to do that. We have to be careful of the consistent of database.

[2020-01-06 07:47] bagasme opened #9618 "[Feature & Proposal] Maintenance Mode"
We can schedule a maintenance window in case we perform maintenance tasks that requires taking offline Gitea instance (such as upgrading Gitea, migrating data, scaling hardware resources, and troubleshooting system issues).

Feature:
 - Maintenance mode can be scheduled at least certain times ahead (30 minutes, 2 hours, etc.), or absolute date & time (e.g. at June 1 23:00). The window can also be

[2020-01-06 07:59] lunny commented on #9618
will replace #9577

[2020-01-06 07:59] #9577 closed

[2020-01-06 10:50] bobemoe opened #9619 "Spell check with SimpleMDE"
Since SimpleMDE it looks like there will be no option to use browser based spell check: https://github.com/codemirror/CodeMirror/issues/1017

So... how can I enable the built in one? Is this hard coded atm? Do we need dictionary support or options in the Gitea settings somewhere? Or have I already missed it?

Looks like its still in development upstream? https://github.com/sparksuite/codemirror-sp

[2020-01-06 11:27] sapk opened #9620 "Use nfpm for package release"
In https://github.com/go-gitea/gitea/pull/6671, it was discussed to use nfpm via https://github.com/techknowlogick/drone-nfpm

I don't think this has move forward.
I just open this issue to track the progress and keep a track of this choice since the last issue is closed.

I re-think of it because I stumble upon a good tools to track packages in various distrib.
[![Packaging status](https://repolo

[2020-01-06 11:27] sapk commented on #9620
Reviewing others issues on the subject this maybe a superseed or duplcaite of https://github.com/go-gitea/gitea/issues/31

[2020-01-06 11:50] PhilsLab commented on #7495
also experiencing the same issue, even though this happens for PRs and also for the diff screen itself. **No error is shown in the logs.**
`git diff -M dev origin/master > out.txt` produces a ~2MB file.

[2020-01-06 12:27] sapk commented on #9618
The subfunction for message/banner is already discussed under  #2345

[2020-01-06 12:34] sapk commented on #9589
As stated by @jolheiser, this isn't in a released version yet.
A release candidate for 1.11 should come soon in the meantime depending on your setup you can try a binary from [master](https://dl.gitea.io/gitea/master/) or use the docker tag :latest.
I will close this issue since I think it as been answered but feel free to re-open it if needed.

[2020-01-06 12:34] #9589 closed

[2020-01-06 12:41] sapk commented on #9613
Couldn't we define a view wich will be optimize by the SQL engine instead if a table that need to be tightly keep uptodate ?

[2020-01-06 12:46] sapk commented on #9597
Only the three in the docs are supported this would need a simple fix here : https://github.com/go-gitea/gitea/blob/2f9564f993ba02ba503d7088eb8cc70536b7a6df/modules/setting/setting.go#L646

By adding a new case.

[2020-01-06 13:38] schmittlauch commented on #9271
Any ideas on what I can do to figure out what the memory is even used for?
Maybe taking the memory dump of the gitea process(es) via /proc/ and somehow analysing it?

[2020-01-06 16:50] #9597 closed

[2020-01-06 19:42] zeripath commented on #9158
@themightychris Is this still a problem?

On current master - admittedly looking at merges from the same repo - I can't seem to replicate.

[2020-01-06 19:44] themightychris commented on #9158
@zeripath you would not see the issue with merged PRs, only PRs closed without merging

[2020-01-06 20:08] zeripath commented on #9158
Ah!

I understand.

The problem lies in here:

https://github.com/go-gitea/gitea/blob/5749b26cdd017869d1c78c5bce0a43fa7e46945b/routers/repo/pull.go#L328-L427

This should really look at the `refs/pulls/x/head` to get the commits not the `headRepo`. I guess the question is whether `refs/pulls/x/head` is always available on this template.

I'll take a look.

[2020-01-06 20:30] laoshaw commented on #3340
how to submit a request as such? to me gitea is a code repo and markdown repo, the only weaker part is markdown side that could at least support mermaid some some math equations, with mermaid more urgent.

[2020-01-06 21:04] vmario89 opened #9624 "Segmentation Fault Error on Xubuntu Odroid"
Hi,
upgrading Gitea from 1.10.1 to 1.10.2 produces "Segmentation Fault" Error. I am running the following platform:
Kernel: 4.14.157-171
Architecture: armv7l
Model: Hardkernel Odroid XU4

The same error occured some months ago with the arm-7  builds which are unavailable now. At this time i moved from arm-7 to arm-6 to make it work again.

i am referencing the closed issue https://github.com/go-gi

[2020-01-06 21:10] zeripath commented on #9158
So the next thing that needs to be done is to proffer to re-create from the previous pull head. Now that's a bit difficult as we may not have the permission to write to the original headRepo, or the headBranch may have moved on - however, that could be a separate issue. (Similarly for actually deleting PRs)

[2020-01-06 21:28] lafriks commented on #9624
Are there anything more in logs etc?

[2020-01-06 22:03] zeripath commented on #9624
This is likely the same issue noted on discord. I believe that there is a kernel issue on the current base which causes golang to segfault.

[2020-01-06 22:04] zeripath commented on #9624
I think if you rpi-update it should go away.

[2020-01-06 22:07] vmario89 commented on #9624
Hi, unfortunately i am not running a raspberry pi with Gitea, but the problem base might be the same.
@lafriks i reverted back to 1.10.1 which does not fail. the logs did not call anything more than exited process and segmentation fault. is it possible to get more output? maybe using strace?

thanks for the answers, Mario

[2020-01-06 22:14] zeripath commented on #9624
I was able to prevent the segfault by running the program through gdb - which is not particularly helpful I guess.

[2020-01-06 22:19] zeripath commented on #9271
OK so on master I recently made a change that means that PR patches are not stored in memory - that could have been to blame.

The other places that are currently poorly written are diff and blame as these both read the whole thing into memory.

I've never used the prof output so I'd be starting from scratch with that.

[2020-01-06 22:25] zeripath commented on #7495
Hmm... could you check on master as following #9302 the calls to GetPatch no longer involve storing the patch in memory and should just get streamed directly to a file.

[2020-01-06 22:47] themightychris commented on #9158
If you're talking about having "Restore branch" button, perhaps that could just be visible but disabled in the case that the branch name isn't unused

[2020-01-06 23:03] zeripath commented on #9158
Because of the way the permissions work I think that needs more thought.

For example The repo owner should be able to restore to a branch in their repo from any pull - probably with the option to takeover a closed pr.

[2020-01-07 00:43] guillep2k commented on #9613
@sapk That would be a very complex view and will not likely be much optimizable. Views only translate as subqueries. There's however the concept of a materialized view, which is a table automatically maintained by the engine based on a view definition, but I don't think they're available on many of our supported databases.

[2020-01-07 07:47] #8173 closed

[2020-01-07 09:56] sapk commented on #9613
@guillep2k The optimization (cache) could be done on software part like using xorm cache over the view and clearing it when rights are changed. I am not against the table, I just fear that it would become a hazardous code to maintain so if it could be a more simple solution it would be better. In fact, we can go first with the table and later moving to a view and just remove the code that updated

[2020-01-07 10:02] pkaq opened #9629 "Confusion about strong password verification"
能否对密码策略加个配置项 新版本的强密码校验对于内网集中式分配账号来说简直是灾难

Can you add a configuration item to the password policy? The new version of strong password verification is a disaster for centralized intranet account allocation

[2020-01-07 10:16] pkaq commented on #9629
这里只有在管理后台 创建/编辑 用户
用户修改个人资料的时候有校验

在安装得时候设置默认管理员 无校验
创建用户时如果勾选了推荐更改密码 新用户登陆后更改密码也无校验

[2020-01-07 10:18] 6543 commented on #9629
@pkaq can you at least write the title in english 😅

[2020-01-07 10:27] bagasme commented on #9618
@sapk so #2345 is dependency of this issue?

[2020-01-07 11:00] andreasfranke opened #9630 "Mirror of an uninitialized repository"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.21.0.windows.1
- Operating system: Windows
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) remote: https://try.gitea.io/frn9bh/Remote.git mirror: https://try.gitea.io/frn9bh/Mirror.git
  - [ ] No
  - [ ] Not relevant

#

[2020-01-07 11:08] UBowt571 commented on #9014
I'm new to gitea, but it looks like this button (under GitHub)
![image](https://user-images.githubusercontent.com/34211283/71891158-4565e980-3146-11ea-9178-1168b91260f1.png)
has no equivalent under gitea and I must solve PR manually ?
Thanks

[2020-01-07 11:23] #9004 closed

[2020-01-07 12:16] vvrein commented on #9190
+1 for this issue.

My setup:
- Gitea version (or commit ref): 1.11.0+dev-566-g143f88d97
- Git version: 2.24.1
- Operating system: Arch Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
P.S.: The reason why I cannot reproduce this issue is try.gitea.io doesn't

[2020-01-07 12:31] MarcelHillmann commented on #9540
Hi davidsvantesson,

OK, that maks sence.
How can I fix the merge conflict via Gitea?

At moment all following PR are conflicted, and I didn't know an solution to solve the merge conflict.

Thanks
Marcel

[2020-01-07 12:56] 6543 commented on #9014
@UBowt571 until now ... yes :/

[2020-01-07 13:42] waltervanzellaGVT commented on #9569
A small step forward.
By editing HTML I was able to complete the  initial configuration. I noticed that SQLite was not supported by my binaries so I installed Postress which is ok.

Anyway the dashboard is unusable. All drop-down menus do not work.
This problem seems similar to issue #6899
which Kgraefe  closed writing  : It turned out to be my Apache reverse proxy configuration. I had SetOutputFi

[2020-01-07 13:46] waltervanzellaGVT commented on #6899
I am having a similar problem,  as reported in issue  #9569.
I am a newby on these topics and I have no idea what to do.  Where can I find these Apache configuration file? and  what did you change in order to solve ?
Thank you.
W.

[2020-01-07 14:10] gabyx commented on #8273
**on 1.11.0+dev-563-gbcac7cb93**:
```netstat -ant | grep TIME_WAIT | awk '{print $5 " " $6}' | cut -d: -f2 | sort | uniq -c```
Peak is 280 connections im TIME_WAIT.

[2020-01-07 15:05] jolheiser commented on #9569
Where did you get your binary from?
It sounds like your binary is missing assets.

[2020-01-07 15:17] waltervanzellaGVT commented on #9569
Hi,
I followed these instructions
https://drizin.io/installing-gitea-git-server-developed-in-go-in-windows/
by using the  "go build"  I compiled the downloaded package   ( get -d -u
code.gitea.io/gitea ).
W.

Il giorno mar 7 gen 2020 alle ore 16:05 John Olheiser <
notifications@github.com> ha scritto:

[2020-01-07 15:23] jolheiser commented on #9569
Ah, yes that would likely lead to a binary with no assets.

1. If this is a new install, I would recommend using `1.10.2` or waiting for `1.11.0` (should be released in a week or two, depending on bug-fixes)
2. I would take a look at our [install from source](https://docs.gitea.io/en-us/install-from-source/) page if you really want to build from source

If you have no need to build it yourself, I'

[2020-01-07 15:29] waltervanzellaGVT commented on #9569
ok, thank you.
I will install the 1.10 .2,  I have time now to try , next weeks  probably
I am quite busy.
Is it possible to upgrade to 1.11.0  later ?
Walter

Il giorno mar 7 gen 2020 alle ore 16:23 John Olheiser <
notifications@github.com> ha scritto:

[2020-01-07 15:30] jolheiser commented on #9569
Yes, you can always upgrade later. 😄

[2020-01-07 15:31] #9569 closed

[2020-01-07 15:57] ederuiter opened #9637 "API documentation inconsistencies"
- Gitea version (or commit ref): 1.10
- Git version: n/a
- Operating system: n/a
- Database: n/a
- Test url: https://try.gitea.io/api/swagger

## Description

When working with the API I came across a number of documentation inconsistencies:

- [ ] all API calls for users refer to `{username}` .. however looking at the fields of a user there is no `username` field, only `login`. More confusingly c

[2020-01-07 15:58] guillep2k commented on #9233
Sorry, @6543, I can't reproduce. With current `master` (b6fa229dcfbe4ad64fe758ef92abaf7a80e6f700), I did the following:

* I've created a public repo with **user1** (`user1/publicrepo`).
* With **user1**, I've created an issue in that repo with the following description: `I mention @user2`.
* **user2**, who wasn't watching that repo, got a proper mail notification.
* With **user2**, I set to watch

[2020-01-07 16:10] 6543 commented on #9233
I'll look & test later :)

[2020-01-07 16:18] ederuiter opened #9638 "Missing features in the API"
- Gitea version (or commit ref): 1.10
- Git version: n/a
- Operating system: n/a
- Database: n/a
- Test url:  https://try.gitea.io/api/swagger

## Description

I am currently working on a library providing a unified interface to gitlab / github / gitea / bitbucket repo management api's .. but for gitea I found a couple of missing features preventing me from completing the gitea backend for this li

[2020-01-07 16:36] realslacker commented on #4030
Maybe it would work to change just the [sanitizeUserDN](https://github.com/go-gitea/gitea/blob/940636863370855f39688ddf0aae41667ac8935c/modules/auth/ldap/ldap.go#L195) to replace all instances of %s instead of just using sprintf for the first. Then you could use an LDAP filter like:

    (&(objectClass=user)(|(sAMAccountName=%s)(UserPrincipalName=%s)(mail=%s)))

[2020-01-07 17:06] #9158 closed

[2020-01-07 17:06] #9201 closed

[2020-01-07 17:18] davidsvantesson commented on #9540
The normal workflow is to delete the branch after it has been merged and create a new branch for new changes. For squash merge this is more important because the merge will not create a reference to your branch (it is not really a merge, rather a "squash and apply").

If you already have changes on top of your merged branches, I would recommend to create a new branch on top of master, then cherry

[2020-01-07 17:22] 6543 commented on #9540
@MarcelHillmann i think you mean this feature #9014 ?

[2020-01-07 17:30] 6543 commented on #9638
@ederuiter if you need an api endpoint, the easyes way is to create a pull request yourself
 * doc: https://github.com/go-gitea/gitea/blob/master/CONTRIBUTING.md#api-v1
 * one PR for each function - easyer to review :)

if you can wait - perhaps I'll pick it up but this could take a while :)

[2020-01-07 17:32] 6543 commented on #9637
the name

[2020-01-07 17:35] davidsvantesson commented on #9540
I don't think you want to solve this merge conflict in the UI.
You can try `git merge -X theirs master`, but I don't that is the recommended way.

[2020-01-07 19:41] MarcelHillmann commented on #9540
Hi 6543,

yea, that is a goo solution.

@davidsvantesson

Thanks for you advice.

Thanks
Marcel

[2020-01-07 19:41] #9540 closed

[2020-01-07 19:42] MarcelHillmann commented on #9014
+1

[2020-01-07 20:02] Ahaus314 commented on #5892
I just check, and yes, it's still on 1.10.0.

[2020-01-07 20:25] davidsvantesson commented on #5892
#8741 is towards 1.11, so the 404 problem shall be solved there.

I think there are some other problems remaining with that page, not all PRs is included as expected.

[2020-01-07 20:37] guillep2k commented on #9610
What about a timer? Many programs show up the progress report only after it's taking longer than a certain time.

If `--quiet` can be detected on the server side we could print `\r` instead (which is mostly invisible... except on Mac, of course).

[2020-01-07 21:30] schmittlauch commented on #9271
I really doubt that, as my repos have nearly no PRs.

Once I find the time I'll try disabling individual repos, maybe I can pin down the issue to a single repo.

[2020-01-07 21:40] guillep2k commented on #3189
This can be closed as it was fixed when we migrated out of blackfriday.

https://try.gitea.io/guillep2k/charset-problem/issues/2#issuecomment-25596

[2020-01-07 22:03] KarelWintersky commented on #8327
I don't know GOlang syntax, but... I think, it looks like missed
[code]
definitions at https://github.com/go-playground/locales/blob/master/ru_RU/ru_RU.go#L45

[2020-01-07 22:14] zeripath commented on #9610
I've put a simple PR up that won't print anything if the hook runs for less than one second.

This may need a longer delay or a setting.

[2020-01-07 22:38] #3189 closed

[2020-01-07 23:07] guillep2k commented on #9445
@f0x52 maybe you mean to treat it as a _fatal condition_ (i.e. shutdown the instance)? It's common for systems that the database is not yet ready when the instance starts (e.g. slow systems, remote systems), so Gitea performs many connection retries before failing.

[2020-01-07 23:41] #9530 closed

[2020-01-08 00:44] twpedersen opened #9642 "Slow merge with large repos"
- Gitea version (or commit ref): First seen in  1.9.6, but also exists in 1.10.2
- Git version: 2.22.0
- Operating system: gitea docker image
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No (clone fails)
  - [ ] Not relevant
- Log gist:

## Description

To reprodu

[2020-01-08 00:54] jcfigueiredo commented on #4898
We use it a lot for code reviewing PRs before merging to master.
- 2ȼ

[2020-01-08 01:39] guillep2k commented on #9398
@zeripath is this issue still pending?

[2020-01-08 01:49] lunny commented on #9398
Let's close now.

[2020-01-08 01:49] #9398 closed

[2020-01-08 02:18] ZerooCool opened #9643 "New user does not have access to the entire dashboard history"
First install on linux Debian Buster
cd /usr/local/bin/
sudo wget -O /usr/local/bin/gitea https://dl.gitea.io/gitea/1.9.4/gitea-1.9.4-linux-amd64

Then Ugrade :
sudo wget -O /usr/local/bin/gitea https://dl.gitea.io/gitea/1.10.0-rc1/gitea-1.10.0-rc1-linux-amd64
And :
sudo wget -O /usr/local/bin/gitea https://dl.gitea.io/gitea/1.10.2/gitea-1.10.2-linux-amd64

Gitea : 1.10.2 built with GNU Make 4.1,

[2020-01-08 02:27] 6543 commented on #9643
.. add user to organisation team

[2020-01-08 02:37] guillep2k commented on #9643
The dashboard is for user notifications, not for a project's history. It's normal that a user starts with no notifications.

[2020-01-08 04:03] ZerooCool commented on #9643
Ok, in use, it can be understood as well.
I had felt it, for that I had tested to push two new commit, which were well visible.

On the other hand, it is not so obvious to note, once we have a few users who are all well notified, on the dashboard, and, that a new user, him, arrives with an empty space.

I spent a lot of time figuring out how to update the information for the new user, thinking, al

[2020-01-08 04:28] techknowlogick commented on #4898
@jcfigueiredo the review functionality already exists in PRs where you can comment on lines of code.

[2020-01-08 05:32] pluehne commented on #3189
@guillep2k: How cool, thanks for pointing this out!

[2020-01-08 05:46] sd1998 commented on #9638
@6543 I would like to work on this.

[2020-01-08 05:51] 6543 commented on #9638
@sd1998 go on for it :) the [Contribution Docs](https://github.com/go-gitea/gitea/blob/master/CONTRIBUTING.md#api-v1) can help you :+1:

[2020-01-08 06:21] anthonyvdotbe commented on #8545
@lunny this can be closed: it's a duplicate of #8676, which is fixed in v1.11.0

[2020-01-08 06:51] Flameborn commented on #7057
I am currently running 1.11.0-rc1. The dropdown improvements really make a huge difference, Thanks to @Jookia's fixes in https://github.com/go-gitea/gitea/commit/1274ad864e59b857344f3e11cc867d3146ddd64b, it really makes a huge difference.

This is not strictly UI-related, but it seems that SimpleMDE, Gitea's editor does not properly track cursor movement via a screen reader. As the project is unma

[2020-01-08 07:01] #9486 closed

[2020-01-08 07:01] Jookia commented on #7057
I'm glad to hear that!

At the moment I'm a little stumped with this: I have to re-do my changes for FomanticUI and go through the mess that is the dropdown stuff again. I can do that, but the thing I really dread is going through all the templates and trying to figure out how to view each widget and test it later.

What would really, REALLY, REALLY help me do this if anyone's interested, is creat

[2020-01-08 07:14] Flameborn commented on #7057
According to the rc1 change log, Gitea is already using Fomantic UI.

I assume there is no universal way to fix the widgets, i.e. do you have to go through each page and add tags manually, rather than change how widgets are created/focused? This is without me looking at the source, so please excuse my ignorance. If it helps, I can go through the template pages and give you a list of widgets. I thi

[2020-01-08 07:21] Jookia commented on #7057
Yeah, there's no universal way from what I can see. There's a lot of different techniques that need to be applied, and some HTML needs to be cleaned up. There's wrong tabindexes, buttons that exploit nested mouse events, and non-ARIA Javascript. The code I wrote tries to figure out the appropriate aria role based on the HTML, which works fine for now. There's also the fact that some widgets requir

[2020-01-08 07:21] bagasme commented on #9642
@twpedersen what about your system spec?

[2020-01-08 07:32] zeripath commented on #9398
There's probably other places but we can reopen when they become apparent

[2020-01-08 07:40] #8870 closed

[2020-01-08 07:44] bagasme commented on #9629
@pkaq and issue description too...

[2020-01-08 08:05] jaqra opened #9648 "After Upgrade To 1.11 RC Gitea Stops After 1 Minute"
This is why stops:

[code]

[2020-01-08 08:22] jaqra commented on #9648
When i set config as below it solved:

[code]

[2020-01-08 09:05] 6543 commented on #9629
@pkaq you should look at https://docs.gitea.io/en-us/config-cheat-sheet/#security-security

-> **PASSWORD_COMPLEXITY** in **security** section

[2020-01-08 09:06] lunny commented on #9629
It has been documented.

[2020-01-08 09:06] #9629 closed

[2020-01-08 09:08] 6543 commented on #9629
@lunny I think the ZH-CN version is outdated :(
https://docs.gitea.io/zh-cn/config-cheat-sheet/#security-security

[2020-01-08 09:08] 6543 commented on #9629
and at least the config-cheat-sheet should be up to date ...

[2020-01-08 09:13] #8545 closed

[2020-01-08 10:14] bobemoe commented on #9619
My upstream link there may have been a bit misleading... even though full config and multi language is still in dev, I think the spell checker for a single language should work just fine? Its listed first on SimpleMDE features!

I see it's been manually disabled in https://github.com/go-gitea/gitea/blob/e88d67b774ae615208b25133c299f2d50b3a018b/web_src/js/index.js#L1439 and 2 other places in that f

[2020-01-08 10:20] 6543 commented on #9648
think this is caused by @zeripath 's  #9363 ?

[2020-01-08 10:21] 6543 commented on #9643
think we can close this issue?

[2020-01-08 10:22] jaqra commented on #9648
Windows Server 2008 R2 Foundation
Working as Windows Service

Upgraded from: Gitea Version: 1.11.0+dev-494-gf88715e29

[2020-01-08 10:34] jaqra commented on #9648
When also set this config solved problem

[code]

The problem is that path combining wrong and result is `H:/gitea/data/H:/gitea/data/queues/issue_indexer`

[2020-01-08 11:53] #9552 closed

[2020-01-08 11:57] gabyx opened #9650 "To many TimeWait Connections when git clone (LFS)"
- Gitea version (or commit ref): 1.10.2
- Git version: 2.22
- Operating system: Linux, docker, Pushing from repo from: Windows
- Proxy:
  - [x] [nginx-proxy with docker](https://github.com/jwilder/nginx-proxy)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [x] MSSQL (mariadb:10.3.11)
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)

[2020-01-08 12:15] zeripath commented on #9648
Damn this is my fault need to use filepath.IsAbs not path.IsAbs

[2020-01-08 12:38] 6543 commented on #9648
the patch looks simple: https://github.com/go-gitea/gitea/pull/9651

In the first place it is a go-standad-lib issue

[2020-01-08 12:56] gabyx commented on #9650
It seems that all these connection come from our *reverse-proxy* `nginx`. We don't yet know why.
If we directly access gitea without proxy, all these connections are not seen (or a lot less)

      1 Foreign
      1 established)
      5 LISTEN
     62 ESTABLISHED
    115 TIME_WAIT

[2020-01-08 13:39] gabyx commented on #9650
We use [nginx-proxy](https://github.com/jwilder/nginx-proxy)
which automatically generates the following config. Is this config wrong or are the issues more on the gitea server-side?

[code]

[2020-01-08 13:39] azlux commented on #31
Hi all, I have my own APT packages repository, I can add gitea on it.
See the project already included : https://packages.azlux.fr/
Now it's running, it's easy to add any .deb you want (I can even create it)

Azlux

[2020-01-08 13:54] Janhouse commented on #31
@azlux it all comes down to the trust. You are probably a cool guy but I would rather install it from some known automation service where build scripts are maintained by the gitea dev team, than get it from some private repo. I have my own packages built as well, but ideally it would be managed by gitea team.

[2020-01-08 13:58] #4277 closed

[2020-01-08 14:01] azlux commented on #31
Ho ok
Thank for the info @Janhouse
I've setup my repo with reprepro, I can help if you need to.

Az

[2020-01-08 14:06] jamesponddotco commented on #3217
Back on the topic of the issue, what would be a good bounty to get this one started?

We are willing to pay to get this feature added to Gitea, as all our company discussions happen on a public repository right now, but we would like to keep a few topics confidential — employee review, vulnerability disclosure and whatnot.

[2020-01-08 14:07] jamesponddotco commented on #4249
What would be a good bounty to help speed development on this issue?

[2020-01-08 14:31] sapk commented on #9648
Reopening it in the wait for a confirmation that it really fix the issue.

[2020-01-08 14:44] sapk commented on #3217
@jamesponddotco I don't think that it is planned that gitea manage to get paid for feature.
But you can use bounty source like in : https://github.com/go-gitea/gitea/issues/2725
This will attract people, even daily gitea maintainer, to move the issue on top of their list.

[2020-01-08 14:48] dirien commented on #7771
hi,

can we get this issue fixed? This is really annoying, especially when you work on scripts for infrastructure.

[2020-01-08 15:38] guillep2k commented on #3217
@jamesponddotco If code is accessible by others it seems difficult to tighten security on code changes.

Anyway, I think the quickest way to solve this is to allow private forks from public forks (currently not allowed) and make your work on that fork. If you wish, I think you can create a fork and update the `is_private` column on the database for that repo (Gitea would force it to be public if t

[2020-01-08 16:08] timurkelin commented on #3866
using web editor can break the flow which involves git hooks

[2020-01-08 16:24] #9643 closed

[2020-01-08 16:45] guillep2k commented on #9650
Maybe you can use a fast-cgi setup to reduce the number of connections. I'm not sure how's that configured, however.

[2020-01-08 16:50] guillep2k commented on #9650
Maybe `awk '{print $5 " " $6}'` it's not the right choice of fields for IPv6 (I don't use IPv6 so I can't say). It looks like you're seeing the client side of the socket for these connections. Try a simple `netstat -ant | less` to see if there's better information in the full output.

[2020-01-08 16:59] guillep2k commented on #3866
To disable the web editor (i.e the pencil icon to edit files online) you could edit Gitea templates and leave them out. Or probably much easier to maintain, add a custom CSS to make:

[code]

I'm sure there's better selectors for that, but those should at least hide the icons for editing/deleting.

[2020-01-08 17:03] guillep2k commented on #3866
With code change suggestions (which we wish to implement in the future) this too will be a problem for you. I don't know if it's easy enough, but I'd configure my CI to kill any previous instances dealing with the same repo/branch when a new one appears. Still some useless work will be done, but it won't be so bad.

[2020-01-08 17:41] Albirew commented on #4898
this "may" also be useful to reference a commit or part of it to an issue without touching issue itself (examples: "_may make issue #1 reappear_", "_this exact part breaks PR !2_", etc.) or discussing about a specific part of code.

Again, these can already be done the other way around (eg:"_commit b822518e396a569b89aab6d621b01eefe723caa7 may make this issue reappear_", "_the changes on modules/se

[2020-01-08 18:00] giteaUser opened #9656 "Missing space after checkbox"
- Gitea version (or commit ref): v1.11.0-rc1
- Git version: not relevant
- Operating system: not relevant
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) https://try.gitea.io/transferkraM/markdown-checkbox-table
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description
Mis

[2020-01-08 18:01] twpedersen commented on #9642
@bagasme merge takes > 1 minute on a ryzen 3900x.

[2020-01-08 18:03] jamesponddotco commented on #3217
@sapk Oh, I know, I am just not sure what sort of amount would be considered fair for something like this. $50? $100? More?

@guillep2k We are looking into keeping specific issues confidential, not code — all our code is open source. We discuss everything in public, kinda like what Gitlab does, but specific individual discussions need to be kept private for privacy or security reasons.

Right now

[2020-01-08 18:44] guillep2k commented on #3217
@jamesponddotco How do you imagine this feature at work? Will the issue be marked as "restricted" on creation? Will you have a specific team that has access to these restricted issues (this would only be possible if the project owner is an organization)? What about PRs? How do you plan to hide the work in progress (if you intend to)?

The thing is there's plenty of outlets in Gitea that can easily

[2020-01-08 18:59] jamesponddotco commented on #3217
@guillep2k Honestly? No idea. Whatever take this would probably need to look at [how Gitlab does it](https://docs.gitlab.com/ce/user/project/issues/confidential_issues.html).

In the ideal world — at least to me —, there should be a checkbox when creating an issue that mark it as visible only to the creator of the issue and the members of the organisation.

**This is how it looks in Gitlab:**

![]

[2020-01-08 19:07] guillep2k commented on #6628
BTW, I've been meaning to propose a new column (or table) for issues and comments containing the pre-rendered content plus references (mentions) and such. It should hold the rendered version of the content as long as it's shorter than a certain limit (the majority of comments will fall way below that limit). Anything bigger than that limit will be processed online, which is slower, but we're doing

[2020-01-08 19:20] josipradic commented on #8775
@lafriks Glad to see someone is working on it! Any news when we can except this feature to be merged? Thanks a lot!

[2020-01-08 19:50] sapk commented on #3217
For the amount, I don't exactly know. I suggest you based yourself on current and past bounty. For the issue that I cited it was 200$. The main contributor post 100$ and added 95$ one month later and someone added 5$. If you look  at current issue they should be around 100$ but they are stuck for a little time.
If your need is urgent, I would say start at least at 100$. The issue is basic at first

[2020-01-08 19:52] patricematignon commented on #654
I see in the docs: https://developer.github.com/v3/pulls/#list-pull-requests-files

[2020-01-08 20:09] jolheiser opened #9657 "Quote reply not working with SimpleMDE"
It sets the content to the backing textarea, but SimpleMDE is not being updated to reflect the content.

[2020-01-08 20:34] lafriks opened #9658 "SimpleMDE not usable on android mobile chrome browser"
~~It would keep adding all text duplicate after first space and on next again duplicate everything, not possible to delete text either~~

Review text area is too wide and does not fit in mobile screen

[2020-01-08 21:43] zeripath commented on #9658
Yup I've noticed this too.

[2020-01-08 21:52] zeripath commented on #9642
I suspect the problem is not the merge but at the push in the end - in particular there are a few calls in there to count objects that are quite slow. Others have found this before.

If you can, you could put logging in to test where the problems are.

One other thing that can improve things is ensuring that the git commit graph is built.

[2020-01-08 23:04] lafriks commented on #9642
We should probably run commit counting in queue to make it async, that should considerably improve performance

[2020-01-08 23:08] lafriks commented on #8775
I'm planning to finish it for 1.12

[2020-01-08 23:10] techknowlogick commented on #8775
How would this work when Gitea is running in a subpath (ie, example.com/gitea/)? I'm thinking we could probably put in docs that it isn't supported for for subpath installations (because .well-known has to be served from root path)

[2020-01-08 23:13] zeripath commented on #9656
This is likely related to the fomantic change but could be due to goldmark not retuning exactly the same html as black Friday.

[2020-01-08 23:18] lafriks commented on #8775
@techknowlogick that is not true, it is supported to have it also in subpath

[2020-01-09 01:47] #5997 closed

[2020-01-09 02:26] lyf1350 opened #9659 "Can't create repository"
- Gitea version (or commit ref):v1.11.0-rc1
- Git version: 2.22.0
- Operating system:windows server 2016
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:
...les/context/panic.go:35:1() [E] PANIC:: runtime error: invalid memory addr

[2020-01-09 02:35] techknowlogick commented on #9659
We found and patched a bug with the RC and windows and have a temporary version published at https://dl.gitea.io/gitea/1.11/ could you try this binary?

[2020-01-09 06:22] bagasme commented on #9657
@jolheiser please provide details (such as Gitea version, instance OS, Git version, and chosen database).

[2020-01-09 06:22] #9659 closed

[2020-01-09 08:05] bu3tt1 opened #9662 "Not possible to add a team to a repository with the same name of the organization"
- Gitea version (or commit ref): docker image gitea/gitea:1.10.1
- Git version: 2.22.0
- Operating system: Docker on Mac OS and Chrome
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) https://try.gitea.io/error_team_name/repo/settings/collaboration > try to add team error_tea

[2020-01-09 10:10] gabyx commented on #9650
With
[code]
I get 4546 connections from '::ffff:172.18.0.9:3000' to '::ffff:172.18.0.60:xxxxxx' in 'TIME_WAIT' where 'xxxxx' is a a long range of ports :
[code]

[2020-01-09 10:17] gabyx commented on #9650
So it seems that gitea does not reuse the connections somehow? But this behavior is only seen when we intertwine a the proxy... when we directly access the gitea container this bahvior is not seen?
Is there a missmatch in connection settings during communication or so?

[2020-01-09 10:29] gabyx commented on #9650
I highly suspect (as already reported in #8273 ) that https://github.com/go-gitea/gitea/commit/dbd0a2e6dc12572e33eb6753adcbf17273197c13
introduces these issues. **Since in version `9f33aa6` v1.7.4 does not have this behavior.**

[2020-01-09 11:56] #4811 closed

[2020-01-09 12:10] zeripath commented on #9650
Have you looked at https://engineering.gosquared.com/optimising-nginx-node-js-and-networking-for-heavy-workloads

This references:

http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive

Where it appears that nginx does not use http/1.1 by default. That might mean that simply adding keepalive, removing the connection header and setting the version as per below would work:

[code]

[2020-01-09 12:23] MarcusVMesquita opened #9663 ""This site can’t be reached" when create Pull Request"
- Gitea version (or commit ref): 1.10.2 (Docker) (https://hub.docker.com/layers/gitea/gitea/1.10.2/images/sha256-6840e92bfa48a789294017205e56aa23aa4ad2dafaa3c0cfad32f26e4ea73794)
- Git version: 2.22.2
- Database:
  - [X] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes
  - [X] No
  - [ ] Not relevant

## Description
Every time w

[2020-01-09 13:03] zeripath commented on #9663
So weirdly this looks like a double free causing a panic from within the indexer.

Hmm...

Setting the Log level to trace should tell you that the data being sent to the indexer is reasonable but I don't think it is that.

Are there any logs before this panic indicating an error?

[2020-01-09 14:23] gabyx commented on #9650
We have tested this, exactly as stated.
The http version, connection header drop, was set globally, it unfortunately did not show any difference.

[2020-01-09 15:19] Marcsiq2 opened #9667 "1.11.rc1 - Stuck on checking merge conflicts"
- Gitea version (or commit ref): 1.11.rc1
- Git version:
- Operating system: ubuntu
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description

I didn't know where to post this one, but I did update my gitea to 1.11-rc1 and si

[2020-01-09 16:27] #7953 closed

[2020-01-09 16:39] kolaente commented on #3217
I'd say we could add private issues first, and then private PRs later on since that would require a lot more work - as @guillep2k already pointed out.

[2020-01-09 16:40] #9090 closed

[2020-01-09 17:28] zeripath commented on #9648
@jaqra would you be able to test the latest head? If only so we can close this as fixed.

[2020-01-09 17:41] silverwind commented on #9656
I think we should improve the rendering of such "task lists". GitHub adds a `.task-list-item` class to cases where it detects such lists in markdown and then hides the dots besides each list item via CSS:

[code]

I wonder if we can replicate that somehow. Of course including some spacing after the checkbox.

[2020-01-09 18:13] jaqra commented on #9648
@zeripath that is ok. its working without any queue configuration as expected 👍

[2020-01-09 18:13] zeripath commented on #9667
@Marcsiq2 rolling back to 1.10.2 doesn't necessary mean that there was a problem on 1.11 - depending on how you rolled back. The worklist could have just taken that long to work through.

We need some log information to work out what is going wrong - if anything.

There were three major changes to the PR checking:

#9282, #9302 and #9501

#9282 might be the cause of your apparent problem as one of

[2020-01-09 18:14] #9648 closed

[2020-01-09 18:56] mohe2015 opened #9672 "Markdown anchor links don't work"
- Gitea version (or commit ref): a311ace354c4a00e0576943b0b0bff651fbcb066 ([master](https://github.com/go-gitea/gitea/tree/master))
- Git version: 2.24.1
- Operating system: Arch Linux
- Database: SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - Yes, https://try.gitea.io/adfjiowfeiofhaehioh/test-markdown/src/branch/master/test.md

## Description

Anchor links (to headers) in markdow

[2020-01-09 19:41] lafriks commented on #4249
Any bounty is good ;)

[2020-01-09 20:24] 6543 opened #9677 "[Bug] [API] ​/repos​/issues​/search"
version 1.11.0-RC1 return 500 on api `​/repos​/issues​/search`

[2020-01-09 22:05] randomchance commented on #4300
This would be pretty nice to have, especially for build authorizations.

[2020-01-09 23:19] azlux commented on #31
@Janhouse After a deeper thinking, The apt repo allows us to verify that the sources have not been modified in the meantime. Ideally, it's better to have gitea maintaining their own repo, but they can also put other repo as "unofficial repository".
Lot of project don't have a problem with that. Like that, People warned.

[2020-01-10 00:36] lunny commented on #3217
If someone would like to create a PR, he has to consider something as below.
- [ ] repository issues list and global issues list should ignore the private issues if they have no permissions.
- [ ] APIs about issues list / single issue.
- [ ] references and dependencies: When you reference an public issue on a private issue, it should not be displayed on public issue's comment if user has no permis

[2020-01-10 00:58] amColinzzz opened #9686 "Where is contom in docker container?"
If i am use the docker to install gitea,the default /data folder just has app.ini,it is no custom folder,so ,how can i custom the web and other settings?

[2020-01-10 00:58] #9686 closed

[2020-01-10 00:59] amColinzzz opened #9687 "Where is the custom folder in docker container?"
If i am use the docker to install gitea,the default /data folder just has app.ini,it is no custom folder,so ,how can i custom the web and other settings?

[2020-01-10 01:37] techknowlogick commented on #9687
Per https://docs.gitea.io/en-us/install-with-docker/#customization the custom folder in docker is `/data/gitea`

[2020-01-10 01:37] #9687 closed

[2020-01-10 01:47] MarcusVMesquita commented on #9663
Hi,

I solved the problem. I had to delete `/data/gitea/indexers` directory for Gitea recreate all index. After that the problem was solved.

Thanks

[2020-01-10 01:47] #9663 closed

[2020-01-10 05:55] Dr-Ari-Gami opened #9689 "Custom Webhooks"
- Gitea version (or commit ref): 1.10.2
- Git version: Not Relevant
- Operating system: Not Relevant
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist: N/A

## Description
The ability to create custom webhooks for repositories would b

[2020-01-10 06:17] techknowlogick commented on #9689
This is what the webhook templates would hope to achieve.

[2020-01-10 06:17] #9689 closed

[2020-01-10 07:27] zeripath commented on #31
I know I've said this before but...

If you're providing Deb packages, you should probably build Gitea so that it obeys the FHS by setting the LDFLAGS as described here:

https://docs.gitea.io/en-us/install-from-source/#changing-the-default-custompath-customconf-and-appworkpath

[2020-01-10 09:04] Marcsiq2 commented on #9667
Thank you very much for your detailed help! I'll try that.

[2020-01-10 09:48] tgurr opened #9690 "Lang cookie missing secure/httpOnly attributes"
- Gitea version: 1.10.2
- Git version: 2.24.0
- Operating system: Linux
- Database:
  - [X] MySQL
- Can you reproduce the bug at https://try.gitea.io:
  - [X] Yes (provide example URL)

![gitea_cookies_trygiteaio](https://user-images.githubusercontent.com/414984/72142966-28275a00-3396-11ea-89ba-8d3bc20ad2d2.png)

## Description

I've configured my Gitea instance with `CSRF_COOKIE_HTTP_ONLY` and `C

[2020-01-10 09:59] tgurr opened #9691 "Configurable SSL cipher suite"
- Gitea version: 1.10.2
- Git version: 2.24.0
- Operating system: Linux
- Database:
  - [X] MySQL
- Can you reproduce the bug at https://try.gitea.io:
  - [X] Not tested / may run behind a reverse proxy so the results could vary

## Description

[code]

https://github.com/go-gitea/gitea/pull/913 added configurable SSH cipher suite, it would be nice to have the same to configure the SSL cipher suit

[2020-01-10 12:02] bagasme commented on #9691
@tgurr and perhaps enforcing TLS v1.2?

[2020-01-10 12:11] tgurr commented on #9691
@bagasme no objections from my side, maybe it should just be the default setting then. Just a note and directly related to Gitea, we encountered some problems on Windows 7 / Server 2008 when disabling TLSv1.0 and TLSv1.1 in other software, they're EOL anyways, but there may still be use cases for it.

[2020-01-10 13:10] 6543 opened #9692 "note: refacotr models/webhook.go"
note for me:

refactor models/webhook.go to combine GetWebhooksByRepoID and GetWebhooksByOrgID to `GetWebhooks(opts SearchWebhooksOptions) .,...

[code]

[2020-01-10 13:14] 6543 commented on #9692
@SpaWn2KiLl ping

[2020-01-10 13:15] 6543 commented on #9692
and we can also include getActiveWebhooksByOrgID

[2020-01-10 13:19] SpaWn2KiLl commented on #9692
I'll take this. If you find any more cases like this add to this issue please.

[2020-01-10 14:59] trgwii commented on #6192
It seems like this got fixed sometime between my last post and 1.10.0 (also confirmed the same look in 1.10.2):
![chrome_2020-01-10_15-59-05](https://user-images.githubusercontent.com/11262022/72162343-15c31580-33c2-11ea-84a2-425ec3575652.png)

I'm closing this issue now, upgrade to 1.10 guys!

[2020-01-10 14:59] #6192 closed

[2020-01-10 15:18] Programmierus commented on #3217
Just my 5 cents: we'd love a feature where issues in a special repository are being seen only by issue starter and maintainers. Scenario exactly as mentioned: vulnerabilities reporting. We love to get them reported but want to discuss them internally and only with the reporter before we patch the issue.

At the moment we achieved the same using templates-hack but it's a pain to maintain our change

[2020-01-10 15:25] jamesponddotco commented on #3217
**Bounty posted:**
https://www.bountysource.com/issues/52815258-confidential-private-issues-on-public-repo

[2020-01-10 15:30] jamesponddotco commented on #4249
**Bounty posted:**
https://www.bountysource.com/issues/59720659-allow-signed-commits-to-be-required

[2020-01-10 17:43] sbrl commented on #31
Same here - I have a personal apt repo I can host in

[2020-01-10 17:46] giteaUser opened #9695 "Error 500 when closing already closed issue from pull request"
- Gitea version (or commit ref): v1.11.0-rc1
- Git version: not relevant
- Operating system: not relevant
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Making a pull request referencing an issue with keyword "clos

[2020-01-10 19:21] guillep2k commented on #9695
@giteaUser I'm unable to reproduce. Could you check you server logs in order to get the actual error message?

[2020-01-10 19:34] guillep2k commented on #9695
Never mind. I could reproduce it. It happens when the issue will be closed by the PR and one of its commits.

[2020-01-10 19:38] anatanna opened #9697 "Cannot clone via Gitea Internal SSH Server"
- Gitea version (or commit ref): 1.10.2 / binary installation
- Git version: 2.8.4-1.el7.centos
- Operating system: CentOS 7
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:
[code]

## Description
Can't clone repo via build-in SSH S

[2020-01-10 20:26] whalehub commented on #8900
@zeripath @silverwind Any update on this?

[2020-01-10 20:41] giteaUser commented on #9695
Do you mean if the merge commit message also has the 'closes" reference? If so, the default merge commit was not touched: "Merge branch 'branchName' of test/test into master"

Here's the relevant trace log:

`
2020/01/10 11:32:40 routers/repo/pull.go:698:MergePullRequest() [E] Merge: Issue [1] 0 was already closed
2020/01/10 11:32:40 ...ervices/pull/pull.go:172:AddTestPullRequestTask() [T] AddTest

[2020-01-10 22:36] AndrewBezold commented on #9269
Using the master branch from a few days ago, I hit the same issue through the api (user has reached the maximum limit of repositories), so it's not just a web client issue.

[2020-01-10 23:39] clarfon commented on #9691
It may be worthwhile to simplify the configuration options to allow picking between some of Mozilla's recommendations (i.e. Modern, Intermediate, or Old), as shown here: https://wiki.mozilla.org/Security/Server_Side_TLS

Also, adding onto this: this is TLS, not SSL. It seems pedantic but it is important to mention.

[2020-01-11 00:01] camlafit commented on #8195
Hello

I've updated to 1.10.2 and problem is always present. I can do any complementary test.

Thanks

[2020-01-11 00:14] 6543 commented on #9677
Info: ocure only if no token/login exist

[2020-01-11 00:40] 6543 commented on #601
there is a bounty on this issue: https://www.bountysource.com/issues/40674560-merging-prs-takes-very-long-time-for-large-repository

[2020-01-11 00:43] guillep2k commented on #601
It's closed. It's from 2017. 😄

[2020-01-11 00:46] 6543 commented on #601
it can be clamed ... that's what I like to remind

[2020-01-11 01:20] #9695 closed

[2020-01-11 02:19] lunny commented on #9697
It seems there some spaces after your email?

[2020-01-11 07:59] 6543 commented on #8305
Stil here

[2020-01-11 08:27] bagasme opened #9701 "[Proposal] Return 404 on Valid Looking but Non-Existent Commit URL"
## Description

Currently when connecting with valid-looking, but non-existent commit URL (by valid-looking means 40-character SHA-1 hash), Gitea will return generic `500 Internal Server Error` error. In this proposal, the error returned for this case should be `404 Not Found`, as here in GitHub.

[2020-01-11 09:25] anatanna commented on #9697
You've right. In db in INSERT row for ssh_key was '\t' sign. Seems i pressed Tab between keyname textfield and contents.
Deleted this SSH key from Gitea user and added again without Tab pressing.
Now i get this :
[code]
But SHA256 corresponds.
[code]

[2020-01-11 11:45] lunny commented on #9697
Please go to admin panel on your gitea UI and run `Update the '.ssh/authorized_keys' file with Gitea SSH keys. (Not needed for the built-in SSH server.)` and try again.

[2020-01-11 11:57] zeripath commented on #9281
This is partially fixed by #9393 - A more complete implementation would do the following:

- [ ] Parse the commit messages and find their Co-Authored-By trailers to add those
- [ ] Would skip merges with the base branch and commits that are already in base branch

I if we get both of those would mean that we might have better functionality than GH

[2020-01-11 12:20] anatanna commented on #9697
Done.
No effect.
The same error:
"Gitea: Internal error
Failed to check provided key: Cannot find key: 1"

[2020-01-11 12:22] sunbing81 commented on #5710
Per #8560

[2020-01-11 12:22] #5710 closed

[2020-01-11 15:28] s-hamann opened #9707 "CLI: admin auth list missing space"
- Gitea version (or commit ref): 1.11.0-rc1
- Git version: 2.24.1
- Operating system: Alpine Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description

The output of `gitea admin auth list` is missing a space between the `Type` and

[2020-01-11 16:32] LostSoulfly commented on #8368
I was not able to use TLS with gmail.. it would fail every time.

However, using port 465 worked for me without TLS..

[code]

[2020-01-11 19:36] luisjakon opened #9712 "Unable to exclude/filter migrations from Repositories view"
- Gitea version (or commit ref): 1.11.0+dev-311-g675f27523
- Git version: 2.24
- Operating system: Not relevant
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
It is currently not possible to visually separate clone

[2020-01-11 22:04] davidsvantesson commented on #3336
The poll is not conclusive, but I think it is not a good idea that an app.ini setting permanently change things in db  (the two delete options). And since my original implementation didn't get any vote, I think "Hide existing" will be the way forward.

Implementation-wise it is rather tricky to handle the settings. The disabled/hidden units shouldn't change when user update repo settings. But then

[2020-01-12 01:21] #8736 closed

[2020-01-12 01:34] fizzyade opened #9716 "Release API, order option"
Could there be an extra field added to the api to set the order, so the returned release lists are either ordered newest or oldest.  This would be useful for some automation with our CI system.

[2020-01-12 02:16] anatanna commented on #9697
I recreated user from the beginning, added ssh_pub key
[code]
deleted ssh_pub key, added it again
[code]

[2020-01-12 05:27] zeripath commented on #9697
Ok, so after you re-added the key your authorized_keys file should have changed. But clearly it didn't. I'm not certain why that would happen. Does Gitea have permission to write to the .ssh/authorized_keys file? Is it trying to write to the wrong place?

The reason why readding the key would make this break is because it's key number would change from key-1 to key-2.

Find your authorized keys fi

[2020-01-12 06:26] lunny commented on #8947
[code]

[2020-01-12 06:35] #9677 closed

[2020-01-12 07:18] antiuser opened #9721 "404 for not authorized users"
- Gitea version (or commit ref): 1.10.2
- Git version: 2.11.0
- Operating system: Debian 9 x64
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description
Hi there!
If i not authorized in gitea, and going to repo with restricte

[2020-01-12 07:34] zeripath commented on #9721
That is by design.

We don't want to leak to unauthorized users that a private repository exists.

[2020-01-12 07:38] antiuser commented on #9721
Im thinking that should be a 403 error then, because repo exist, but access restricted

[2020-01-12 08:09] zeripath opened #9722 "GPG Signings: more expressive settings"
The current settings for automated gpg signing are a series of ANDs. There's no way of saying: if the user has 2fa always sign merge commits, otherwise only if all of the commits to merge are signed.

[2020-01-12 08:25] zeripath opened #9723 "GPG Signing: let user provide signature"
Although we now have a way of automatically signing commits, these will be signed with a key held on the server.

Some users might prefer to sign things themselves without having their private key on the server but would still want to sign automated commits.

This could be supported by presenting to the user the payload of a commit to sign which they could respond with a valid signature which is t

[2020-01-12 08:27] zeripath commented on #9721
Then you would leak to the unauthorized user that the repository exists.

[2020-01-12 08:46] #9610 closed

[2020-01-12 08:49] antiuser commented on #9721
We are using gitea for private audience only, not for public. And when user is not authorized and get link for repo then this is misleading him. Hmm, i have idea, all users must be authorized to view any repo. Maybe we can to redirect always to the login page when user is not authorized?

[2020-01-12 09:03] zeripath commented on #9721
Try REQUIRE_SIGNIN_VIEW

[2020-01-12 09:13] antiuser commented on #9721
Yeah, thats will trick!
Thank you much!

[2020-01-12 09:13] #9721 closed

[2020-01-12 09:31] lunny commented on #9697
OKay. I'm worong. It seems @anatanna was using internal SSH configuration.

[2020-01-12 11:02] #8715 closed

[2020-01-12 11:14] MasterGroosha commented on #6011
Sorry for dumb question, but where are these files in Gitea docker installation? I've /bin/bash-ed into container, but cannot find any html/tmpl/css files at all. Also I'm running an "offline" installation just for me.

[2020-01-12 13:02] bagasme opened #9730 "err_admin_name_pattern_not_allowed Source String Incorrect"
- Gitea version: 497e15fdc28518ab03e2f1114fb112b8c0630e18 (master)

## Description

On `options/locale/locale_en-US.ini` (source string):

[code]

Per report from Crowdin, the string is incorrect, it should be `Administrator Username is invalid, the username pattern is not allowed`.

[2020-01-12 13:15] j-be commented on #8917
I can confirm the fix on 1.10.2. It works using:

* my-server.example.com/gitea/attachments/<attachment_uuid>?token=<access_token>
* my-server.example.com/gitea/attachments/<attachment_uuid>?access_token=<access_token>

It still does NOT work using either of:

* my-server.example.com/gitea/me/myRepo/releases/download/v1.0/myRepo-release.zip?token=<access_token>
 * my-server.example.com/gitea/me/my

[2020-01-12 13:15] #8917 closed

[2020-01-12 13:35] zeripath commented on #9697
OK, then let's ignore the authorized_keys view part...

The error report comes from:

https://github.com/go-gitea/gitea/blob/497e15fdc28518ab03e2f1114fb112b8c0630e18/cmd/serv.go#L115

Originally from here:

https://github.com/go-gitea/gitea/blob/497e15fdc28518ab03e2f1114fb112b8c0630e18/routers/private/serv.go#L37

The key is found here:

https://github.com/go-gitea/gitea/blob/497e15fdc28518ab03e2f

[2020-01-12 14:27] 6543 opened #9732 "Proposal: use keyserver ..."
[code]

[2020-01-12 14:35] silverwind commented on #9732
What benefit would auto publishing have and when would it run?

How should the UI display a key only present on the keyserver? Yellow box instead of green one?

[2020-01-12 14:56] lunny commented on #9732
I don't understand what did you mean. Could you give more detail about the proposal?

[2020-01-12 15:27] 6543 commented on #9732
it was discussed on discord ...
... about how gitea should handle signed commits (where the sign-key is not one of registert users)
and if gitea should akt as keyserver itself ...

[2020-01-12 15:43] #5361 closed

[2020-01-12 17:33] Jookia commented on #7057
So, dropping the bombshell here: The only proper way to make Gitea properly accessible in its current form is a UI rewrite with accessibility in mind. This ties in with #5937 . At the moment my plan is to **fork Gitea** then slowly make that version accessible in my free time. All the hacking I'm doing will maybe in a year or two I'll get the code base and its dependencies barely accessible in my

[2020-01-12 18:14] silverwind commented on #8900
Example is 404, can you restore?

[2020-01-12 19:17] zeripath commented on #4249
OK so #9708 represents an implementation of this.

There are a couple of points to be made:

* Depending on your server configuration you may not be able to merge PRs into your protected branch. (Remember these have to be signed too.)
* Similarly, You may not be able merge CRUD actions into your protected branch.

There are few extension options which probably need discussion to see if there is in

[2020-01-12 19:57] sapk commented on #6011
The default files are packaged inside the binary at build time you need to create a custom folder. Please read the docs: https://docs.gitea.io/en-us/customizing-gitea/
You can find the packaged file like template (as example) in the gitea repository : https://github.com/go-gitea/gitea/tree/master/templates

[2020-01-12 20:32] brandonkal commented on #8566
See you next month bot. #notstale

[2020-01-12 21:21] zeripath commented on #8900
I'm not getting anything particularly wrong on 1.11.

@whalehub what did you mean about being truncated - do you mean at merge?

[2020-01-12 21:30] silverwind commented on #8900
It's the last commit description that is overflowing. I played with it a bit but found no easy solution to wrap it. I think it has to either be truncated server-side or made that `<th>` be made a flexbox outside the table.

[2020-01-12 21:33] zeripath commented on #8900
@silverwind could you give me a bit of the html that's been outputted and I might be able to find which template is creating it.

[2020-01-12 21:40] silverwind commented on #8900
https://try.gitea.io/silverwind/symlink-test
https://github.com/silverwind/symlink-test

[code]

I'd say, truncate server-side like to 72 chars. Could do similar js expander like we have for multiline messages.

[2020-01-12 22:27] anatanna commented on #9697
I do not quite understand, what exactly is wrong in my config.
[code]
Internal SSH server runs under gitea user.
Gitea user is owner for gitea.db sqlite DB file
[code]

[2020-01-12 22:29] techknowlogick commented on #9697
Listening on port 2222, so makes sense there is an error when you try to clone on port 22

[2020-01-12 22:46] anatanna commented on #9697
but i clone on 2222 with command
[code]
The same clone command(with port) works perfectly for other git server - butbucket, which also have build-in ssh server on non standard 22 port .

[2020-01-12 23:26] techknowlogick commented on #9697
When you try to debug with `ssh -T gitea@scm.example.com` to verify you aren't sending your port, so it assumes port 22.

When cloning above with port I don't see an error, it looks like it is asking you to verify the key.

[2020-01-12 23:42] criztovyl commented on #9045
I promised code.

I just pushed the code I am struggling with, you can find it here: https://github.com/criztovyl/gitea/blob/master/models/migrations/v200.go (200 to make merging/rebasing  easier)

Line 30, the sync of the Identity model, works as expected: the table is created.
But  Line 35, the sync of the User model, does not seem to work, the table still has the old columns afterwards.

[2020-01-12 23:45] guillep2k opened #9739 "Error 500 attempting to merge PR as admin"
- Gitea version (or commit ref): 2ecf98ed2d10aea4f1b4ba31887aa52b479c1317

## Description

When I attempt to merge a PR that doesn't have enough approvals, the `[Merge]` button shows up in red and the message _"As an administrator, you may still merge this pull request"_ is displayed. However, when I push the `[Merge]` button, a `500 Server Error` page shows up with the following error:

[code]

S

[2020-01-13 02:30] netorica commented on #923
this is needed for gitea installations available in public especially if you have been targeted with spam.

[2020-01-13 05:38] zeripath commented on #9045
Sync2 will only add columns.

If you want to delete columns you need to use:

https://github.com/go-gitea/gitea/blob/80bfd5145c7b159ebdad3746efe11378b282fa86/models/migrations/migrations.go#L348

Please note that migrations should not refer to things in models or elsewhere - those could be changed in future migrations. They have to be completely self contained - no references to other Gitea code.

[2020-01-13 05:43] zeripath commented on #9739
https://github.com/go-gitea/gitea/blob/80bfd5145c7b159ebdad3746efe11378b282fa86/routers/private/hook.go#L143

The specific override would have to go here or the line below.

[2020-01-13 05:50] zeripath commented on #9739
@davidsvantesson you did not understand that the hook always runs.

https://github.com/go-gitea/gitea/blob/80bfd5145c7b159ebdad3746efe11378b282fa86/routers/private/hook.go#L102

This is not true. In fact if you have the protectedbranchid set it's not a manual merge!!

[2020-01-13 06:15] zeripath commented on #7057
@Jookia I don't know what has spurred you to this decision but I think it's the wrong choice.

We're an open source community there is no need to work in the dark.

Rewriting the whole UI by yourself sounds like a miserable and interminable task - especially if you don't intend to upstream as we will forever be stomping over your work, and we'll never learn what it is we have to do to make things

[2020-01-13 06:50] Jookia commented on #7057
On Sun, Jan 12, 2020 at 10:15:35PM -0800, zeripath wrote:

It's a lot easier on my own energy levels especially since I'm doing
this alone anyway.

I'm not rewriting the UI, I'm just fixing up the existing UI.
The entire UI needs to be rewritten for proper accessibility, so that's
up to someone else to do.

I'm doing that in my fork.

I'm fairly sure I did that I think.

But with the amount of cha

[2020-01-13 07:06] FalconWu2017 opened #9740 "Can directly compar two commits?"
I have two commits such as 111111 and 222222.
I wanner compare the differences between 1 and 2.
How can I do for this?
`/compare/1111111...222222` is not work.

[2020-01-13 07:32] zeripath commented on #7057
But yet by privately forking Gitea you're doing precisely that.

[2020-01-13 07:47] anatanna commented on #9697
The problem with cloning is that it is freezing after question `Store key in cache? (y/n) y`. There is no problem to get answer with `ssh -T gitea@scm.example.com -p 2222`.

[2020-01-13 07:53] zeripath commented on #7057
Let's look at the "required" issue.

Fomantic's example looks like:

[code]

I guess that's not correct for ARIA.

* I guess we just need to stick the required attribute back on the inputs?
* The label also needs a for?

There's no need for upstream changes here - although an issue should be opened at fomantic to say they are recommending something that cannot work with screen readers.

A simple P

[2020-01-13 07:58] Jookia commented on #7057
I'm not intending to fix it aside from changing the CSS so the asterisk goes from a star to the text 'required'.

[2020-01-13 08:08] Jookia commented on #7057
Yeah I guess that's true (even though my fork will be public). After trying and failing to make accordions accessible in Fomantic UI, and having it randomly break in a weird way because I changed the HTML anyway I think I'm just done with all of this.

[2020-01-13 09:10] davidsvantesson commented on #9739
Ohh. Is there any way to know if it was done from the UI?

[2020-01-13 10:00] 6543 opened #9741 "Wrong meta info at issueComments on github migration"
@lunny if I migrate a repo with issues:

comments are generated wich have the correct creation timestamp but update-timestamp is "1970-01-01T01:00:00+01:00"

[2020-01-13 11:58] bagasme commented on #9741
@6543 Beginning Unix time epoch?

[2020-01-13 12:43] lunny commented on #923
We should store the last `index` on repository table or something others.

[2020-01-13 13:06] guillep2k commented on #923
That definitely sounds like a solution to the update index problem as well, as long as xorm supports `SELECT FOR UPDATE` on all our dbs. I think it does, isn't it?

[2020-01-13 13:07] 6543 commented on #9741
exactly -> migration simply dont set time on **updated** attribute

[2020-01-13 13:07] 6543 commented on #9741
updated should never be less than created :sweat_smile: ...

[2020-01-13 13:28] guillep2k commented on #923
Regarding the creation of sequential values that need to be consecutive (i.e. no holes), in a project I did long ago we had a separate table for generating those. e.g.:

[code]

This way, to calculate the next issue #, we did the following:

[code]

This way, we produced only one lock to add an issue (i.e. the actual repository row was not locked for the remaining of the transaction). Other transa

[2020-01-13 13:30] lunny commented on #923
@guillep2k that sounds better.

[2020-01-13 13:52] 6543 commented on #5436
@Cherrg your commit (https://github.com/go-gitea/gitea/issues/5436#issuecomment-503757065) is worth a own issue ... i think

@callamaris gitea v1.11.0 will have wysiwyng editor for issue and wiki - can we close this issue?

[2020-01-13 13:53] 6543 commented on #6975
this is a dublicate of #5436

and gitea v1.11.0 close this anyway ...

[2020-01-13 13:55] ABCRic opened #9745 "`gitea dump` fails if log directory is not present, even if file logging is disabled"
- Gitea version (or commit ref): bd9d480f997522212a4a842941ee3f5683878908
- Git version: all
- Operating system: all
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] No
  - [ ] Yes (provide example URL)
  - [x] Not relevant
- Log gist:

## Description

`gitea dump` fails fatally if the log directory is not present. It's arguable whether this should be fatal when file logging is enabled

[2020-01-13 13:56] bryanpedini commented on #923
@lunny solution proposed by @guillep2k seems legit like a boss; but as @DJFraz noted on 27th of Aug 2019, since issue counters are calculated runtime but then stored in database for caching, how do you think handling those should be implemented?
Thanks.

[2020-01-13 14:01] 6543 commented on #5436
@callamaris can you close this issue

[2020-01-13 14:01] 6543 commented on #6975
@ypnos can you close this issue?

[2020-01-13 15:21] morph027 commented on #8013
Huh, already forgot about ;)

We've upgraded to 1.10.2 recently and the behaviour still exists.

[2020-01-13 16:55] davidsvantesson commented on #9739
The previous code didn't even check if status checks was ok, so it didn't prevent admins (or anyone) to merge.

@zeripath So we never allow manual merges, unless user has push rights to branch? (I.e. a user with merge rights has to use the UI or API, not trying to manual merge and push). It is a bit hard to follow the code when it makes internal requests 😕

In that case this code might even be a b

[2020-01-13 17:27] ypnos commented on #6975
Can wiki pages have attached files in 1.11? I don't see it in the changelog for RC1.

[2020-01-13 17:27] 6543 commented on #6975
no they dont have attachments jet

[2020-01-13 18:30] 6543 opened #9748 "[Bug] on /milestones no repo-name"
Tested Versions:
 * 1.12.0+dev-58-g1751d5fcf
 * 1.11.0+dev-543-g134e3fdf3

If you select a repo the lable of the repo is gone:

| no repo selected: | repo selected: |
|------------------------|---------------------|
|![Bildschirmfoto zu 2020-01-13 19-28-55](https://user-images.githubusercontent.com/24977596/72281544-0f8b9e00-363b-11ea-882e-82d93f045ab4.png) | ![Bildschirmfoto zu 2020-01-13 19-29-0

[2020-01-13 18:30] fizzyade commented on #5414
This is an important feature for organisations, making sure that your team have 2fa.

Infact, I'd go as far as to say that there should be an option in team that will only allow access if 2fa is currently enabled on the users account.

[2020-01-13 18:43] ypnos commented on #6975
The aim of this issue is a consistent behavior and feature parity between Issue and Wiki editors.

[2020-01-13 18:46] 6543 commented on #6975
lets leave it open ...

[2020-01-13 19:46] criztovyl commented on #9045
Thanks for the hints :)

The issue with login_source, as far as I analysed it, is that it still requires usernames to be unique on their own.

For federation, usernames are not unique, only the Identity is (where the unique identifier for such identities is typically an URI/IRI); usernames are more like a further-limited display name.

[2020-01-13 20:15] techknowlogick opened #9750 ""Update Branch" button on PR"
Related #8659

Similar to GitHub when a branch on a PR is out of sync, then an "Updated Branch" button could be used to merge commits from upstream into PR branch (assuming no merge conflicts)

[2020-01-13 20:17] techknowlogick commented on #9750
I've just placed a bounty on this issue: https://www.bountysource.com/issues/86919260-update-branch-button-on-pr

[2020-01-13 20:58] criztovyl commented on #9045
I see, but how is the Identity referenced by the IdentityId filled? Is it automagically or do I need to add it somewhere?

And if I create the table initially, the I still need the Identity model, so I cannot leave it off, right?

[2020-01-13 20:59] guillep2k commented on #923
It's only a matter of recalculating the "cached" values, just as we do when we open/close any issue.

The problem in that comment is that the user attempted to delete the row without updating the appropriate columns to reflect the change.

[2020-01-13 21:57] criztovyl commented on #9045
And another quick question; is it possible to run gitea instance that has all the testdata from the fixtures in it's db?

I am sometimes of visual type. For example would I like to verify the profile is still displayed correctly, e.g. has the right organization assignments.

[2020-01-13 21:59] jolheiser commented on #9045
You can take a look at https://github.com/go-gitea/gitea/blob/master/contrib/pr/checkout.go as it loads fixtures to help us check PRs.

You could make a modified version perhaps.

[2020-01-13 22:26] criztovyl commented on #9045
`go run -tags "sqlite sqlite_unlock_notify" contrib/pr/checkout.go -run` works like charm :)

[2020-01-13 22:27] anatanna commented on #9697
Can anybody **reproduce** the issue? Config for buildin ssh server is in description above.

on client Windows (10.2.4.69) run command
`$ git clone ssh://gitea@scm.example.com:2222/fg-admin/new-repo.git`

meanwhile on CentOS (10.2.4.240) with Gitea+Build-in SSH i catch following:
[code]
Does anyone have working config for gitea-buildin ssh server?

[2020-01-13 22:27] criztovyl commented on #9045
besides not having hot code-reload, but I guess that's slightly more complicated :D

[2020-01-13 23:03] zeripath commented on #9750
An extension that would also be needed is to make the author suggestions ignore these merge commits too.

[2020-01-13 23:18] zeripath opened #9752 "DeleteRepoFile incorrectly handles Delete to new branch"
Whilst looking at #9708 I've noticed that there is an issue with:

https://github.com/go-gitea/gitea/blob/1751d5fcf200b7d78ec5543fa620174c69d2746a/modules/repofiles/delete.go#L49

This should be

[code]

however this breaks several tests which need to also be fixed.

[2020-01-13 23:51] lunny commented on #9740
I think it should work. Which version are you using?

[2020-01-14 00:16] lunny commented on #8266
@guillep2k could you confirm that if this has been resolved?

[2020-01-14 00:18] zeripath commented on #8013
Maybe it's the determination of isPullRequest allowed? As I wrote above the hook change I don't think can be the cause

[2020-01-14 02:33] mappu opened #9755 "template: executing "repo/issue/list" at <eq $.MilestoneID .ID>: error calling eq: invalid type for comparison"
- Gitea version (or commit ref): 1.10.0
- Git version: 2.22.0
- Operating system: Debian
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

On some repositories, on the issues page, some specific search terms (`origin

[2020-01-14 02:55] FalconWu2017 commented on #9740
I am using version 1.10.2.
![image](https://user-images.githubusercontent.com/34147999/72310302-5ec5e300-36bc-11ea-8f38-32e5eb8b0bdc.png)

[2020-01-14 03:36] lunny commented on #9755
@mappu have you tried 1.10.2?

[2020-01-14 04:17] Jonas18175 opened #9756 "Submodule Reference - wrong url on subdomain"
- Gitea version (or commit ref): 1.10.1
- Git version: 2.18.1
- Operating system: Linux (Centos 8)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [X ] No
  - [ ] Not relevant
- Log gist:
https://gist.github.com/Jonas18175/f941e4b3cc6ab31bbfc1647d1449fa8e
## Description

[2020-01-14 05:26] guillep2k commented on #8266
Sadly, no (2677d071f911fb91f382acfedaedc251bd807f70).

URL:
[code]

The _issue list_ shows the wrong info. If I navigate into the issue, I can see the correct user that closed the issue as a comment. The problem is that the issue list (`/:userid/:repoid/issues`) does't have the closer info at hand in the `issue` table.

[2020-01-14 06:14] gerritc opened #9759 "View PR in UI always returns 500"
- Gitea version (or commit ref):
- Git version: 1.11.0-rc1
- Operating system: Ubuntu 18.04.3
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:
[code]

[code]

## Description
After upgrading from 1.10.2 we can't open any pull-request

[2020-01-14 07:06] davidsvantesson commented on #9750
Maybe all commits which is merge from target shall be ignored as authors, even if not done in UI?

[2020-01-14 07:08] sapk commented on #5414
For insight, you can base yourself on https://github.com/go-gitea/gitea/pull/7621/files that display 2fa status of org member.

[2020-01-14 07:16] davidsvantesson commented on #9662
Strange. You can add it from the team settings page. It is the repo collaboration setting page that has the problem.

[2020-01-14 08:10] FalconWu2017 opened #9760 "Character code recognition error"
- Gitea version (or commit ref):1.10.2
- Git version:
- Operating system: Windows
- Database (use `[x]`): MySQL
At the beginning, I added some database script files to a Repository,These files are in Unicode encoding format,But gitea can't recognize these files and display them as binary files.
![image](https://user-images.githubusercontent.com/34147999/72324753-99dd0c00-36e6-11ea-978a-801ce1d5629

[2020-01-14 09:10] bagasme commented on #9760
@FalconWu2017 Did you push your scripts or via `Upload file`?

[2020-01-14 09:13] FalconWu2017 commented on #9760
@bagasme Yes,I did.How can I see the commit in gitea without push anything?

[2020-01-14 09:22] bagasme commented on #9760
@FalconWu2017 You have committed your change in your local repo on your workstation, but have not been pushed.

To view changes against your remote (in your case Gitea), after `git fetch origin`, invoke `git diff origin`.

[2020-01-14 09:24] fizzyade commented on #5414
Am I correct in saying that this shows the 2fa status once a user has been added to the organisation?  This I can see in my version.

What I need to be able to do, is see the 2fa status before I add the user to ensure that they've enabled 2fa.

[2020-01-14 10:19] jeremy3825 opened #9761 "Some Korean localization resources looks broken for v1.11"
- Gitea version (or commit ref): v1.11
- Git version: 1.8.3.1
- Operating system: CentOS 7
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description
Some Korean resources looks broken. I guess localization files for Korean de

[2020-01-14 10:29] #9741 closed

[2020-01-14 11:05] 6543 commented on #9012
ping

[2020-01-14 11:07] 6543 commented on #8448
ping

[2020-01-14 11:14] sapk commented on #5414
@fizzyade yes that for user in organisation.
I just mention this because tests, UI  and some part of code could be re-used or already exist.

https://github.com/go-gitea/gitea/pull/7621/files#diff-50ac9f9eb4533caadad36718d8cbccd0R37
https://github.com/go-gitea/gitea/pull/7621/files#diff-99af862ff39d136ada33d1bc83487e44R66

[2020-01-14 11:20] sapk commented on #5414
To respond to @bugbounce, the existing solution is another option (yet similar to option 2) already existing.
There is a function to retrieve the 2fa status of a user list and  return a map linking userid to 2fa status. This map can be linked to context and re-used for display.

[2020-01-14 12:00] bagasme commented on #9756
@Jonas18175 What about your `app.ini`?

[2020-01-14 12:16] pjebs commented on #9012
If you download sourcetree by atlassian, you will get a feel for how cherry picking should work.
sourcetree is a git client.

[2020-01-14 13:12] zeripath commented on #9750
Exactly!

[2020-01-14 13:27] airamrguez opened #9763 "PR review comments are deleted after push."
- Gitea version (or commit ref): 1.9.3
- Git version: git version 2.21.0 (Apple Git-122.2)
- Operating system: macOS Catalina
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [X] No
  - [ ] Not relevant
- Log gist:

## Description

Steps to reproduce:

1. Make a PR.
2. Ad