[2019-10-03 14:18] homburgs commented on #8368
Have a look https://docs.gitea.io/en-us/config-cheat-sheet/ at Section Mailer

[2019-10-03 14:18] martijintro commented on #8368
thx

[2019-10-03 14:20] martijintro commented on #8368
smtp.gmail.com:587 does not work, as described here: https://github.com/gogs/gogs/issues/4310

Then i will look on that manual..

[2019-10-03 14:21] martijintro commented on #8368
Maybe i need to restart gitea service first before the new config will be applied...(?)

[2019-10-03 14:23] martijintro commented on #8368
How can i use SSL instead if TLS with Google Mail Server smtp.gmail.com:465 ?

Can't see any options to switch to SSL here: https://docs.gitea.io/en-us/config-cheat-sheet/

[2019-10-03 14:24] homburgs commented on #8368
of course

[2019-10-03 14:27] martijintro commented on #8368
Now it works, thx, i added a few paramters then i restarted the gitea service:

[code]

Have a nice day, thx again!! :-)

[2019-10-03 14:28] #8368 closed

[2019-10-03 15:07] ArturoBernalg commented on #4137
agree with @CountMurphy, this would be really useful...

[2019-10-03 15:32] 6543 opened #8372 "[Question] how to integrate translation tools"
How can I integrate Translation Tools like **Crowdin** or **Weblate** and so ...

[2019-10-03 15:40] 6543 commented on #8372
should also in scope of https://github.com/go-gitea/gitea/issues/1029 ...

[2019-10-03 16:15] ilyakrasnovsky commented on #8356
I've been fooling around with this more after building Gitea from source. I've narrowed it down to a "no provider found" error in the `SignInOAuth` function in `routers/user/auth.go` (maybe similar to #5380, but I'm certain my auto-discovery URL is right because it works if I fill it in through the UI). I also noticed that simply restarting the Gitea application after invoking the `gitea admin aut

[2019-10-03 16:16] 6543 commented on #8084
giteas repo type "mirror" only mirrors a contend !
if you like to work with it you can converte it to a normal repository - but then it wont mirror a other repository

[2019-10-03 16:18] 6543 commented on #8084
you perhaps try to setup something like a gitlab mirror where you can also work on the mirror repo - but the technik behind isn't implemented in gitea jet (this can make sync conflict)

[2019-10-03 16:26] guillep2k commented on #8363
This can't be your Gitea version, or is it?

The syntax is correct, but I suggest you enclose your password in quotes in case some special character is getting in the way. Also, you probably need to specify the ini file location:
[code]

Make sure the path to `app.ini` is correct; otherwise Gitea will attempt to create one and the error messages will get really confusing.

[2019-10-03 16:28] 6543 commented on #8250
last stable release is 1.9.3 as https://github.com/go-gitea/gitea/releases tells you ...
and if I understand lunny right he like to have implemented the "background-migration" in v1.10.x ...

[2019-10-03 16:30] guillep2k commented on #8363
@changchichung These issues are intended for reporting bugs in Gitea. If you keep having problems changing your user password, please ask for support in our [Discord channel](https://discord.gg/NsatcWJ).

[2019-10-03 16:31] 6543 commented on #8264
I think you mix up <last change> with <last sync> ?

[2019-10-03 16:36] 6543 commented on #8367
well if i understand you are confused that the only step to upgrade gitea is to replace the binary?

[2019-10-03 16:39] guillep2k commented on #8364
Can you create a PR with the suggested changes?

Docs are [here](https://github.com/go-gitea/gitea/tree/master/docs/content/doc) (only the English docs should be modified, unless your proficient in the languages of the other existing documents).

[2019-10-03 16:47] guillep2k commented on #8250
Issue #6200 was recently moved from milestone 1.10.0 to 1.11.0. It doesn't mean that it couldn't be added to some 1.10.x along the way.

[2019-10-03 16:48] 6543 commented on #8250
:+1: @guillep2k

[2019-10-03 16:53] 6543 commented on #8328
@ikozhukhov
if you realy like to have a "forg" you can do it manualy:  https://gist.github.com/niksumeiko/8972566

[2019-10-03 16:54] guillep2k commented on #8367
Gitea contains migration procedures as part of its code. When you run a new Gitea on an older installation all the needed procedures trigger automatically, provided the previous version was not too old. Gitea maintainers put a lot of effort in keeping backward compatibility as much as possible.

As @6543 said, for a vanilla installation you just need to replace the binary. If you have some custom

[2019-10-03 16:54] #8299 closed

[2019-10-03 16:56] guillep2k commented on #8368
Perhaps it would be interesting to add this to the docs as a sample GMail configuration?

[2019-10-03 17:13] guillep2k commented on #8356
Sorry if the question is too dumb but, have you tried using quotes in your parameters when invoking from shell?

For instance, change:
`--auto-discover-url http://<MY-KEYCLOAK-DOMAIN>`
into
`--auto-discover-url "http://<MY-KEYCLOAK-DOMAIN>"`

A big gotcha with URLs is that they usually contain characters like `?` and `&` that are special delimiters in most shells.

[2019-10-03 17:16] 6543 commented on #8328
Or use a Organisation:
A:
 1. Creat a Org (if you have none)
 2. Forg repo to Org
B:
 1. Creat a Org (if you have none)
 2. Move repo to Org
 3. Forg repo to you

[2019-10-03 17:33] ilyakrasnovsky commented on #8356
@guillep2k I did try that, unfortunately I still got a 500. Inspecting it through the UI (after it's populated through the CLI) yields the exact URL I want. The actual call to `user/oauth2/keycloakoidc` (or whatever you named your authentication source) stills fails unless I click "update" through the UI, or restart the application.

[2019-10-03 19:05] LuciferSam86 opened #8373 "Segmentation Fault on Raspbian 10 with Raspberry 4"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.20.1
- Operating system: Raspbian 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Raspberry Pi 4 with Raspbian 10.
When I launch ./gitea I got "Segmentation

[2019-10-03 20:50] jolheiser commented on #8372
Here is the [Weblate Documentation](https://docs.weblate.org/en/latest/admin/continuous.html#gitea-setup)

[2019-10-03 22:25] guillep2k commented on #8328
You cannot create an organization if you're not the site admin, AFAIK.

[2019-10-03 22:26] 6543 commented on #8328
found a better solution: just "migrate" !

[2019-10-03 23:47] 6543 commented on #8372
and how about Zanata, because Framasoft host a free instance [link](https://trad.framasoft.org/)

[2019-10-04 00:28] #8363 closed

[2019-10-04 01:05] techknowlogick commented on #8372
For Crowdin the Gitea project pulls and pushes new translations via the CI system. As for Zanata you’d have to ask that project for instructions, usually it is very similar to how GitHub integration would work.

Closing this for now. Please feel free to continue this discussion on discord or the forum.

[2019-10-04 01:05] #8372 closed

[2019-10-04 01:25] lunny commented on #8250
I moved #6200 because I found we could also migrate repos from github even if we have not background migrating implementation. To move forward v1.10, so I move it to v1.10.

[2019-10-04 01:46] lunny commented on #8365
We needs a PR to implement that.

[2019-10-04 02:42] guillep2k commented on #8362
I thinks the easiest and most sensible option would be to link to the first new comment.

[2019-10-04 03:01] 6543 commented on #8372
ok ... i was going to close this anyway

[2019-10-04 03:02] ZerooCool commented on #2908
+1 for hide (all) users when i'm not login, explorer + API, but, when i'am login, i want see (all) users.

[2019-10-04 07:12] IzzySoft commented on #7748
As the stale bot chimed in: Shall I file this as a separate feature request then (to include all features of Github-to-Gitea migration also with Gitea-to-Gitea migration)?

[2019-10-04 07:15] videmort commented on #4137
+1

[2019-10-04 07:18] #8350 closed

[2019-10-04 07:21] martijintro commented on #8368
Why not, i think GMail server will used a lot...

But i'm not 100% sure the "MAILER_TYPE" parameter is required or not. Maybe it's not. (?)

"IS_TLS_ENABLED" seems to be required, it was not working without it..

[2019-10-04 10:42] lunny commented on #7748
@IzzySoft I think you can rename this issue's title or close this one and open a new one.

[2019-10-04 10:56] 6543 commented on #8250
@martijintro is your question/issue solfed

@lunny you mean 1.11.?

[2019-10-04 11:05] bagasme commented on #8353
@guillep2k What about empty page when admins can copy-paste content from online generators to?

[2019-10-04 11:09] bagasme commented on #8373
Still incomplete. Any logs from your Pi system before segfault?

[2019-10-04 11:12] bagasme commented on #8341
@lunny What about kind/question label for this issue?

[2019-10-04 11:18] martijintro commented on #8250
yes

[2019-10-04 11:18] #8250 closed

[2019-10-04 11:19] smile34 commented on #8330
we have the same problem with one of our repositories - when clicking on the repository in the web interface we get error 500

Log entry:
.../xorm/session_get.go:99:nocacheGet() [I] [SQL] SELECT `id`, `uid`, `repo_id` FROM `star` WHERE `uid`=? AND `repo_id`=? LIMIT 1 []interface {}{1, 5}
...ules/context/repo.go:605:func1() [E] GetBranchCommit: packfile not found

using:
Gitea Version: 1.9.3 built

[2019-10-04 11:30] guillep2k commented on #8353
@bagasme Not as confortable, but admins already can do that as Gitea allows them to edit templates. One can link to a wiki page, for instance.

[2019-10-04 12:57] 6543 commented on #8126
@techknowlogick when 1.10.x ? because now https://github.com/alpinelinux/aports/pull/10887 fails and im still stuck with 1.8.3!

[2019-10-04 13:22] rvillablanca commented on #7860
Is there any possibility to catch this panic ?

![image](https://user-images.githubusercontent.com/1508272/66210591-91f5e080-e690-11e9-867d-b8c0920796da.png)

[2019-10-04 13:59] oscarlofwenhamn opened #8379 "Update CodeMirror version"
We could probably update to this version now: https://github.com/codemirror/CodeMirror/releases/tag/5.43.0

_Originally posted by @techknowlogick in https://github.com/go-gitea/gitea/issues/2435#issuecomment-462993480_

---

Happy to fix a PR, though I'm not sure if it's enough to grab the latest release, look for
and remedy changes and then run the tests or of another method is required to determ

[2019-10-04 14:47] IzzySoft opened #8380 "Please implement migration features Gitea -> Gitea as available for Github -> Gitea"
This is a follow-up from #7748 (cleaned up):

- Gitea version (or commit ref): 1.9.3
- Git version: 2.1.4
- Operating system: Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
When migrating repositories from Gi

[2019-10-04 14:48] IzzySoft commented on #7748
Thanks @lunny – closing this then in favor of #8380.

[2019-10-04 14:48] #7748 closed

[2019-10-04 15:34] josh-hemphill commented on #8244
I resolved some network issues and then found that in the newest version I had to qualify the Bind DN with `DOMAIN\USERNAME` instead of just the user's CN.

[2019-10-04 15:34] #8244 closed

[2019-10-04 15:40] nikybiasion commented on #7947
The file object\XXXXXXXXXXXXXXXXXXXXXX.pack still locked

[2019-10-04 18:05] guillep2k commented on #7947
This looks like a concurrency problem, and IMHO difficult to solve in a bulletproof way. You have more than one process accessing the repo at the time of migration, so the migration code fails.

If you think your users are not accessing it, please check whether any automated tool either is running things on it or left processes behind locking the file. In Windows I've found that [Process Explorer]

[2019-10-04 19:16] hughesjs commented on #1305
@lunny tbh mate, I'd totally forgotten about this and work is now far too hectic for me to look at it I'm afraid. If nobody has gotten to it once things get back to normal I'll take another look.

[2019-10-04 19:58] #8226 closed

[2019-10-04 20:46] guillep2k commented on #8297
I've just checked. Gitea in fact doesn't let you add a user to whitelisted reviewers unless they have write access to the repository.

![image](https://user-images.githubusercontent.com/18600385/66238369-dfdd0980-e6cd-11e9-97fc-ee59c92fa189.png)

### ------------------------------------------------

![image](https://user-images.githubusercontent.com/18600385/66238750-9345fe00-e6ce-11e9-85c1-77c290

[2019-10-05 01:12] guillep2k commented on #8297
@worthy7 You can actually do this if you add your boss to a **team** with read-only access to the repository (you must include PR in the team permissions, as well as code).
Your boss will be able to approve your PRs but not merge them (perhaps this can be done with the mergers whitelist as well, I didin't try that).

[2019-10-05 01:13] guillep2k commented on #8297
Anyway, there's a PR now to allow that action for individual uses, but it (if accepted) may take some time to see light.

[2019-10-05 01:29] worthy7 commented on #8297
Thanks, the reason why I haven't separated teams for my boss is because of the annoying autocomplete issue where @mentions only work for those in your team.

My boss and the others are new to things like git and I'm trying to ease them in as simply as possible...

[2019-10-05 02:09] #8371 closed

[2019-10-05 02:15] guillep2k commented on #8297
Mmm......... never heard of that @mentions limitation. I'm browsing through the code and I don't see anything like you describe.

[2019-10-05 02:21] worthy7 commented on #8297
https://github.com/go-gitea/gitea/issues/3443

[2019-10-05 02:28] guillep2k commented on #8297
Oh, but teams and organizations are different things.
Besides, I've just tested in my server (I've got latest 1.10.0-dev) and mentions *do send notifications* for users in or outside the org; it's only that the user is not shown in the "autocomplete" feature.

[2019-10-05 02:31] worthy7 commented on #8297
@guillep2k ? Yea my issue is not with notifications... it's with the fact that autocomplete doesn't show other people outside of your "first" assigned team.
For me that means i see nobody because I'm in the admin team, alone, and in the other teams. But I just deal with it. I don't want it to be difficult for my colleagues though.

Anyway this issue is just about what we said above

[2019-10-05 02:32] lunny commented on #8297
@worthy7 which version are you using?
@guillep2k Maybe we need a  back port.

[2019-10-05 02:34] worthy7 commented on #3443
Looking at this again, assuming the system is not multi-tenant, then it should just work like Github, probably showing everyone, and proritizing based on... 1) The contexts participants (issue/PR), 2) Everyone in the Org (if applicable) and 3) everyone.

I don't see any reason why it needs to be limited to teams in the first place - it's not a secret who the other users are

[2019-10-05 02:35] lunny commented on #7735
should be closed by #7854

[2019-10-05 02:40] guillep2k commented on #8297
@lunny if this issue is about the autocomplete, then @worthy7 is right in that it's not showing every user in the autocomplete (not even in master). About the @mentions permissions.... I filed #8303 ... also present in master. I'll see if I can PR for that, then we can backport.

@worthy7 The list of users available in the autocomplete is sent in full to the browser every time a comment box appear

[2019-10-05 02:59] lunny commented on #7860
It should be an upstream library problem.

[2019-10-05 03:03] lunny commented on #8330
@pampersrocker could you send an issue to https://github.com/src-d/go-git

[2019-10-05 03:54] worthy7 commented on #8297
@lunny 1.9 I think
@guillep2k Yea, the mentions feature in general shouldn't have been accepted as a PR IMO, it barely fulfills the feature requirement really. It needs to be pinging an API for the results.

[2019-10-05 04:11] guillep2k commented on #8303
I'm working on this issue but I'm stuck with how mentions are processed regarding organizations.

If the commenter adds `@user` to a comment, this is parsed in the following way:

- An entry is created in `issue_user` for `@user`
- A mail is sent to `@user`.

If the commenter adds `@org-name` to a comment, this is parsed in the following way:

- An entry is created in `issue_user` for *each and ev

[2019-10-05 05:12] lunny commented on #8303
I would like to not do anything when added `@org-name` on comments. But `@maintainers` should be handled.

[2019-10-05 06:03] worthy7 commented on #8297
Changed the name of the issue since we now identified why (I think?)

[2019-10-05 06:20] lunny commented on #7721
I think you can create your `Dockerfile` and add that command there. For an official image, we cannot do that.

[2019-10-05 06:20] #7721 closed

[2019-10-05 06:22] #8190 closed

[2019-10-05 06:54] lunny commented on #7737
#7955 is duplicated with this one. But it reports more avatars problem. So let's close this one.

[2019-10-05 06:54] #7737 closed

[2019-10-05 06:56] lunny commented on #7750
This should be closed by #8347

[2019-10-05 09:05] vakabus commented on #8098
Pretty much same issue with different action - when reopening PR, the first comment is sent out again. Expected would be a simple message just about reopening it.

[2019-10-05 10:37] ArchangeGabriel commented on #8280
Dupe: https://github.com/go-gitea/gitea/issues/8126

[2019-10-05 11:07] LuciferSam86 commented on #8373
No logs at all. Is there a method to debug the error?

[2019-10-05 11:09] bobemoe opened #8383 "Sorting by "Nearest Due Date" puts all issues without a due date first."
- Gitea version (or commit ref): 1.10.0+dev-369-g1a2d7207e
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [X] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

When sorting by nearest due date you'd expect the overdue/imminent issues to be first in the list. If on a

[2019-10-05 11:16] guillep2k commented on #8303
Sorry, @lunny , you mean `@team-name` ? If I understand correctly, `@mention` will:

- If `@mention` is for a normal user (`@user-name`), add an `issue_user` count and mail the user.
- If `@mention` is for a normal team (`@team-name`), for every user in the team:
    - Add an `issue_user` count and mail the user.
- If `@mention` is for an organization (`@org-name`), just ignore it.

I'll be workin

[2019-10-05 11:20] bobemoe commented on #8383
I'm going to try and do a PR for this.. never used GO before, but looking at the code this _might_ be quite simple? ;)

[2019-10-05 11:31] guillep2k commented on #8098
Should be fixed by #8329

[2019-10-05 12:40] bobemoe commented on #8383
Not quite as simple as fist thought :/

Going with the first option, "filter out any issues without a due date", the above commit works, however it does not update the counts on the "open/closed" buttons.

I guess the result set is counted before it's sorted? This raises the question of should I be mixing filters into the sort function?

If its cool to do that, where should I be adapting to get th

[2019-10-05 13:21] steubner commented on #8373
The same error happens with the binary from 1.7.3 tested on a newley installed raspberrypi.

[2019-10-05 13:26] LuciferSam86 commented on #8373
@steubner Now I'm making another SD card with arch for raspi 4 and I'll update the main message.

[2019-10-05 14:00] tboerger commented on #5561
That should be implemented for the linked drone pull request.

[2019-10-05 14:02] LuciferSam86 commented on #8373
last update:
after I installed git, I run gitea under gdb and everything works. But when I execute outside gdb I got segmentation fault. I have a "core dump", who arch linux made. Here the dump: https://drive.google.com/open?id=1oP0KpZO4WfGo0lNk6cs45xAwgRP8w_Sp

[2019-10-05 14:16] #8280 closed

[2019-10-05 14:18] guillep2k commented on #8373
The core file is useless to us without the whole environment (hardware, binaries) where it was run. But you can open it with gdb nonetheless and check it yourself. I think the syntax is something like:
[code]

That should give you the stack trace of the function where the core was generated in text format. That we can use. :grin:

[2019-10-05 14:23] guillep2k commented on #8303
@lunny and others, this is what I'm working on. Please let me know if this is what you have in mind:
[code]

[2019-10-05 14:45] LuciferSam86 commented on #8373
Hi,
here the results:

[code]

[2019-10-05 15:10] guillep2k commented on #8373
`brk()` is a linux system function that allocates space in memory. Your problem seems to happen way before the first line of Gitea code is ran, during `libc` initialization. Why it seemed to work from within gdb I don't know, but perhaps the running conditions where not exactly the same.

My guess is that there's something wrong with the linux libraries you have installed (e.g. a version mismatch)

[2019-10-05 15:20] LuciferSam86 commented on #8373
This is a fresh mint installation of archlinux for arm and raspbian 10.

Any ideas?

[2019-10-05 15:43] guillep2k commented on #8373
Besides the point that Gitea should not be ran as root (for obvious security reasons and unrelated to your problem) unfortunately I know very little about the raspbian environment (only what's generic to all Unixes). So, let's hope somebody else with more experience in that area can step in.

If it may give you any pointers, the problem seems to be related with the allocation for TLS functions:

h

[2019-10-05 17:39] davidsvantesson opened #8386 "Support search qualifiers"
- Gitea version (or commit ref): master

## Description
Gitea should support search qualifiers when searching for repositories, issues, PRs or users. This would allow more flexible options when searching.

Example when searching for repos:
topic:<topic>
is:private
is:public
owner:name

Search qualifiers shall always be AND search terms (in contrast to text search which is OR).

Note: Gitea has div

[2019-10-05 17:48] guillep2k commented on #8386
Gitea version (or commit ref): 1.10.0+dev-375-g8a828500e

You can use the footer from [try.gitea.io](https://try.gitea.io/). I know this is nit-picky of me, but `master` is a relative term. :grin:

[2019-10-05 18:12] davidsvantesson commented on #8386
Sure, I am usefully more careful when posting bugs.

[2019-10-05 18:46] davidsvantesson commented on #8386
Another benefit of this way of searching is that it is more clear for the user when selecting search options in the UI. For example if selecting "Assigned to you" it would end up as "assignee:davidsvantesson" in the search field.

[2019-10-05 18:47] bobemoe commented on #8383
OK, I've found what looks like a much better place to put the code; in `setupSession`, which is used by `CountIssuesByRepo` as well as `Issues`.  The issues are still filtered as as expected but the issue count open/closed is still not correct.  I can't understand why its not working!?

[2019-10-05 18:50] rvillablanca commented on #7860
I agree with this, it is a known library problem but it is also shutting down gitea. I think this should be logged and handled in every request by default in all http handlers. Is it allowed for an unhandled panic to shutting down the whole app ?

[2019-10-05 19:00] bobemoe commented on #8383
OK, so a bit of debugging shows `CountIssuesByRepo` isn't actually getting called :(

So where are these counts coming from? Wherever it is it can't be using `setupSession`...

[2019-10-05 19:38] bobemoe commented on #8383
I think the counts come from `GetRepoIssueStats` but that function hasn't got `IssuesOptions` available.

I think I'm beat :(

[2019-10-05 21:03] guillep2k commented on #8386
Perhaps we should consider using a localizable resource for this (e.g. "assignee", "asignado", "asignato", etc.). Preferrably with many options. For example, in `app.ini`:

[code]

To avoid complicating the code too much, the system could just use the first one in the list when building the search string for the search field in the returned form, like some sort of "normalization".

As for other ki

[2019-10-05 22:06] guillep2k commented on #8383
Perhaps you can try a different route. I'm not entirely sure if this is possible, given the compatibility constraints, but for example, this kind of usage is valid:
[code]
I imagine that something like this can be done (note: it's wrong SQL, it's just to convey the idea):
[code]

This at least will send all the issues without due date to the back of the query.

The problems this may pose (if you'r

[2019-10-05 23:38] 6543 commented on #8089
with the current version test ...
* **passes** on alpine edge
* and **fialed** on my dev pc (archlinux)
* and **fialed** also on a fresh archlinux container install

modules wich fail on arch:
[code]

[2019-10-05 23:57] 6543 commented on #8089
**fixed** it on the fresh arch install

so I'll close this for now ...

[2019-10-06 00:05] #8287 closed

[2019-10-06 00:29] 6543 commented on #7569
tested with current version https://github.com/go-gitea/gitea/commit/8a828500e689b7958e050ebd2dc46d380c3d6ae6

System: Linux 5.2 | Manjaro | Firefox 69.0.1 (64-Bit)

result: still exist

[2019-10-06 02:10] 6543 commented on #7976
smal notes I'll work with:

 * [ ] add new lable "Included" color:jelow
 * [ ] string wich tells: "this branch was manualy merged or is in some way already included in the default branch"
 * [ ] some code ...

[2019-10-06 02:26] 6543 opened #8387 "[Bug] Go-Dependency | invalid pseudo-versio"
go: github.com/go-macaron/cors@v0.0.0-20190309005821-6fd6a9bfe14e9: invalid pseudo-version: revision is longer than canonical (6fd6a9bfe14e)

[2019-10-06 02:29] 6543 commented on #8387
needed for https://github.com/alpinelinux/aports/pull/10887

[2019-10-06 02:29] techknowlogick commented on #8387
This is resolved in gitea 1.10-dev, We are unable to backport it.

Gitea 1.9.x does not support go1.13

[2019-10-06 02:37] #8089 closed

[2019-10-06 02:39] 6543 commented on #8387
@techknowlogick alpinelinux user are still on giea version 1.8.3 !
an i had a PR wich get tehm 1.9.3 but **this** is blocking it and to wait until 1.10.x has its first stable release will take a wile :(

[2019-10-06 02:40] techknowlogick commented on #8387
@6543 sadly this error is caused by an upstream library, and we have resolved this, but sadly in a way that can't be backported. 1.10 milestone is almost complete (less than 5 PRs left).

[2019-10-06 02:40] 6543 commented on #8387
this: https://tip.golang.org/doc/go1.13#version-validation
is telling me that we would only add one line in go.mod

[2019-10-06 02:42] 6543 commented on #8387
the diff would be:

[code]

[2019-10-06 02:43] techknowlogick commented on #8387
Please send PR for this against release/v1.9 banch :)

[2019-10-06 02:43] 6543 commented on #8387
THANKS

[2019-10-06 02:58] 6543 commented on #8387
with the first changes `make` will get an errror but `go build` run just fine ...
after it the diff looks similar but now make run too ...

ill send the filan patch as PR ...

[2019-10-06 03:04] 6543 commented on #8387
@techknowlogick  https://github.com/go-gitea/gitea/pull/8389

[2019-10-06 03:16] guonaihe1994 opened #8390 "Use a period of time to start a problem"
[code]

[2019-10-06 04:11] #8387 closed

[2019-10-06 04:23] guillep2k commented on #8390
`/data/git/.gitconfig.lock` is this path OK? `/data` at the root of your system? Perhaps `app.ini` is not correctly configured?

[2019-10-06 04:44] guonaihe1994 commented on #8390
/ Data/git/.gitconfig.lock is normal, app.ini configuration has not been moved, suddenly today, boot is not good.

[2019-10-06 08:43] bobemoe commented on #8383
Thanks for the input :) This seems to work for:

[code]
I'm not sure if using ORDER BY CASE WHEN THEN would be more efficient? I'm sure either way will mean the deadline index cant be used for the ordering - if it even exists and was used in the first place I'm not sure.

Are there any tests I can run to ensure compatibility?

[2019-10-06 08:49] davydov-vyacheslav opened #8392 "[Question] assign to PR users outside project"
I have a question about the process which is not usual and I haven’t found proper solution so far.

I have group of people who implement independent tasks. The tasks are the same for each person and the person can implement tasks in any order.

As of this I’d like to make it able to add to specific Pull-Requests certain person(s) (who have already implemented the task) who don’t have access to the

[2019-10-06 08:55] davidsvantesson commented on #8386
I am so used working in English so I didn't consider localization, but it sounds like a good idea.

I also think the current behavior with splitting on "," should be reconsidered, although it would be a breaking change. It doesn't feel very standardized and is not documented (I didn't know about it before looking into code). I think it is better to search each white-space separated word separately

[2019-10-06 11:23] pampersrocker commented on #8330
If you look at the issues in [src-d/go-git](https://github.com/src-d/go-git) ( src-d/go-git#1223 , src-d/go-git#1149 , src-d/go-git#1153 ) this is caused when a `git gc` run is not completed successfully and `.tmp` files reside in the `.git/objects/packs` directory.

A workaround for now is to manually run `git gc` in the affected repositories and let it complete. This fixed it on my end.
The actu

[2019-10-06 12:07] guillep2k commented on #8383
Yes, there are the [integration tests](https://docs.gitea.io/en-us/hacking-on-gitea/). Currently the example in the Hacking Gitea page points out only to sqlite (which is embedded in the code, so always available), but to test other databases you'd have to install them yourself.

But for a single statement like this I suggest try using one of the online pages like [SQL Fiddle](http://sqlfiddle.com

[2019-10-06 12:13] guillep2k commented on #8392
Perhaps you can make each one of them work in a different fork? You'll have to create different "users" managed _by you_ to make several forks. Then for each fork you can add one of those people as a collaborator.
Then you control how and when you update each fork or the main project.

[2019-10-06 12:20] guillep2k commented on #8386
I agree with you about the spaces. As a breaking change, there are three options the way I see this:

1. Change the behavior, make the users aware and get used to it (Github and search engines works with spaces, so I think this won't get too much resistance).
2. Keep the current behavior.
3. Add an `app.ini` flag to switch between old and new behaviors.

In this matter I'm all for (1), but it's ju

[2019-10-06 13:01] guillep2k commented on #8390
If this happened suddenly on a previously working installation, it sounds like a support problem rather than a bug (this form is intended for reporting Gitea bugs). Please ask questions or configuration/deploy problems on our Discord server (https://discord.gg/gitea) or forum (https://discourse.gitea.io).

At least please also give:

- Gitea version (or commit ref): ***This one is essential***
- G

[2019-10-06 13:15] bazsodombiandras commented on #6700
The ARM v6 version of Gitea 1.9.3. is NOT working on ODROID XU4. The Gitea service keeps restarting. If I switch back to the v1.7.5 binary, everything is fine. And why arent't there ARM v7 binaries build anymore? Will this compatibility problem be solved properly or has ARM v7 been given up on completely?

[2019-10-06 13:17] jovandeginste commented on #7771
So... it just won't be fixed then? What a strange procedure!

[2019-10-06 13:39] davydov-vyacheslav commented on #8392
@guillep2k thank you for reply!
So, each fork is managed separately and have different collaborators. That looks good.

The one question I have is the stage, when we're making the fork. If we're making the fork on demand, that means that the fork contains previous work (implementation of tasks A, B, C) which should not be shown to all of the other members (including the members who added to forked

[2019-10-06 14:14] HarvsG commented on #8299
@noerw, thank you for doing this in #8357, should we now explore the idea of the more general `markup` class and switching to this?

[2019-10-06 14:18] steubner commented on #8373
The problem is related to the kernel version you are using.
On my pi running kernel version: 4.19.66-v7+ gitea is working without problems. The other two pi´s - where gitea gave the "segmentation fault" - are running kernel version: 4.19.75-v7+.

You can check it with following commands:
`cat /proc/version`
OR
`uname -a`

Therefore the workaround for the issue would be to go back to the old kernel

[2019-10-06 14:19] guillep2k commented on #8392
I'm not quite sure of what's exactly your use case (pehaps a classroom?) but yes, you need to fork the original project when it's "pristine" and never merge any PRs into it. You can have a third fork (invisible to other people) where you can merge PRs when you feel like it.

If you want to keep secrecy, I'd warn you that git (the tool behind Gitea) is too good retaining history, so "stomping" on o

[2019-10-06 14:34] LuciferSam86 commented on #8373
Thank you. I'll open a ticket, there, too.

[2019-10-06 17:34] HarvsG opened #8394 "git on Gitea ignores the repo's .gitattributes and uses its own"
- Gitea version (or commit ref): 1.9
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

Not really sure if this is a bug or a feature. But if a repo has a .gitatt

[2019-10-06 18:20] guillep2k commented on #8394
`git config` has only local scope (your computer), either if you use `--global` or not. When you push to a remote (whether it  runs on Gitea or not), configuration is not transferred. The `--global` flag means "for all projects in this computer", not "for all copies of this repository".

[2019-10-06 18:26] HarvsG commented on #8394
@guillep2k I am aware of this I will clarify my post to make this clearer

[2019-10-06 19:23] Tekaoh commented on #8284
I did some deeper digging and found that when you make a wiki page with special characters in the title from within Gitea (instead of from a mirror), it actually saves the file with escaped characters in the filename. So my solution at #8374 would break any existing wiki pages with special characters in the title because Gitea would be looking for unescaped characters in the filename.

This presen

[2019-10-06 19:37] bobemoe opened #8397 "Referenced issue link erroneously added when # is used in a code block"
- Gitea version (or commit ref): 1.10.0+dev-377-gbc5a479fe

## Description

I see recently new functionality https://github.com/go-gitea/gitea/issues/4302 that adds a backlink to the referencing issue.

However its being added if #{id} is found in a code block, e.g:

[code]

See https://try.gitea.io/bobemoe/test/issues/4

I also notice if you edit your comment, you get a duplicate reference link.

[2019-10-06 20:00] lafriks commented on #3815
Imho this should be resolved on master branch

[2019-10-06 20:00] #3815 closed

[2019-10-06 20:28] guillep2k commented on #8397
This should be fixed by #8261

[2019-10-06 23:11] 6543 commented on #7692
@aamsur this: https://github.com/go-gitea/gitea/pull/8402 should close this issue?

[2019-10-06 23:26] 6543 commented on #8205
@typeless

can we move this out of 1.9.4 ?

[2019-10-06 23:36] Testyourstuff opened #8405 "Link to blank page on issues of organization"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.11.0
- Operating system: debian9
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
  - [x] MariaDb 10.1
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) https://try.gitea.io/org/DemoOrga/issues?type=all&repo=13839&sort=&state=open
  - [ ] No
  - [ ] Not relevant
- Log g

[2019-10-07 00:25] guonaihe1994 commented on #8390
The problem is that my LINUX system is full of disks, causing write not to go in.

[2019-10-07 00:26] worthy7 commented on #8173
@johnchristopher Can you recreate this on https://try.gitea.io?

[2019-10-07 00:29] worthy7 commented on #12
Just to add my 2 cents here, I think if this is a not a feature in GitHub, then we shouldn't really try to copy it.
No doubt this idea has been raised with GitHub internally and they decided not to implement it (to my knowledge at least?). So although it sounds good, this is just one of the down-sides of open source really. on the upside - unlimited contributors!

[2019-10-07 00:39] mowestusa opened #8406 "Snap Package Fails to Complete Install After Trying to Register"
-->

- Gitea version (or commit ref): Snap Package installed
latest/edge | v1.9.0-dev+git29.d578b71 | 27 March 2019

- Operating system: Fedora 31 beta Workstation (installed snap package)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log

[2019-10-07 00:58] worthy7 opened #8407 "Make Protected Branches -> Approvals section easier to understand"
Small issue concerning UX design which at least caused me a little bit of confusion.

1. `Allow only to merge pull request with enough positive reviews of whitelisted users or teams.`
   -> `Allow merging of pull requests only with enough positive reviews from approvers.`

2. `Whitelisted reviewers:` -> `Reviewers:`

3. default text set to `Search contributing teams or users...`

4. Add a checkbox

[2019-10-07 01:45] lunny commented on #8297
Since #8398 merged, I will close this.

[2019-10-07 01:45] #8297 closed

[2019-10-07 01:48] lunny commented on #7692
I think yes.

[2019-10-07 01:48] #7692 closed

[2019-10-07 01:50] typeless commented on #8205
@6543 no problem.

[2019-10-07 03:04] #8069 closed

[2019-10-07 03:12] Tekaoh opened #8410 "Filenames for wiki pages with special characters"
Gitea currently saves wiki pages with special characters in the name as files that contain escaped characters in the name. (Example: `Title with comma, ampersand & [brackets]` = `Title-with-comma%2C-ampersand-%26-%5Bbrackets%5D.md`)

I propose that Gitea should be saving these pages as filenames with _unescaped_ characters. (Example: `Title with comma, ampersand & [brackets]` = `Title-with-comma,-

[2019-10-07 04:59] #8170 closed

[2019-10-07 06:25] smile34 commented on #8330
manually triggered garbage collection via gitea site administration page and the issue is fixed. Thank you!

[2019-10-07 07:00] nikybiasion commented on #7947
I've tried with Process Monitor, pack file is locked by gitea.exe. I've put a 30sec pause before the rename, close the locked file with Process Monitor and after the pause, the repository is transfered right

[2019-10-07 09:50] bagasme commented on #8407
Please consider also the case when the approvers are *writers*, as per #8288 (which I open the issue).

[2019-10-07 10:12] MuresanVladMihail opened #8412 "Gitea 1.9.3 fails to start"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.11.0
- Operating system: Debian (Raspberry PI 3 B+)
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Yesterday I was able to access my gitea page without any kind of proble

[2019-10-07 10:47] aamsur-mkt commented on #7692
@6543 yes, thanks @lunny

[2019-10-07 11:14] 6543 commented on #8412
did the raspberry shutdown normaly?
or did you cut the power?

[2019-10-07 11:16] MuresanVladMihail commented on #8412
The power was cut

[2019-10-07 11:23] 6543 commented on #8412
Maybe the database is now corupt .. but sqlite should be quite resistant ...

[2019-10-07 11:32] MuresanVladMihail commented on #8412
If that's the case then perhaps someone can help me recreate the necessary database for gitea and copy the old content into the newly created one.

[2019-10-07 11:48] lunny commented on #8179
@bobemoe do you have permission of writing issues? The deadline only be set when users have write permission of issues unit.

[2019-10-07 12:06] davydov-vyacheslav commented on #8392
@guillep2k
1) yes, this all about the classroom
2) yes, we're using git and I know about its history. Thats the main problem.

I have been investigating the possible flows for a while and got concluded that there is no way to create project-only-for-review with ability to view only separate PR. I've got one idea: we can create PR to separate / standalone code-review system (with particular authori

[2019-10-07 12:10] guillep2k commented on #7947
I think that some git operation was transferred from `git` to a go library (`go-git`?) in 1.9.0. Perhaps that library does some caching or needs some garbage collection in order to free the files?
@nikybiasion Please try the following: remove the delay from the code, but wait in the UI 30 seconds before pressing the last confirmation button. If the problem goes away, it means that the lock is prod

[2019-10-07 12:14] guillep2k commented on #7947
Another interesting test is placing the 30s delay in different parts of the code, from the earliest point to the latest (you know that one works), until we find the point that is introducing the lock. BTW good catch!

[2019-10-07 12:23] Jaffex commented on #8342
On my own server, here's the specs:

- Gitea version (or commit ref): 1.9.0
- Git version: 2.7.4
- Operating system: Ubuntu 16.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite

[2019-10-07 12:26] guillep2k commented on #8392
It this is for a classroom, what I'd do with Gitea is the following:
- Have a main *pristine* project, which is private. This one should never receive the students' work.
- Add all students to a team ("students"), able to view code (no PR).
- All users need to fork the main repository; *their* repos must be private as well.
- The users need to add you as a collaborator (admin) of their forks.
- Ma

[2019-10-07 12:55] blueworrybear commented on #3618
Hi, I am working on this issue recently.

I would like to reuse **dropzone**'s UI to allow user editing attachment.

Here is the preview of current progress:

![edit-attachment0](https://user-images.githubusercontent.com/1456219/66313101-5b47f080-e944-11e9-8cff-1af43fb6e3d3.png)

When user click **edit** button on issue with attachments:

![edit-attachment1](https://user-images.githubusercontent.c

[2019-10-07 13:37] guillep2k commented on #8412
I think it's not the database (which I suggest you change from sqlite anyway) but the bleve indexes. These are located in `indexers/issues.bleve` and `indexers/issues.queue`. AFAIK you can safely delete those and restart your instance (but just in case, just move them to another directory as a backup).

[2019-10-07 13:56] MuresanVladMihail commented on #8412
@guillep2k Thanks for the feedback! Where can I locate this folder `indexers/`?

[2019-10-07 14:02] 6543 commented on #8412
The path is written in the app.ini config file

[2019-10-07 14:04] MuresanVladMihail commented on #8412
@guillep2k The path you mentioned is empty.

[2019-10-07 14:21] MuresanVladMihail commented on #8412
@guillep2k It worked, thanks a lot!
I'll leave the issue open until a mod can examine the issue as well.

[2019-10-07 15:40] Mr-Reca opened #8413 "Active Directory not working"
- Gitea version (or commit ref): gitea:latest from Docker
- Git version: gitea:latest from Docker
- Operating system:
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log gist:

## Description
I'm trying to configure AD Authentication. I foll

[2019-10-07 16:06] guillep2k commented on #8413
I guess `<username>` is something you replaced, not something that actually shows up in your log, isn't it?

[2019-10-07 16:14] Mr-Reca commented on #8413
Yes. I put a “placeholder” because of internal policies.

[2019-10-07 16:26] guillep2k commented on #8413
Anyway, you need to replace some of the values depending on your configuration. For example, for my own system ("miempresa.es"), it should be something like this:

- ***Báse de búsqueda de usuarios***: `CN=Users,dc=miempresa,dc=es`. Notice that it's `CN=` and not `OU=`; also in my case it's `Users` and not `Usuarios` (my server was installed in English, but I believe that this doesn't change with

[2019-10-07 19:35] wroghtast opened #8415 "teams webhook missing commit message"
We are using both slack and teams webhooks. In the teams webhook, the commit message is missing.

Regards

[2019-10-07 22:58] guillep2k commented on #7735
So this should closed?

[2019-10-08 00:33] guillep2k commented on #7860
@lunny @strk I've just filed a PR in [go-libravatar](https://gitlab.com/strk/go-libravatar/merge_requests/1) to address this.

[2019-10-08 03:39] lunny commented on #7735
I think the problem is still there. I will test it locally.

[2019-10-08 03:46] bagasme commented on #8406
Any log gist?

[2019-10-08 03:49] bagasme commented on #8386
For 1.10, I choose option 3 (as a transition into proposed behavior), and on version 1.11, use option 1 (remove transitional flag).

[2019-10-08 04:00] bagasme commented on #8410
At least NTFS (on Windows) allows filenames with `,`, `&`, and `[` `]`, not sure about FAT file system.

However, consider the case when NTFS also forbids `<`, `>`, `:`, `"`, `/`, `\` `|` `?` and `*`. If any of those forbidden characters are present on wiki page file name, Gitea should throw `Illegal characters on file name` error (only when Gitea is installed in Windows).

[2019-10-08 04:06] Akito13 opened #8420 "Commiting an empty file on the WebUI is ignored"
- Gitea version (or commit ref): b84a251fc
- Git version: any
- Operating system: any
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description

Not sure if this is intended.
Commiting an empty file on the WebUI does not work.

[2019-10-08 04:08] Tekaoh commented on #8410
That's an interesting point. I wonder how Gitea handles cases of files in regular repositories with these illegal characters in the filenames. They could potentially be pushed from Linux machines or created in the web browser. Only filenames in wiki repositories seem to be escaped currently.

Also, I wonder what would happen if you tried on Windows to clone a wiki repo from github that has pages w

[2019-10-08 04:18] bagasme opened #8421 "Help link on Empty Repository Quick Guide"
- Gitea version (or commit ref): 1.9.0
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:
(not relevant)

## Description
On empty repository, there is `Quick Guide` when visiting

[2019-10-08 04:35] guillep2k commented on #8410
Consider repositories where you have:
[code]

[2019-10-08 05:58] thibaultmeyer commented on #7805
Any news about this bug ?

[2019-10-08 06:36] davidsvantesson commented on #8386
@bagasme This is only a proposal issue so far.

I think the only change of behavior would be that comma should be replaced with no comma, and exact searches need quotes. The previous behavior was undocumented anyhow, I think we can add documentation for the new behavior. The special queries can be kept for backward compatibility (like &topic=1)

Preferably there shall be a "best match" sorting, li

[2019-10-08 06:55] Mr-Reca commented on #8413
I also tried that configuration.

I opened the issue because there are lots of links with configurations and none of them works. I think that maybe something is missing (in documentation or implementation of LDAP)

[2019-10-08 07:26] 8ctopus opened #8423 "LFS files not deleted with repository"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.17.1
- Operating system: Ubuntu 18.04.3 LTS
- Database (use `[x]`):
  - [x] MySQL
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Not relevant
- Log gist:

How to reproduce:
1. Clean installation of gitea 1.9.3 on Ubuntu with git LFS enabled and path set

[code]

2. Create a new repository "repo" in gitea
3. Clone the repository

[2019-10-08 08:53] wpmp commented on #8092
Will this issue also be resolved in 1.9.4 or 1.10.0 only?

[2019-10-08 08:59] Mr-Reca commented on #8413
Hi @guillep2k ,

I tried AdFind and the same query does not work in Gitea. Is it better to close this issue and talk through the forum, or do you think it can be something? Is it possible to test this feature with another AD?

Thank you so much for your time,

[2019-10-08 09:07] foosinn opened #8424 "Proposal: Mirror an entire github organization into gitea organization"
As suggested in #7417:

The issue was closed as a duplicate of #7212, but that issue seems to be deleted?

[2019-10-08 12:10] guillep2k commented on #8413
@Mr-Reca The AD feature is not only used in many installations (it's a popular way of using Gitea) but it's also tested every time a single line of code is added to Gitea in our [continuos integration tests](https://drone.gitea.io/go-gitea/gitea/13546). Everything is susceptible of having bugs and we're far from 100% test coverage, so bugs *can still slip in*.

Anyway, [check this link](https://di

[2019-10-08 12:44] Tekaoh commented on #8410
Those don't have special characters though, so escaping them is irrelevant. Since you're allowed to have those filenames on Linux, I wonder what would happen if you create them on Linux and push to Gitea running on Windows.

Gitea doesn't actually store the files, just Git trees. So those files in a repo wouldn't necessarily exist in the Windows filesystem even if Gitea is installed on Windows. Th

[2019-10-08 16:04] kstan79 opened #8428 "Where is the /img/auth/openid_connect.png?"
I'm using keycloak to integrate gitea, so far so good. However I wish to change the openid logo in login form so that user less confuse. However I can't find anyway a way to change/override the /img/auth/openid_connect.png.

[2019-10-08 16:22] nikybiasion commented on #7947
if i go to transfer page, wait until the lock disapper, click transfer, i get 500 error and the pack file became locked.

[2019-10-08 18:00] guillep2k commented on #7947
Good to know; if you can confirm that no other accesses were being made to that repo, that should tell us that Gitea is locking itself withing the transfer procedure. That certainly shortens the search.

[2019-10-08 18:12] guillep2k commented on #7750
This should be reopened as per #8427

[2019-10-08 18:18] Perflyst opened #8430 "Minify Javascript"
Javascript minify could be better in gitea. According to this test https://gtmetrix.com/reports/try.gitea.io/4Rz4MxWz it would reduce the size by 48KiB.

[2019-10-08 18:44] mmarif4u commented on #8224
Hi @lunny seems Gitea.com is on more latest commit which should have this fix already.

But unfortunately it is still showing wrong count. Maybe it is related to PRs count in labels?

Check here
https://gitea.com/mmarif/GitNex/labels

[2019-10-08 19:48] #7860 closed

[2019-10-08 21:09] lafriks commented on #8428
shoud be under `<gitea-data-dir>/custom/public/img/auth/openid_connect.png`

[2019-10-08 21:09] #8428 closed

[2019-10-08 23:56] markkrj commented on #8413
Considering Active Directory, your User DN is wrong. It must be CN=username,OU=your,OU=user,OU=organization,OU=unity,DC=your,DC=domain. But you really must consider using an bind DN, it is more secure.

[2019-10-09 01:13] guillep2k commented on #8224
The counts will be fixed only after someone adds/removes an issue from the milestone.

[2019-10-09 01:14] guillep2k commented on #8224
The counts will be fixed only after someone adds/removes an issue from the milestone.

@lunny Perhaps it's worth a migration step for 1.10.0 to "normalize" the database?

[2019-10-09 04:01] guillep2k opened #8434 "Most attachments deleted from server when upgrading to 1.10.0-dev from 1.9.3"
I've just upgraded my company server to 1.10.0-dev from 1.9.3 and most attachments from issues were gone from the file-system (they were still there in the `attachment` table). Lucky me I had a good backup at hand and recovered them all, so no worries there. However, this is something we should definite look into.

I've checked what migration steps new to 1.10 are related to attachments and I've f

[2019-10-09 04:24] bagasme commented on #8386
@davidsvantesson Besides documenting (proposed) new behavior, the old one should also be documented too. This come handy when we switch to new behavior, and users complain when their old/undocumented syntax doesn't work anymore and they want explanations...

[2019-10-09 06:09] guillep2k opened #8436 "Secret should be removed from webhook body by default"
Gitea version: 1.10.0-dev 3810fa48ac46620432fbf91571a01eeea0b460b3

Since header signatures were introduced in #6428, I think the default behavior should be to remove the secret from the body of the webhook request, as it is exposed in plain text and defeats the purpose of the signature. It's usually not a problem when the connection is https, but many struggle to configure that kind of setup, esp

[2019-10-09 07:22] Mr-Reca commented on #8413
Hi @markkrj

I'm trying now withou LDAPS for testing, I'll set it up later. Is it safer to user BindDN? When I check this option, Gitea says that this value will be stored in raw.

I'll try to change my user DN. Thank you so much for your time,

[2019-10-09 08:20] lafriks commented on #8413
User DN should probably be:
[code]

Does `sAMAccountName` is the same as `CN=` for users?

If it is not that it will not work and you should use something like this for user filter:
[code]

[2019-10-09 08:23] lafriks commented on #8413
Also for AD I would probably recommend using `LDAP (via BindDN)`

Of course you need to create service user in AD for this

[2019-10-09 08:25] Mr-Reca commented on #8413
No, it's not the same. the CN in User DN is the display name. sAMAccountName is the username

[2019-10-09 08:29] lafriks commented on #8413
That is why id does not work as you enter user CN but user filter filters it out as it does not match

[2019-10-09 09:24] lunny commented on #8092
It will be on 1.10.0 only

[2019-10-09 09:25] lunny commented on #8224
@guillep2k yeah, a migration will fix all the wrong counting. Good idea!

[2019-10-09 09:28] wilsandbrink opened #8437 "Template error when trying to visit mirror settings page"
- Gitea version (or commit ref): 1.10.0+dev-380-g356e1a70e
- Git version: Not sure since it's gitea.com
- Operating system: Not sure since it's gitea.com
- Database (use `[x]`): Not sure since it's gitea.com
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) Create a new mirror and try to visit the se

[2019-10-09 09:33] Mr-Reca commented on #8413
So I could configure to use `displayName` which matchs with DN, but I am not able to use `sAMAccountName` ?

[2019-10-09 09:36] #8434 closed

[2019-10-09 09:58] bagasme commented on #8410
@Tekaoh And Git stores any repo data (including the wiki repo) as blob object with SHA-1 hash as blob's name. If you interested see [explanations from Pro Git book](https://git-scm.com/book/en/v2/Git-Internals-Git-Objects).

Since the hash just contain 0-9 and a-f, the object can be stored anywhere, even on Windows (NTFS).

[2019-10-09 10:00] bagasme commented on #8437
I need more comprehensive log instead of just error message...

[2019-10-09 10:00] bagasme commented on #8430
Which JS files you think should be minified?

[2019-10-09 10:04] wilsandbrink commented on #8437
I won't be able to provide that since I don't have access to the gitea.com and try.gitea.io logs.

[2019-10-09 10:04] bagasme commented on #8383
When doing tests, consider when end-user install distro version of Postgres or MySQL/MariaDB instead of latest upstream version and ensure that your SQL statement works correctly.

[2019-10-09 10:05] bagasme commented on #8437
So can you reproduce this issue on your local Gitea server?

[2019-10-09 10:06] wilsandbrink commented on #8437
I'm not currently hosting a gitea instance.

[2019-10-09 10:08] bagasme commented on #8392
@guillep2k Should the main (pristine) project repo also protect its `master` branch?

[2019-10-09 10:42] Perflyst commented on #8430
index.js is the most important one

[2019-10-09 11:54] guillep2k commented on #8392
@bagasme There's no need. Students need only read permissions, so protecting the branch from the teacher would be an unnecessary step IMHO.

[2019-10-09 12:15] browcio opened #8439 "User can add more commits to PR after gaining approval"
- Gitea version (or commit ref): 1.9.4
- Git version:    2.17.1
- Operating system: ubuntu 18.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (https://try.gitea.io/ppiwowa2/testrepo/pulls/1)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description
We observe that user can add more commits t

[2019-10-09 13:09] #8437 closed

[2019-10-09 13:14] wpmp commented on #8092
Too bad, thanks.
Hope 1.10.0 will come out soon :)

[2019-10-09 14:59] martijintro commented on #8264
maybe the `"x days ago" on front page` is the repo creation date and not the date of the last sync...(?)

[2019-10-09 15:00] martijintro commented on #8264
`I think you mix up last change with last sync ?`

That should be be the same if i only commit/push to the remote repo.

[2019-10-09 15:02] martijintro commented on #8084
OK, thx.

What is "contend" ?

"gitea akts like a real mirror - you CAN change things in the real world but the mirror only display a inverted version wich CANT BE MODIFIED"

...all ok, thx again! :-)

[2019-10-09 15:03] martijintro commented on #8367
thank you very much, will try that.

[2019-10-09 15:04] 6543 commented on #8084
commits & branches

[2019-10-09 15:15] 6543 commented on #8264
at the front a mirror is like a normal repo with an extra icon ...
-> Updated x  use the timestamp of the commit

[2019-10-09 15:32] Xumeiquer commented on #7077
Are there any news on this? any plan when is it going to be added?

[2019-10-09 15:35] sapk commented on #8367
@martijintro I think that your question has been answered.
I will close this issue so.
Feel free to re-open it if needed.

[2019-10-09 15:35] #8367 closed

[2019-10-09 15:39] lunny commented on #7077
Nobody are working on this.

[2019-10-09 15:50] lunny commented on #7803
Still a bug.

[2019-10-09 17:36] davidsvantesson commented on #8439
I think this should be the standard behaviour, but a new setting could be added. In Github this is called "Dismiss stale pull request approvals when new commits are pushed."

[2019-10-09 17:41] jolheiser commented on #8439
Similar, possible duplicate of #5997

[2019-10-09 17:41] bertptrs opened #8443 "Merging pull requests results in HTTP 500"
- Gitea version (or commit ref): 1.9.4, also happened in previous versions
- Git version: 2.17.1
- Operating system: Ubuntu 18.04 Bionic Beaver
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

[code]

## Description

Whenever we at

[2019-10-09 18:49] #8284 closed

[2019-10-09 18:52] lafriks commented on #8439
Yes, duplicate of #5997

[2019-10-09 18:52] #8439 closed

[2019-10-09 20:19] davidsvantesson commented on #8386
I tried to do some research on 'best match' text searches for sql. Most solutions are tied to specific sql databases (eg. oracle: [REGEXP_COUNT](https://docs.oracle.com/cd/B28359_01/server.111/b28286/functions135.htm#SQLRF20014), MsSQL: [Rank](https://docs.microsoft.com/en-us/sql/relational-databases/search/limit-search-results-with-rank?redirectedfrom=MSDN&view=sql-server-2017)).
I found one solu

[2019-10-09 20:34] guillep2k commented on #8386
I think bleve can do that; it's the default text search engine for issues. I don't mind if simpler SQL indexing lacks this kind of feature.

For SQL search it's hard to decide what should count as "best match". Number of times a word appears in the title? (that should be low) Number of times it appears in the body? Number of *comments*, counting the body, that contain the word? Most of these will

[2019-10-09 20:47] wgevaert commented on #8443
Issue seems to be caused by [this line of code](https://github.com/go-gitea/gitea/commit/baefea311f#diff-3118802184bbc1301bbf65e551886506R128)
That line of code seems to be explicitly setting LFS-config values. However, these values are already set by default in `module/setting/setting.go` in the function `CheckLFSVersion`. Therefore, I think the lfs-settings in the merge-code should be removed, t

[2019-10-09 20:53] guillep2k commented on #8443
Can you send a Pull Request changing that?

[2019-10-09 20:53] zeripath commented on #8443
@wgevaert you're right it's that line which is producing that . IIRC I think they're necessary because of weirdness with LFS and I had to add them.

@bertptrs What version of git are you running on the server? Check the logs - make sure that the version is what you say it is.  `git config --local` is only available from git 1.8.0.

There's probably something else happening here.

[2019-10-09 20:55] bertptrs commented on #8443
@zeripath git version is as checked on the server. It is the default version shipped with Ubuntu 18.04.

[2019-10-09 20:56] davidsvantesson commented on #8386
Sounds reasonable. So a best match search for repositories would need a bleve only for name, description and other repository metadata.
My concern is that if adding more search words only add more repositories being matched without any reasonable sorting, it might not be very useful. Usually you want to narrow down your search by adding more search terms.

[2019-10-09 20:57] zeripath commented on #8443
Is there anything else in that log?

[2019-10-09 21:02] bertptrs commented on #8443
It is the only `[E]` level log, there are various other informational level logs regarding the ORM, none which stick out as problematic or specific to the problem. Are there any switches I could turn on to get a better picture?

[2019-10-09 21:05] zeripath commented on #8443
Hmm... The trouble is going to be trying to figure out why git config is emitting information. It's weird because AFAIU - although I haven't been able to definitely crawl through git's config.c - `git config --local KEY VALUE` should not emit anything unless there is an error

[2019-10-09 21:10] zeripath commented on #8443
The message is a bit like a fetch message too. So weird.

[2019-10-09 21:14] bertptrs commented on #8443
@zeripath Your message got me thinking and it turns out that we have a wrapper for git which prevents us from running it as root. Unfortunately, it also did some unwanted word-splitting in the arguments. When I fixed that the issue disappeared. Thank you for your help.

[2019-10-09 21:14] #8443 closed

[2019-10-09 21:16] zeripath commented on #8443
Hah Wonderful. Knew there was something weird going on!

I was about to suggest running gitea with GIT_TRACE=/some/file/name and seeing whether that helped.

[2019-10-09 23:09] 6543 commented on #6375
@lunny can you add this to v1.11.x ?

because it sounds very usefull

[2019-10-09 23:13] 6543 opened #8444 "[Feature Request] At Pull Request: download patchfile [Button]"
add a option to download the patch of the PullRequest

GitLab has a buton and Github does via link

For example:
-> https://patch-diff.githubusercontent.com/raw/alpinelinux/aports/pull/10887.patch
-> https://patch-diff.githubusercontent.com/raw/alpinelinux/aports/pull/10887.diff

[2019-10-09 23:15] tinywrkb opened #8445 "Keep LFS objects in the repository"
Gitea keeps LFS objects separately from the repository.
A repository is kept at `GITEAHOME/repos/USER/REPO.git`
All LFS objects kept at `GITEAHOME/data/lfs`

I suggest for Gitea to keep LFS objects inside the bare repository the same way it is kept when cloning a repo with LFS objects locally in order push to a mirror. e.g.
[code]
The LFS objects are then kept in `REPO.git/.git/lfs/objects`
This w

[2019-10-09 23:20] zeripath commented on #8445
How are you cloning or doing anything to Gitea's repositories without Gitea being up?

You shouldn't be using Gitea's repositories without going through Gitea.

[2019-10-09 23:40] tinywrkb commented on #8445
I usually don't but the idea is that in the case of emergency, when Gitea is down for any type of reason, the user could still check out a local copy.
We can do this now for non-LFS repositories as the they are kept as bare repos, why not to have this possible also for LFS? so the user can always get his data even when Gitea is down.

[2019-10-10 00:01] zeripath commented on #8445
The LFS files are shared across forks of the same repository (and across all repos.) The idea is that these files are large and so there should be only one copy on the server at any time.

If you want to get to the LFS files outside of Gitea they're just stored as filename sharded sha256 slightly differently sharded from the way the local sharding occurs - but in the same way gitlab shards for com

[2019-10-10 00:17] tinywrkb commented on #8445
Bypassing Gitea and pushing directly to a repo wasn't on my mind.

Anyway, thank you for the prompt and detailed reply.

[2019-10-10 00:17] #8445 closed

[2019-10-10 00:18] zeripath commented on #8412
@guillep2k is correct. The bleve index was corrupted when you lost power. Bleve should have some tool to try to fix these indexes but the simplest and often quickest thing to do is to delete it.

I'm not sure what we could do better - I don't like that we Fatal for this but there's not much option other than deleting the index files in these cases, and that has a feeling of being something that we

[2019-10-10 00:18] #8412 closed

[2019-10-10 00:21] zeripath commented on #8423
Hmm this was previously fixed ... This must be a regression.

Is there an error in the logs on repository deletion?

[2019-10-10 00:22] 6543 commented on #8412
@zeripath perhaps add something to FAQ  and/or print link to this issue or the FAQ if this hapens into the log?

[2019-10-10 00:25] thestepafter opened #8446 "API for adding team to org and repo isn't working"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

Per the Swagger docs I am running the following command to try and add a

[2019-10-10 00:34] guillep2k commented on #8412
I've made #7753 to rebuild the indexes via cmd (wink, wink).

[2019-10-10 00:40] guillep2k commented on #8446
Teams are not added to an organization. Teams are _created_ inside an organization. For example each organization has its own `Owners` team which is different for each one. Organizations can have teams with the same name as other oranizations', but the teams will be different and unique.

[2019-10-10 00:43] thestepafter commented on #8446
Thank you for the prompt reply @guillep2k!

So if I am understanding correctly, teams are unique to organizations so if I want to have a development and quality-assurance team for each organization I need to create that team for each organization, of which I have over 50. Then when I hire someone on the development team to support our customers I need to add them manually to every organization dev

[2019-10-10 00:44] zeripath commented on #8394
.gitattributes is only interrogated by non bare repositories.

We use (temporary) bare repositories for almost all of our work - merge is the only place left that does (partial) checkouts but thank you because I now need to check I can't get a merge containing an appropriately malicious .gitattributes to do anything horrible.

In bare repositories if want adjust these options you have to use the c

[2019-10-10 00:52] guillep2k commented on #8446
Perhaps organizations were not created for this? I don't possibly know your reasons, but maybe you can use only one organization and split access into several teams; then you can add repos to teams accordingly. Especially if you have some overlapping between teams (e.g. the same person is present in more than one project). In my company we do it that way; we have to main branches in different coun

[2019-10-10 01:11] zeripath commented on #8273
@m-a-v I've been very busy doing other things for a while so have been away from Gitea. I'll take a look at this.

[2019-10-10 01:25] zeripath commented on #8273
@m-a-v I can't understand why dbd0a2e should break things, but I'll double check.

Maybe it's possible the request body isn't being closed or something stupid like that. That would cause a leak if so and could explain the issue.

The other possiblity is that   dbd0a2e has nothing to do with things and it's a Heisenbug relating to the number of connections thing.

[2019-10-10 01:27] xuenhua commented on #8208
I have feedbacked log messages， why the status is still  “need feedback”

[2019-10-10 01:53] coreoas commented on #6700
I am also getting a "Segmentation Fault" with arm-6 build on an ARMv7 CPU (raspberry Pi 3 with raspbian)

[2019-10-10 01:58] thestepafter commented on #8446
Huh, thank you for that explanation. I have already done a migration of our 78 repos with each customer repo grouped under the corresponding customer organization. I did this because our customers have multiple repos and I couldn't think of a better way to group them, especially for naming purposes and also give some of our customers access to their repos. Thank you again for your help on this.

[2019-10-10 02:00] 6543 opened #8448 "[Feature Request] At Pull Request: Editable Commit Tab"
afected page: https://<gitea>/<user>/<repo>/pulls/<id>/commits

The Idear is to:

 * delete one comit from a PR
 * "fix" it into parent commit
 * change commit description

the things you normaly do with `git rebase -i`

[2019-10-10 02:02] guillep2k commented on #8446
You can do that with teams. But I understand that having `/yourclient` in the URL has a better ring to it. 😄

[2019-10-10 02:12] guillep2k commented on #8208
Sorry, @xuenhua , the logs don't seem very useful. Perhaps enabling a TRACE level log in app.ini will give us more information.
But by the look of your first comment, I suspect a regression in how git is called can be the culprit (#7775 is intended to fix that). Can you try upgrading git in your server to a newer version? If the problem is what I think, that should fix it.

[2019-10-10 02:18] guillep2k commented on #8273
A `netstat -an` could be usefull to see in what state are the connections when this happens. It doesn't need to make Gitea fail, but it will be useful as long as there is a large number of connections listed. It's not the same if the connections are in CONNECTED state, or CLOSE_WAIT, FIN_WAIT1, etc.

[2019-10-10 02:25] 6543 commented on #7976
-> https://github.com/go-gitea/gitea/pull/8449

[2019-10-10 03:13] kstan79 opened #8450 "Git command not fully support OpenID credentials"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.7.4
- Operating system: Ubuntu Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

I'm was authenticate user via ldap account and that work fine. Both web

[2019-10-10 03:20] thestepafter commented on #8446
It is more about not having to put the client name in every repo name than having it in the URL. Thank you again for your assistance.

[2019-10-10 03:20] #8446 closed

[2019-10-10 04:43] sd1998 commented on #8028
@lunny Can I work on this?

[2019-10-10 04:45] techknowlogick commented on #8028
@sd1998 sure

[2019-10-10 06:11] zeripath commented on #8208
I think this is still a hook problem.

I am not certain why resync hooks command failed though. Is it possible that the hooks are say owned by root?

@xuenhua could you paste a copy of one of the internal hooks of your repositories?

[2019-10-10 06:51] kgraefe commented on #6700
As written before, ARMv7 is abandoned until someone is willing to invest the time to debug the ARMv7 build. Also your issue seems unrelated.

[2019-10-10 07:02] martijintro commented on #8084
ok thx

[2019-10-10 07:02] #8084 closed

[2019-10-10 07:03] martijintro commented on #8264
ok thx

[2019-10-10 07:03] #8264 closed

[2019-10-10 07:18] bagasme commented on #8448
Did GitHub support it?

[2019-10-10 07:20] bagasme commented on #8444
What about your use case for this feature request?

[2019-10-10 07:45] zeripath commented on #8444
It's basically copying GitHub functionality, but allows Gitea to function a bit like a patch server. I could imagine it being necessary to form part of federation or to allow Gitea to integrate with other VCS s.

It's not a high priority issue afaics just a nice to have.

[2019-10-10 07:59] lunny commented on #8444
@6543 Did you mean https://gitea.com/gitnex/GitNex/pulls/122.patch ?

[2019-10-10 10:24] 6543 commented on #8444
@zeripath you are right :low_prio: ... this is a note for a nice to have fumction
@lunny this are only demo links how it can look like (kan add a gitlab demo too butvdont think it is nessesary)

[2019-10-10 10:25] 6543 commented on #8448
Dont know are we github?

[2019-10-10 11:35] zeripath commented on #8444
I think @lunny means that the code for this is already present:

https://gitea.com/gitea/log/pulls/10.patch

https://gitea.com/gitea/log/pulls/10.diff

(Which are both public PRs so anyone should be able to see.)

I guess the issue is that the links aren't displayed anywhere.

[2019-10-10 11:38] lunny commented on #8444
Yes, so we only need a button or a link on a suitable place.

[2019-10-10 11:38] 6543 commented on #8444
I'm searching in the docu if there is a note ..

[2019-10-10 11:39] 6543 commented on #8444
and I'll search for the button too - perhaps i find a place

[2019-10-10 11:42] zeripath commented on #8448
Maybe we should change the title to interactive git rebase support?

I could see this potentially being supportable with the correct level of git-fu but it might be hard to ensure that too much load isn't placed on the server.

[2019-10-10 11:58] 6543 commented on #8444
@lunny does gogs have this too?

[2019-10-10 13:01] markuman commented on #8412
I got exatly the same with 1.9.3 - but I'm running MariaDB.
I have no idea when it got broken. deleting the database and apply my rsnapshot 7 days ago doesn't solve the probleme. Any ideas about this?

[code]

[2019-10-10 13:13] markuman commented on #8412
Ok, using also the gitea backup folder solves the problem.
but the dozens of warnings are still present. do I need to worry about them?

[2019-10-10 13:17] 6543 commented on #7454
Reverence PR https://github.com/go-gitea/gitea/pull/8449 -> a other todo will be checked soon

[2019-10-10 13:38] mehalter commented on #8294
I have tried with Firefox and qutebrowser on linux, and firefox and chrome on android.

[2019-10-10 14:23] gamelaster opened #8453 "Gitea starts SSH server on incorrect port"
- Gitea version (or commit ref): 1.10.0+dev-402-g1fe81bc22
- Git version: 2.22.0
- Operating system: Linux Ubuntu
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

I have been using docker container `gitea/gitea:1` (

[2019-10-10 15:24] 6543 commented on #8444
![Bildschirmfoto zu 2019-10-10 17-22-19](https://user-images.githubusercontent.com/24977596/66582762-946da400-eb82-11e9-8fba-05339a4a7ff9.png)

make "Show  Diff Stats" to a dropdown menue "Diff Options" wich contain
 * "Show Stats"
 * "Download Patch"
 * "Download Diff"

?

[2019-10-10 15:29] guillep2k commented on #8294
@mehalter #8300 has some code changes about rendering external files. Could that fix your problem? You can checkout that PR by using:

[code]

But you need to check in a **testing environment**; otherwise it might wreck havoc in your installation (there was a bug in migrations that deleted the attachments from the file system and I don't know if the fix has been merged into this particular PR yet)

[2019-10-10 15:29] guillep2k commented on #8294
Or perhaps you could attempt applying that commit individually? It would be safer and you'd skip migrations, etc.

[2019-10-10 15:34] guillep2k commented on #8444
Sounds reasonable.

[2019-10-10 16:22] zeripath commented on #8273
OK, so all these calls to ReadCloser() don't Close():

https://github.com/go-gitea/gitea/blob/57b0d9a38ba7d8dcc05a74fe39ab9f9e765ed8b3/modules/lfs/server.go#L330

https://github.com/go-gitea/gitea/blob/57b0d9a38ba7d8dcc05a74fe39ab9f9e765ed8b3/modules/lfs/server.go#L437

https://github.com/go-gitea/gitea/blob/57b0d9a38ba7d8dcc05a74fe39ab9f9e765ed8b3/modules/lfs/server.go#L456

Whether that's the ca

[2019-10-10 16:36] zeripath commented on #8273
@m-a-v would you be able to rebuild from my PR #8454 and see if that solves your issue?

[2019-10-10 16:45] #8303 closed

[2019-10-10 16:53] zeripath commented on #8453
Hi!

I can't see any change that could be a reason for this. The SSH host is opened on `SSH.ListenPort`

https://github.com/go-gitea/gitea/blob/df2c11a878719719b8600745888c570af93827be/routers/init.go#L112

Which is defined as:

https://github.com/go-gitea/gitea/blob/df2c11a878719719b8600745888c570af93827be/modules/setting/setting.go#L649

Which assuming you're running the s6 setup gets set here:

[2019-10-10 17:42] #8273 closed

[2019-10-10 19:06] davidsvantesson commented on #8386
I have not understood bleve fully, but it seems it can support this directly if just indexing different fields of the repo metadata:
https://blevesearch.com/docs/Query-String-Query/

[2019-10-10 19:22] guillep2k commented on #8386
We're not using that interface. We're one level below querying directly constructing the objects manually:

https://github.com/go-gitea/gitea/blob/6551a9d6ca8ab79fe1460eb9d60a5a0e76110eb3/modules/indexer/issues/bleve.go#L222-L231

But of course that means we can do it either way.

[2019-10-10 19:26] guillep2k commented on #8386
Here's the code where the analyzers are decided:

https://github.com/go-gitea/gitea/blob/6551a9d6ca8ab79fe1460eb9d60a5a0e76110eb3/modules/indexer/issues/bleve.go#L129-L133

Those decide what kind of analysis you want on the strings (they must be decided at the moment the index is built!).

[2019-10-10 19:40] zeripath commented on #8390
Yup a completely full disk would cause this.

I think we've found the cause of this presentation so I'm going to close this.

[2019-10-10 19:40] #8390 closed

[2019-10-10 19:54] davidsvantesson commented on #8386
Maybe it is better to build up custom search query to have more control. If we shall support localization we would need to do that.

[2019-10-10 20:03] zeripath commented on #8423
Damn I think this is my fault. LFS files need to be deleted relative to the root of the content path.

#8455 should fix this.

[2019-10-10 21:08] #8423 closed

[2019-10-10 21:48] zeripath commented on #8450
When passing in the password for git you can pass in either an application token, an oauth token or your password.

[2019-10-10 21:51] techknowlogick commented on #8453
A somewhat related note: Gitea likely can't listen on port 22 (although opensshd in the container can) in the docker container due to it not having root capabilities.

[2019-10-10 21:57] techknowlogick commented on #8450
Gitea doesn't have access to openID password due to it not have the password provided to it. When you enter the password for keycloak, you enter it into that system directly, and keycloak just lets us know if the authentication was successful. Whereas with ldap, Gitea itself talks to the lday server (most frequent ldap server used with Gitea is Active Directory, and also FreeIPA).

Like @zeripath

[2019-10-10 22:47] MGChecker commented on #7818
Where is the value in keeping the count of open issues artificially small with mechanisms like this?

[2019-10-10 23:14] guillep2k commented on #7818
Perhaps he means this?:

![image](https://user-images.githubusercontent.com/18600385/66613054-7e6bdd80-eb9a-11e9-9f5d-57d42ae5cd3a.png)

[2019-10-10 23:57] atomi commented on #6700
FWIW, mine builds just fine using 1.13.1 on armv7l (rpi3).

[2019-10-11 00:20] lunny commented on #6700
@kgraefe If you can build armv7 yourself, It should be OK. Only official armv7 binary is abandoned.

[2019-10-11 02:37] DawN1ng opened #8457 "Warn 'Invalid cookie header' when used gitea repo for config server"
- Gitea version (or commit ref): 1.10.0
- Git version: 1.8.3.1
- Operating system: Linux RHEL7
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description

When I use a gitea repo for spring cloud config server, There comes too

[2019-10-11 02:46] guillep2k commented on #8457
May be your problem is related to this?
https://github.com/gradle/gradle/issues/1596#issuecomment-305180645

Note: the project is unrelated, just the problem is the same.

[2019-10-11 03:14] DawN1ng commented on #8457
@guillep2k Yep,it's the same problem about httpclient standard or sth.but I don't think it's the same cause and I don't get any help or solution from that question actually.

[2019-10-11 03:31] guillep2k commented on #8457
The comment I linked to before was pointing to a "known" [bug in Apache](https://issues.apache.org/jira/browse/HTTPCLIENT-1077).

If in your case it really is a bug in Apache, then nothing can be done in Gitea. The solution would be simply to upgrade Apache to a newer version.

[2019-10-11 04:34] cryopie commented on #8135
I'm closing this issue because it doesn't seem to affect anyone else. I'll launch a new instance and try and migrate the repos from the old version.

[2019-10-11 04:34] #8135 closed

[2019-10-11 05:11] lunny commented on #8450
So maybe a desktop SSO support may resolve the problem. It needs git support that.

[2019-10-11 05:15] lunny commented on #8386
We should have our own rules but not follow bleve's because we will support many indexer backend. i.e. elasticsearch.

[2019-10-11 05:23] guillep2k commented on #8450
@kstan79 As a git + OpenID solution is not currently possible, you may want to close this issue and open another one requesting option 2 specifically, as this issue is more or less an open question.

[2019-10-11 06:25] gamelaster commented on #8453
Hi @zeripath and @techknowlogick
zeripath: I have been looking for possible issue too in source code, I didn't found the issue. Also, I checked out `/etc/s6/gitea/setup` file inside my container with **latest** gitea, it's same 1.10-dev version, not 1.9.x
techknowlogick: well, if this would be a issue, then it wouldn't work on 1.9.2, which I have been using before, but it have been working finely.

[2019-10-11 08:47] zeripath commented on #7289
@lafriks that's the current situation.

[2019-10-11 09:17] Mikaela commented on #7812
I am able to reproduce at https://try.gitea.io/repo/create.

[2019-10-11 09:27] Jookia opened #8460 "Can't set collaborator permissions with only keyboard"
- Gitea version (or commit ref): 1.9.1
- Git version: 2.23
- Operating system: Arch Linux
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL)
https://try.gitea.io/Jookia/test/settings/collaboration
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

When managing collab

[2019-10-11 09:41] PeterNerlich opened #8461 "Wrong OAuth2 Form target when running on modified root URL"
- Gitea version (or commit ref): v1.9.4
- Git version: 2.22.0
- Operating system: gitea/gitea on Docker on Ubuntu 18.04.3 LTS
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No (because its root matches the server root)
  - [ ] Not relevant
- Log gist: https://gist.g

[2019-10-11 11:39] tacotexmex commented on #1089
Badly needed for my Matrix integration going forward.

[2019-10-11 12:31] quasoft opened #8462 "Proposal: Support Single single-on with SPNEGO and SSPI (Kerberos) on Windows"
## Motivation

When using Gitea on premises in a Windows environment (with Active Directory), it would be very convenient to be able to use single sign-on authentication via Kerberos. Currently Gitea supports LDAP authentication to Active Directory (https://docs.gitea.io/en-us/authentication/), but LDAP is not single sign-on.

## Short overview of proposal

The proposal is to support Single single

[2019-10-11 12:45] quasoft commented on #8462
Sample implementation of the proposed changes is submitted as Pull request https://github.com/go-gitea/gitea/pull/8463

[2019-10-11 12:55] lafriks commented on #8462
It would be nice if it would also implement getting user details (name, surname, email) using LDAP technical user

[2019-10-11 13:07] quasoft commented on #8462
That's an interesting idea, probably can make it get additional user attributes or membership to AD groups at a later stage. Have to think on how it will work more.

[2019-10-11 13:10] #7514 closed

[2019-10-11 13:55] xogium commented on #7057
Hi,
any news on this ? I spent days installing gitea only to realize that it is practically unusable. Some time I can get away with things by disabling syiling for web pages, some times I have to reenable it again to perform some other action, some times neither of those help. Really a huge disapointment on the sementic ui side and quite one for gitea as well... I'd be happy to test out things wit

[2019-10-11 14:00] oscarlofwenhamn commented on #7812
Definately still a relevant issue

[2019-10-11 14:11] kstan79 commented on #8450
ok tq. i will reopen issue 2

[2019-10-11 14:11] #8450 closed

[2019-10-11 14:15] kstan79 opened #8464 "Possibility Of Login with Both Ldap and Open ID to same account"
- Gitea version (or commit ref):
- Git version:
- Operating system:
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x ] Not relevant
- Log gist:

## Description
I wish to allow user to login via openid from web console, but clone checkout/push/etc using ldap

[2019-10-11 14:21] dunklesToast commented on #7698
Upgraded from 1.4.1 to 1.9.3. Having the same issue

[code]

[2019-10-11 14:51] guillep2k commented on #8462
First of all, kudos for the delightfully detailed documentation!! 🎉

I'm adding my comments to the PR directly so the discussion doesn't split in two threads.

[2019-10-11 16:10] #7066 closed

[2019-10-11 16:54] HorlogeSkynet commented on #6237
We are [heading towards v1.10](https://github.com/go-gitea/gitea/milestone/46) and this v1.7 regression is still not fixed.
Should we simply get #5609 reverted then ?

[2019-10-11 17:44] HenrikBengtsson opened #8465 "User tags are disabled if followed by comma, colon, ..."
- Gitea version (or commit ref): 1.9.4
- Git version: N/A
- Operating system: Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (<https://try.gitea.io/HenrikBengtsson/test/issues/17>)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

[code]

As a reference, all of the above works o

[2019-10-11 17:45] zeripath commented on #7714
I can't reproduce this on master. @lystor does this still happen? Do you have any logs?

[2019-10-11 18:10] #7664 closed

[2019-10-11 18:53] lafriks commented on #7057
It's large task to rewrite all UI to other library but apart from few experiments not much have been done in this direction currently. We would probably also need a designer as well so that such rewrite would result also in better UI for everyone :)

[2019-10-11 19:26] h3kker opened #8466 "OAuth POST routes not using base path"
- Gitea version (or commit ref): 1.9.4
- Git version: 2.22.0
- Operating system: alpine 3.10.2
- Database (use `[x]`):
  - [ x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x ] Not relevant
- Log gist:

## Description

We have a gitea installation (docker) behind a reverse proxy, accessi

[2019-10-11 20:10] thestepafter opened #8467 "POST /api/v1/repos/{{organization_name}}/{{repository_name}}/keys 415 response"
- Gitea version (or commit ref):
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:
All I see in the logs are SQL SELECT and UPDATE statements.

I am trying to POST to /api/v1/rep

[2019-10-11 20:12] lafriks commented on #8461
Looking at code I don't see anything wrong, have you set ROOT_URL in app.ini right?

[2019-10-11 20:14] lafriks commented on #7289
Yes and I don't see a problem with that

[2019-10-11 21:00] guillep2k commented on #6237
Hi, @HorlogeSkynet . There has been a couple of PRs lately regarding the parsing of tags (for example #7994). I don't know if they fix your particular issue; they might. Don't rely too much in the fact that this issue was not _marked_ as fixed.

If you have upgraded from the 1.7.1 specified at the top at some time, please edit the comment and add some note about the latest version you've tried wit

[2019-10-11 21:03] guillep2k commented on #8467
What is your `Content-Type` header is set to?

[2019-10-11 21:15] lafriks commented on #8405
I can also confirm this issue

[2019-10-11 21:22] lafriks commented on #8373
Not related to Gitea code or binary, if I understand correctly on referenced issue this has been fixed in latest kernel update

[2019-10-11 21:22] #8373 closed

[2019-10-11 21:23] guillep2k commented on #7698
@dunklesToast Please try migrating to intermediate versions (especially before 1.6.0) and let us know which was the latest you could upgrade to. Also, if you could try "SELECT version FROM version", it would help.

[2019-10-11 21:36] somera opened #8469 "After some system updates Gitea 1.9.3 and 1.9.4 is not working on arm7"
- Gitea version (or commit ref): 1.9.3 and 1.9.4
- Git version: 2.20.1
- Operating system: Linux pi-manager 4.19.75-v7l+ #1270 SMP Tue Sep 24 18:51:41 BST 2019 armv7l GNU/Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

2019/

[2019-10-11 21:37] somera commented on #8469
I downloaded this version:

wget -O gitea https://dl.gitea.io/gitea/1.9.4/gitea-1.9.4-linux-arm-6

[2019-10-11 21:40] somera commented on #8469
List of last updates ...

[2019-10-11 21:46] guillep2k commented on #7289
OK, I couldn't reproduce the problem

I've just tested on my dev server (1.10.0+dev-411-g0e90b506c, 633cd7f473c24ee379e98b9f33ef79c7d664b32e).

The steps I did were:

* Log in, create a PR from the UI.
* Go to the code review tab.
* Select a line of code.
* Enter a message, click "Start Review".
* The comment is created, but marked as "Pending".
* Click the "Review" button, the "submit review" dia

[2019-10-11 21:48] thestepafter commented on #8467
Uhhh, doesn't look like anything? I am using Postman to test and I don't have a `Content-Type` set for any of my other successful POSTs not related to deploy keys. What should the `Content-Type` be?

I just tried `application/json` for `Content-Type` and got this message.

[code]

I changed `read_only` to `false` from the boolean value of `0` and now the API works.

Thank you for your assistance @

[2019-10-11 21:48] #8467 closed

[2019-10-11 21:54] zeripath commented on #7698
@dunkles_toast I think I might understand what's going on here!

What database are you using?

[2019-10-11 21:55] zeripath commented on #7698
I think it's looking for the index, not finding one, but then still trying to remove the index

[2019-10-11 22:01] dunklesToast commented on #7698
@guillep2k tried that already. With Version 1.5.0 I am getting this error:

[code]

[2019-10-11 22:05] zeripath commented on #7698
The causative code is:

https://github.com/go-gitea/gitea/blob/ac3613b791884f29c386bda2ccaad5c7434d822c/models/migrations/migrations.go#L398-L423

In particular L407. I think I thought it would not return any results if there was no index. Clearly I was wrong.

Simple bug fix:

[code]

Probably doesn't need the Trimspace.

Anyone fancy putting a PR up?

[2019-10-11 22:17] 6543 commented on #8444
-> https://github.com/go-gitea/gitea/pull/8470

[2019-10-11 22:18] zeripath commented on #8453
Hmm. I wonder... Were you running the openssh server or the inbuilt SSH server previously? @techknowlogick have we switched to inbuilt by default for docker yet?

On 1.9 we were definitely still using opensshd which would explain why 22 worked, if we're now inbuilt by default that would explain why 22 would no longer work.

[2019-10-11 22:23] m-a-v commented on #8273
@zeripath Thanks a lot. It may take some time until I can test it, but I certainly will.

[2019-10-11 22:27] guillep2k commented on #7698
A quick PR? NP. 😁

[2019-10-11 22:43] dunklesToast commented on #7698
So now I have to wait until this is merged, a new version was compiled and then can I update or is there any hot fix / dirty patch so I can migrate to 1.9?

[2019-10-11 22:52] somera commented on #8469
Self compiled version from release/v1.9 branch is working.

[2019-10-11 23:40] thestepafter opened #8472 "How to allow push from server to repo on protected branch?"
- Gitea version (or commit ref):
- Git version: 2.17.1
- Operating system: Ubuntu 18.04
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

So I am using a deployment service (Laravel Forge) and I want to automatically push production

[2019-10-11 23:53] guillep2k commented on #7698
@dunklesToast First the PR must be approved. Then one of the owners will assign a milestone for it. Depending on the milestone they may request a backport. And then we must wait until the target release is done.

I don't know how desperate you are 😁, but if you don't want to wait, you could pull the 1.9.4 tag, apply the diff from that PR (it's only a couple of lines), compile and run. That should

[2019-10-12 00:13] #7862 closed

[2019-10-12 00:13] #7863 closed

[2019-10-12 01:36] techknowlogick commented on #8453
1.10 includes SSH improvements, but still has opensshd as default ssh provider in container

[2019-10-12 01:38] skylord123 commented on #2905
@lunny I believe it is the internal one. I am using the official docker container on the latest version as of posting.

[2019-10-12 04:53] Jookia commented on #7057
Wow, this is a damn rabbit hole of issues. The most important I've seen have been:

https://github.com/Semantic-Org/Semantic-UI/issues/348
https://github.com/gogs/gogs/issues/3340
https://github.com/go-gitea/gitea/issues/1263

and mine from yesterday: https://github.com/go-gitea/gitea/issues/8460

I'm seeing two immediate issues for personal use:

1. Some elements can only be clicked with a mouse

[2019-10-12 04:53] guillep2k opened #8474 "Charset detection returns inconsistent results"
Running the same string through `charset.DetectEncoding()` may return different results when called different times. This is what has been making our CI tests fail randomly at `TestToUTF8WithFallback` and `TestToUTF8`.

The underlying library for encoding detection is [github.com/gogits/chardet](https://github.com/gogits/chardet), and it runs the given string through many "detectors" that return a

[2019-10-12 04:58] zeripath commented on #8273
It's actually been merged in to 1.10 and 1.9 branches already.

[2019-10-12 05:05] zeripath commented on #8472
You could add a whitelist.

Deploy keys act as the repository owner so if you add the repository owner to the whitelist that should work.

(Now, that might be difficult with an organisation but let me think)

We could add another option to the protection to allow writing deploy keys to push.

[2019-10-12 05:11] zeripath commented on #8453
Ah ok well that explains why this setting is likely being ignored in any case!

https://github.com/go-gitea/gitea/blob/f1fdd782d57ddbd2a759dad2843ee619709a4609/docker/root/etc/s6/openssh/setup#L27-L32

https://github.com/go-gitea/gitea/blob/f1fdd782d57ddbd2a759dad2843ee619709a4609/docker/root/etc/templates/sshd_config#L1

SSH_LISTEN_PORT isn't supported there.

Would be a v. Quick fix.

[2019-10-12 05:24] zeripath commented on #7057
In the case of drop-down we'll probably have to fork the semantic-ui drop-down code to add aria attributes and restructure the DOM into a more bootstrap like structure as it appears that aria doesn't like the submenu being contained by the "button" that opens the menu and can't see the values.

Regarding the only clickable items - I guess that means that anything that has an onclick needs to be ac

[2019-10-12 05:27] zeripath commented on #7057
I've got a branch with a locally forked copy of drop-down here:

https://github.com/zeripath/gitea/tree/aria-fixes

Which could be a starting point. The current changes mean that screen readers at least don't lose focus when a drop-down is activated but they can't see the menu items because of the above described issue.

[2019-10-12 07:46] bkmgit opened #8478 "Display of FTP links in markdown"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.1.9
- Operating system: Cent OS 7
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [X] MariaDB
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ X] Yes (provide example URL) https://try.gitea.io/bkmgit/TestMarkdown/src/branch/master/README.md
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Des

[2019-10-12 08:22] Jookia commented on #7057
I'm working on fixing keyboard focus first since then the problems are just 'have focused element said by screen reader'

I've made some progress in my local branch, but I've found a nasty bug that while some drop down menus work with keyboard selection in Firefox 61, they just break in Firefox 68. But others don't. And Semantic UI upstream is dead, the community maintained fork is https://github.

[2019-10-12 09:33] gamelaster commented on #8453
Thank you guys for fast fix. I will test it at Monday and confirm it's fixed

[2019-10-12 10:02] zeripath commented on #7057
@Jookia I've been wondering about whether we should be switching to Fomantic - I think it's basically a dropin replacement. AFAICS fomantic doesn't fix the dropdown issue though.

[2019-10-12 10:15] Jookia commented on #7057
Switching could be better than using Semantic which doesn't seem to have active development. It's a community led fork too, so it might have a better mind towards accessibility. In regard to where the fixes go, I think the HTML fixes like ARIA labels and tabindex belong in gitea's templates, and javascript focusing, clicking and keypress fixes go in Sementic/Fomantic.

[2019-10-12 11:32] davidsvantesson opened #8479 "Performance issue on adding user to team"
- Gitea version (or commit ref): 1.9.4 (also 1.10.0+dev-414-gf1fdd782d)
- Git version: not relevant
- Operating system: ubuntu 18.04
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
With the combination of many users

[2019-10-12 12:25] dingpengyu commented on #7057
I looked at the GitHub repository for Semantic-UI and Fomantic-UI.
Found that Fomantic-UI is more mundane than Semantic-UI update
Semantic-UI latest update is in 2018
Fomantic-UI latest update on September2019 2nd
Based on the above message, I support switching to Fomantic-UI because Fomantic-UI is highly active and can fix more bugs.
thanks

[2019-10-12 12:40] dingpengyu commented on #7057
Another way is to have gitea clone Semantic-UI and maintain it yourself.

[2019-10-12 12:43] zeripath commented on #7057
@dingpengyu that would be a bad idea. We have enough on our plate without managing a ui framework.

So Fomantic-UI isn't quite a perfect drop-in but I think it's mostly the same.

[2019-10-12 13:03] blueworrybear commented on #8342
Hi, it seems to me that the issue is caused by  `function initListSubmits(selector, outerSelector)`.

As codes below show, the web page is forced to reload each time the `dropdown` menu hide. I think it's because **assignee** and **milestone** are render in server side. To update those information, the original codes force to reload the whole page.

[code]

Since all **labels** are loaded to web p

[2019-10-12 13:11] Jookia commented on #7057
I did some more digging and found that browsers actually send click events to elements when you hit enter, so yay! But clicks aren't sent to parents, which I think is happening here. Maybe that's due to some 3D positioning due to CSS.

[2019-10-12 13:28] jamesorlakin commented on #8298
While a nice idea, I think this would increase complexity for most deployments of Gitea. Anybody using a reverse proxy with SSL will now have to do more configuration to ensure this additional subdomain has a valid certificate and is proxied with the host header intact. This is one of the reasons custom static sites isn't implemented.

Some help guides could be good, but I find Gitea intuitive eno

[2019-10-12 13:42] blueworrybear commented on #8474
Hi, I was wondering if we could solve this problem by sorting not only **Confidence** but also **Charset** string?

Since the original code has sorted after results collected from channel, it seems to me it's probably okay to sort with **Charset** in the same time. Therefore `ISO-8859-1` will always be returned. 🤔

[2019-10-12 14:57] guillep2k commented on #8474
I've thought perhaps better is to add bits to the confidence level. Let's say confidence is currently a 32-bit value (didn't check); we can make it 64-bit. The higher 32 will be the current confidence as calculated. We can statically (`const`) assign each charset a priority number based on e.g. number of Google search results and use that value in the 32 lower bits, so:

[code]

It's the same idea

[2019-10-12 15:05] guillep2k commented on #8474
Another possibility is to get rid of the channels and goroutines and call the detectors sequentially. IMHO, since the library is waiting for _all of them_ to cast a result, the goroutines only give an advantage on occasional requests (or a single benchmark) in a many-core CPU. Otherwise they add a lot of overhead (bad cache utilization, thread initialization, etc.) that could be used to serve othe

[2019-10-12 15:14] #7839 closed

[2019-10-12 15:45] #8453 closed

[2019-10-12 15:48] thestepafter commented on #8472
I solved this by adding my individual key (as organization and repository owner) to the server and setting `.ssh/config` to use that key when pushing back to the Gitea server.

The additional option sounds like a great idea @zeripath.

[2019-10-12 16:28] carc1n0gen opened #8482 "500 Error On Release Page"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.23.0
- Operating system: Freebsd
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist: https://gist.github.com/carc1n0gen/85b5b52130ea7be722eb85da202be158

## Description

I created

[2019-10-12 16:30] lafriks commented on #8482
Could be that you have pushed tags for branches that are not pushed to repo?

[2019-10-12 16:39] carc1n0gen commented on #8482
All of the tags are version tags off of master unless I made a mistake along the way.  Is there a way to find out?  But I am very confident I've only ever tagged off master

[2019-10-12 16:40] carc1n0gen commented on #8482
I think if that were the cast, I would have been able to reproduce on the try.gitea.io instance

[2019-10-12 17:20] zeripath commented on #8014
Hmm... Maybe there's Fatal being thrown during log initialisation?

[2019-10-12 17:22] denji commented on #2905
https://bitbucket.org/sshguard/sshguard/src/v2.3.1/src/parser/attack_scanner.l#lines-302:304

[2019-10-12 17:24] zeripath commented on #8014
OK I think I see the problem.

https://github.com/go-gitea/gitea/blob/0a96e59884ca5c4fedc8c3d166d97f35b245ad6e/modules/log/log.go#L177-L181

I think there needs to be a `Flush()` in there or better yet, `Close()` should flush.

[2019-10-12 17:32] zeripath commented on #8014
Ah, may be it's simpler than that. You have console log turned off and then when it tries to log the problem it can't because there's nowhere for it to log to?

[2019-10-12 19:06] carc1n0gen commented on #8482
If someone wants to take a look at my database I can send it.  There's no secret repos in it.  I'll scrub the password hashes first (its just me)

[2019-10-12 20:31] zeripath commented on #8482
Hmm, those logs are xorm logs. Is there any console output? For a 500 you should have something logged.

Another option is to switch the `RUN_MODE` from prod to `dev` in app.ini

In fact that would probably be quite helpful as we should see the trace of the error.

[2019-10-12 21:05] carc1n0gen commented on #8482
[code]

Sounds like I am indeed missing a referenced branch from that error? The problem is this project began on GitHub, and I'm migrating it to gitea.  I've pushed the only branch I still have lying around to gitea with no luck.  Not sure where to go from here.

[2019-10-12 21:08] zeripath commented on #8369
I think you're right it's very likely secondary to that change and we should be just creating the directory if it doesn't exist.

[2019-10-12 22:11] zeripath commented on #8482
So that's coming from:

https://github.com/go-gitea/gitea/blob/3249c0ccba5b3082fe60f4b571159016db6d57d7/routers/repo/release.go#L36-L40

[2019-10-12 22:15] zeripath commented on #8482
And from your logs it looks like it's release id 10

[2019-10-12 22:20] zeripath commented on #8482
Now this is odd, because we first of all test is the BranchExists and then when we try to get the commit it fails.

So it's a bit weird. Either one of these is lying to us or the git object db and it's references are broken.

Hmm what to do... I guess it would be nice to find out what the target is - that can be done by interrogating the database.

Then it would be helpful to check the git reposit

[2019-10-12 22:58] carc1n0gen commented on #8482
Very early in the project I did rebase master one time.  I know thats a no-no, but the project wasn't public yet, and I already had some tagged releases. Would that have this effect? I'll try to take a look at the db and see what release id 10 points at

[2019-10-12 23:01] carc1n0gen commented on #8482
This is the release record:

[code]

I'll take a look at that tag

[2019-10-12 23:27] guillep2k commented on #8478
I thought it was intentional after reading this:
[Google Chrome 82 won't support FTP anymore](https://www.ghacks.net/2019/08/16/google-chrome-82-wont-support-ftp-anymore/)

[2019-10-13 00:09] #8469 closed

[2019-10-13 06:39] bkmgit commented on #8478
It seems Markdown is rendered using [gomarkdown](https://github.com/gomarkdown/markdown)
A number of sites offer ftp, in particular for download only, and it is helpful to be able to link directly to these.  Not all people, use Chrome. Being able to view contents and download from a browser is helpful. A number of places in the world have slow internet connections, where a factor of two difference

[2019-10-13 06:48] zeripath commented on #8482
It's the target you should be looking at. In your record it appears to be empty.

Not sure why it would be that way though.

[2019-10-13 07:13] carc1n0gen commented on #8482
Okay. What data from the tag should be there? Even if we can't figure out why it's missing, I'd like fix it so I can use the releases page.  Or maybe I should just remove the record/tag and move on?

[2019-10-13 07:39] zeripath commented on #8482
I guess you could just add the tag name as the target? Assuming it's present in the git references. Just double check it's actually empty because if it's not we're going down the wrong route.

I don't know this bit of code at all - I've never actually looked at it. So I literally have no idea how it have gone wrong. Target clearly needs to be a commit reference that git can find.

TBF It's a bit c

[2019-10-13 07:44] zeripath commented on #8482
IsBranchExist is:

https://github.com/go-gitea/gitea/blob/5e759b60cca3cd8484a6235fcc9120d18e8cd455/modules/git/repo_branch.go#L29-L33

I suspect this might return true I think if name was empty.

So that's probably a problem.

[2019-10-13 07:47] zeripath commented on #8482
https://github.com/go-gitea/gitea/blob/ee11974719528197241840dc245f7daf08ec5c0a/modules/git/repo_commit.go#L147-L154

https://github.com/go-gitea/gitea/blob/ee11974719528197241840dc245f7daf08ec5c0a/modules/git/repo_commit.go#L37-L40

So if name is empty this would cause your error.

[2019-10-13 07:49] carc1n0gen commented on #8482
The target is for sure empty

[2019-10-13 07:51] zeripath commented on #8482
If you're able to rebuild Gitea you could try adjusting `IsBranchExist` to check if name is empty before it does the reference check by adding:

[code]

Appropriately fmt'd of course.

[2019-10-13 07:52] carc1n0gen commented on #8482
I'm using the binary package provided from freebsd so I cannot do that.

[2019-10-13 07:52] zeripath commented on #7845
Fixed by #7963

[2019-10-13 07:52] #7845 closed

[2019-10-13 08:05] carc1n0gen commented on #8482
So it actually turns out that *every* release record from that release and onward have an empty target. No idea why that is, and not sure what to do at this point.

[2019-10-13 08:21] bkmgit commented on #8478
Seems [blackfriday](https://github.com/russross/blackfriday) supports links to ftp sites, https://github.com/russross/blackfriday/blob/master/inline_test.go

[2019-10-13 08:22] bagasme commented on #8298
@jamesorlakin I think when site admins choose to install the documentation into subdomain, Gitea will provide reverse proxy configuration that can be added to each proxy's config file.

Did you mean tooltips/interactive help on web interface?

[2019-10-13 08:30] zeripath commented on #8482
Oks I should just check that this function hasn't changed between 1.10 and 1.9.3

[2019-10-13 08:38] zeripath commented on #8482
Where have you got this FreeBSD release? Is it the Darwin release?

[2019-10-13 08:52] carc1n0gen commented on #8482
No Darwin is macOS.  FreeBSD has it in their package manager, so they're building it themselves.  I get updates when installing updates to installed packages and it prints out additional instructions in the case there were changes that require manual intervention, which has happened in the past.

[2019-10-13 08:57] zeripath commented on #8482
OK, well that means that I cannot test if my fix works because I can't build it for you.

There's also the potential issue that you're looking at a bug introduced by the FreeBSD port - or some weirdness to do with it.

Looking again at #8485 I can't see why it shouldn't work originally unless that go-git does something on freebsd...

Is there any chance you could check whether the problem exists u

[2019-10-13 09:09] carc1n0gen commented on #8482
My original post indicates I was not able to reproduce on try.gitea.io.  I'll try to find the proper channels to investigate the freebsd port

[2019-10-13 10:22] bkmgit commented on #8478
* It may be helpful to add the option blackfriday.EXTENSION_AUTOLINK | in https://github.com/go-gitea/gitea/blob/master/modules/markup/markdown/markdown.go at around line 126
* Currently seem to be using blackfriday v1, might it be worth upgrading to blackfriday v2?

[2019-10-13 12:43] bkmgit commented on #8478
* URI entries that can be made links are determined by following [bluemonday](https://github.com/microcosm-cc/bluemonday) policies. In gitea these are set by  line 40 of [modules/markup/sanitizer.go](https://github.com/go-gitea/gitea/blob/801843b0115e29ba2304fa6a5bea1ae169a58e02/modules/markup/sanitizer.go) which currently uses defaults from [bluemonday](https://github.com/microcosm-cc/bluemonday)

[2019-10-13 12:58] bkmgit commented on #8478
If updating the documentation on Markdown display is useful, can do this.

[2019-10-13 13:02] zeripath commented on #7699
To be more explicit on how to shadow gitea - here's the technique:

* Assuming you have gitea started by running `/app/gitea/gitea`
* Move the original gitea from `/app/gitea/gitea` to `/app/gitea/gitea.shadow`
* Create a new bash script `/app/gitea/gitea`: ```bash
#!/bin/bash

############################################################
# Gitea shadow script
#
# Detects calls to gitea serv and ex

[2019-10-13 13:02] #7699 closed

[2019-10-13 13:49] zeripath commented on #7398
I think we can close this now?

[2019-10-13 13:49] #7398 closed

[2019-10-13 14:35] #8369 closed

[2019-10-13 15:39] guillep2k commented on #8478
Hey, don't sweat it. I too wondered "why doesn't this support ftp?" when browsing that part of the code. If nobody is against it, I might take this within next week. However, with our current release schedule I'm not sure when will it be released.

[2019-10-13 15:54] guillep2k opened #8490 "Proposal: list of URL schemes to support in markdown rendering"
Currently we're allowing only http and https schemes (protocols) in links rendered markdown. There are users that want others, like ftp (e.g. #8478)

Currently, this renders nothing:
[code]

There are a number of [other schemes we could support](https://en.wikipedia.org/wiki/List_of_URI_schemes), and some of them could be very useful, like the aforementioned ftp, VS Code extensions, cvs, ed2k, tor

[2019-10-13 16:29] #8482 closed

[2019-10-13 17:07] silverwind commented on #5937
Next steps for JS modernization should be:

- Add Webpack - https://github.com/go-gitea/gitea/pull/8440
- Add Minifier - possibly https://github.com/go-gitea/gitea/pull/8440
- Add Babel which allows us to write modern JS while supporting older browsers.
- Source JS depencies from npm where possible instead of vendoring them. This will make updating them a breeze.

[2019-10-13 17:24] silverwind commented on #6237
I don't see any current issues with missing releases/tags. My previous comment came down to the fact that the pusher was neither specifying `--tags` nor `--follow-tags` to `git push`, so they never pushed the tags to the gitea remote.

[2019-10-13 17:28] silverwind opened #8493 "Show tag messages on releases page"
Tag messages are currently not being displayed on the UI. Comparison to GH:

https://github.com/silverwind/symlink-test/releases
<img width="421" src="https://user-images.githubusercontent.com/115237/66719396-68a32600-edef-11e9-8113-ae3166e10896.png">

https://try.gitea.io/silverwind/symlink-test/releases
<img width="505" src="https://user-images.githubusercontent.com/115237/66719397-693bbc80-edef

[2019-10-13 17:30] davidsvantesson commented on #7365
Too good idea to be closed. :green_heart:

[2019-10-13 17:54] zeripath commented on #6237
@HorlogeSkynet is this definitely still an issue on master? If so, are you able to come up with a minimal failure case?

The mechanism quoted earlier doesn't fail for me on master. There must be something I'm missing.

Are you able to create a repository on try that shows this?

[2019-10-13 18:14] silverwind commented on #8490
Seems like a good addition. `mailto:` is another common scheme. Does anyone have insight on what possible security concerns could be?

[2019-10-13 18:17] zeripath commented on #8493
It appears that for annotated tags we don't store the SHA1 to the tag object but rather the commit SHA1. We don't store the commit message in the db either.

So there are three issues:

1. For annotated tags we need to store the annotated tag SHA1 in future. Decide whether to store this in addition or instead of the commit. Probably in addition?
2. We need go back over our tags and store the annot

[2019-10-13 18:41] bkmgit commented on #8490
Link to [uri schemes](https://en.wikipedia.org/wiki/List_of_URI_schemes) is helpful. Consistency with either Github or Gitlab markdown links is probably reasonable.

[2019-10-13 19:31] HorlogeSkynet commented on #6237
@zeripath Maybe. Maybe not. I have to draft some tags to check this, and currently, I cannot.

@silverwind It was **definitely** broken at least in March when the v1.7.0 has been drafted, after #5609 got merged (please refer to @lunny's May comments following my [_findings_](https://github.com/go-gitea/gitea/issues/6237#issuecomment-489440989)).
As you can verify [there](https://git.forestier.app/

[2019-10-13 20:07] silverwind commented on #8493
Just pushed `0.0.4-lw` which is a lightweight tag to my testing repo to see what GH does. In summary:

- For annotated tags, they show tag name, tag message, gpg signature of the tag, link to commit.
- For lightweight tags they show commit name, commit message, gpg signature of the commit, link to commit.

I don't think the commit message in the tag is of much value, assuming it's a copy of the co

[2019-10-13 20:59] jdkdfjuwicvh opened #8494 "Preview"
- Gitea version (or commit ref): 1.9.4
- Git version: 2.20.1
- Operating system: Raspbian Buster + pre-release kernel (Raspberry Pi 4)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description

The preview tab of the text edi

[2019-10-13 21:06] zeripath commented on #8494
It appears to works on try.gitea.io

What file format are you trying to preview? What browser are you using?
What's your app.ini? Have you switched off the API?

[2019-10-13 21:15] jdkdfjuwicvh commented on #8494
I know it works on try.gitea.io. I'm just trying to preview the changes of the README. I tired with Tor browser first, but I also checked with the default profile of Firefox. In my app.ini I just added one rule: MAX_CREATION_LIMIT = 0. I didn't switch off the API, at least knowingly: doing grep 'SWAGGER' app.ini doesn't return anything so I guess the API is enabled.

[2019-10-13 21:20] zeripath commented on #8494
Ok. Could you check what the browser is sending when you click preview?

It should send a POST message to /api/v1/repos/:username/:reponame/markdown

Is it sending that POST to the correct place?

[2019-10-13 21:36] jdkdfjuwicvh commented on #8494
Emh, I'm just a teen I don't know that stuff... could you provide a very brief explanation about how to verify that? However, I'm not sure anymore about the state of the API, because when I try to load try.gitea.io/api/swagger my browser loads up a webpage, but if I try to open the "API page" of my gitea istance, my browser doesn't load anything. Does it matter?

[2019-10-13 21:58] zeripath commented on #8494
It sounds like you've misconfigured Gitea so I'd double check that you have the configuration correct in your app.ini

[2019-10-13 22:29] #8259 closed

[2019-10-13 22:49] jdkdfjuwicvh commented on #8494
Sorry, but my app.ini seems to be fine (https://paste.debian.net/1106435/).
Is there another simple way to check if the API is working or not? Like another element in the page that wouldn't work without the API turned on?

[2019-10-13 22:58] zeripath commented on #8494
What is the URL you are using to browse to Gitea?

[2019-10-13 23:18] jdkdfjuwicvh commented on #8494
I was using it locally, but I've just finished setting up a temporary onion service in case you want to test (idk if it can cause other problems tho) : http://f6awmtbw572jcr2jaekqqnteuirdqoag64i6dnewph5y63xpsdmfabqd.onion/

[2019-10-13 23:35] zeripath commented on #8494
Well the tor won't work unless you tell Gitea that's its ROOT_URL is that onion address.

Similarly by locally, do you mean from a browser on the same machine as the server i.e. your browser was browsing to localhost:3000 or were you doing it across the network because again that would explain why the preview failed.

In Firefox there are likely some developer tools that you can use to check what

[2019-10-14 01:02] bkmgit commented on #8478
@guillep2k Ok. Partially addressed in #8497 and #8498

[2019-10-14 01:10] bkmgit commented on #8478
@guillep2k Thanks for implementing #8496

[2019-10-14 02:33] boyter opened #8499 "Show sloc count on file pages"
## Description

Showing the SLoC (source lines of code) count for pages similar to how GitHub does would be very useful. This is in addition to the existing LoC (lines of code) count the same at GitHub.

Doing this in an accurate way is possible using https://github.com/boyter/scc/ and since it counts the LoC and SLoC in a single pass there is no performance impact. In fact since gitea currently d

[2019-10-14 05:11] Jookia commented on #7057
Okay, so I've been spending a while digging through this to see what the problems are actually. So here's what I have for navigation.

1. tabindex is not set correctly on a lot of elements.

This means that the very basic accessibility feature of tabbing through items on a page is a bit wonky and doesn't work sometimes. I have this mostly fixed using some basic jQuery like this:

[code]

The first

[2019-10-14 05:29] xogium commented on #7057
Hi,
this is what the 'control caret navigation' checkbox of orca actually does:

This checkbox toggles Orca's caret navigation on and off. When it is on, Orca takes control of the caret as you arrow around within a page; when it is off, Gecko's native caret navigation is active.

Source: https://help.gnome.org/users/orca/stable/preferences_gecko.html.en

Hope this helps.

[2019-10-14 05:50] xuenhua commented on #8208
You can recur this problem just  replace the  binary file  “gitea-1.8.3-linux-amd64”  with  “gitea-1.9.3-linux-amd64” in Ubuntu OS

[2019-10-14 06:05] lafriks commented on #7810
Probably fixed in #8261 reopen if not

[2019-10-14 06:05] #7810 closed

[2019-10-14 06:10] #7410 closed

[2019-10-14 06:15] carnott-snap opened #8502 "upgrade to blackfriday/v2"
russross/blackfriday made breaking api changes and has recently released v2.0.1. This change dramatically simplifies the `blackfriday.Renderer` and `blackfriday.Markdown` interfaces, and will require some work to bring `modules/markup/markdown/markdown.go` up to speed. It does seem active development and support is moving to the v2 branch, so it would be good to finish off the migration sooner ove

[2019-10-14 06:25] programmerjake commented on #7410
so, was this the last step before gitea can be migrated from github to gitea?

[2019-10-14 06:29] Mikaela commented on #6028
Is this a duplicate of https://github.com/go-gitea/gitea/issues/705 or the other way?

[2019-10-14 07:00] lunny commented on #6028
@Mikaela you are right. Let's move to #705 to discuss further.

[2019-10-14 07:00] #6028 closed

[2019-10-14 07:03] lunny commented on #705
We could have two examples, one for private sites another for public sites.

[2019-10-14 07:09] lunny commented on #7410
@programmerjake I think yes. But there is a bug need to be fixed. #8504 . After that, we will begin to migrate to gitea.com.

[2019-10-14 07:18] lunny commented on #8499
@boyter Could you send a PR to fix this?

[2019-10-14 07:31] boyter commented on #8499
Yes. I already have done 90% of the work. The only catch is that I could not see any way to get the name of the language. No idea if that is in there somewhere, but running it though the one in `scc` is no great chore.

Ill clean it up and send a PR.

[2019-10-14 11:11] 6543 opened #8505 "simple api to embed notifications from other software [Discusion]"
a simple api wich drone or a for example something like self hosted discord can notify the user that new infos are available

the idear came in mind while i was thinking about a chat system in gitea and the conclusion was that this is not giteas busines but gitea oauth2 + external chat would be great the only thing wich would be useful if gitea kann notify if messages are arived ...

[2019-10-14 12:07] mariuszmaximus opened #8507 "missing "percent sign" in locale_pl-PL.ini"
file:   options/locale/locale_pl-PL.ini

action --> commit_repo
wrong version:
`commit_repo=wypycha do <a href="%[1]s/src/branch/%[2]s">%[3]s</a> w<a href="%[1]s">[4]s</a>`

correct version
`commit_repo=wypycha do <a href="%[1]s/src/branch/%[2]s">%[3]s</a> w<a href="%[1]s">%[4]s</a>`

[2019-10-14 12:13] zeripath commented on #8507
Hi!

Our translations are kept on crowdin and need to be changed there. However, as this is quite a clear fix I've fixed it for you and approved it already.

FYI this one would be https://crowdin.com/translate/gitea/all/enus-pl#q=commit_repo

Thanks.

[2019-10-14 12:13] #8507 closed

[2019-10-14 12:32] e1fueg0 commented on #716
@lunny I also can't find it, please show.

[2019-10-14 13:00] #7239 closed

[2019-10-14 13:05] mismeniet commented on #8243
I agree, it is weird to need to subcribe to an issue created by yourself

[2019-10-14 13:14] e1fueg0 commented on #716
I looked into the code and found out the whitespace ignorance is only implemented for pull requests.
Please can it be implemented for regular commits @lunny ?

[2019-10-14 14:25] 6543 commented on #8243
@lunny add to 1.11.X roadmap

[2019-10-14 14:36] guillep2k commented on #7410
Will we do a test run were we can check things and all after migration for a few days (e.g. testmigration.gitea.com)?

[2019-10-14 15:00] guillep2k commented on #705
I agree with some comments I've read: Gitea should come with some sensible default robots.txt for public sites, not as a sample but installed as default. The users will of course be able to replace it as they see fit.

BTW: what are robots.txt used for in private sites?

[2019-10-14 15:10] guillep2k commented on #8505
This seems like a duplicate of #1089

[2019-10-14 16:02] Sunbread opened #8511 "Segmentation fault while trying executing binary"
- Gitea version (or commit ref): 1.9.4 and newer
- Git version:2.20.1
- Operating system: Raspbian Buster
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist: None

## Description

When I try executing binary "gitea-[version]-linux-arm-

[2019-10-14 16:07] jdkdfjuwicvh commented on #8494
Sorry for the delay and thanks for the clear explanation. As you said, the problem was the ROOT_URL, I fixed it and now it works. Thanks for the help!

[2019-10-14 16:17] Sunbread commented on #8511
duplicate of #8373

[2019-10-14 16:17] #8511 closed

[2019-10-14 16:25] zeripath commented on #705
I agree it is probably reasonable to provide a sensible example of robots.txt for a basic public site -that's specific knowledge that's appropriate for Gitea. For private sites, we could put something on the website documentation but it's basically:

[code]

I guess we have to decide what level of basic support we think we should give - but our documentation is supposed to cover specific Gitea inf

[2019-10-14 16:25] Sunbread commented on #8511
There is the solution: https://github.com/raspberrypi/linux/issues/3271#issuecomment-541227379

[2019-10-14 16:30] #8494 closed

[2019-10-14 17:50] 6543 opened #8512 "[Bug] Checkbox at RepoSetting for CI does not work"
I'll update this issue later on - short description

the checkbox of an CI in the settings (protected branch) dont behave like has no function

 either make a list
 * with
 * souch points

or give the a function (only if checked CI will be checked/has to aprove PR)

[2019-10-14 18:22] bobemoe opened #8513 "API: Getting issue index from `times` data"
Gitea Version: 1.10.0+dev-409-g46a12f196

I'm using the `/repos​/{owner}​/{repo}​/times​` endpoint that returns like this:

[code]

The above only gives the issue ID, and I cant find any way to then get the issue as the `/repos/{owner}/{repo}/issues/{index}` endpoint is wanting a issue number rather than the id.

Is there any way to get an issue by its ID rather than its Number?

Or to convert an

[2019-10-14 20:22] davidsvantesson commented on #7925
Implemented in 1.10 (see referenced pr above)

[2019-10-14 21:04] src386 commented on #5470
I think I have the same issue, in a amd64 Docker environment.
Test delivery never worked (i/o timeout) but using curl with the same url works.
Tested both https (via traefik) and http (direct container to container).

Adding the ```DELIVER_TIMEOUT = 60``` option slightly improves the situation, now I get HTTP 500, at least it's something.

[2019-10-14 21:18] zeripath commented on #7925
@davidsvantesson do you think we can close this issue?

[2019-10-14 21:19] wilsandbrink opened #8514 "500 error when migrating with mirror"
- Gitea version (or commit ref): 1.10.0+dev-433-gdb0d4ffdc
- Git version: 2.17.1
- Operating system: Linux (Ubuntu 18.04)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No Something was wrong with the site just received 500 erros
  - [ ] Not relevant
- Log gist:
htt

[2019-10-14 21:38] #8308 closed

[2019-10-14 22:40] #7976 closed

[2019-10-14 22:46] 6543 commented on #7625
at some point a web gui is pointles i found GitNex - feal free to ask me to reopen it ...

[2019-10-14 22:46] #7625 closed

[2019-10-14 22:48] 6543 commented on #7606
@silverwind ask for reopen this - i curently dont work on this ...

[2019-10-14 22:49] #7605 closed

[2019-10-14 22:51] 6543 commented on #7454
so it's time I'll close this huge one

lot of things work now ...
Thanks to al who helped me ...

[2019-10-14 22:51] #7454 closed

[2019-10-14 22:52] 6543 commented on #7986
@lunny now we can update the Screenshot's lot of things happend sinse v1.10.0-RC1 ;)

[2019-10-14 23:16] 6543 commented on #8514
do you use two-factor auth?

[2019-10-14 23:19] 6543 commented on #8514
convirmed ... I'll try to fix it

[2019-10-14 23:19] 6543 opened #8515 "migration from github with two-factor-auth not work"
as in descr.

[2019-10-14 23:23] 6543 commented on #8514
@zeripath can you add bug and backport to 1.10.x lable?

[2019-10-14 23:56] HaoweiCh commented on #8515
timezone info

[2019-10-15 00:01] 6543 opened #8517 "Privacy Settings [Overview]"
# Thiss issue colect Privayc related Issues to get the big Picture ...

**The main concept wich came in mind to me is a user-setting-page wich the user can decide wich scope as acces to his data and wich data ...**

this sould be also in scope of GDRP compliance

## Scopes: [Public] [Local Users] [Following Users] [Private]

## Afected data:
 * User Provile: E-Mail, Folowing, Stared Repos, Watched

[2019-10-15 00:05] 6543 commented on #8515
@HaoweiCh I think this is off-topic ?

[2019-10-15 00:11] 6543 commented on #7512
i think this is related: https://github.com/go-gitea/gitea/issues/8243

[2019-10-15 00:57] guillep2k commented on #5083
#8329 partially addresses this.
Related to #145

[2019-10-15 01:13] guillep2k commented on #8517
I think it depends whether a particular Gitea instance is governed by an authority that is also the authority for all the repositories it contains, or Gitea needs to address some degree of privacy for the individual users. I mean, Github has 100% control over my repos, but it's kind of a shadow entity and I "have control" over them repos. In my job, all the repositories are my company's, whether p

[2019-10-15 01:18] lunny commented on #7410
@guillep2k We can migrate gitea to a private repository to test if it works. A subdomain is unnecessary. And if there is no any problem. Then we can archive the old repository on github and then migrate formally.

[2019-10-15 01:31] #8478 closed

[2019-10-15 01:31] #8490 closed

[2019-10-15 01:33] lunny commented on #7925
@zeripath I think yes.

[2019-10-15 01:34] lunny commented on #8515
@6543 if you put your token on username and let password blank. I think it will work.

[2019-10-15 01:34] #7925 closed

[2019-10-15 01:36] lunny commented on #7986
So, I think maybe @go-gitea/maintainers and users could paste their favorite SCREENSHOTS here. Then we can chose some of them and update the README.

[2019-10-15 01:47] zeripath commented on #7986
One of my personal favourites is actually the 500 page with stack trace from the panic handler in Dev mode... :stuck_out_tongue:

Making that taught me about how the go VM thinks about the stack. (Even though it's mostly a copy of the panic handler in macaron.)

[2019-10-15 05:05] 8ctopus opened #8519 "git LFS data directory cleanup"
- Gitea version (or commit ref): 1.10.0-rc1
- Git version: 2.17.1
- Operating system: Ubuntu 18.04.3 LTS
- Database (use `[x]`):
  - [x] MySQL
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Not relevant

1.10.0-rc1 fixes #8423, however I've noticed that empty directories are not deleted. It's not a big deal but could be cleaner.

[code]

[2019-10-15 08:31] 8ctopus opened #8521 "account password recovery error 500"
- Gitea version (or commit ref): 1.10.0-rc1
- Git version: 2.17.1
- Operating system: Ubuntu 18.04.3 LTS
- Database (use `[x]`):
  - [x] MySQL
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes

Upgrading from 1.9.4 to 1.10.0-rc1 breaks account password recovery after I enter the new email address and click the "Recover Account" button. There's the call stack.

2019/10/15 06:07:56 ..

[2019-10-15 08:41] #8379 closed

[2019-10-15 08:43] 8ctopus commented on #8521
my guess is that #6230 introduced the bug

[2019-10-15 09:30] lunny opened #8522 "Too many space between commit message and updated date on tree view."
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/81045/66819302-58b34f80-ef71-11e9-903f-9928043cfc3c.png">

[2019-10-15 10:44] #8444 closed

[2019-10-15 11:18] brandonkal commented on #6998
1. Creation of issues via email (see GitLab service desk).

If more people start adopting self-hosting for sharing their open-source projects, there needs to be a way for non-registered users to submit issues without having to create an account on each instance (most everyone is extremely unlikely to  register for a bug report).

2. Something akin to GitLab's AutoDevOps. This means the ability to

[2019-10-15 11:48] dmolineus commented on #6237
@HorlogeSkynet I can't reproduce the issue right now. I'm fine to close it (and if it see the issue again I would open a new issue).

[2019-10-15 11:52] robertschulze commented on #8330
Manually running `git gc` did the trick for me.
Thanks!

[2019-10-15 11:52] #8330 closed

[2019-10-15 12:15] zeripath commented on #6237
OK. Sorry we couldn't find the proximate cause for this. I suspect that the change in #5609 might have revealed a bug that was then later fixed. I do think we need to review and reconsider the releases tab - There's a very recent feature request that covers this - however, as this bug is now fixed in 1.10 I'm going to close this issue.

Sorry once again that we never found out what the problem was

[2019-10-15 12:16] #6237 closed

[2019-10-15 12:35] m-a-v commented on #8273
I've tested it again with 1.10 and it seems that the described LFS bug has been solved or at least it made the error appear for this specific scenario. Before @zeropath fix we had more than 10k connections in a TIME_WAIT state. Now there are still approximately 3.5k connections in the TIME_WAIT state. I assume if multiple clients will access the LFS server the same problem could still occur.

Any

[2019-10-15 13:37] guillep2k commented on #8521
I'll take this.

[2019-10-15 13:38] zeripath commented on #8273
Hi @m-a-v, I guess this means that I must have missed some others. Is there anyway of checking that they're all LFS connections?

[2019-10-15 13:42] m-a-v commented on #8273
Indirectly, yes. I had only one active client. Before LFS checkout I had two connections on the MariaDB database server instance. During LFS checkout about 3.5k connections and then some minutes later again 2 connections.

This article could be interesting:
http://www.serverframework.com/asynchronousevents/2011/01/time-wait-and-its-design-implications-for-protocols-and-scalable-servers.html

[2019-10-15 13:46] zeripath commented on #8273
LFS checkout causes 3.5K connections?! How many LFS objects do you have?

[2019-10-15 13:46] lafriks opened #8523 "Allow everyone who has rights to edit issue comment also delete attachments"
Currently only user that uploaded attachment can delete it (follow up from #8426)

[2019-10-15 13:51] m-a-v commented on #8273
I cannot check right now, but the repo is huge (about 10GB of LFS data).

[2019-10-15 14:07] m-a-v commented on #8273
The error appeared again. I have to check this later. Probably next week.

[2019-10-15 14:14] zeripath commented on #8273
So I've spotted another unclosed thing, which is unlikely to be causing your issue, however, I am suspicious that we're not closing the response body in `modules/lfs/server.go`.

[2019-10-15 15:08] guillep2k commented on #8465
This could be fixed in the regular expression that parses mentions. I'm not sure it's always advisable, though. I didn't analyze this myself, but perhaps there are many cases where text looks like a mention but it's not. As a mention immediately sends an e-mail, false positives could be very annoying.

Probably a good trade-off would be to accept `,`, `;`, `:` as long as they are followed by a spa

[2019-10-15 15:19] HenrikBengtsson commented on #8465
A false *negative* that I keep hitting on a daily basis is when I mention someone as:

Much less common, we have at times wanted to do:

* @alice: do this...
* @bob: something else...

...

That sounds like a reasonable tradeoff.

[2019-10-15 15:29] 6543 commented on #8515
:+1:

[2019-10-15 15:29] #8515 closed

[2019-10-15 15:30] h3kker commented on #8466
sorry, duplicate of #8461 opened just hours before I did...

[2019-10-15 15:30] #8466 closed

[2019-10-15 15:35] h3kker commented on #8461
I have the same problem (reported in #8466 which I closed now again). My config is

[code]

but the POST also goes to the base (https://example.com/login/oauth/grant)

I also noted this on the configuration page (e.g. https://example.com/repo/user/settings/applications/oauth2/1)

[2019-10-15 15:40] Ahaus314 commented on #7205
I have the same issue with version 1.9.4.
The interface say everything should be fine and when I try to execute the merge, I got an error 500 and this is the error message:
2019/10/15 11:16:20 routers/repo/pull.go:629:MergePullRequest() [E] Merge: git merge --no-ff --no-commit [<…>/ocal-repo/merge-663207900.git]: exit status 128 - From <REPO>
	 * [new branch]            <BRANCH> -> head_repo/<BRAN

[2019-10-15 16:18] zeripath commented on #8273
Could it be that git lfs on the client is also leading connections?

[2019-10-15 16:26] mariuszmaximus commented on #8507
Thank you very much

[2019-10-15 16:27] guillep2k commented on #8273
That would be either `FIN_WAIT_1` or `FIN_WAIT_2`.

`TIME_WAIT` is a state maintained by the OS to keep the port from being reused (by port I mean the client+server address & port pair).

[2019-10-15 16:30] guillep2k commented on #8273
This picture should help (but it's not easy to read, so I guess it doesn't):

![image](https://user-images.githubusercontent.com/18600385/66850795-e120f880-ef4f-11e9-8aa2-f92de039aa0c.png)

[2019-10-15 16:58] LukBukkit commented on #8420
I can reproduce this issue.
I guess if you're able to upload empty files, you should also be able to create them via the web ui. This feature would be useful for creating new directories online with empty `.gitkeep` files.
I'll try to create a pull request.

[2019-10-15 17:02] lunny commented on #7512
They should be the same.

[2019-10-15 17:09] wilsandbrink commented on #8514
How do I test the version with the fix?

[2019-10-15 17:46] lonix1 commented on #6998
Some kind of plugin / extension system.

Most of the suggestions are good, but they'll create problems in the core codebase.

It would be best to have official (and unofficial) plugins. This would also mean that plugin authors could release more frequently.

[2019-10-15 18:03] Akito13 commented on #8420
In my case I was creating files where the file name was primarily important, so I wanted to create the files with the correct filenames, before filling them with content. So creating empty files has several purposes.

Additionally, even if it was intended, there should still be an error or warning message. There was none, whatsoever though. At first I thought, the connection dropped or something l

[2019-10-15 18:15] bobemoe commented on #8513
So I ended up fetching all issues with `/repos​/{owner}​/{repo}​/issues` and building a lookup table from ID to Number. This workaround has one flaw; that PR's are not included in the list of issues.

I can fetch all PR's from `/repos​/{owner}​/{repo}​/pulls` but the PR's seem to have their own ID's that don't match the ID's from the `/repos​/{owner}​/{repo}​/times` data.

Sure the number of the P

[2019-10-15 18:15] zeripath commented on #8273
AHA! Excellent! Well done for finding that!

[2019-10-15 18:35] zeripath commented on #8273
OK We do recycle connections. We use the underlying go sql connection pool.

For MySQL there are the following in the `[database]` part of the app.ini:

* `MAX_IDLE_CONNS` **0**: Max idle database connections on connnection pool, default is 0
* `CONN_MAX_LIFETIME` **3s**: Database connection max lifetime

https://docs.gitea.io/en-us/config-cheat-sheet/#database-database

I think `MAX_IDLE_CONNECTI

[2019-10-15 18:56] zeripath commented on #8273
I think what you need to do is tune those variables better. I think our defaults are highly likely to be incorrect - however, I think they were set to this because of other users complaining of problems.

I suspect that MAX_IDLE_CONNECTIONS being set to 0 happened before we adjusted CONN_MAX_LIFETIME and it could be that we could be more generous with both of these. I.e. something like MAX_IDLE_CO

[2019-10-15 19:01] mrg0lden commented on #5937
@silverwind You may consider using modern JS on modern browsers. Here's an article about it: https://philipwalton.com/articles/using-native-javascript-modules-in-production-today/

[2019-10-15 19:05] lafriks commented on #2435
Can you recheck on try.gitea.io if problem has been solved with codemirror update

[2019-10-15 19:06] wilsandbrink commented on #8514
@lunny #8526 fixed the issue.

[2019-10-15 19:12] wilsandbrink commented on #8514
Reopening issue until merged.

[2019-10-15 19:26] LukBukkit commented on #8420
There's no error or warning, because the editor just changes a hidden textarea, which was required for the form to work.
But I'm close to the solution.

[2019-10-15 19:33] 6543 commented on #8514
@wilsandbrink well noticed ...

[2019-10-15 20:13] guillep2k commented on #6998
@lonix1 Well, git hooks, webhooks and the Swagger API can be considered plugin connect points. I'm all for more plugin support, but stating a list with specifics could help. For example, I'd like support for a command-line equivalent of webhooks.

[2019-10-15 20:59] sbrl commented on #5470
Have you tried it with GitHub too, @src386?

[2019-10-15 22:18] brandonkal commented on #8174
I would prefer React/Preact or even Svelte over Vue. By doing so, you are likely too see more frequent front-end contributions from others.

[2019-10-15 22:50] Jookia commented on #7057
Okay, so here's an update on the dropdown menu navigation situation.

Originally I thought the solution here was to let the user agent control focusing of dropdown menus, because this is how it worked with bootstrap and after spending a night hacking something together I got it working with Semetic's dropdown menus! So it look like I could fix the button pressing situation and I could ship somethi

[2019-10-15 23:01] xoxys commented on #3642
Any news on this?

[2019-10-16 03:09] #8521 closed

[2019-10-16 03:18] guillep2k commented on #7057
Thank you very much for this thorough analysis for this issue.

I must say I know nothing about assistive technologies (except that they exist), and I'm more than rusty in modern UI technologies, but it looks to me that the situation can be summarized as follows:

* Key capturing seems hacky, requires Js but works, at least with Orca.
* Orca has many features/bugs that makes it difficult to work w

[2019-10-16 03:25] guillep2k commented on #7205
Maybe this can help?
https://stackoverflow.com/a/56978142/225979

[2019-10-16 03:43] guillep2k opened #8533 "Return git errors gracefully instead of rendering them as 500 Server Error"
Many errors, especially those from git, are rendered as `500 Server Error` pages. It seems to me that in many situations the end users could work out the problem if they were aware of the actual error, which is completely hidden from them in production mode.

The end user may or may not have rapid access to the Gitea administrator to help them with this problem, and they certainly don't have acces

[2019-10-16 04:40] Jookia commented on #7057
I'm not sure if this is an Orca bug, but something certainly isn't right here. I would imagine what's happening under the hood is that Orca is moving the cursor to the next element that's also on the same line or lower. So a bit like tab but if it didn't go back upwards. But I'm not entirely sure how it works.

The good news is that Gitea already uses the key capturing for the dropdown menus. It's

[2019-10-16 05:48] carlokok opened #8534 "OAuth2 provider "userinfo" support"
Gitea has an OAuth2 provider that can be used to connect applications. ConcourseCI requires that Gitea has a "userinfo" endpoint though, which it currently does not provide. userinfo seems to be fairly simple (https://connect2id.com/products/server/docs/api/userinfo) and part of openid connect (there is a separate issue from someone else to provide that)/

[2019-10-16 06:09] zeripath commented on #8533
Agreed. We jump straight to 500 far too often when we could recover.

In terms of the merge issues I'm looking at detecting merge fails a bit better and being able to report these a little nicer.

[2019-10-16 06:15] lonix1 commented on #6998
@guillep2k For example all the project management features discussed above. Those would be very useful - but they probably touch so many parts of the codebase that 1) they might cause issues even for those who don't use those features, and 2) because of that, such development is very slow because those responsible for merging new features know that this scenario is possible, so they are cautious.

[2019-10-16 07:07] ReekyMarko commented on #1337
Has anyone considered [tree-sitter](https://tree-sitter.github.io/tree-sitter)?

[2019-10-16 08:10] 6543 commented on #8243
Closed in fafour of https://github.com/go-gitea/gitea/issues/7512

[2019-10-16 08:59] #8514 closed

[2019-10-16 09:13] RelicOfTesla opened #8538 "500 Error in Empty repository"
- Gitea version (or commit ref): 1.10rc1   ref: db0d4ffdc7d0800b7785beddee4a715b1f7589bd
- Git version:
- Operating system: win7
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description
step1. New/Create Repository
step2. ht

[2019-10-16 09:23] zeripath commented on #8538
It would be helpful to get the log in cases like this, however it appears simple to replicate.

When trying the /issues/new endpoint I get:

[code]

And on /settings/hook/git:

[code]

[2019-10-16 09:35] zeripath commented on #8538
So the problem is that either `ctx.Repo.GitRepo` is nil or `ctx.Repo` is nil.

[2019-10-16 09:37] zeripath commented on #8538
https://github.com/go-gitea/gitea/blob/1d9a1a0d456887a458fd17fef417ff9c6bdd58da/modules/context/repo.go#L417-L428

Implies that in an empty repo - `ctx.Repo.GitRepo` will be nil

[2019-10-16 09:39] zeripath commented on #8538
Simplest Solution:
* Separate out the IsEmpty and BeingCreated bits - as I think it's possible that opening a git repo in creation would fail.
* Return on IsEmpty after setting the gitRepo

[2019-10-16 10:44] 6543 commented on #7986
![Bildschirmfoto zu 2019-10-16 11-24-47](https://user-images.githubusercontent.com/24977596/66912286-974d1680-f012-11e9-93f3-ca4abfa6a4c1.png)
![Bildschirmfoto zu 2019-10-16 11-27-30](https://user-images.githubusercontent.com/24977596/66912293-9ae09d80-f012-11e9-8e0d-54fb6b92126c.png)
![Bildschirmfoto zu 2019-10-16 11-29-41](https://user-images.githubusercontent.com/24977596/66912303-9fa55180-f012

[2019-10-16 10:46] 6543 commented on #7986
-> especialy the migrating status, migration github options, the heatmap, file edit and branch page are nice to look at

[2019-10-16 12:49] oaxiento opened #8540 "Migration of repositories with tags to organisation fails"
- Gitea version (or commit ref): 1.9.4
- Git version: 1.8.3.1
- Operating system: CentOS 7
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MariaDB
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description
We are currently migrating all of our 230 repositories to Gitea. Here's ho

[2019-10-16 12:58] silverwind commented on #5937
@mrg0lden There's a lot to be done, but doing all these advanced optimizations can be a maintenance burden, especially in regard to webpack configs. Some sort of "batteries included" way of bundling frontend code that doesn't need much config would be ideal.

[2019-10-16 13:08] #8538 closed

[2019-10-16 13:42] #7598 closed

[2019-10-16 13:55] sebathi commented on #1635
Also if more than one user is using gitea mirror repository both will see the password used for this on the administration side of the configuration.

[2019-10-16 15:02] zeripath commented on #6998
@brandonkal GPG signing of auto generated commits is now possible with the merging of #7631

[2019-10-16 15:29] LukBukkit opened #8544 "Can't build gitea on Windows (undefined: syscall.Kill)"
- Gitea version (or commit ref): 167e8f18da3aadcdcdd7bb8c488c39d73ac65803
- Git version: `git version 2.23.0.windows.1`
- Go version: `go version go1.13.1 windows/amd64`
- Operating system: Windows 10 1903
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [X] No
  - [ ] No

[2019-10-16 15:45] zeripath commented on #8544
Fixed by #8537

[2019-10-16 15:45] #8544 closed

[2019-10-16 15:46] LukBukkit commented on #8544
Thanks a lot!

[2019-10-16 16:14] clavinet opened #8545 "Parsing error when using asciidoctor"
- Gitea version (or commit ref): 1.9.4
- Git version: 2.23.0
- Operating system: openSUSE Tumbleweed 20191012
- Database (use `[x]`):
- asciidoctor version: 2.0.10
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant (the test instance doesn't support AsciiDoc)
- Log gist

[2019-10-16 19:29] #8420 closed

[2019-10-16 21:11] savionok commented on #6049
Here is a potential development plan for solving the current issue:

Add to User model a new column `LoginAttempts`.
Every time a user provides a wrong password on the sign in, the LoginAttempts is incremented.
Every time a user provides a valid password on the sign in, the LoginAttempts is set to 0.

If the LoginAttempts become bigger than X, in the sign in form a new captcha field will appear.

[2019-10-16 21:40] zeripath commented on #8208
@xuenhua - Sorry I missed your last comment. Let me just be clear:

* You have a gitea 1.8.3 installed as say /home/git/gitea-1.8.3-linux-amd64
* You then delete that file
* And put gitea-1.9.3 in /home/git/gitea-1.9.3-linux-amd64
* Then run gitea from that file.

The reason why your hooks don't work is because they will refer to the old path of the gitea executable unless you update them using th

[2019-10-16 22:02] zeripath commented on #1635
It's extremely difficult to do this safely, securely and without it being a huge task.

I guess a blanket app.ini option of allow mirroring with SSH could work but the use of it would have to be highly discouraged and it would have to rely on default behaviour of SSH - users would have to manage the .ssh/config

But this is hardly a robust solution.

You'd really want more granular control and per

[2019-10-16 22:28] zeripath commented on #6183
I think this is finally fixed by #6897 in 1.9

[2019-10-16 22:28] #6183 closed

[2019-10-16 22:39] zeripath commented on #7205
@ahaus314 this is not the same issue. Your error is on merging not on adding a request changes comment.

You likely need to try a different merge strategy but I recommend you open a different issue.

[2019-10-16 22:49] guillep2k commented on #8540
This seems to be related to #8528 (#8273).

I'd recomment changing `app.ini` and set:

[code]

(I'd experiment with the values and see if they improve the results)

[2019-10-16 22:54] zeripath commented on #8540
[code]

Is easier to read.

[2019-10-16 23:27] guillep2k commented on #8208
@xuenhua in case you've missed it:

![image](https://user-images.githubusercontent.com/18600385/66966345-4f021880-f053-11e9-8fbd-f30241bea734.png)

[2019-10-17 00:22] lunny commented on #1635
We need a new infrastructure maybe named secrets to store all private data.

[2019-10-17 00:47] lunny commented on #6049
@savionok I think a new column in `user` table is unnecessary. But the `LoginAttempts` could be saved in session.

[2019-10-17 01:00] lunny commented on #8513
I think maybe `/repos​/{owner}​/{repo}​/times​` should return issue index.

[2019-10-17 01:13] martmists opened #8552 "Gitea tries to use /usr/bin as run dir"
- Gitea version (or commit ref): Latest
- Git version: Latest
- Operating system: Arch Linux x64
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant

## Description

I installed gitea from the repositories using pacman, but whatever I did it alway

[2019-10-17 01:51] guillep2k commented on #6049
@lunny if we are trying to stop a hack attempt by putting a captcha and reducing the odds that it's a robot attempt, we should not trust the session cookies, I believe. 🤔

[2019-10-17 02:15] lunny commented on #6049
@guillep2k Currently we allow one user login serval times, maybe one for your personal computer, one for working computer and one for your mobile. So store it on database one column will result in other things. If we want to do that, we needs a device management table. Of course we can do that for a long consideration.

We have depended on session cookies on login I think. Once you have a differen

[2019-10-17 03:02] Jookia commented on #7057
Ok so I was dead wrong about key capturing being bugged. Turns out Orca needs role=menuitem to agree to capture keys. Anyway, here's an initial PR for keyboard accessibility: https://github.com/go-gitea/gitea/pull/8555

Straight after I submit it I find that the accordian UI element isn't clicking properly. :)

[2019-10-17 03:46] guillep2k commented on #6049
@lunny Captchas are normally meant to tell humans from robots that can be doing a dictionary attack. If that's not our intention, why use a captcha at all? Robots will certainly not honor session cookies. 👾

Any cookies kept in the real user's computers should not be affected in any way. If they were valid, they should remain valid. No problems there.

As I understand it, the `LoginAttempts` colum

[2019-10-17 05:57] KrishnaAryan opened #8556 "[remote rejected] master -> master (pre-receive hook declined) error: failed to push some refs to"
- Gitea version (or commit ref):
- Git version:
- Operating system:
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

...

## Screenshots

[2019-10-17 06:01] guillep2k commented on #8556
Could you please give us more context?

[2019-10-17 06:17] zeripath commented on #8552
Unfortunately Gitea has non-fhs standard expectations which mean that just building from source and placing the binary in /usr/bin will not work.

See "Changing the default CustomPath, CustomConf and AppWorkDir" in https://docs.gitea.io/en-us/install-from-source/ for how to set up the build environment to change the default locations so that Gitea will never look in the wrong place.

Or

Consider

[2019-10-17 07:52] mansshardt commented on #8540
Thanks you both for your quick response. I changed the database settings and tried migrating one of our biggest repositories (>6,000 tags, >14,000 commits) to our Gitea organisation. After creating 854 releases and around 100,000 `repo_permission.go` calls I see the same error though:
[code]
I think this is an efficiency issue, as I don't see why there have to be so many `repo_permission.go` calls

[2019-10-17 07:57] zeripath commented on #8556
It's not like the issue template doesn't ask you to give us this information. You haven't even told us what when you saw this.

This is frankly just rude and I'm of half a mind to just close this issue immediately.

[2019-10-17 08:12] lunny commented on #8540
@mansshardt Thanks for your reports. Could you share your database setting?

[2019-10-17 08:39] ashimokawa opened #8558 "unable to delete user that was created by "login with github""
- Gitea version (or commit ref): 1.10-rc1
- Git version: 2.20.1
- Operating system: Debian 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [X]  Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

1. Go to try.gitea.io
2. go to sign-in
3. click "login with github"
4.

[2019-10-17 08:41] ashimokawa commented on #8558
Just a random thought...
Could be worth to check if the complexity check somehow rejects the password silently when creating a new user with "login with github" and if that leads to all the problems (cant login without github, cant delete user)

[2019-10-17 09:23] mansshardt commented on #8540
Sure! Here they are:
[code]

[2019-10-17 09:26] philibe commented on #7947
Same issue for me.
Windows 7 Pro SP1
SQLite version 3.30.1 2019-10-10 20:19:45
gitea-1.9.4-windows-4.0-amd64

Log Extract
[code]

I workaround by

- delete repo for philibe in gitea,
- recreate empty repo in gitea for admin1,
- and `git push` to admin1 (from command line linux).

[2019-10-17 10:14] camdarley opened #8559 "Feature request: set time tracking value for other user"
## Description

Sometimes, as a project manager, I have to manually set the amount of time my developers spent on a feature.
Currently, if I add time tracking to an issue, the tracked time is set on my own user.
Would be great to be able to add a time amount for another user.
Could be either through the API: add optional user_id in the POST request when adding times to issues, or in the UI, having

[2019-10-17 11:02] lunny commented on #8540
`300` means `300` nano seconds, NOT `300` seconds, that's too short. Could you change that to `5m` and try agin.

[2019-10-17 11:27] guillep2k commented on #8540
Sorry, my fault about the nanoseconds.

[2019-10-17 12:31] a20eac1d opened #8561 "Gitea Authentication no longer working with NGINX Proxies"
- Gitea version: 1.11.0+dev-34-gd151503d3
- Operating system: Ubuntu 18.04
- Database:
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [X] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log gist for Docker log, Docker-Compose and NGINX proxy: https://gist.github.com/a20eac1d/925d72a3ad6f0d1f8d9d5bd1240d6156

## Des

[2019-10-17 12:43] zeripath commented on #8540
My fault too. I should have checked.

[2019-10-17 13:42] zeripath commented on #8561
Hi! It's difficult to know what the causative change is as this is highly configuration dependent on your proxy and I'm not sure how to go about setting up a test environment for this - any test harness would be highly complex.

Could you tell us what the last known working version was?

Are you able to do a git bisect from a known working version and the latest?

The code that handles this is as

[2019-10-17 14:09] mansshardt commented on #8540
No problem! I changed the setting to `CONN_MAX_LIFE_TIME = 5m` and restarted Gitea. Sadly, this didn't make a difference. After creating 766 releases I still get:
[code]

[2019-10-17 15:02] guillep2k commented on #8540
This is most likely because of attempting too many connections to MariaDB, but I thought this would be solved by the new settings.

As TCP can only create <64515 socket pairs in a small lapse of time, and this import operation seems to deplete that, perhaps you can try using [UNIX sockets](https://mariadb.com/kb/en/library/authentication-plugin-unix-socket/) for your connection to MariaDB instead?

[2019-10-17 15:28] a20eac1d commented on #8561
Oh wow, it is the auto-login caused by logging in to HTTP Basic-Auth.

When the login details for both HTTP Basic-Auth and Gitea are the same, it will login automatically.

What a strange feature.
Is there any chance that you could disable it by default? Those two login systems should definitely be seperate. It makes no sense to have it turned on automatically and I'm sure it will cause confusion

[2019-10-17 15:35] a20eac1d commented on #8561
I tried to disable the feature using: https://docs.gitea.io/en-us/config-cheat-sheet/

`ENABLE_REVERSE_PROXY_AUTHENTICATION`

Setting it to false does not seem to have any impact on the issue. Am I using it wrong?

`
[service]
DISABLE_REGISTRATION              = true
REQUIRE_SIGNIN_VIEW               = true
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
ALLOW_O

[2019-10-17 15:58] mansshardt commented on #8540
I just migrated again and checked the connections to the database via `netstat -an | grep ':3306' | wc -l`. During the creation of releases I have around 25,000 tcp sockets in TIME_WAIT. As mentioned before I'd guess that every permission call results in one database connection which doesn't get reused.

I don't understand why so many connections are nessecary in the first place. In my opinion fid

[2019-10-17 16:02] lunny opened #8563 "Transfer a repository will result in pull requests from the same repository broken"
There is a duplicated column named `HeadUserName` on `PullRequest`. But if `HeadRepo` transfered to a new place, we haven't change the pull requests' `HeadUserName`.

There are two method to resolve the problem. One is update all `PullRequest`'s `HeadUserName` when transfered repository.

The second is to remove the column `HeadUserName` and get it from `Repository` and `User`.

Which one is bette

[2019-10-17 17:01] bhalbright commented on #8233
@davidsvantesson  I had been working on the same issue before noticing your PR :) My mistake to not post that I was looking at it. But I wanted to comment something as food for thought, one outstanding question I had about the existing code was the scenario where an issue is created with an assignee (as opposed to adding the assignee later). In this scenario, currently the assignee gets an email w

[2019-10-17 17:12] bobemoe commented on #8513
There are also several other API endpoints that return similar data. I looks like {owner} and {repo} are in the URL for all but `/user/times` where an issue index alone would not be specific enough to identify the correct issue. Maybe this one (or all?) should return owner and repo too?

* /repos​/{owner}​/{repo}​
* /repos/{owner}/{repo}/issues/{id}/times
* /repos/{owner}/{repo}/times/{user}
* /us

[2019-10-17 18:00] jag3773 commented on #8233
My preference would be to catch the initial email and add a sentence noting that it has been assigned to that person (rather than two nearly identical emails at nearly the same time!).

[2019-10-17 18:05] guillep2k commented on #8540
@mansshardt I agree that this should not be the solution. I was only offering alternatives. 😄

For some reason `MAX_IDLE_CONNS` didn't have any effect. AFAIU it should have had the effect of reusing the connections for most transactions. Especially after `CONN_MAX_LIFE_TIME = 5m`.

[2019-10-17 18:14] guillep2k commented on #8233
@bhalbright @davidsvantesson @jag3773 I'm working on a template system for e-mails (#8329). This should be covered by that.

[2019-10-17 19:07] guillep2k commented on #8233
@davidsvantesson My PR will take at least another week (I'm very busy ATM). Don't worry about it, go ahead and I'll merge your changes in my PR when they're merged.

[2019-10-17 19:10] kolaente commented on #7986
@6543 Looks great! Do you think you could re-do them with the english UI? That way we can use them everywhere.

Offtopic: We should also put more screenshots of Gitea on the homepage...

[2019-10-17 19:23] davidsvantesson commented on #8233
@bhalbright I am aware about the create issue case but was not sure how to handle it. Do you think the mail should
 - always state who / which people was assigned, or
 - only state "you were assigned" to the person that was assigned

With guillep2k's PR maybe also the subject could state "created and assigned to you"?

[2019-10-17 19:34] guillep2k commented on #8233
To keep this PR on-topic, I'd send a separate notification "_xxx_ asigned you for _yyy_", even if the user will get another notification about the issue creation itself. Just my thoughts.

With the current state of the PR, `{{if cond}}` and other control structures are supported. It's only a matter of making the required metadata available to the template engine.

[2019-10-17 19:35] realslacker opened #8565 "Transfer Repository from user to organization fails"
- Gitea version (or commit ref): 1.9.3 and 1.9.4
- Git version: 2.21.0.windows.1
- Operating system: Windows Server 2012 R2
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [X] Not relevant
- Log gist:
    https://gist.github.com/realslacker/c0340d93d313dc25b0e

[2019-10-17 19:36] guillep2k commented on #8565
Duplicate of #7947

[2019-10-17 20:19] davidsvantesson commented on #8233
@guillep2k I tested on GitHub and they do it like you suggest (two e-mails received). Only there is one discrepancy in GitHub, if you are not watching the repo and is assigned when repo is created you don't get the 'Repo created' e-mail. So they seem to do that in a separate step.

It can seem a bit redundant to send two emails, but it makes sense that there should be no difference if you create a

[2019-10-17 20:27] ArchangeGabriel commented on #8552
@zeripath Thanks for pinging. So just to be sure, it means we should add `-X \"code.gitea.io/gitea/modules/setting.AppWorkDir=/var/lib/gitea\"` to our LDFLAGS, correct? Because I’ve just tried that and it did not worked (still telling `/usr/bin` as the default in `gitea help`).

[2019-10-17 20:29] guillep2k commented on #8233
@davidsvantesson Whatever the mail subject, if your "assigned" e-mail has always the same structure, it's easier to setup rules and such. So, separate mails seem like win-win to me.

[2019-10-17 20:58] lafriks commented on #6049
I agree @guillep2k this can be global per user and reset to zero on successful authorization

[2019-10-17 21:00] lafriks commented on #6049
We should probably also keep last failed authorization timestamp so that we can discard failure count after x minutes has passed

[2019-10-17 21:45] zeripath commented on #8540
You probably need my pr which allows you to set maxopenconns to prevent too many open connections to the db

[2019-10-17 21:53] zeripath commented on #8552
Damn! It should be AppWorkPath not dir. I'll send a PR to the docs to fix that sorry.

[2019-10-17 22:02] Jookia commented on #7057
So at the moment I have enough patches to do a release of my own WIP series: https://github.com/Jookia/gitea/releases/tag/v1.9.4-a11y1

As a summary of what's generally working:
- Keyboard navigation
- Dropdown menus screen reader support

Things still broken for keyboard users:
- Accordion elements
- Modal dialogs let you tab through background elements still

Things still broken for screen reade

[2019-10-17 22:04] brandonkal opened #8566 "Failed to initialize issue indexer: invalid argument -- will not install"
- Gitea version (or commit ref): gitea/gitea:1.9.4-linux-amd64 (also an issue on gitea:latest)
- Git version: 2.17.1
- Operating system: Kubernetes
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

https://gist.github.com/brandonkal

[2019-10-17 22:20] ArchangeGabriel commented on #8552
OK, that did it. ;) I’ve pushed the new package. :)

[2019-10-17 22:33] guillep2k commented on #8540
@zeripath If I'm not mistaken, the problem in this issue is the number of _closed_ connections, not the open ones.

[2019-10-17 22:51] zeripath commented on #8552
Thanks @ArchangeGabriel sorry the documentation is incorrect.

In case you're interested the -X in the LDFLAGS simply changes the default value for the provided variable name.

In this case we do a delicate dance with this value, setting it when you set environment variables or command line options but if it remains empty then it is set in the end to the program location. By setting it with LDFLAG

[2019-10-17 23:11] zeripath commented on #8552
@martmists I'm gonna close this bug as when you get the updated package it should be fixed.

[2019-10-17 23:11] #8552 closed

[2019-10-17 23:29] martmists opened #8568 "404 when regenerating oauth2 secret"
- Gitea version (or commit ref): Latest
- Git version: Latest
- Operating system: Arch Linux x64
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No
  - [ ] Not relevant
- Log gist:

## Description

I am unable to regenerate the secret for an Oauth2 application.

## S

[2019-10-17 23:35] 6543 commented on #7986
Wait a day and I'll remake them

[2019-10-18 02:56] jolheiser commented on #8568
Can you please provide your logs around the time of a 404?

[2019-10-18 03:06] jolheiser commented on #8479
Fixed by #8481

[2019-10-18 03:06] #8479 closed

[2019-10-18 03:58] lunny commented on #7986
Dark mode screenshot, come from https://gitea.com/xorm/builder/pulls

![image](https://user-images.githubusercontent.com/81045/67064823-8d581e80-f19e-11e9-8983-1f6737be18c7.png)

[2019-10-18 04:26] guillep2k opened #8572 "Octicon for editing reviews are missing"
- Gitea version (or commit ref):  1.10.0+rc1-4-g4e85c8e0d

## Description

There seems to be a problem with the octicon icons for editing and deleting the review comments.

gitea,com, Firefox:

![image](https://user-images.githubusercontent.com/18600385/67065830-2c9cf780-f146-11e9-97bc-09f5029d9641.png)

gitea.com, Edge:

![image](https://user-images.githubusercontent.com/18600385/67065854-44747b8

[2019-10-18 04:31] guillep2k commented on #8572
Note: other octicons are fine:

![image](https://user-images.githubusercontent.com/18600385/67065904-771e7400-f146-11e9-9b75-1a250a958b4a.png)

[2019-10-18 06:38] lunny commented on #7947
Have you installed antivirus software and enabled it? If that, could you try disable it and try again?

[2019-10-18 06:39] #8565 closed

[2019-10-18 06:42] lunny commented on #8559
I think that issue track time should be counted as assignees' not the current user.

[2019-10-18 06:44] lunny commented on #8561
Those default values are already `false`.

[2019-10-18 07:40] camdarley commented on #8559
I agree, but as there can be multiple assignees on an issue we would still need an additional field to choose which assignee we need to track time of.

[2019-10-18 08:00] alexanderadam commented on #6998
I guess the roadmap should be divided into those four categories (I added some example issues — it should be obvious that it's far from complete :wink:):

### Basic functionality

There are still some _basic functions_ that aren't working properly.
For instance:
* it still needs a good search solution as mentioned in issues like #5694 #5277 #3448, #2967, #2434, #8366, #8386 and #7825
* [the PDF vi

[2019-10-18 08:02] Marcsiq2 opened #8574 "PR Split view missing line break indicator"
- Gitea version (or commit ref): 1.10-rc1
- Git version:
- Operating system: ubuntu
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist:

## Description

https://try.gitea.io/marcs/bug_test/pulls/3/files?style=split&whitespace=

Pull re

[2019-10-18 08:12] hannob opened #8575 "Please clarify licensing situation and clarify whether gitea is actually under a free license"
The gitea repository says "License: MIT". Your webpage also states: "It is published under the MIT license."

However I don't think that is accurate. This has been brought up in a discussion at Gentoo, see https://github.com/gentoo/gentoo/pull/12597

In the vendor subdirectory there is code from a large number of different projects under different licenses. There is code with MPL-2.0 and Apache-2.

[2019-10-18 08:13] lunny commented on #1089
@guillep2k @alexanderadam But this has been implemented via git hooks? You can edit git hooks on repository settings UI.

[2019-10-18 08:19] mansshardt commented on #8540
@guillep2k Sure, and thanks again for your input.

The issue is not that there are to many open connections to the database as @guillep2k mentioned. The problem is, that during the creation of releases from tags, there is a huge amount of connections which get established and quickly closed. This doens't seem very efficient. As the system holds a tcp socket in TIME_WAIT for some time, we have a lo

[2019-10-18 08:19] zeripath commented on #8561
He's looking for a way to disable basic authentication in Gitea - I don't think we have that.

[2019-10-18 08:26] alexanderadam commented on #1089
You are just referring on the external command integration, right?
That's true, I didn't think of that. Thank you!
The major topic of this issue is still open however. :wink:

[2019-10-18 08:33] #8322 closed

[2019-10-18 09:09] kklocek opened #8576 "Can't create PR via Gitea UI on forked repository"
- Gitea version (or commit ref): 1.9.3
- Git version: 2.18.0.windows.1
- Operating system: Windows 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL)
  - [ ] No
  - [ ] Not relevant
- Log gist: Not relevant

## Description

I have repository A and B.
B is a fork of repositor

[2019-10-18 09:29] a20eac1d commented on #8561
Those default values weren't in the "app.ini" created by Gitea, I had to add them.

But even now, they don't do anything. Setting them to true/false does nothing.

[2019-10-18 09:38] dmatetelki opened #8577 "table alignment not rendered properly from README.md"
Writing a table in README.md generates a proper HTML but the alignment="center" is not rendered properly.

Table alignment is correct in the issue.

Is it a CSS thing? (I'm not a web developer)
gitea-1.9.0

[code]

Correct here (note: it's text):

| a11111    | b1111    | c1111    |
|-----------|:--------:|---------:|
| a1        |    b1    |       c2 |
| a3        |    b2    |       c3 |

Not fro

[2019-10-18 10:20] fangd123 opened #8578 "unable to push repo after migrate from gogs"
- Gitea version (or commit ref):
- Git version:
- Operating system:
- Database (use `[x]`):
  - [x] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
I upgraded from Gogs 0.11.91, after following the document instruction, I can not push or clone my

[2019-10-18 10:30] fangd123 commented on #8578
I don't do the migrate command

[2019-10-18 10:54] djbrown commented on #4249
Any news on this?

[2019-10-18 11:04] lunny commented on #8578
You can add a column named `is_bare` on table `repository` type is `bool`.

[2019-10-18 11:10] browcio commented on #8179
I have also encountered this issue.

We have repo with issues disabled. When I try to set Due Date on pull request my API call result in 403 Forbidden.

Gitea ver: 1.10-rc1.

[2019-10-18 11:13] #8563 closed

[2019-10-18 11:20] 6543 commented on #5532
`style="overflow-y:auto;">` ?

[2019-10-18 11:21] 6543 commented on #5532
I'll look at it

[2019-10-18 11:27] 6543 opened #8579 "Feature Request: collapse File-Diff on PR view"
Like on GitHub where you can colapse the diff view of a File ...

[2019-10-18 11:27] 6543 commented on #7092
I would NOT hide them because of securety conzerns - but then https://github.com/go-gitea/gitea/issues/8579 has to be there first

[2019-10-18 11:29] 6543 commented on #8579
related issue but depend on this feature: https://github.com/go-gitea/gitea/issues/6380

[2019-10-18 11:50] lunny commented on #4249
The idea is to add an option and check the signed commits on prereceive hook.

[2019-10-18 11:50] bobemoe commented on #8179
That doesn't quite sound like the issue I was describing... I don't get 403 or that message.  What API call are you using?

[2019-10-18 12:54] zeripath commented on #4249
This has only really become practicable since #7631 was merged.

It's not just a case of enforcing commits are signed - commits from merging PRs have to be signed and we need to indicate whether such a commit will be signed and likely indicate why it wouldn't be. We would need to add a block on attempting to merge a pr if it wouldn't be signed.

[2019-10-18 13:07] lafriks commented on #8575
Project itself is licensed under MIT license, we can't really check every single dependency of dependencies. So it is not really a right statement that if project is using any dependency with other license than project itself is not free.

Concerning identified problematic cases:
* github.com/couchbase/goutils/LICENSE.md - dependency of dependency
* github.com/glycerine/go-unsnap-stream/LICENSE -

[2019-10-18 13:09] bhalbright commented on #8233
@davidsvantesson as a user I'd prefer to just receive one email, but it makes total sense to follow the github model and as @guillep2k suggested.

[2019-10-18 13:20] realslacker commented on #7947
@lunny I'm experiencing the same issue (see #8565), I'm not running any AV software.

[2019-10-18 13:24] guillep2k commented on #7947
@realslacker Perhaps _Tortoise_ or another local git helper that it's integrated with Windows shell?

[2019-10-18 13:34] guillep2k commented on #7947
You can use process monitor from Microsoft's sysinternals to try and find what process is holding up the files:

![image](https://user-images.githubusercontent.com/18600385/67098374-757a9d80-f192-11e9-89bb-fc714af7aff0.png)

I'd use a filter like this:

![image](https://user-images.githubusercontent.com/18600385/67098494-b1adfe00-f192-11e9-95ad-460676a36ece.png)

This should tell us which other pr

[2019-10-18 13:46] scandinave commented on #5724
Hi,
I still have the same problem with the latest gitea.

I make a request to http://localhost:3000/api/v1/user?api_key

[code]

but get 404 error. It seem the API does not support option preflight or i make something wrong

[2019-10-18 13:49] davidsvantesson commented on #8233
I think it shall be separate mails (notifications), it will allow more fine-grained settings of what notifications you want in the future.

[2019-10-18 13:50] scandinave opened #8580 "Prefligth Options on API return 404 error"
- Gitea version (or commit ref): 1.9.4 and 1.11.0+dev-41-g945f12126
- Git version: 2.20.1
- Operating system: Linux
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Hi,
I still have the same problem than in the #5724

[2019-10-18 13:51] 6543 commented on #5532
ok got it :)

-> https://github.com/go-gitea/gitea/pull/8581

[2019-10-18 14:41] 6543 opened #8582 "[Bug] API return 500 when repository is empty"
Came Up in https://gitea.com/gitnex/GitNex/issues/154

- Gitea version (or commit ref): 1.9.4 & 1.10.0-rc1
- Can you reproduce the bug at https://try.gitea.io: at gitea.com ...

API call should not return 500 as HTTP status!

query: `https://code.obermui.de/api/v1/repos/6543/empty/contents`
responce: `{"message":"object does not exist [id: master, rel_path: ]","url":"https://code.obermui.de/api/sw

[2019-10-18 14:57] lunny commented on #8582
May related to https://github.com/go-gitea/gitea/pull/8541

[2019-10-18 15:00] 6543 commented on #8582
I dont think so - 1.9.4  has same problem

[2019-10-18 16:18] realslacker commented on #7947
The only service on the server is Gitea. This server is a brand new VM spun up for Gitea and I experienced this issue when moving a repo that was freshly imported into the wrong account.

[2019-10-18 16:24] guillep2k commented on #7947
@realslacker I was hoping to check whether the locker was Gitea's service process or a child from it (e.g. some lingering `git` that should not be there).

[2019-10-18 16:26] guillep2k commented on #8540
I've checked the docs and the sources and I couldn't find a reason why the connections are not pooled.

https://www.alexedwards.net/blog/configuring-sqldb

![image](https://user-images.githubusercontent.com/18600385/67103816-3ea98500-f19c-11e9-8254-371b4690f89c.png)

@zeripath It looks like your PR #8528 could be related after all, but the default value should be working nonetheless. In theory, by

[2019-10-18 18:13] Akito13 commented on #8575
I agree with @lafriks and if a dependency author has truly a problem with integrating their code into Gitea (which would be insane, in most cases) they can send a message requesting removal of the dependency from the Gitea project. I don't see a problem in that.

[2019-10-18 19:55] 6543 commented on #7986
# can someone creat a GIF of this ?:

![Bildschirmfoto zu 2019-10-18 21-54-22](https://user-images.githubusercontent.com/24977596/67124052-fe74f180-f1f1-11e9-8291-6942c0898ced.png)

[2019-10-18 19:56] 6543 commented on #7986
![Bildschirmfoto zu 2019-10-18 21-53-34](https://user-images.githubusercontent.com/24977596/67124067-06cd2c80-f1f2-11e9-8641-e7cc782f6701.png)
![Bildschirmfoto zu 2019-10-18 21-47-12](https://user-images.githubusercontent.com/24977596/67124069-09c81d00-f1f2-11e9-9f13-781bd498df81.png)
![Bildschirmfoto zu 2019-10-18 21-45-33](https://user-images.githubusercontent.com/24977596/67124079-0cc30d80-f1f2

[2019-10-18 19:57] mrsdizzie commented on #7986
This one shows a bug with the edit/delete icons so probably not the best to use 😬

[2019-10-18 19:59] 6543 commented on #7986
-> can someone creat a GIF of this ?
https://github.com/go-gitea/gitea/issues/7986#issuecomment-543912956

[2019-10-18 20:18] guillep2k commented on #7986
@6543 https://github.com/go-gitea/gitea/pull/6200#issue-256721646
It's low-res and in Chinese, but I think it's a cool picture.

[2019-10-18 20:56] zeripath commented on #8575
I think the couchbase atrocity needs looking at. It's fortunately non-infective as far as I can see. We could probably get away with making it build tag dependent but we could consider removing it from the codebase entirely - the license doesn't really induce me to make me give my free time to support them.

We probably need to make it clear that some parts of the codebase are MIT, some BSD, some

[2019-10-18 20:59] Akito13 commented on #8575
Is this crucial? I thought they are interchangeable for the most part.

[2019-10-18 21:26] Amolith commented on #6426
This is a feature I'm really missing as well. Some of the web services I run are on Gitea rather than GitHub/Gitlab (which is good imo) but staying on top of releases is difficult when I have to remember to explicitly look at that repo rather than just keep an eye on my feed reader.

[2019-10-18 21:27] zeripath commented on #8575
@Akito13 it's just a bit messy really - I think we'd probably get away with saying "the majority of the code is under MIT with a few  parts under Apache and BSD - please see the code for further information." However we can't just say that the code is licensed under MIT and gloss over them - Apache 2 does impose an obligation on downstream users that MIT does not.

I think we have been slightly ca

[2019-10-18 21:49] erAck commented on #7912
I can understand a stale bot for lingering pull requests, but not for issues; specifically not if they are labeled as enhancement.

[2019-10-18 21:56] Jookia commented on #8575
Could this be split at some point to 'remove proprietary dependencies' or 'allow building with only free dependencies' once a list is made?

[2019-10-18 22:09] #7764 closed

[2019-10-19 01:36] Akito13 commented on #8575
Isn't this still triggering the event:

?

[2019-10-19 01:42] Jookia commented on #8575
No, removing features that depend on nonfree dependencies is acceptable.

[2019-10-19 01:50] Jookia commented on #8575
go-unsnap-stream is MIT since last year: https://github.com/glycerine/go-unsnap-stream/commit/f9677308dec2b35e76737f9713df328ad11b1fea
As for 13 hours, goutils is now Apache licensed: https://github.com/couchbase/goutils/commit/b49639060d85b267c5bdb7d4e3246d4ccca94e79

[2019-10-19 01:53] Akito13 commented on #8575
I would find that kind of pointless. That is a really bad way to design software. This would create a much bigger development effort and risk of bugs, etc. just to make a second option that actually takes away value from the project, instead of adding value to it. Maybe if there would be a way to tone down features, that would be discussable.

I think the only way to make this idea work is if ther

[2019-10-19 01:58] Jookia commented on #8575
https://github.com/go-gitea/gitea/blob/master/vendor/github.com/gogits/chardet/icu-license.html this looks like the MIT license with an advertising clause. So everything looks free now, at least upstream.

[2019-10-19 02:13] lunny commented on #8575
I think https://github.com/go-gitea/gitea/pull/7849 will check the status when new codes merged.

[2019-10-19 02:24] Jookia commented on #8575
If anyone's interested I did a quick patch that removes couchbase in v1.9.4: https://github.com/Jookia/gitea/commit/6a3129cd529341395c71a9e6cfde132e2006e3c6 In the gitea code itself (ignoring Go dependency management): 5 files changed, 1 insertion(+), 16 deletions(-)

[2019-10-19 05:09] lunny commented on #8575
@Jookia Why not just update `couchbase/goutils` since it has updated license?

[2019-10-19 05:12] Jookia commented on #8575
I don't have the time to learn the skills to do that at the moment.

[2019-10-19 09:05] zeripath commented on #8561
@a20eac1d those settings are for a different type of login - in that case the proxy server is setting a X-WEBAUTH-USER header. Basic authentication is set using the AUTHORIZATION header with type basic.

We have no setting to turn that mode of authentication off at present - it's used in the API, predominantly for controlling tokens. I think it would be possible to add a simple config switch to di

[2019-10-19 09:11] #7766 closed

[2019-10-19 10:11] #7768 closed

[2019-10-19 10:59] jonasfranz commented on #8582
Can be reproduced at try.gitea.io: https://try.gitea.io/api/v1/repos/JonasFranzDEV/empty/contents

[2019-10-19 11:11] #7759 closed

[2019-10-19 11:34] zeripath commented on #8540
@guillep2k yeah so with a long enough lifetime, a large enough MaxOpenConns and a MaxIdleConns near the MaxOpenConns should prevent the rapid opening and closing of connections preventing the port number depletion at least papering over this implementation fault.

We need to think about these permissions calls a bit better and consider if we can cache these results in some way.

In this particular

[2019-10-19 12:05] guillep2k commented on #8540
Although optimization is always a good thing, I think the root of the problem here is the connection pool. It will bite us back anytime, not only with the migration of large repositories.

[2019-10-19 12:48] tomac4t opened #8588 "Repository redirect not use modified `ROOT_URL`"
- Gitea version (or commit ref): 1.10.0-rc1 from binary: https://dl.gitea.io/gitea/1.10.0-rc1/gitea-1.10.0-rc1-linux-amd64
- Git version: git version 2.20.1
- Operating system: GNU/Linux Debian 10
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes ~(provide example URL)~
  - [x] No (`ROOT_URL` value

[2019-10-19 12:51] tomac4t commented on #8588
An example link: https://tomcat.one/git/tom/cnki-pdf-download.js/
[code]

[2019-10-19 14:01] zeripath commented on #8540
Yeah, at the end of the day - it doesn't matter how efficient this bit of code is - if you have not configured the pool properly you could run it out of connections with the correct kind of load.

At least with #8528 we will expose all the configurables that go provides to the user - if that's still not enough then we'll have to think about writing our own pool. ( One which at the least could hand

[2019-10-19 14:04] PKizzle opened #8589 "Account linking does not work if only external registration is allowed"
- Gitea version (or commit ref): 1.9.4
- Git version: 2.22.0
- Operating system: GNU/Linux Debian 9
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [x] No (ALLOW_ONLY_EXTERNAL_REGISTRATION not set to true)
  - [ ] Not relevant
- Log gist:

## Description
The password inp

[2019-10-19 14:27] #8561 closed

[2019-10-19 15:07] guillep2k commented on #8540
@zeripath Mmm... I was about to write a long explanation of how MaxOpenConns should not affect the number of closed connections but now I think I see your point. The only way to avoid the system from creating time_wait entries is to keep it from closing them as much as possible, so MaxIdleConns should be equal to MaxOpenConns in this type of application where many users can be doing operations at

[2019-10-19 15:38] #8582 closed

[2019-10-19 16:13] nunoperalta opened #8591 "(please delete this issue)"
(please delete this issue)

[2019-10-19 16:42] davidsvantesson commented on #4329
I think the required access shall be a setting, at least in app.ini (later on maybe per organization or repo).

To be assignable to an issue or pull request the user shall at least have read access to that unit (doesn't make sense to be assigned to something you can't read).
If you are assigned to an issue/pr you shall be able to make comments in it, even if you only have read access to other issu

[2019-10-19 18:03] #8591 closed

[2019-10-19 18:18] Francky46 opened #8595 "Synology DS211J Kernel too old on v1.10.0-rc1"
- Gitea version : gitea-1.10.0-rc1-linux-arm-5 / gitea-1.9.4-linux-arm-5
- Kernel version : 2.6.32.12
- CPU : Marvell Kirkwood 88F6281 (ARMv5 ?)
- OS : Linux DiskStation 2.6.32.12 #24922 Tue Apr 23 17:32:06 CST 2019 armv5tel GNU/Linux synology_88f6281_211j

## Description
After launching a wget to get the x version of gitea on my DS211J NAS, I did a chmod + x on the binary.
So I tried to launch th

[2019-10-19 18:18] Rychu-Pawel commented on #7805
Same for me. A bit annoying 😕

[2019-10-19 18:19] zeripath commented on #8540
Without looking at the code I would guess it's actually "random" - the most obvious implementation is a simple spin lock with a wait until you actually get the real lock. I would bet there is no formal queue - too expensive - so we're into OS level queuing algorithms, suggesting a likely bias towards LIFO.

[2019-10-19 19:00] MarkusAmshove commented on #8096
Gitea needs to have an API for PR reviews/comments on code for this to make sense, right?
We already use sonarqube result for commit status (for checks on PRs), but comments on code about issues would be cool :-)

[2019-10-19 19:09] lafriks commented on #8096
@MarkusAmshove how do you get sonarqube results to Gitea commit status?

[2019-10-19 19:14] guillep2k commented on #8540
@mansshardt I know it's a bit of a hassle, but is it possible for you to grab @zeripath 's PR to build from source and try?:

[code]

(It's important for the test that the first two values match)

[2019-10-19 19:44] MarkusAmshove commented on #8096
I can get the Quality Gate status from the SonarQube Plugin for Jenkins and then simply POST it to the commit on Gitea.

The report itself is not part of the plugin. It is implemented in Groovy (e.g. Jenkins Pipeline) which uses the result of the analysis

[2019-10-19 19:49] mansshardt commented on #8540
@guillep2k I will try that on monday when I am back at the office and get back to you.

[2019-10-19 20:00] fbrinker commented on #3696
Yep found out about the same error today. I wanted to start build jobs of another repository, using a mirrored repository since the webhooks can't send custom post parameters

To bad this doesn't work either :(

[2019-10-20 02:58] VentGrey commented on #8461
I'm also experiencing this on Drone. The URL redirect forgets the `/git` prefix

[2019-10-20 03:18] bhalbright commented on #8232
Just wanted to note here that I am working on this functionality

[2019-10-20 05:01] rikakomoe opened #8597 "Gitea Upgrade Failure"
- Gitea version (or commit ref): v1.9.3
- Git version: 2.16.5
- Operating system: Debian GNU/Linux 9 (stretch)
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [x] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [ ] Yes (provide example URL)
  - [ ] No
  - [x] Not relevant
- Log gist:

## Description
Unable to upgrade to v1.9.3 from v1.3.2, seems like a da

[2019-10-20 08:16] lunny commented on #8597
Please upgrade 1.3 -> 1.4 -> 1.5 -> 1.6 -> 1.7 -> 1.8 -> 1.9

[2019-10-20 09:59] #7779 closed

[2019-10-20 10:18] zeripath commented on #7779
Likely fixed by #8476 in any case.

[2019-10-20 10:57] vszakats commented on #7700
As of v1.9.4, the issue is still there. It seems that the `Content-Type: application/x-www-form-urlencoded` header is missing from the `POST` request. May be related to changing the http client from `GiteaServer` to `Go-http-client/1.1`:
[code]

Compared to `application/json` mode, where `Content-Type` is there:
[code]

[2019-10-20 11:22] vszakats commented on #7700
It looks like this is what happened. Issued a PR to fix it.

[2019-10-20 13:08] Flameborn commented on #7057
Thank you so much for your work on this.

Regarding accordions, while this is not standards by all means, I think for a start it is good enough if the elements are exposed to screen readers, which was a huge issue with dropdowns, for example there was no way to switch the UI language, choose a license, etc, because screen readers did not see the elements at all.

Looking forward to this becoming a

[2019-10-20 14:37] adelowo commented on #7700
Can we close this issue?

[2019-10-20 16:17] rikakomoe commented on #8597
I tried, now it gives things like this from 1.4.3 -> 1.5.0
[code]

[2019-10-20 16:24] rikakomoe commented on #8597
https://github.com/go-gitea/gitea/issues/7070#issuecomment-496933432
Droping table team_unit worked for me!

[2019-10-20 16:32] #8597 closed

[2019-10-20 17:18] #7700 closed

[2019-10-20 20:11] hiteshnayak305 opened #8603 "Having issue with accessing directory inside a repository having same name as username"
- Gitea version (or commit ref): master 20/10/2019
- Git version: git version 2.23.0.windows.1
- Operating system: windows 10 18999 build
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [ ] MySQL
  - [ ] MSSQL
  - [x] SQLite
- Can you reproduce the bug at https://try.gitea.io:
  - [x] Yes (provide example URL) https://try.gitea.io/hiteshnayak305/hiteshnayak305
  - [ ] No
  - [ ] Not relevant
- Log

[2019-10-20 20:44] mrsdizzie commented on #8603
Migrating this to view logs suggest problem is unrelated to username but nil reference with new GPG code added recently:

[code]

[2019-10-20 20:59] zeripath commented on #8603
OK, I think I understand what's happened here. The stack trace implies that L684 here is the cause - but actually it's wrong the cause is coming from L685

https://github.com/go-gitea/gitea/blob/c8f3146cd52887c0bdd815ad0bdeb954b242c8fc/models/gpg_key.go#L682-L685

The `defaultGPGSettings` is `nil`. But how can that be?

https://github.com/go-gitea/gitea/blob/c8f3146cd52887c0bdd815ad0bdeb954b242c8f

[2019-10-20 21:59] zeripath commented on #8603
Now `c.repo` being nil implies it is an unattached commit. It absolutely should be associated with a repository otherwise we cannot examine whether it was signed by the default key.

So there's another bug that this is revealing in:

https://github.com/go-gitea/gitea/blob/c8f3146cd52887c0bdd815ad0bdeb954b242c8fc/modules/git/commit_info.go#L15

In particular:

https://github.com/go-gitea/gitea/blob

[2019-10-20 22:20] zeripath commented on #8595
The problem is golang requires a much newer kernel - "Linux/ARMv5 requires much newer kernels, at least v3.1 (for __kuser_cmpxchg64)." See https://github.com/golang/go/wiki/MinimumRequirements

This appears to be longstanding.

Is there really no way of rebuilding the kernel? There may also be a Synology arm port of go.

You could try cross compiling a non static build and seeing if that works?