[2015-06-03 14:59] lunny opened #2 "Pull Requests"

[2015-06-03 14:59] lunny opened #3 "Wiki support"

[2015-06-03 15:03] lunny opened #4 "Comments on code lines"

[2015-06-03 15:29] tboerger opened #10 "Document bindata update process"

[2015-06-03 15:30] tboerger opened #11 "Define proper filesystem paths"
We should define better paths for the file system and make most of them configurale to be able to do correct packaging for different linux distributions.

[2015-06-03 15:34] tboerger opened #12 "Stop making gravatar email required"
It doesn't make sense to have the gravatar email field as an required field. We should stop that.

[2015-06-03 15:37] linquize commented on #10
The process is more complicated as we still support go < v1.4

[2015-06-03 16:19] tboerger commented on #10
Who says that we will support it?

[2015-06-03 16:20] linquize commented on #10
as of gogs 0.6.1, gogs can be compiled using go >= 1.2, travis tests with go 1.2, 1.3, 1.4

[2015-06-04 11:41] sapk opened #16 "Restore Travis CI"
A Travis CI instance should be create.

[2015-06-04 12:15] sapk commented on #12
I could take care of that

[2015-06-04 13:53] pbor opened #19 "make commit message in the commit list link to the commit diff"
Right now you can get the diff only if you click on the git hash, while the commit message is not clickble.

Clicking on the hash is not very discoverable, I would prefer if I could click also on the commit message like in github. (I made the trivial change to add the <a> in the template, but I am not familiar enough with the theming to fix the css to make it look nice, so I am opening an issue in

[2015-06-04 13:57] xPaw opened #20 "Don't use third party CDNs"
Some javascript files can be served from a third party CDN if offline mode is turned off. However turning on offline mode will also disable gravatar, which might not be desirable.

[2015-06-05 00:47] linquize commented on #20
I suggest to add one more setting to separate between these 2 settingss.

[2015-06-05 06:57] tboerger commented on #20
:+1: for the idea to habe two seperate flags for enable/disable CDN and enable/disable gravatar.

[2015-06-05 06:58] tboerger commented on #19
:+1:

[2015-06-05 07:16] tboerger opened #22 "Build packages on OBS"
In order to make it quite easy to install gitea I would suggest to start a project on http://build.opensuse.org, that way we are able to build packages for all major distributions inlcuding an update channel. Currently it supports these distributions:

* SUSE
* ~~Arch Linux~~
* Debian
* Redhat
* Mandriva
* Ubuntu

We just need to build proper ```.spec``` and ```control``` files, the build service

[2015-06-05 07:19] tboerger commented on #16
@lunny I wanted to enable this, but somebody with admin rights have to do that. Please enable it at https://travis-ci.org/profile/go-gitea, than we can close this issue.

[2015-06-05 07:52] makhov opened #23 "Removing user from collaboration removes repositiory"
(copy of https://github.com/gogits/gogs/issues/1279)

[2015-06-05 14:07] #23 closed

[2015-06-05 15:57] lunny commented on #22
Sounds like a good idea.

[2015-06-05 16:05] lunny commented on #16
I have enabled it. When some push on master. The icons will be changed.

[2015-06-05 16:05] lunny commented on #2
I'm working on this.

[2015-06-05 17:17] makhov commented on #2
Do you need help?

[2015-06-05 19:48] edm00se opened #26 "Repository Path Copy to Clipboard tooltip exits download modal"
When in a repository, hovering over the "download" button, there's the SSH/ HTTPS path at the top of the modal, next to it a button to "Copy" with a tool tip on hover, saying "Copy to clipboard". This tool tip, once hovered over, breaks the hover status over the "download" button, causing it to disappear as soon as  you exit the tool tip.

![gogsissue_copytoclipboardtooltiphover](https://cloud.git

[2015-06-05 21:00] sapk commented on #26
It's cause by the tipsy module gaining focus (:hover) and so the :hover of the .drop is loose and the box (.drop-down) hide again. I don't know if it possible in full css because the .tipsy div is not near the .drop and using .tipsy:hover + .drop-down would make it relative to it.

[2015-06-06 00:24] lunny commented on #2
Just know that. I will merge your codes to my branch.

[2015-06-06 00:26] lunny commented on #26
@fuxiaohei, any idea?

[2015-06-06 08:43] pbor commented on #26
May I ask to reconsider the whole design of the clone/download user interface?

*) a single icon only button is not easily discoverable, especially for something so important as clone
*) the automatic display-on-hover diff frustrating to use, for instance if  you want to switch between ssh and http you have to click on the buttons that are near the border and it is easy to make the popup disappear

[2015-06-06 09:05] makhov commented on #26
I confirm annoying popup disappearance.
I think, we can design some variants of the feature and choose the best.
6 июня 2015 г. 11:43 AM пользователь "Paolo Borelli" <
notifications@github.com> написал:

[2015-06-06 10:44] lunny commented on #26
@pbor, I agree with you. We can redesign this feature.

[2015-06-07 07:42] nounoursheureux commented on #19
Hi, I am trying to fix this. Here is the result:
![screen shot 2015-06-07 at 09 44 40](https://cloud.githubusercontent.com/assets/6280095/8023060/774b297c-0cf9-11e5-922c-5bd3663e886c.png)
Is it okay ?

[2015-06-07 09:34] makhov commented on #26
What do you think about it?
![clone ui]
(https://habrastorage.org/files/020/6db/ed7/0206dbed7966449683c6dffdd88b499a.png)

https://github.com/makhov/gitea/tree/improvement/clone-ui

[2015-06-07 09:48] pbor commented on #26
looks quite good to me, though we need to put the tarball download somewhere.

If possible I'd also keep the "copy to clipboard" button maybe with a small icon instead of the text

[2015-06-07 10:13] makhov commented on #26
Add «copy to clipboard»
![ui with copy to clipboard]
(https://habrastorage.org/files/e19/0da/a4c/e190daa4c97a4505bd427775b1d2e231.png)
But there is no good idea, where put download links. Maybe here?
![download links]
(https://habrastorage.org/files/25e/95f/784/25e95f7845ea4dfdbb94eda2f171208f.png)

[2015-06-07 10:52] pbor commented on #26
It is a bit unfortunate that the download buttons and clone are so far apart since they are somehow related, but I do not have any better ideas...  would it fit in the same line of the clone with smaller  [ .zip | .tar.gz ] button instead of the green ones?

A small personal preference I think the black background clipboard icon is too evident, I'd try with black icon on gray backgrund

[2015-06-07 11:18] xPaw commented on #26
Buttons in sidebar is a good idea, you can also put clone url there too, like it is on GitHub.

[2015-06-07 11:32] makhov commented on #26
I'll try to design another variant soon.

[2015-06-07 12:51] pbor commented on #26
@xPaw  to be honest I do not like github solution too much: the clone url is almost wider than the sidebar so it is always clipped

[2015-06-07 19:22] pbor opened #31 "Copy to clipboard icon in SHA labels"
I find it useful to be able to click on a sha label in the commit list etc and copy the full sha in the clipboard ready to paste in a local git command.

I quickly tried to implement this but I am not good at the frontend part and I am still not familiar at all of how the frontent works in gitea/gogs (there are many js that seem in part duplicated, I have no idea how to regenerate the minified for

[2015-06-08 03:40] lunny commented on #26
Good. @makhov

[2015-06-08 03:56] lunny commented on #3
Proposal

I would like to create a wiki git repo related a git repo. So we need add two new fields on Repository ```
[code]

If ```repo.WikiRepoId == 0```, then it's wiki is not enabled. If ```IsWiki```, then it should be hidden on repo list.
A wiki git repo could be named with ```<repoName>-wiki.git```
A wiki path is a markdown file on wiki git repo. A wiki path is allowed to have a ```/```. When

[2015-06-08 06:57] makhov commented on #26
Another variant
![with download btns]
(https://habrastorage.org/files/9da/50f/4e1/9da50f4e110d44ab9da2ea3ad4b2c75b.png)

What we choose?

[2015-06-08 07:17] #4 closed

[2015-06-08 08:00] tboerger commented on #3
I would prefer ```repo.WikiRepoId IS NULL``` if there is no wiki. Beside that it sounds good to me.

[2015-06-08 08:01] tboerger commented on #16
So let's close this issue as it's enabled now.

[2015-06-08 08:01] #16 closed

[2015-06-08 08:02] tboerger commented on #19
I like it, :+1:

[2015-06-08 08:03] tboerger commented on #22
We can skip Arch Linux on this list as it is already or will be directly maintained on AUR.

[2015-06-08 08:04] makhov commented on #3
@tboerger NULL in MySQL is very specific type and if you can **don't** use it, you should don't use it.

[2015-06-08 08:05] tboerger commented on #26
IMHO you can make a button group combining the download dropdown with the clone stuff. Should be interesting to see how it looks like on mobile.

[2015-06-08 08:07] xPaw opened #37 "Cronless webhooks"
Is there any reason why webhooks are run on cron and not on each push? The delay is really annoying every time someone pushes and it can take up to a full minute to see the changes in IRC.

[2015-06-08 08:10] tboerger commented on #37
Some kind of queue system for async jobs would make sense instead of using a cron system.

[2015-06-08 08:11] tboerger commented on #3
@makhov but it's more conventional to keep an field empty instead of setting it to 0 just to show "there is no link".

[2015-06-08 08:20] vtolstov commented on #37
Yes i think about this, but for workaround fix i add ability to run hook every second =)

[2015-06-08 08:34] tboerger commented on #37
:+1:

[2015-06-08 12:35] makhov commented on #26
Done #28

[2015-06-08 12:35] makhov commented on #3
If @lunny does not mind, I'll make it.

[2015-06-08 14:30] lunny commented on #3
OKay. @makhov

[2015-06-08 15:14] makhov commented on #26
There is a problem when repo name is long.
What do think about the proposal?
![a]
(https://habrastorage.org/files/905/8eb/0f4/9058eb0f413540e5a1db91abdcf166ec.png)

[2015-06-08 15:23] pbor commented on #26
I like it. Maybe "Download" should be a button as well: it would be consistent with the other actions (gray button, icon + text) and it would still be relatively near to the clone UI.

I also think there should be more vertical space between the buttons and "Issues"

[2015-06-08 21:44] bastiao opened #41 "Docker: Migrate scripts from fig to docker-compose"

[2015-06-09 01:13] lunny commented on #26
The new design is great.

[2015-06-09 05:19] nounoursheureux commented on #26
:+1: for the new design

[2015-06-09 07:21] lunny commented on #2
How to compare forked repo's branch to original repo's branch on git command? Andybody has idea? @fuxiaohei @makhov @tboerger

[2015-06-09 07:23] lunny commented on #26
But if you want to star or fork repository, you have to return back to home page to do that.

[2015-06-09 07:23] makhov commented on #2
[code]

[2015-06-09 07:28] makhov commented on #26
I'm not sure that it is a problem. Another proposal is to design it like on Github.
I can do it, but we should decide which proposal is better.

[2015-06-09 07:35] lunny commented on #2
```go-gitea/git``` is forked from ```gogs/git```, but there is no upstream?
[code]

[2015-06-09 07:40] makhov commented on #2
First, you should add original repo as upstream:
[code]
And don't forget update upstream repo before compare — `git fetch upstream`

[2015-06-09 07:45] tboerger commented on #26
I would prefer the Github proposal as well. Make just icon buttons at the side on code view or other pages that need much space and show text with it on the index project page.

[2015-06-09 08:36] makhov commented on #26
We have to decide, what is more important for our users — the clone possibility or the fork one.
At Github fork button is more important, because it is a Github main idea — all is around forks and pull request.
Github has another point of view — clone is more important at self-hosted git services, because usually (in my practice) all team members has write-access to repo.

[2015-06-09 09:01] lunny commented on #2
I'm working on compare between forked repository and source repository. This is a part of pull requests. So your method is not suitable for this situation?

[2015-06-09 09:04] lunny commented on #26
Yes. I agree with you. @makhov. Clone is more important at self-hosted git services.

[2015-06-09 09:05] makhov commented on #20
Done.

[2015-06-09 09:05] #20 closed

[2015-06-09 09:14] makhov commented on #2
Why?
Just add source repo as upstream remote to forked, while creating fork.
When creating pull request just fetch actual upstream and compare forked repo branch with the source one with `git diff`.

[2015-06-09 12:52] tboerger opened #43 "Integrate static websites"
It should be awesome to have support for static websites like with jekyll on github. I read about https://github.com/spf13/hugo for that. References to https://github.com/gogits/gogs/issues/1314.

[2015-06-09 12:53] tboerger commented on #10
Ok, we really need proper documentation, I already found out that the latest ```go-bindata``` version is broken. And even with older versions the new bindata looks totally different. Digging in that stuff.

[2015-06-09 13:21] tboerger commented on #10
https://github.com/jteeuwen/go-bindata/issues/95

[2015-06-09 13:24] tboerger commented on #26
So I think we can take the way of putting the clone stuff at the top in a good size and the fork stuff at the side with small icons within views that need much space? :)

[2015-06-09 13:29] makhov commented on #26
I'll try to do something fine  :)

2015-06-09 16:24 GMT+03:00, Thomas Boerger <notifications@github.com>:

[2015-06-09 13:31] nounoursheureux commented on #43
So you'd like to have a branch named `gitea-pages` for example, which would automatically serve the files ?

[2015-06-09 13:58] tboerger commented on #43
Yeah, something like that. And maybe we need an admin option to enable/disable this behavior because not everybody have the required wildcard DNS record to let that work nice.

[2015-06-09 13:58] tboerger commented on #26
I trust you that you will figure out some awesome stuff :)

[2015-06-09 16:51] nounoursheureux commented on #43
I'm gonna try to implement the first part: serving static files from a git branch

[2015-06-09 20:27] tszym opened #44 "Change the email for vulnerabilities"
For Gogs, there were an email address in the `README` to report critical security issues.
In gitea's `README`, the address is still the same, and prevent active maintainers to get the reports and fix security issues.

Please active maintainers of gitea, update the `README` to advertize an email adress for security issues that will be read.

Next step could be a PGP key, but that's not the purpose

[2015-06-10 01:51] lunny commented on #44
Good idea.

[2015-06-10 01:58] lunny commented on #44
Done. 1e50c8464c5906ed405d1109ba68fc0b790c45db

[2015-06-10 01:58] #44 closed

[2015-06-10 05:03] nounoursheureux commented on #43
We could just serve the file on the `/:user/:reponame/static/*` routes, I tried to implement this and it is working well. But I don't know if this may cause security issues because everything would be under the same domain.

[2015-06-10 05:26] lunny commented on #43
Yes, you MUST not serve .git dir and it's sub dirs and files to anyone.

[2015-06-10 06:23] tboerger commented on #43
Does routing by subdomains work with the underlying framework?

[2015-06-10 11:17] tboerger opened #46 "Use github gitignore list"
What do you guys think about just using the gitignore list provided by github? You can see the full list here: https://github.com/github/gitignore

[2015-06-10 11:23] nounoursheureux commented on #46
I also thought about making this proposition, so :+1:

[2015-06-10 11:31] tboerger commented on #41
This is already done: https://github.com/go-gitea/gitea/blob/master/docker-compose.yml

[2015-06-10 11:31] #41 closed

[2015-06-10 12:34] tszym commented on #46
Not sure to see how you plan to do, but a running instance of gitea should not rely on someting managed by GitHub, or be restricted in features in case of unavailability.

For the first point, the main reason is that it tooks away some freedom from the users where it should be able to customize the config, gitignore files included.

[2015-06-10 12:47] tszym opened #49 "Make organization emails non-mandatory"
This is a heavily-wanted feature already discussed at gogits/gogs#1193
The mandatory email leads to put fake addresses.

@Mr-Berna suggested to allow organization emails to be duplicate emails so we can put an user's address.

[2015-06-10 12:51] tboerger commented on #46
I would integrate it with ```git subtree```, that way we can track upstream changes but also being free in adding or removing stuff.

[2015-06-10 12:53] tboerger commented on #46
Another option should be to just fetch a subset of the gitignores and replace the currently available files.

[2015-06-10 12:57] tboerger commented on #49
:+1:

[2015-06-10 12:59] tszym commented on #46
Modify forked repos and keeping them synced with upstream is a pain.

Replace the current files sounds better.
The ideal way would be to have all the gitignore files in one conf folder (like now) and allow the user to just add files to use more gitignore.

This way, if I want to add a gitignore for, say Haskell, I just have to add a file named `haskell._` (where `_` is *whatever*) in the conf dire

[2015-06-10 13:28] tboerger commented on #46
Not really, with subtree it's absolutly not a pain.

Removing bindata is IMHO not an option. Make it a little bit more flexible that you can add additionally files to a specific folder sounds much better because generally i prefer the single file deployments of go projects.

[2015-06-10 13:37] tszym commented on #46
Not being a go person at all, I don't know what's bebind *single file deployment*, but this sounds like something without config file.

We already have a config file for the instance, so, as long as the config size is reasonable, I don't see the point to have gitignore as bindata.

With a lookup on the gitignore folder on start, this is not a problem anymore.

[2015-06-10 13:37] matt-h opened #50 "New option to not auto watch new repositories"
Right now every user in the owner's team is auto added as a watcher on every new repository. It would be awesome to be able disable this feature because we don't need everyone to get notifications about every repository.

[2015-06-10 13:42] tboerger commented on #46
Even the custom config file is just optional if you need to change something.

[2015-06-10 13:43] tboerger commented on #46
And anyway, removing bindata is really offtopic for this issue.

[2015-06-11 04:22] lunny commented on #43
Domain binding is not a requirement on a self-hosted git service? @tboerger

[2015-06-11 04:29] lunny opened #51 "Integrated translation system on Admin Panel"
Integrated translation system on admin panel let's people using gitea could help us finished translation and customize his UI word. So that, it will not depend on crowdin. And all translations will be submitted via github.

[2015-06-11 04:31] lunny commented on #50
It could be a personalize option.

[2015-06-11 06:07] tboerger commented on #50
Good idea, everybody can choose his prefered way

[2015-06-11 06:10] tboerger commented on #43
Of course it's not a requirement, but it should be configurable by the admin if the static pages are bound to a subdomain or on a subfolder :)

[2015-06-11 06:12] tboerger commented on #43
Binding to a subfolder can be a security problem because a small javascript snippet can steal the user session cookie.

[2015-06-11 07:33] lunny opened #53 "Proposal: New development and release cycle"
I proposal a new development cycle.

# Objection

It should include stable versions, testing version, unstable version.

* Stable versions
Branches v0.1...v0.2 and tags v0.1.x ... v0.2.x.
** When release a new version like `v0.1`, it will create a branch named `v0.1` and a tag named `v0.1.0`. All bugs fixed should be pull request to `v0.1`. After some bug fixed, it could make a new tag named `v0.1

[2015-06-11 07:36] tboerger commented on #10
Done with #45

[2015-06-11 07:36] #10 closed

[2015-06-11 07:39] tboerger commented on #53
Makes sense! Additional to that i would suggest some workflow around https://github.com/progrium/gh-release to upload built binaries to github.

[2015-06-11 07:45] linquize commented on #53
So people should always open pull requests to `develop` branch?

[2015-06-11 07:49] lunny commented on #53
No. If you pull request a bug fixed to a stable version, you just need pull request to the stable version branch. The different between the old and the new cycle is master is stable on old cycle and master is testing and not stable on new cycle.

[2015-06-11 07:51] lunny commented on #53
The stable version will from master to v0.1 ... v0.x. @linquize

[2015-06-11 07:51] makhov commented on #53
Hi from airport :)
What do you think about https://github.com/nvie/gitflow ?

[2015-06-11 07:56] lunny commented on #53
It similarly likes as my proposal. @makhov

[2015-06-11 08:42] tboerger commented on #53
For new features? Of course! Bugfixes can be requested against ```develop``` as well, but if it makes sense it needs to be backported to the stable branches too.

[2015-06-11 08:43] tboerger commented on #53
Have a good fly! The gitflow behavior can be done quite easy with pure git commands as well :)

[2015-06-11 10:01] linquize commented on #53
git-flow's master branch is unlike what @lunny said.

[2015-06-11 10:03] lunny commented on #53
Yes. It's not different at this point. @linquize

[2015-06-11 14:00] tboerger commented on #49
That can't be solved easy because users and organizations share a single database table. If I remove the unique index from the database we loose the consistency check on the database side.

IMHO it makes sense to build the organization in a seperate database table. @lunny any suggestion?

[2015-06-11 14:02] nounoursheureux commented on #43
I don't think we should make possible to bind it to a subfolder if it causes a security problem :lock:

[2015-06-11 15:08] tszym commented on #49
:+1:

[2015-06-11 15:21] lunny commented on #49
I think currently the unique is a composite one, it's on (email, type). So orgnization's email could be the same as user.

Building a new organization table is a good idea, I think.
We can build three tables: base, user, organization. The base table could store the common columns between user and organization.

[2015-06-11 16:48] matt-h commented on #46
The github gitignore list sounds good to me since it already a very complete list.
It is also MIT license so it is compatible.

[2015-06-11 17:58] dentmaged commented on #46
Use github's gitignore list but allow users to change it (just have it in the ```config``` directory).

[2015-06-12 12:56] lunny commented on #2
But that is for a working copy, not a bare git? @makhov

[2015-06-12 22:50] wookiecooking opened #57 "the goal of this fork?"
I understand the leader of the gogs team is MIA and nothing published in the past month, but with this starting to get traction now, I would like to know if this will be merge back in if development resumes in gogs, or will you be competing?

[2015-06-12 23:07] tboerger commented on #57
If @Unknwon comes back and give write/admin access to more people i believe that the codestream gets back.

[2015-06-13 00:16] tboerger commented on #57
This is just my opinion but i hope that @lunny or @fuxiaohai got the same opinion :)

[2015-06-13 09:29] lunny commented on #57
Me too. @tboerger @fuxiaohei

[2015-06-14 01:19] lunny commented on #19
Should this issue be closed? @pbor

[2015-06-14 01:36] lunny commented on #2
Hi all, I have create a new branch pr to finish this feature. And since there are so many sub features to do, I need your help. Please pull request to branch pr if you have any idea. @makhov @fuxiaohei @tboerger

[2015-06-14 08:07] pbor commented on #19
Yes, it can be closed. Thanks!

[2015-06-14 08:07] #19 closed

[2015-06-14 10:34] tboerger commented on #57
As this is not a real issue i will close this. If you've got further questions feel free to reopen it.

[2015-06-14 10:34] #57 closed

[2015-06-14 10:35] tboerger commented on #31
@pbor where is the pull request? :)

[2015-06-14 10:45] tboerger opened #58 "Override embedded bindata"
Let's integrate a mechanism where we can override the embedded go-bindata with real files on the filesystem. A pretty simple option is to integrate a function that checks first predefined paths for the requested file, if it doesn't exist just use the current bindata behavior. That makes the addition of licenses or customization of gitignores really easy and it sounds like lowhanging fruits :)

[2015-06-14 10:47] pbor commented on #31
Well, as I said I got stuck on the frontend part... I have no clear idea how it is structured and how to regenerate the minified files... if you can shed some light (it would be great to have a wiki page documenting how to get started!) I can try to finish up the branch and open a PR

[2015-06-14 10:47] lunny commented on #58
It sounds good. But I cannot give you a help because I'm not familiar with go-bindata.

[2015-06-14 10:55] linquize commented on #58
Some users may want to replace those default values with the one on their file system. So they do not need to compile the program. Isn't it?

[2015-06-14 13:50] tboerger commented on #58
I'm familiar enough with go-bindata. This is a small task i would like to do.

@linquize that way every user that wants to do that is able to do that without compiling any binary.

[2015-06-14 13:52] tboerger commented on #31
@fuxiaohei which tool was it to build the less files into css? Needs some documentation...

[2015-06-14 20:16] pbor opened #59 "logo concept"
I was playing around a bit with an idea with inkscape. I am sure some real designer could do better starting from the same idea...
![gitea](https://cloud.githubusercontent.com/assets/132154/8150257/021a6100-12e3-11e5-9ba9-3875d8da8219.png)

[2015-06-14 20:23] pbor commented on #59
Since github does not support attachments, I created a scratch branch.

Here is the SVG file: https://github.com/nice-software/gitea/blob/wip/logo/gitea.svg

[2015-06-14 20:33] dentmaged commented on #59
Nice! That looks really cool!

[2015-06-14 23:28] lunny commented on #59
Great!

[2015-06-15 01:12] fuxiaohei commented on #59
the cup is a little large than git logo.  If as browser icon, the git logo can't be recognized maybe.

[2015-06-15 02:26] fuxiaohei commented on #31
I use Codekit to compile less automatically.

[2015-06-15 06:50] pbor commented on #31
My problem is not (only) less, in the patch I do not change css (yet).

What needs to be documented is:
 - which are the js files in use (there seem to be two sets of files, the second one in the "ng" dir)
 - how to recreate and deploy the minified js files

More generally there should be a short document explaining how to get started with working on the clientside part of gitea in an easy way. Fo

[2015-06-15 06:56] tboerger commented on #31
Javascripts are built with Codekit as well. Hopefully i find some time to build a Gruntfile that builds css and js for non mac users :)

[2015-06-15 07:09] pbor commented on #59
Should be easy to tweak the size in the vectorial version I linked, we could have different proportions for smaller images.

[2015-06-15 07:24] fuxiaohei commented on #31
@pbor  let me check the old codes. I remembered that he ng directory was used to ui changes after gogs v0.5. But it was not covered all pages. I will list the uncovered pages first, and  migrate them.

[2015-06-15 09:28] aiden0z opened #60 "Did not remove the tmpDir after initialize the repo commit"
this problem will be preduce many tmp dir in /tmp directory.

[2015-06-15 09:41] tboerger commented on #58
Ok, I really missed something. This already works. If you put new files into conf/ they are already available additionally to the embedded files from go-bindata. I tried it with another locale, added the locale to conf/locale/ and to custom app.ini and it simply works like expected.

[2015-06-15 09:41] #58 closed

[2015-06-15 09:43] #60 closed

[2015-06-15 12:26] tboerger commented on #26
As the "copy to clipboard" feature is not in an popup anymore we can close this issue.

[2015-06-15 12:26] #26 closed

[2015-06-15 14:48] pbor commented on #59
The svg at the link above now has a couple more variants that may work better when the icon is small

[2015-06-15 15:04] tboerger commented on #59
I like it!

[2015-06-15 16:44] nounoursheureux commented on #59
I love the idea too, but I don't know if we should create new logos if you plan to merge with Gogs in a few months.

[2015-06-15 17:47] jcracknell commented on #59
This is a great concept, however I would experiment with making the tag larger with respect to the cup.

With icon design you need to abandon realistic proportions in the interest of clarity at smaller sizes - optimize the design for the page header and then consider making a large alternate.

[2015-06-15 19:01] pbor commented on #59
Well, we changed all occurences in the code etc, adding or removing a logo a very minor thing in comparison

Yes, I updated the linked svg with other variants where the tag is larger.
Editing the svg is very simple, so if anyone wants to try to tweak the image further, any help is more than welcome

[2015-06-18 14:04] da-kid opened #65 "[Feature] Edit or Delete comments"
I would like to have the ability to edit or delete my comments, or in case I am the admin, to do so with other users comments.

[2015-06-18 14:07] da-kid opened #66 "[Feature] Tasklists"
Like github does them.
With the `[ ]` and `[x]` tags, possibly even toogleable in issues by clicking on them.

[2015-06-18 14:31] tboerger commented on #66
:+1:

[2015-06-18 14:31] tboerger commented on #65
:+1:

[2015-06-18 14:44] da-kid opened #67 "[Bug] Paths generated by Markdown compiler are not relative"
They are assumed to exist directly in the root directory.

There, the markdown compiler correctly replaces the relative paths.
For example, `foo.png` is replaced with `/user/repo/raw/foo.png`.
But if you have the same markdown file, e.g. in the subdirectory `md`, the path stays `example.com/user/repo/raw/foo.png`, even though it should be `/foo/bar/raw/`**`md`**`/foo.png`.

[2015-06-18 17:37] da-kid opened #69 "[Bug] Owners can not be assigned to issues"
See gogits/gogs#747

[2015-06-18 18:05] da-kid opened #70 "Offer not to send emails in bulk"
Some providers just send no email if one of the receiving servers is not available.

[2015-06-18 19:38] techzilla commented on #2
What's our present status on this task?  Is this work already completed, and is just awaiting a very complicated merge? Or does this merge only cover this partially?

[2015-06-18 19:40] tboerger opened #71 "Add configurable hooks"
Add the ability to define githook scripts per repository.

[2015-06-18 20:04] tboerger commented on #2
@techzilla as @lunny said he needs help to get this done. @lunny for which tasks do you need help?

[2015-06-18 20:31] da-kid commented on #71
This feature is already available in the standard gogs installation.
`Settings -> Git Hooks`. Your user just needs to have the permissions.

[2015-06-18 21:04] tboerger commented on #71
You are right, I totally missed that.

[2015-06-18 21:04] #71 closed

[2015-06-19 08:59] lunny commented on #2
I'm working on the below five tasks on branch pr.
- [ ] Pull requests list page
- [ ] Cross compare
- [ ] New pull request
- [ ] Merge pull request
- [ ] Pull request comment
I have basically completed parts of the tasks. And if you like, you can code review the branch. I'm confusing how to get the commits between forked repository's branch and the original repository's branch.

And the below thre

[2015-06-19 09:30] xPaw opened #72 "Handle file renames in diffs"
Right now they're just displayed as file remove and a new file added, which is not very useful, and can get pretty huge when many files are moved.

[2015-06-19 09:30] tboerger commented on #2
On the long term it makes sense to add some fine grained access control, but do we want to cover that in that early stage of this new feature?

[2015-06-19 09:40] tboerger commented on #72
If we can track the rename it makes sense to display it as a simple rename. :+1:

[2015-06-19 11:38] slothbag commented on #3
Wiki would be awesome

[2015-06-19 11:40] slothbag opened #73 "Saving existing issue label causes label to dissappear"
When you click on an existing label and make a change then click "save" the label dissappears from the GUI.  Looking at the database, one of the IDs is changed (cant remember which) I think the repository ID or something.

[2015-06-19 11:42] slothbag opened #74 "Adding a comment with an attachment causes "Could not parse JSON" error"
The comment still saves, but the attachment is lost.

[2015-06-19 17:32] tboerger commented on #2
@lunny naybe it's interesting for you to dive into this discussion https://github.com/drone/drone/issues/1066#issuecomment-113582174

[2015-06-21 12:59] slothbag opened #78 "Issue assignee's cant see their assigned issues in the Dashboard/Issues screen"
Not sure if there needs to be a row added to issue_user for assignees.. Currently there is not.

[2015-06-21 14:17] linquize commented on #78
Duplicate of #69?

[2015-06-21 16:59] da-kid commented on #78
@linquize No it isn't. This concerns the listing of issues in the users dashboard.

[2015-06-23 11:50] slothbag opened #79 "Adding an issue to a repo with multiple collaborators causes pk violation"
It appears a row for every collaborator in a repo is inserted into "issue_user" table when creating a new issue, however this table has a primary key on ID and is failing due to primary key violation.

[2015-06-26 10:12] storezhang opened #82 "这是gogs新的开发版吗？"
以前的是不是不开发了？

[2015-06-26 13:01] lunny commented on #82
可以算是吧。

[2015-06-26 17:31] techzilla opened #83 "Go get unable to bootstrap build, unfufillable dependancies"
A clean checkout of development branch, will not be able to go get, https://gopkg.in/ini.v1 .

go get ./...
will result in a forever hang, and an unfulfillable dependency.

[2015-06-26 17:36] techzilla opened #84 "Non-existant documentation for where we're at presently"
The fork was very necessary, Gogs was created and likely funded as a go language marketing initiative, thus when it's time-line was over it achieved it's goals.   It's own documentation reflects this concern, placing higher priority on appearance than utility.

We need to take a final archive of their documentation, and clear the project of Gogs documentation.
Or if we already have a Wiki in progr

[2015-06-27 08:32] makhov commented on #72
Done

[2015-06-27 08:32] #72 closed

[2015-06-27 08:47] makhov commented on #74
done

[2015-06-27 08:47] #74 closed

[2015-06-27 08:50] #73 closed

[2015-06-27 09:10] makhov commented on #79
Don't reproduce

[2015-06-27 10:31] slothbag commented on #79
I just tried with latest master branch.. still happening. Steps to reproduce..

1. Create new repo
2. Add a 2nd user account to gitea
3. Add 2nd user from step 2 as a collaborator to repo from step 1
4. Create a new issue in repo.. click save

You will see the error ```pq: duplicate key value violates unique constraint "issue_user_pkey"```

[2015-06-27 11:28] makhov commented on #79
I see. I saw at develop branch.

[2015-06-27 13:14] tboerger commented on #83
It's not reproducable. Maybe you had network issues? Or you have not created a correct go environment? If you have further informations reopen the issue.

[2015-06-27 13:14] #83 closed

[2015-06-27 13:15] tboerger commented on #84
Feel free to open pull requests for this repository or the docs repository to replace the gogs references.

[2015-06-27 20:03] #79 closed

[2015-06-27 20:14] makhov commented on #78
There is a «Assigned to you» link at Issues screen.

I guess, it's a good idea to show assigned issues at Dashboard like at Jira.

[2015-06-28 07:51] slothbag commented on #79
So did this get fixed or is it already fixed on develop branch?

[2015-06-28 07:51] makhov commented on #79
Already fixed on develop branch.

[2015-06-28 07:52] slothbag commented on #79
Cool, thanks!

[2015-06-28 08:29] slothbag commented on #78
This was actually reported as a bug, and is partially fixed in develop branch.  I will close this and open a more accurate issue.

[2015-06-28 08:29] #78 closed

[2015-06-28 08:35] slothbag opened #89 "Adding a new collaborator does not create necessary record in issue_user"
If you add an issue to a repo with many collaborators then gitea will create a row per user in the issue_user table (which not sure is the best way to do it).  However if you add a new collaborator to the repo, they do not get their issue_user records created. So things like the "assigned issues" tab on the dashboard don't show properly.

Its probably causing other problems for activity feeds etc,

[2015-06-29 01:35] storezhang commented on #82
有新版本发布了没？老版本问题好大啊

[2015-06-29 01:46] lunny commented on #82
还没有，正在紧张开发中。

[2015-06-29 01:54] storezhang commented on #82
好吧，希望早点发布版本

[2015-06-29 03:51] #82 closed

[2015-06-29 09:44] xPaw opened #91 "In organization repository collaboration settings, display which teams have access"
Right now it only offers adding separate users, but no mention of organization teams.

[2015-06-29 09:57] xPaw opened #92 "API calls are not hidden behind sign in"
If sign in is required in config, you can still use API to get any info, for example `/api/v1/users/search?q=a`

From gogits/gogs#1128

----

This also means you can email of any user using `/api/v1/users/:user`

[2015-06-29 12:56] tboerger opened #93 "Integrate grunt for asset handling"
To do proper and reproducible handling of static assets like javascripts and stylesheets it makes sense to integrate some grunt based workflow for concat and minification of these files.

[2015-06-30 07:30] makhov commented on #67
Not reproduced at develop branch.
[code]
works fine

[2015-06-30 08:19] makhov commented on #92
Done

[2015-06-30 08:19] #92 closed

[2015-06-30 19:19] makhov commented on #67
Not reproduced

[2015-06-30 19:27] da-kid commented on #67
@makhov See here: https://try.gogs.io/da-kid/markdown So I think, you can reopen it.

[2015-06-30 19:48] makhov commented on #67
Ok, I understood. You suggest, that relative path should work not from repo root, but from the file really is relative to the directory, which contains the readme file.

For example:
[code]
You guess, that `img/1.jpg` in `README2.md` should works (really, works `asd/img/1.jpg`).

I'm will be agree with you in any other project, but here I'm not sure.
I think, we should to hear @lunny, @tboerger an

[2015-06-30 20:36] tboerger commented on #67
Have you tried ./img/foo.png as a path?

[2015-06-30 20:46] tboerger commented on #67
I have tried it with latest develop version now. I think we should link relativ images without the requirement to write the full path.

[2015-06-30 20:57] da-kid commented on #67
That's what I wanted, yes.

[2015-07-01 14:04] #3 closed

[2015-07-01 14:40] lthibault opened #98 "Update documentation for Docker to include instructions for docker compose"
As per issue #41, gitea now supports the official replacement for `fig`:  `docker compose`.

Deployment instructions [here](https://github.com/go-gitea/gitea/tree/master/docker) should be updated.  Thanks!

[2015-07-01 15:11] tboerger commented on #98
@lunny do we still need this seperate branch? The docker stuff is part of develop branch.

[2015-07-01 17:16] xPaw opened #99 "Don't render images in diffs if file was only moved without changing"
Related to #72. It displays file rename correctly, but it also renders the image even if the file itself wasn't changing. This makes for huge diffs when you rename a folder.

[2015-07-02 02:32] lunny commented on #98
Which branch? @tboerger. I think we don't need. It should be merged to develop branch.

[2015-07-02 02:41] lunny commented on #2
Drone integration is a good idea for next release. For example v0.8 or v0.9. @tboerger

[2015-07-02 17:09] techzilla opened #100 "Decentralized Authentication source, (Ex. OpenID Connect)"
Gitea lacks decentralized authentication sources, we have delegation but no authentication.  Administrators should ideally be able to define an OpenID Connect provider.

[2015-07-04 20:31] xPaw opened #104 "Long running git diff processes"
It looks like there's some kind of bug that causes multiple `git diff` processes to get stuck and they never go away.

[code]

Some of them have been running for a couple of days now.

[2015-07-06 10:16] xPaw opened #106 "reflect: call of reflect.Value.Type on zero Value"
This happens when trying to compare 2 or more commits.

[2015-07-06 10:22] xPaw opened #107 "Allow comparing branches"
Like `compare/master...another-branch`. At the moment it just throws 404 error.

[2015-07-06 10:27] xPaw opened #108 "Hitting a 401 error shows basic authentication window"
Try visiting `user/repo/wtf`, it will render "401 Unauthorized: no basic auth and digit auth" page, and display auth dialog.

[2015-07-06 10:40] tboerger commented on #108
If the server sends a 401 response this is the default behavior of browsers.

[2015-07-06 10:41] xPaw commented on #108
That's simply not true, gitea is also sending `www-authenticate:Basic realm="."` header.

[2015-07-06 15:06] lunny commented on #107
It will be implemented when Pull Request is OK. #2

[2015-07-09 14:00] slothbag commented on #106
I just stumbled across this also. I got it from the Dashboard screen..

"View comparison for these 2 commits"

[2015-07-10 13:36] pchaganti opened #111 "First release of gitea"
is there any timeline/roadmap for a gitea release?

thx!

[2015-07-10 14:11] tboerger commented on #111
The pull request feature have to be finished, afterwards the release will follow.

[2015-07-10 15:23] pchaganti commented on #111
Ah, thx!

[2015-07-10 15:23] #111 closed

[2015-07-12 01:54] voltagex commented on #84
Also any plans for sending changes upstream?

[2015-07-12 01:57] voltagex commented on #84
@tboerger could you enable Issues on the website repo so I can have some discussions over there?

[2015-07-12 06:49] tboerger commented on #84
I'm not an admin. @lunny any reason to disable issues for the docs repo?

[2015-07-12 06:51] tboerger commented on #84
@volagex as long as it's upstreamable yes. But it wi get difficult soon :)

[2015-07-12 12:41] lunny commented on #84
It's a default rule since it is forked from gogs. I have enabled it. @tboerger @voltagex

[2015-07-12 12:41] #84 closed

[2015-07-14 09:49] needalicense opened #112 "Add "GNU Free Documentation License""
Please add the [GNU Free Documentation License](https://www.gnu.org/licenses/fdl-1.3.txt) in the [list of licenses when creating a new repository](https://lut.im/lN3byRvf/aoSzPSfh).

[2015-07-14 09:56] needalicense opened #113 "Edit comments"
After commenting on an issue, it is not possible to edit comments

[2015-07-14 10:35] tboerger commented on #113
Duplicate of #65

[2015-07-14 10:35] #113 closed

[2015-07-14 10:37] tboerger commented on #112
I can add that to #63

[2015-07-14 10:58] tboerger commented on #112
Will be done with https://github.com/tboerger/gitea/commit/fa2e87d4a04b6a581f1e36150dce786701158b43

[2015-07-14 10:58] #112 closed

[2015-07-18 18:24] fabian-z commented on #43
@tboerger Maybe consider using [HttpOnly](https://www.owasp.org/index.php/HttpOnly) and [SecureFlag](https://www.owasp.org/index.php/SecureFlag) cookies?

[2015-07-18 18:38] tboerger commented on #43
However we can solve that, this feature won't do it into the next/first release of gitea. Wikis, pull requests and some UI polishing are much more important :)

[2015-07-18 19:35] xPaw opened #116 "HTTP 500 when trying to remove a member from org (or a team)"
Also happens when trying to remove a repository from a team.

[2015-07-20 09:29] lunny commented on #116
I cannot reproduce it in develop branch on my mac book. Could you describe your environment?

[2015-07-20 09:33] xPaw commented on #116
I ran the server in CLI, here's a stacktrace:
[code]

[2015-07-20 09:34] xPaw opened #117 "After deleting wiki repo manually, main repository won't load"
Ends up with this error:
[code]

[2015-07-24 01:33] lunny opened #118 "Wiki repos should be hidden in repo lists."
On home page, on my repositories, wiki repositories shows. @makhov
![image](https://cloud.githubusercontent.com/assets/81045/8865784/dcfa5c54-31e6-11e5-891f-321ee58065d6.png)

[2015-07-24 09:20] HLFH commented on #22
@tboerger Why skip ArchLinux? The [AUR link is Gogs](https://aur.archlinux.org/packages/gogs/) and there is no AUR package for gitea. I remind that gitea has wiki support https://github.com/go-gitea/gitea/pull/81 and not gogs. We need an AUR package for gitea, so we could easily migrate from gogs to gitea.

[2015-07-24 09:25] tboerger commented on #22
@HLFH because arch will be done directly within AUR, no need for the open buildservice. Directly after the release of gitea @fanningert will create gitea packages within AUR for sure.

[2015-07-24 10:05] ylloj opened #120 "Export data"
Add a button to export all users data (eg. comments) and also repos data (eg. all repo's issues).
This will be useful to let users migrate from one instance of Gitea to another.

[2015-07-24 10:09] tboerger commented on #118
@lunny I can not reproduce it on latest develop. What have you done? I have created multiple repositories and added 2 wiki pages to the first repository.

[2015-07-24 10:14] tboerger opened #121 "Create wiki page from cloned repo doesn't work"
Creating new wiki pages from the wiki repository clone seems to be not working. I have created a wiki page through the webui, everything works fine. Afterwards I cloned the wiki repository and created a new wiki page inside of that, pushed the changes and nothing gets displayed on the page index of the wiki.

[2015-07-24 10:15] tboerger commented on #120
But than you need some kind of import functionality as well :)

[2015-07-24 10:16] tboerger commented on #117
How did you delete that manually?

[2015-07-24 10:17] xPaw commented on #117
It let me open `xxx.wiki` repository, and settings opened fine for that repository too.

[2015-07-24 10:19] tboerger commented on #117
OMG, that should be not allowed. Thanks...

[2015-07-24 10:29] tboerger commented on #108
In general it doesn't render a nice error page.

[2015-07-24 10:32] tboerger commented on #116
I can't reproduce that on latest develop branch.

[2015-07-24 10:41] tboerger commented on #91
Do you mean to display the rights on the team overview like http://localhost:3000/org/$orgname/teams?

[2015-07-24 10:43] xPaw commented on #91
`$owner/$repo/settings/collaboration` is the page I mean.

[2015-07-24 10:55] tboerger opened #122 "Adding organization repo to a team results in 500"
I have created a team within my organization with a single user inside, then I wanted to add an empty organization repository to that team and it results in an 500 error.

Below you can see the trace from the logged output.

[code]

[2015-07-24 11:16] xPaw commented on #122
Looks like same stacktrace as #116

[2015-07-24 11:28] tboerger commented on #122
@xPaw that's true, seems to happen at ```(*Repository).refreshCollaboratorAccesses: if repo.Owner.IsOrganization() {```.

[2015-07-24 11:40] tboerger commented on #122
The pull request #123 seems to fix this issue.

[2015-07-24 11:41] tboerger commented on #116
@xPaw can you give it one more try with #123?

[2015-07-24 11:46] tboerger opened #124 "Migration from gogs with SQlite seems to be broken"
@vtolstov ran into an issue while tried to migrate the gogs sqlite database to current develop branch of gitea which results in something like this:

[code]

[2015-07-24 11:58] linquize commented on #118
Do you connect to DB to query repository table to see if any unusual value?
especially SQLite

[2015-07-24 12:01] tboerger commented on #118
I just tried it locally with mysql

[2015-07-24 12:02] tboerger commented on #117
So  we need to restrict the repo view to real repositories and not for wiki repositories.

[2015-07-24 14:50] lunny commented on #117
Yes. @tboerger @makhov

[2015-07-24 14:50] lunny commented on #118
Hi, I find this on branch pr. @tboerger, maybe I need merge develop to pr.

[2015-07-24 14:51] #122 closed

[2015-07-24 14:52] #116 closed

[2015-07-24 14:52] tboerger commented on #118
Maybe there is already one fix merged :)

[2015-07-24 14:57] lunny commented on #118
Yeah.

[2015-07-24 17:41] vtolstov commented on #124
after fixing sqlite i have error in templates

[code]

[2015-07-25 09:54] manfer opened #136 "Migration from gogs turns SSH keys unusable"
If gitea doesn't update those keys somehow then somewhere should be documented that keys will stop working unless you update them.

The keys are stored in `~/.ssh/authorized_keys` with references to gogs command so they must be updated to reference gitea command.

Maybe it is even better to duplicate them instead of removing the keys just in case someone wants to have a gogs and a gitea installati

[2015-07-25 14:06] lunny commented on #136
We will document how to migrate from gogs to gitea before we release v0.7. github.com/go-gitea/docs#1

[2015-07-25 14:14] lunny commented on #118
This issue is not found on branch develop. So I close this issue.

[2015-07-25 14:14] #118 closed

[2015-07-25 14:22] lunny commented on #59
And we should make a decision before v0.7 released.

[2015-07-25 14:28] lunny commented on #99
Does any pr resolved this issue? @tboerger @makhov

[2015-07-25 14:30] lunny commented on #104
I haven't still reproduce this issue.

[2015-07-25 14:31] lunny commented on #46
I think this issue could be closed since #63 has been merged to develop.

[2015-07-25 14:31] #46 closed

[2015-07-25 14:33] lunny commented on #37
@xPaw, do you think we can close this? Or maybe we need real time web hook?

[2015-07-25 14:33] lunny commented on #31
@fuxiaohei, any new message?

[2015-07-25 14:34] lunny commented on #22
Does this feature should be completed in v0.7? @tboerger

[2015-07-25 14:35] tboerger commented on #31
We are waiting for the changes of @fuxiaohei :)

[2015-07-25 14:35] lunny opened #137 "Advanced pull request features"
- [ ] Revert pull request
- [ ] Pull request access control

[2015-07-25 14:36] tboerger commented on #37
There have been a commit/merge short time ago for gogs with realtime web hooks.

[2015-07-25 14:38] tboerger commented on #22
I would stick with packager until ich can fix some things on OBS. So let's close that for now.

[2015-07-25 14:38] #22 closed

[2015-07-25 14:43] lunny commented on #37
Yes, I see. And which is better? Cronless or not?

[2015-07-25 14:44] tboerger commented on #37
IMHO the cronless variant. I will create a PR for all stuff merged the last days. Then we can discuss which makes sense for us :)

[2015-07-25 14:45] lunny commented on #37
OKay!

[2015-07-25 19:52] fanningert commented on #22
@HLFH and everyone else.
Don't forget that ArchLinux changed the repository of AUR package to GIT. I will update the documentation for gogs when I have time. I reserved the package names for gitea in the meantime.

**gogs**
https://aur4.archlinux.org/packages/gogs/
https://aur4.archlinux.org/packages/gogs-git/
https://aur4.archlinux.org/packages/gogs-git-dev/

**gitea**
https://aur4.archlinux.org/

[2015-07-25 20:05] tboerger commented on #22
@fanningert AWESOME!

[2015-07-25 22:04] vtolstov opened #156 "latest drone can't activate repo (can't install hook)"
gitea have in logs
[code]

and nothing in drone happening

[2015-07-25 22:10] tboerger commented on #156
```422``` seems to be the error code, unprocessable entity. So there must be some debug information.

[2015-07-25 22:30] vtolstov commented on #156
I'm try enable dev/test mode, Trace mode in logs, but no other messages displayed

[2015-07-25 22:32] vtolstov commented on #156
I'm switch from console to file log and get some more info when i click activate:
[code]

[2015-07-25 22:33] vtolstov commented on #156
tcpdump displays:
[code]

[2015-07-25 22:33] tboerger commented on #156
@lunny any idea why it results in 422?

[2015-07-25 22:36] vtolstov commented on #156
hah i found problem. drone use hook type gogs, but gitea change hook name from gogs to gitea:

[code]

[2015-07-25 22:36] vtolstov commented on #156
@tboerger may be add gogs hook time and check gitea and gogs in the same way?

[2015-07-25 22:37] tboerger commented on #156
AHHH, that's because we already renamed the hook tpye to gitea, drone uses gogs :)

[2015-07-25 22:37] vtolstov commented on #156
@tboerger can you create pr ?

[2015-07-25 22:38] tboerger commented on #156
maybe we need to fallback to gogs until drone implements gitea.

[2015-07-25 22:43] tboerger opened #157 "Fully use go-bindata"
I would like to use go-bindata for all static files per default. That way we are really able to do single file deployments of gitea. At the same time I want to integrate some functionality to give the chance to override some specific files if somebody needs that. So I would like to integrate templates and public into bindata. For public there is https://github.com/elazarl/go-bindata-assetfs which

[2015-07-25 22:56] tboerger commented on #156
If you have not done it until tomorrow I won't do it for the next week as I will go on vacation for a week.

[2015-07-25 23:56] tboerger opened #158 "Implement OAuth2 PROVIDER"
We need to implement an OAuth2 provider, not the consumer we already have for some platforms, with that third party tools like Drone can use the repositories quite easy. This works even for multiple repos at once without the need to provide deploy keys. Here you can see an explanation of Github how they did it: https://github.com/blog/1270-easier-builds-and-deployments-using-git-over-https-and-oau

[2015-07-26 10:32] tboerger opened #159 "Create OSS Crowdin project"
@lunny please register a free opensource Crowdin project to get better support for updating the i18n files for our needs.

[2015-07-26 10:36] tboerger commented on #159
I already crreated one but it needs to be transfered to an OSS plan: https://crowdin.com/project/gitea

[2015-07-26 11:41] lunny commented on #159
I think we could resolve translation question when #51 has been resolved. And before that, since gogs has a crowdin, maybe gitea doesn't need one.

[2015-07-26 11:46] tboerger commented on #159
IMHO it still makes sense to use crowdin as well as we will reach much more translators

[2015-07-26 11:54] lunny commented on #159
OKay.

[2015-07-26 11:55] lunny commented on #159
Just use https://crowdin.com/project/gitea?

[2015-07-26 11:58] tboerger commented on #159
Yes, i want to use that, but it's currently not registered as an OSS project and have to be payed after one month. We need to register it as an opensource project to get this service for free.

[2015-07-26 12:01] tboerger opened #160 "Cron scheduler broken?"
[code]

[code]

[2015-07-26 12:20] vtolstov commented on #156
may be pr #161 fixes this ?=)

[2015-07-26 12:33] tboerger commented on #156
Fixed with #161

[2015-07-26 12:33] #156 closed

[2015-07-26 12:46] lunny commented on #160
Let me test.

[2015-07-26 13:30] lunny commented on #160
Please test again, I think this issue have been resolved.

[2015-07-26 21:15] tboerger commented on #160
I'm pretty sure it will work now, if not i will reopen this issue.

[2015-07-26 21:15] #160 closed

[2015-07-27 02:55] melote opened #162 "How the project will evolve because that Gogs has become alive?"

[2015-07-27 03:31] #106 closed

[2015-07-27 06:22] tboerger commented on #162
As the plans are getting in different directions it looks like it's getting difficult. We try to sync where it is possible and reasonable.

[2015-07-27 09:47] lunny commented on #162
But there is no wiki and pull-request features on gogs and gitea will have.

[2015-07-28 06:48] MorphBonehunter commented on #162
So i think this https://github.com/gogits/gogs/issues/1304 explains it fully.
As @Unknwon explains this in the closing message of this thread, both projects are not merged.
So as @tboerger sad (and look at the PR's he made) some of the fixes of gogs will go into gitea.

I would link the https://github.com/gogits/gogs/issues/1304 to any thread which asks about the actual behavior as it explains (an

[2015-07-28 08:57] tboerger commented on #162
So let's close this issue.

[2015-07-28 08:57] #162 closed

[2015-07-28 09:09] tboerger opened #163 "RESTful URLs?"
I would like to update the routes definition to really follow RESTful rules instead of the current semi-RESTful routs. That makes the interaction with the API much cleaner, especially for all kinds of client implementations and singlepage application web UIs. Maybe this is something I can realise before 0.7 to have some stable API that won't change on the next version again.

[2015-07-28 13:43] lunny commented on #163
RESTful or not, it's a question.

[2015-07-29 21:39] manfer opened #166 "Install with PostgreSQL not working"
I'm trying to install from source in a PostgreSQL database but when I submit the install form I get an error:
[code]
I'm not sure if the issue is on gitea not calling xorm correctly or on xorm itself. But for sure the error comes from some code in xorm.

Don't know if it has something to do with it but just in case I see in dialect.go when creating a table it uses the following SQL:
[code]
Don't k

[2015-07-29 21:54] manfer commented on #166
Yes, indeed that's the problem. I removed `IF NOT EXISTS` rebuilded xorm and rebuilded gitea and the install process worked.

I don't know what is the solution. More than sure removing that code is not. Just worked as a temporary solution to test.

[2015-07-30 10:37] manfer commented on #166
By the way, the dialect.go file I refer to is from `go-xorm/core` and curiously inspecting that file it already has a `CreateTableIfNotExists` function but commented out. I suppose because it is deprecated as it is now the default behaviour on `CreateTableSql` function.

[2015-07-31 10:12] lunny commented on #166
I think we have resolved this issue. Now I will close it and please reopen it if you have more problem.

[2015-07-31 10:12] #166 closed

[2015-07-31 13:38] lunny commented on #69
Could this issue be closed? @da-kid @makhov

[2015-07-31 13:56] vtolstov commented on #124
does this right fix? in case of sqlite we don't modify columns

[2015-07-31 14:02] #117 closed

[2015-07-31 14:04] lunny commented on #37
This has been resolved via #139, so I think we can close this.

[2015-07-31 14:04] #37 closed

[2015-07-31 14:14] lunny commented on #124
Since sqlite3 does not support modify column type, so we have to drop column and add new one? But maybe that will lost some data.

[2015-07-31 14:16] vtolstov commented on #124
@lunny right way is rename table, create new table, select from all table and insert into new. After that - drop old table.

[2015-07-31 14:18] lunny commented on #124
OKay. Let me try to do it.

[2015-07-31 14:32] #69 closed

[2015-07-31 14:32] da-kid commented on #69
Yeah this has fixed it.

[2015-07-31 14:59] lunny commented on #124
Please recheck. @vtolstov

[2015-07-31 15:09] vtolstov commented on #124
Looks good,but how about this:
Old table have int column
New table have varchar column
Does acceptable insert 0 to varchar that needs to be null ?

[2015-07-31 17:09] xPaw opened #168 "Comparing merge commits displays invalid list of commits"
The diff it self appears to be correct, but the list of commits above is incorrect, and displays all the commits done into the branch.

Merge commits might be messing it up.

[2015-07-31 17:11] xPaw commented on #117
This is not really fixed, my repository is still broken using latest dev branch.

`[repo.go:302 func·009()] [E] GetWikiRepo: repository does not exist [id: 10, uid: 0, name: ]`

[2015-07-31 21:50] manfer commented on #166
Tested and works

[2015-07-31 23:54] lunny commented on #117
I fixed this issue via hidden the delete operation of wiki repository on web ui. And if you have deleted it, you have to update wiki_repo_id = 0 on database.

[2015-07-31 23:55] lunny commented on #124
I think this compatible problem could be resolved via xorm or our codes.

[2015-08-01 10:06] vtolstov commented on #124
OK,fine. Thanks for fix
01 авг. 2015 г. 2:55 пользователь "Lunny Xiao" <notifications@github.com>
написал:

[2015-08-01 14:05] lunny commented on #124
OK. Let us close this currently.

[2015-08-01 14:05] #124 closed

[2015-08-01 19:20] xPaw opened #170 "Template error in admin/repo/list"
`template: admin/repo/list:33:39: executing "admin/repo/list" at <.Id>: Id is not a field of struct type *models.Repository`

[2015-08-01 19:24] xPaw opened #171 "Webhooks are not delivered until gitea is restarted"
Log looks like this:
[code]

Then after restarting gitea:
[code]

[2015-08-02 13:31] cryptix commented on #57
I just saw that gogits/gogs [0.6.3](https://github.com/gogits/gogs/releases) was released.

Does this fork still have a purpose and/or will the changes from here be back ported to gogs?

[2015-08-02 13:51] lunny commented on #170
I think #170 has resolved this bug.

[2015-08-02 13:51] #170 closed

[2015-08-02 23:50] wolftune opened #177 "Get Git trademark permission or change name"
I'm not from the SFC or Git folks, but I know GIt is careful about their trademark. Rather than dealing with it once this is more well-known, far better to deal with this *now* and either get permission or choose a new name for the project.

[2015-08-03 01:15] fuxiaohei commented on #163
just make api routes resutful, not page routes

[2015-08-03 01:56] lunny commented on #163
A good idea. @fuxiaohei

[2015-08-03 01:59] lunny commented on #177
But we are `Gitea`, not `Git`.

[2015-08-03 02:17] wolftune commented on #177
Your use of "Git" in "Gitea" does in fact refer to "Git". GitHub and Gitorious and GitLab all had to get trademark permission from Git, and the site that used to be called Gittip was contacted by them with a warning/complaint insisting that they not use that name.

[2015-08-03 02:39] lunny commented on #177
That is not currently emphsis work for gitea since gitea is not well-known. Thank you for your advice. @wolftune

[2015-08-03 02:45] wolftune commented on #177
@lunny my point is that it would be best to deal with this *before* it is well-known so that you either have permission and are good or change the name *now* rather than deal with the awkwardness of changing a name after something is well-known. Hopefully, by asking up front, there will be no issues, they'll just give permission.

[2015-08-03 04:46] DDaems commented on #177
:+1: https://git-scm.com/trademark

[2015-08-03 05:00] lunny commented on #177
Yes. I have read the trademark. @DDaems
Thanks a lot, @wolftune. This is an important thing we will resolve it - Request a permission or change our name. But it will spend me many time and the first release of gitea is still on struggle. So the most important thing for gitea is to complete the first release version. And we can consider this issue in v0.8 or later.

[2015-08-04 11:10] tboerger opened #179 "Reorder side menu"
IMHO the menu on the right side needs some reordering.

<img width="243" alt="bildschirmfoto 2015-08-04 um 13 07 04 1" src="https://cloud.githubusercontent.com/assets/156964/9059392/d5caa6de-3aa9-11e5-845b-bbbd1f0bb063.png">

The correct ordering should be:

- Issues
- Pulls
- Releases
- Wiki

Separator

- Commits

Separator

- Settings

[2015-08-04 15:23] lunny commented on #179
I think Wiki is more useful than Pulls on a company git service. So I would like it be:

* Issues
* Wiki
* Pulls
* Releases
Separator
* Commits
Separator
* Settings

[2015-08-05 02:27] lunny opened #184 "Better repository header"
I proposa a new repository header. There are three lines for every repository page:

1. [Logo]   Dashboard    Explore    Help              username    +     admin      settings      signout

2. [public or private icon]    [repo name]                                    watch    star    fork      download

3. [repo description]                                                                      ssh

[2015-08-05 03:17] fuxiaohei commented on #184
I'm worry about the buttons in the second line. There are four buttons on the right. a little crowd.

[2015-08-05 03:23] lunny commented on #184
So lets merge watch button & star button as one button?

[2015-08-05 03:26] fuxiaohei commented on #184
good idea

[2015-08-05 14:49] linquize commented on #107
related: #186

[2015-08-06 15:45] nounoursheureux commented on #179
I think that Issues and Pulls should definitely be adjacent because they are tightly related, and settings should be separated from the others options.

[2015-08-07 01:19] lunny commented on #179
@tboerger @fuxiaohei. Please let us make a decision.

[2015-08-07 08:01] tboerger commented on #179
Issues and pulls should be together. I have suggested Wiki at the bottom in front of the seperator because it's the only one without a counting badge :)

[2015-08-07 09:25] lunny commented on #179
I'm thinking your first idea is good. Please pr to the develop branch. @tboerger

[2015-08-07 10:09] tboerger commented on #179
Ok, I will create the PR soon.

[2015-08-07 10:12] tboerger opened #188 "Merge deploy keys from gogs"
Maybe somebody wants to jump in and integrate https://github.com/gogits/gogs/commit/39a3b768bc8b0288cb4aa91d27485f46cfbfeb29 for adding deployment keys?

[2015-08-07 14:07] lunny commented on #188
Yes. @tboerger

[2015-08-08 21:54] zzzzzzzzzzzzzzzzzzz opened #190 "Poor Elisp syntax highlighting"
Please refer to [this issue here](https://notabug.org/hp/gogs/issues/59)

[2015-08-10 06:29] nounoursheureux commented on #190
Related to gogits/gogs#670
Maybe *google-code-prettify* should be replaced by something else ?

[2015-08-10 06:34] lunny commented on #190
@fuxiaohei

[2015-08-10 09:19] tboerger commented on #190
Maybe we should take the new highlighting that gets introduced into gogs. But that should be something after 0.7.

[2015-08-10 09:33] tboerger opened #192 "Switch to bootstrap CSS"
As discussed on Gitter we would like to switch entirely to bootstrap and use [this](http://scottdorman.github.io/bootstrap-flat/theme/) custom theme to keep it as a flat UI.

[2015-08-10 11:21] nounoursheureux commented on #192
I like this theme :+1:

[2015-08-11 02:17] lunny commented on #192
Or could we let user change their theme on the admin panel?

[2015-08-11 02:36] lunny opened #193 "Repository settings could add option PR only"
We can ask all commits to pr not push directly to some branches. So keep the code review as a force process.

[2015-08-11 02:37] fuxiaohei opened #194 "Disable issue attachment temporary"
issue attachment code depends on old ui elements.
after issue ui migration is done and release 0.7, enable issue attachment in 0.7.1 in plan.

[2015-08-11 05:29] lunny commented on #192
Looks awesome.

[2015-08-11 06:01] tboerger opened #195 "Fork CLI wrapper from Github"
It should be awesome to have a git wrapper like https://github.com/github/hub for gitea.

[2015-08-11 06:03] tboerger commented on #192
Yeah, if this is manageable we can add a theme selection later on.

[2015-08-11 09:37] xPaw opened #196 "Unicode characters not rendered correctly in diffs"
Test file: https://github.com/github/octicons/blob/master/octicons/octicons.css

![2015-08-11_12-36-35](https://cloud.githubusercontent.com/assets/613331/9194680/ab43cde2-4025-11e5-9d7b-c5b84b767a31.png)
![2015-08-11_12-36-48](https://cloud.githubusercontent.com/assets/613331/9194681/ab6042ce-4025-11e5-8199-6c38915ae2fc.png)

[2015-08-11 14:18] lunny commented on #195
So if gitea has similar api route with github, it's easy for the work.

[2015-08-13 21:31] wasabyeggplant opened #197 "libgit"
If I'm correct Gitea shells all it's Git commands to Git, and later reads it's output. Is there any plan to switch to using [libgit2](https://libgit2.github.com/) instead?

[2015-08-14 02:04] lunny commented on #197
There is no plan to do that currently.

[2015-08-15 07:31] tboerger commented on #179
Fixed with #189

[2015-08-15 07:31] #179 closed

[2015-08-15 07:33] tboerger commented on #197
Let's close that for now, reopen it for discussion.

[2015-08-15 07:33] #197 closed

[2015-08-15 08:15] tboerger commented on #59
So what is the decision? I really like this cup and would like to integrate it ASAP :)

[2015-08-15 08:16] tboerger commented on #53
I think we can close that as it's decided or not?

[2015-08-16 01:54] lunny commented on #53
I think we can close it after v0.7 is released. @tboerger

[2015-08-16 01:54] lunny commented on #59
OK. If we have no better choice, just use it.

[2015-08-19 13:55] ponzipo opened #200 "Right menu"
I find [this menu](https://lut.im/hJoXbcWA/jPg5FDiZ) very confusing... I think it would be better to have only the blue menu on the right (wiki, releases, etc) and move these things in a horizontal menu (like gogs)

[2015-08-19 13:57] ponzipo opened #201 ""New Release" results in 500"
I've installed gitea, fresh. I've created a repo, then forked it. When I create a new release for my fork, it results in a 500 page...

[2015-08-19 14:02] ponzipo opened #202 ""Pulls" wrong number"
The badge (label) near "Pulls" doesn't display the correct number of pull requests

[2015-08-19 14:09] ponzipo opened #203 "Merge: wrong permission?"
I've created a repo from user A. Then I've forked it *with another user* B, and then opened a pull request upstream.
At this point, I was logged in as user B and I was able to merge my pull request upstream into the original repository or user A. Is this a bug (a security hole), or is it the intended behavior? Shouldn't *only user A* be allowed to merge into his own repository (and not the people

[2015-08-19 14:14] ponzipo commented on #203
In addition, after I've merged it displays "merged commit 8e259ba into repouser:branchname 1 second ago"

Shouldn't id display username and repository instead of "repouser:branchname"??

[2015-08-19 14:20] ponzipo opened #204 "Wiki: only one page"
It's possible to create only one wiki page , called "Home".
How do I create more pages?

[2015-08-19 14:31] tboerger commented on #200
What is confusing with that?

[2015-08-19 14:34] tboerger commented on #201
Do you have some log output related to that?

[2015-08-19 14:35] tboerger commented on #202
That can happen, we need to check the update. In worst case this badge gets updated daily by some cron task.

[2015-08-19 14:39] tboerger commented on #203
That sounds like a bug. The user B should be able to merge pull requests on upstream only if he got write permissions.

[2015-08-19 14:40] tboerger commented on #204
Last time I checked that there was a button to create a new page. Got to check that.

[2015-08-19 14:43] ponzipo commented on #200
@tboerger there's too much stuff stacked together. The blue menu is for things related to the repo development, whereas the gray buttons are for "social" stuff.... My opinion is that they they belong better to a horizontal menu on top (like github and and also like gogs)

[2015-08-19 14:48] ponzipo commented on #201
Where should I look for the logs?

[2015-08-19 14:49] tboerger commented on #200
@lunny decided against putting it at the top because gitea got the focus on cloningnthe repo and not the big focus (visible on every repo page) on the social parts like forking and so on. But the design is not the best yet...

[2015-08-19 14:50] ponzipo opened #205 "Wikis: why not "Docs""
GIven that the purpose of "Wikis" is to write and collaborate on documentation, and also given that in this context "Wikis" aren't really mediawiki instances, but just repositories with Markdown files inside, wouldn't they better be renamed "Docs" or "Documentation"? "Wiki" doesn't really make any sense except that github/gitlab use it...

[2015-08-19 14:52] ponzipo commented on #204
Yes there is a button, but it always create the same page called "Home"... I suppose it should be possible to change the page name?

[2015-08-19 14:55] ponzipo commented on #202
Why is there a cron task for it? Doesn't it just read a value from the database?

[2015-08-19 14:58] tboerger commented on #202
Because the badges currently are built from a cached column and not through join queries. This cron tasl gets scheduled within the gitea process, so no need to create a real crontab entry.

[2015-08-19 15:00] tboerger commented on #205
Because documentation is something different than a collection of pages that can include whatever the author wants. It's not just used by gitea/gitlab/github. And i think the naming is fine as it just provides wiki-like functionality. Wikimedia != Wiki

[2015-08-19 15:01] tboerger commented on #201
It depends how you started it. If you just executed ./gitea web it should be printed out to the terminal.

[2015-08-19 15:17] ponzipo commented on #205
What's the difference between "documentation" and "a collection of pages that can include whatever the author wants"? Aren't Wikis supposed to be used for extended documentation (to supplement the README)?

[2015-08-19 15:36] tboerger commented on #205
it totally depends on the repo owner what get's written to the wiki. But nearly anybody who has worked with gitlab or github knows what this wiki means... So IMHO the naming should stay as it is.

[2015-08-20 12:48] lunny commented on #205
Wiki provides a chance to seperate the codes and documents. So codes and documents have different commits records.

[2015-08-20 12:49] lunny commented on #205
And for wiki we can write articles online with others.

[2015-08-20 12:50] lunny commented on #200
Hi, my opinion is two lines header, one line is left repo name and right stars, watchs, and etc. buttons. Another is left repo description and right clone bar.

[2015-08-20 13:00] lunny commented on #201
You can find logs in gitea home dir's sub dir `logs`. @ponzipo

[2015-08-20 13:08] lunny commented on #204
Let me check it.

[2015-08-20 15:46] linquize commented on #202
Does #167 fix the problem?

[2015-08-23 13:15] tboerger opened #207 "Switch to go 1.5 vendor build process"
We should build on 1.5 only and use the new experimental vendor functionality.

To avoid build errors from others we should provide github releases and some CI based builds for the develop branch. As a CI system I would suggest Drone. Do we have some server instance where we can deploy all of that?

[2015-08-24 11:31] FSMaxB opened #209 "Is go-gitea dead?"
I've followed the discussions in https://github.com/gogits/gogs/issues/1304 and to me it seams like gogs is back in the game.

I find this situation rather unpleasant because I'm confused whether I should go with gogs or go-gitea on my server. After watching the development of both gogs and go-gitea over the past weeks, to me it looks like nothing is really happening in go-gitea whereas the gogs p

[2015-08-24 11:55] tboerger commented on #209
Gitea is not dead for sure, but you forget that it's summer time. so many people are out on vacation and things like that.

[2015-08-24 16:39] techzilla opened #210 "Questions about how I best procede, ran into some errors from dep versions"
I had a travisci building, and the godep workspace, and was working on an rpmspec.
The plan did work though, making an rpmspec did become possible.

However, after installing the test rpm, i realized we have a problem.
Our code has errors due to upstream changes. How should I procede?

Are we gonna assume dev has the newest upstream deps, and fix the errors?

[2015-08-25 08:44] lunny commented on #209
I think it's not. Since gogs comes back. It's a good result for gitea's beginning.

[2015-08-26 16:28] tboerger commented on #209
Let's close that for now, it's not an issue

[2015-08-26 16:28] #209 closed

[2015-08-26 16:30] tboerger commented on #205
Let's close that for now, I think there are multiple people that want to stick with Wiki

[2015-08-26 16:30] #205 closed

[2015-08-26 16:31] tboerger commented on #200
Fixed with the repo header redesign.

[2015-08-26 16:31] #200 closed

[2015-09-02 14:33] ptman commented on #2
What about gogits/gogs#5?

[2015-09-02 14:54] tboerger commented on #2
@ptman what should be with that? For gitea we already have pull requests done :) There are just additional features.

I don't believe that something will change, we already talked to Unknwon, he wants to stay alone with write rights and if that happens again that he is not available... That really sucks, the bus factor is just too low for gogs :)

[2015-09-02 16:32] bastiao commented on #2
@tboerger which is the branch that has the PR? and do you have any plan for release date?

[2015-09-02 17:35] tboerger commented on #2
@bastiao The pull requests are still on the develop branch. We wanted to release this version in August, but got some delay.

[2015-09-02 20:59] bastiao commented on #2
I will try to build, because the install instructions is still outdated. Thanks.

[2015-09-02 21:20] tboerger commented on #2
Yes the docs need sone love :)

[2015-09-03 04:07] lunny commented on #2
You can try it on http://try.gitea.io. @bastiao

[2015-09-04 17:43] techzilla commented on #158
With http://openid.net/connect/ identity layer?  does osin support the new standards?

[2015-09-04 19:45] makhov commented on #204
@ponzipo You *must* create page, which called «Home» at first. After that you can create other page with arbitrary name.

[2015-09-07 15:35] vtolstov commented on #171
why i don't see this (i'm useing gitea master with drone master) and all hooks delivered fine.

[2015-09-07 15:45] tboerger commented on #171
Need to dive into that, currently idk

[2015-09-07 15:54] xPaw commented on #171
I am on `dev` branch. I just recompiled with latest commit, and it still doesn't deliver hooks.

[2015-09-07 15:57] Unknwon commented on #171
gitea does not have real time webhook, so if you shutdown within 1min you trigger the hook, this could happen.

[2015-09-07 15:57] vtolstov commented on #171
@Unknwon as i know gitea already pull this from gogs

[2015-09-07 15:58] xPaw commented on #171
I've had gitea running for a couple of weeks and the hooks were never delivered.

[2015-09-07 15:59] Unknwon commented on #171
@vtolstov no, it does not, at least not entirely as I can tell.

[2015-09-07 16:36] tboerger commented on #171
@Unknwon i thought I have added all parts. Do you know what I'm missing? Got to review your changes one more time...

[2015-09-07 16:38] Unknwon commented on #171
@tboerger https://github.com/go-gitea/gitea/blob/master/cmd/serve.go#L196 here should be a request to hook trigger

[2015-09-07 18:13] tboerger commented on #171
@Unknwon thanks!

[2015-09-08 17:55] tboerger commented on #210
I close it as we are using the go 1.5 vendoring now. Feel free to reopen for further discussion.

[2015-09-08 17:55] #210 closed

[2015-09-08 17:56] tboerger commented on #207
Done with #217

[2015-09-08 17:56] #207 closed

[2015-09-08 17:56] tboerger commented on #195
I close that as it is already forked. We just need to work on it.

[2015-09-08 17:56] #195 closed

[2015-09-08 21:05] tboerger commented on #204
After creation of the home page you can create as many pages as you want. Feel free to reopen this issue for further discussion.

[2015-09-08 21:05] #204 closed

[2015-09-08 21:26] tboerger commented on #184
Closing as it is done.

[2015-09-08 21:26] #184 closed

[2015-09-08 21:29] tboerger commented on #157
Will be done with https://github.com/go-gitea/gitea/pull/178

[2015-09-08 21:29] #157 closed

[2015-09-08 22:30] lunny commented on #59
@pbor, could you convert it to png format So we can easily integrate it?

[2015-09-09 12:15] lunny opened #220 "Tidb support"
Since [tidb](github.com/pingcap/tidb) is a pure go database which support both embedded and distributed deployment. And xorm has supported [tidb](github.com/go-xorm/tidb), so we could use tidb to replace sqlite3 since it depends on cgo.

[2015-09-09 12:21] vtolstov commented on #220
as i know, sqlite can be built without cgo...

[2015-09-09 12:28] tboerger commented on #220
Cool idea, but tidb is damn young :)

[2015-09-09 12:29] tboerger commented on #220
It requires cho.

[2015-09-09 12:41] vtolstov commented on #220
does it possible to use cznic/ql ?

[2015-09-09 12:46] tboerger commented on #220
tidb is based on ql :)

[2015-09-09 12:47] vtolstov commented on #220
I'm prefer original work =), also for HA i think about hooks (each gitea instance can hook another via serf) and they poll changes. For determine who is master (to send notify) use etcd.

[2015-09-09 12:56] tboerger commented on #220
So you prefer gogs? :P ql got a totally different focus than tidb. I will use tidb for sure as an pgsql and mysql reppacement when it's stable enough. I don't see the need for serf or etcd/consul.

[2015-09-09 13:03] vtolstov commented on #220
if gitea authors have not enough time to merge gogs fixes - yes, i'm switch back.

[2015-09-09 13:18] tboerger commented on #220
This is a different topic but I give my best to keep gitea in a good shape. But @lunny and me can't do it on our own. I don't know if Unknwon will disappear again at some point let everybody hanging in the air, so I trust in pushing gitea into a nice stable state.

[2015-09-09 13:32] pbor commented on #59
I am on a trip with limited internet access.  It should be easy to export
with inkscape or other apps. That way you can also pick the size you need
Il 09/Set/2015 00:31, "Lunny Xiao" <notifications@github.com> ha scritto:

[2015-09-09 13:36] tboerger commented on #201
I can not reproduce that. Feel free to reopen the issue if it is still present for you and you have some Trace log level output.

[2015-09-09 13:36] #201 closed

[2015-09-09 14:44] lunny commented on #220
How to build sqlite without cgo? @vtolstov ?
So we can add tidb as an alternative but don't drop sqlite3 immediately.

[2015-09-09 15:34] lunny commented on #59
OKay. Thanks! I have downloaded inkscape.

[2015-09-10 09:08] vtolstov commented on #188
I'm try

[2015-09-10 09:13] tboerger commented on #188
Awesome!

[2015-09-11 06:57] lunny opened #223 "Move all sub modules as internal packages."
Since we have ask glide and the go version have to more than 1.5, so we can move all sub module as internal package so that forked repo could change sub module easily.

[2015-09-11 07:19] tboerger commented on #223
What does that mean? :)

[2015-09-11 08:20] lunny commented on #223
I make a mistake. I will close this now.

[2015-09-11 08:20] #223 closed

[2015-09-11 08:48] lunny commented on #220
@vtolstov, I have tried to support ql for xorm more 3 times. But I failed, because SQL syntax of ql is very different from other databases. As I know, tidb has a mysql compatible SQL syntax, and it has passed xorm's [tests](github.com/go-xorm/tidb) project.

[2015-09-11 09:34] xPaw opened #227 "How far behind is gitea compared to gogs?"
It looks like gogs had a lot of activity in recent weeks, including tons of fixes, are these merged yet or will be in gitea?

[2015-09-11 09:59] lunny commented on #227
These fixes will be merged to gitea but currently are not.

[2015-09-11 12:27] vtolstov commented on #227
I think the main question is how long waiting? If gitea can't merge from
gogs fast, gogs is more preferred solution now. When author be lost
again,when fork again.
11 сент. 2015 г. 12:59 пользователь "Lunny Xiao" <notifications@github.com>
написал:

[2015-09-11 13:07] xPaw commented on #227
Why not create patches for gogs with some of the new features added in gitea?

[2015-09-11 13:56] tboerger commented on #227
@xPaw you are absolutely welcome to help us with that.

[2015-09-11 14:10] vtolstov commented on #227
also if gogs accept patches from gitea, merging between two project is more simple

[2015-09-11 14:11] vtolstov commented on #227
as i'm understand main difference - gitea supports wiki ?

[2015-09-11 14:16] vtolstov commented on #220
sorry for sqlite nothing changed from two years =( non cgo versions unmaintained =(.

[2015-09-11 14:24] tboerger commented on #227
Since gogs released pull requests wikis are the main difference, right.

[2015-09-11 14:25] xPaw commented on #227
Then I guess it's better to move back to gogs if I don't use wiki?

[2015-09-11 15:01] tboerger commented on #227
It's your decision. I trust more in gitea because it's not all related to a single guy that even rejects some ideas i brought up to integrate into gogs.

[2015-09-11 15:02] tboerger commented on #227
I will invest my time into gitea and not in gogs.

[2015-11-25 13:04] MorphBonehunter commented on #227
it seems that nobody invest time in gitea at the moment...
is this this project dead before the first "official" release?
could someone please made an statement on the project future?
Thanks!

[2015-11-25 13:05] tboerger commented on #227
There had already been a statement that the effort gets into Gogs as @Unknwon is back and working actively on Gogs. He's accepting contributions as well, I'm currently working on the CI to autobuild all binaries ;)

[2015-11-25 13:06] tboerger commented on #227
As a side note: Gitea started just because Gogs have been dead for some time. But that's not the case anymore.

[2015-11-25 13:30] MorphBonehunter commented on #227
Thanks @tboerger for the explanation!
The intention behind gitea was clear to me, but it seems that i missed the statement about the "effort gets into Gogs". That sounds great!
As contributions are accepted is there any chance that the wiki feature will go into gogs?

[2015-11-25 13:33] makhov commented on #227
@DWE, I think about it. It's about 10000 strings of code.

If I will have enough time, I'll do it. But I don't know when.
25 нояб. 2015 г. 4:30 PM пользователь "DWE" <notifications@github.com>
написал:

[2015-11-25 13:38] tboerger commented on #227
@Unknwon would accept a wiki feature, but he would expect better code :D

[2015-11-25 13:39] MorphBonehunter commented on #227
thanks for your comments

[2015-11-25 13:53] makhov commented on #227
@tboerger, should i take offense? xD

[2015-11-25 17:21] tboerger commented on #227
Feel free to improve the code and do a PR against Gogs ;)

[2015-11-26 01:03] linquize commented on #227
Gogs is back.  Continue to develop gitea or not ?
Seems inactive for some time.

[2015-11-26 05:28] lunny commented on #227
Since Gogs is active, gitea will become a backup project. If Gogs is inactive, we can restart this project. @Unknwon @tboerger @linquize @makhov @fuxiaohei

[2015-12-23 13:00] carwyn commented on #227
It's really good to see Gogs very active again with lots of collaboration. Thank you guys for working on this.

Could someone update/change the http://gitea.io/ website to let people know what's going on? It's very confusing at the moment.

[2015-12-23 14:38] lunny commented on #227
gitea.io has beend redirected to gogs.io. @carwyn

[2016-02-13 14:17] #227 closed

[2016-02-13 14:18] #99 closed

[2016-02-13 14:19] #91 closed

[2016-02-13 14:19] #104 closed

[2016-02-13 14:19] #107 closed

[2016-02-13 14:19] #108 closed

[2016-02-13 14:19] #168 closed

[2016-02-13 14:19] #171 closed

[2016-02-13 14:19] #196 closed

[2016-04-25 10:47] tboerger commented on #192
Project is dead, close.

[2016-04-25 10:47] #192 closed

[2016-04-25 10:47] tboerger commented on #188
Project is dead, close.

[2016-04-25 10:47] #188 closed

[2016-04-25 10:47] tboerger commented on #163
Project is dead, close.

[2016-04-25 10:47] #163 closed

[2016-04-25 10:47] tboerger commented on #159
Project is dead, close.

[2016-04-25 10:47] #159 closed

[2016-04-25 10:47] tboerger commented on #158
Project is dead, close.

[2016-04-25 10:47] #158 closed

[2016-04-25 10:47] tboerger commented on #121
Project is dead, close.

[2016-04-25 10:47] #121 closed

[2016-04-25 10:47] tboerger commented on #93
Project is dead, close.

[2016-04-25 10:47] #93 closed

[2016-04-25 10:47] tboerger commented on #43
Project is dead, close.

[2016-04-25 10:47] #43 closed

[2016-04-25 10:48] tboerger commented on #12
Project is dead, close.

[2016-04-25 10:48] #12 closed

[2016-04-25 10:48] tboerger commented on #11
Project is dead, close.

[2016-04-25 10:48] #11 closed

[2016-07-19 17:52] P4KM4N commented on #177
I have the same issue with GitMarket, we contact them for permission and they denied... they ask us to change name. -_-

[2016-07-19 17:59] strk opened #231 "Clarify status of Gitea (still alive?)"
Is this project still relevant or is everyone focusing on Gogs improvements ?
It would be nice to guide people accordingly...

[2016-07-20 04:20] lunny commented on #177
@P4KM4N What's a pity! But gitea is dead in fact. So I don't worry it. Please use Gogs.

[2016-07-20 04:20] lunny commented on #231
I will change the desciption to guide people to Gogs.

[2016-10-28 11:15] strk commented on #231
As Gogs PR acceptance slowed down again, would it make sense to sync Gitea to Gogs again and restart with this ?

[2016-10-28 20:02] stroucki commented on #231
@strk ++

[2016-11-01 01:33] lunny commented on #231
So, I think we can fork gogs' development here. But when we want to merge back to gogs, it's still a problem if gogs don't accept these PRs.

[2016-11-01 01:44] stroucki commented on #231
Why be afraid? If it is useful, why would gogs not take it? And if they won't, then people can choose which fork they like better.

[2016-11-02 23:16] metalmatze commented on #11
`gofmt` uses tabs and one tab equals 8 spaces.
https://golang.org/cmd/gofmt/
I really like the idea to make it customizable!

[2016-11-03 00:51] jhasse commented on #12
Hm ... thats exactly the reason why I dont like this idea. It should be obvios to outsiders that a certain person is blocked. Maybe still show the post with a "Marked as spam" spoiler?

[2016-11-03 09:25] metalmatze commented on #31
Do we really need deb/rpm? Aren't just docker images enough? Idk, prove me wrong! :)

[2016-11-03 09:26] metalmatze commented on #31
drone only has docker images, right?

[2016-11-03 09:33] jhasse commented on #31
Gogs is using packager.io, why not reuse that?

[2016-11-03 09:36] tboerger commented on #31
Because not everybody is/will use docker.

Packager.io only supports lts versions, beside that the golang packaging can be done much easier than with the overhead of Packager.io.

[2016-11-03 09:39] jhasse commented on #31
Okay I don't know enough about Go. But having a solution for Ubuntu 16.04 would be great, as https://github.com/gogits/gogs/pull/3617 didn't get merged :(

[2016-11-03 09:44] tboerger commented on #31
To provide packages for any ubuntu/debian/whatever version we can wrap the same binary into the package and just need to adjust the init (sysvinit, systemd) script.

[2016-11-03 09:46] jhasse commented on #31
Can we merge the 16.04 packager.io PR and enable gitea on it for the time being though?

[2016-11-03 10:50] joubertredrat commented on #12
@jhasse a little question, is you as owner of your project can control your code by PRs, why not you can control your issues from spammers as example?

I will explain with example. I hate @bkcsoft and he is owner of this repo, I want to irritate him, then, I will open a lot of Issues spamming and PR's bombs with robots. Today in Github, @bkcsoft can't do anything but close the issues and refuse PR

[2016-11-03 10:57] xinity commented on #12
i like to idea to be able to cleanup irrelevant issues (or so to speak), but i'm sure it will take a huge amount of energy to build, implement and manage.

i'd be happy to know how many projects implement this moderation system ?
don't get me wrong, it's just i'm wondering if it's really worth it, considering the overhead it will have on the moderation team

[2016-11-03 16:55] strk commented on #12
I think the these kind of attacks should be prevented somewhat automatically (rate limiting, spam filtering)

[2016-11-03 16:57] lunny commented on #12
Good idea. But I think this will not be the emphasis currently.

[2016-11-03 17:03] lunny commented on #31
Both binary and docker are needed.

[2016-11-03 19:18] tboerger commented on #31
We don't have enabled anything over there yet, but since this issue is estimated for 1.0.0 I would like to introduce it for our first release.

[2016-11-04 10:56] strk commented on #66
The existence of `fixme` and  `todo` rules clearly makes those code comments NOT useless :)
If the issues creation/deletion can be automated then go for it, otherwise there's a risk of code and issues going out of sync.

I'd love for issues to be closer to code ..

[2016-11-04 14:23] DblK commented on #70
Do you would like to have a huge PR or smaller PR by folder for example?
I saw on lint it misses several comments for each function.

Tell me what you want.

[2016-11-04 17:21] xinity commented on #70
@DblK smaller PR are easier to review :)

so i'd vote for smaller ones

[2016-11-04 18:22] tboerger commented on #70
:+1: for smaller prs, as @xinity said it's better to review

[2016-11-04 18:36] tboerger commented on #70
But continue with the models, I already started parts within the makefile pr

[2016-11-06 09:39] lunny commented on #93
Agree and please delete the old fork project.

[2016-11-06 09:44] tboerger commented on #93
The old fork needs to be updated and not deleted :D

[2016-11-06 10:00] lunny commented on #93
In fact, it's more easy to copy from google's github library.

[2016-11-06 10:33] tboerger commented on #93
Hu? This is the gitea/gogs go client

[2016-11-06 10:57] makhov commented on #91
In our project we use `git describe --tag` and build with

[code]

[2016-11-06 11:09] strk commented on #91
+1 for using `git describe` (maybe `git describe --always` in case
tags are not present). NOTE: at the moment, tags are not present...

[2016-11-06 11:57] lunny commented on #91
It seems it's a good idea

[2016-11-06 13:38] lunny commented on #91
So we should create a make.bash & make.bat instead a Makefile? @tboerger

[2016-11-06 23:11] metalmatze commented on #99
Because the only maintainer of gogs is absent for over a month now, again.
We will push this project and won't wait for anyone.

[2016-11-07 01:14] lunny commented on #99
We build a continuous and active development organization. Please checkout https://github.com/go-gitea/gitea/blob/master/CONTRIBUTING.md. And this time, we will not stop even if Unknwon come back.

[2016-11-07 03:28] lunny commented on #57
If there is no guys to do that currently, this could be moved to 1.1.0

[2016-11-07 08:07] tboerger commented on #57
I have moved it to `1.x.x` because it doesn;t have a high priority yet. If somebody wants to implement that feel free to do it.

[2016-11-07 08:09] tboerger commented on #91
We can accomplish that with the Makefile as well, I would just add the version part to it.

[2016-11-07 08:11] tboerger commented on #99
So as you can see we plan to keep Gitea and to make it the successor of Gogs. If you want to come back to the development you are really welcome. As @lunny already linked we've got a wide range of people actively working on Gitea, we currently got 10 maintainers and 3 owners, so we will not run into issues if somebody leaves.

I will close this issue for now because the question have been answered

[2016-11-07 10:39] joubertredrat commented on #57
@okay @tboerger I will try this

[2016-11-07 11:11] lunny commented on #57
@joubertredrat, great, you can move it to 1.0.0 after you send a PR.

[2016-11-07 11:59] xinity commented on #104
keep s6 as an init replacement.

[2016-11-07 11:59] xinity commented on #104
rewrite env variables

[2016-11-07 12:00] xinity commented on #104
dockerfile cleanup

[2016-11-07 12:46] lunny commented on #91
Makefile ask people to install make system first. Many gophers come from Ruby and Python not C or C++. And since build Gitea is so easy that it's no need a Makefile. Or we can move it to 1.1.0?

[2016-11-07 12:55] strk commented on #91
+1 to move it to 1.1.0

BTW, we still need version embedded in a .go file for "go get"
to end up with a proper version printed in pages, no ?

[2016-11-07 12:59] DblK commented on #104
I would suggest to have the smaller image as possible and by doing so, the compilation should be done outside and the binary pushed to the docker (maybe from scratch instead alpine).

I could provide later a link to a docker images that can be used to build Go program and make docker images without compiler program.

Edit 11/10/16:
Here is the [link](https://github.com/CenturyLinkLabs/golang-build

[2016-11-07 14:31] tboerger commented on #91
Go get should simply have 0.0.0+master

[2016-11-07 14:33] tboerger commented on #91
But most gophers also got build-essentials installed which also includes make

[2016-11-07 14:37] strk commented on #91
On Mon, Nov 07, 2016 at 06:31:56AM -0800, Thomas Boerger wrote:

How about 1.0.0-dev, and incremented after release ?

[2016-11-07 14:39] tboerger commented on #91
Because we should always provide valid version numbers.

[2016-11-07 14:39] strk commented on #91
is `1.0.0-dev` invalid ?

[2016-11-07 14:40] tboerger commented on #91
Yes

[2016-11-07 14:42] strk commented on #91
According to which specification is `1.0.0-dev` invalid ?
Should maybe be `1.0.0+dev` or something similar ?

[2016-11-07 15:11] lunny commented on #91
go build on branch master: 1.0+dev
go build on branch v1.0: 1.0.0+dev
go build on tag v1.0.0: 1.0.0

make on branch master: 1.0+hash
make on branch v1.0: 1.0.0+hash
make on tag v1.0.0: 1.0.0

[2016-11-07 15:18] strk commented on #91
@lunny that means never having the commit-hash !
I think commit-hash should always be there _except_ for builds on tag

[2016-11-07 15:21] xinity commented on #104
@DblK feel free to update your comment with the appropriate link :)

[2016-11-07 15:22] tboerger commented on #104
We will use drone to build the binary outside of the docker image, the drone pipeline is in preparation ;)

[2016-11-07 15:26] tboerger commented on #91
These are my 2 cents, because we should always keep valid semver versions:

go build on branch master: 1.0.0+dev, 1.1.0+dev, 1.2.0+dev
go build on branch v1.0: 1.0.0+dev, 1.0.1+dev, 1.0.2+dev
go build on tag v1.0.0: 1.0.0+631c18a

make on branch master: 1.0.0+dev, 1.1.0+dev, 1.2.0+dev
make on branch v1.0: 1.0.0+631c18a, 1.0.1+631c18b, 1.0.2+631c18c
make on tag v1.0.0: 1.0.0+631c18a

These are also

[2016-11-07 15:46] xinity commented on #104
@tboerger nice !

then @DblK send the link to me :) i'd be happy to learn moaaarrrr go :)

[2016-11-07 17:37] strk commented on #91
On Mon, Nov 07, 2016 at 07:26:56AM -0800, Thomas Boerger wrote:

+1, it works for me.

[2016-11-08 02:43] lunny commented on #91
`go build on tag v1.0.0: 1.0.0+631c18a`
`make on tag v1.0.0: 1.0.0+631c18a`

I think only `1.0.0` is ok for tags.

[2016-11-08 06:59] strk commented on #91
@lunny that'd be even better but I'm afraid `go build` cannot possibly include the hash w/out changing a version file on each and every commit. `make` instead would extract it dynamically

[2016-11-08 13:22] alvaroaleman commented on #118
I'd really like that as well and also I'd like Gitea to use its own name in the docs instead of Gogs, so people can differentiate.

[2016-11-08 17:29] metalmatze commented on #118
This will go into our [website](https://github.com/go-gitea/website) or [blog](https://github.com/go-gitea/blog) repos. Please find out the correct one on gitter and create an issue there.

[2016-11-08 20:54] willemvd commented on #104
why do we need that s6 stuff instead of setting things up in the dockerfile?

[2016-11-09 08:48] tboerger commented on #104
@willemvd we need s6 as process manager because we will run more than a single service within the container, at least we need Gitea and openSSH.

[2016-11-09 18:28] bkcsoft commented on #124
well, If we implement `comments on commits` we should get this "for free" :slightly_smiling_face:

[2016-11-09 18:38] metalmatze commented on #124
I'm not sure. I don't know the internals, but the comment may go onto a commit page. Then you can discuss this commit.
But this issue targets a bigger picture. A PR might have multiple commits and those can change over time. So I agree that comments on commits might benefit comments on PR with some work already done nevertheless I feel that there's more to it.

[2016-11-10 01:00] lunny commented on #124
Yes, comment on commits.

[2016-11-11 06:57] ghost commented on #104
I would strongly recommend against using `scratch` as that renders any form of shell scripting invalid.

[2016-11-11 06:58] ptman commented on #104
The way you say it makes it sound like avoiding shell scripts is a bad thing

[2016-11-11 07:00] ghost commented on #104
Yes, it breaks many things. Including git-hooks and https://github.com/go-gitea/git.

[2016-11-11 07:15] tboerger commented on #104
Nobody wants to use scratch, alpine is a perfect base

[2016-11-11 15:00] ghost commented on #104
@tboerger, I just wanted to let anyone that likes @DblK's idea know that it's not going to be good if we use scratch as base.

[2016-11-12 05:41] strk commented on #137
The commit you reference is already also in Gitea. Can you reproduce locally ?
Non-reproducible bugs would be nearly impossible to fix. Ideally a failing automated test would be provided, can you try that ?

[2016-11-12 07:26] smcquay commented on #158
I tried creating a different db, and got this:

[code]

but after I ran `Rewrite '.ssh/authorized_keys' file (caution: non-Gitea keys will be lost)` I get the same:

[code]

[2016-11-12 07:28] smcquay commented on #158
If I make the repo public I can clone, but can't push.

[2016-11-12 08:25] tboerger commented on #137
How could he provide a failing test with specific Git versions?

[2016-11-12 12:16] lunny commented on #158
Hi, please update gitea to the latest version. Since 555d8b1 has an obvious bug, I have sent #154 later and it was merged.

[2016-11-12 15:06] strk commented on #162
Does this also happen on Gogs or is it a new bug in gitea ?

[2016-11-12 15:28] lunny commented on #162
Yes. Maybe it's a bug. When you edit a draft, you cannot save it. Only publish it or delete it or Cancel.

[2016-11-12 16:08] smcquay commented on #158
Indeed; thanks for the fix!

[2016-11-14 08:47] jhasse commented on #137
I could set up a Dockerfile.

Is there an automated test for file renames?

[2016-11-14 12:15] ogarcia commented on #104
Using scratch as base not is (in this case) a good idea cause you need OpenSSH and shell scripts.

[2016-11-14 12:32] strk commented on #137
I don't think there's an automated test for file renames. Such test would be enough, then the _testers_ would have to deal with different Git versions.

[2016-11-14 12:36] bkcsoft commented on #137
@strk _testers_ (as in Drone) should test using different git-versions yes :wink:

[2016-11-14 12:36] bkcsoft commented on #137
@jhasse

Please try that first :wink:

[2016-11-14 13:50] jhasse commented on #137
I couldn't reproduce with git version 2.7.4. I'll try again with a virtual machine, might take a while ...

[2016-11-14 15:16] strk commented on #162
Just tried on try.gogs.io and I confirm you can only delete the release, save it as an actual release or cancel the operation, so no further saving as draft after the first one. Will try to fix.

[2016-11-14 15:37] strk commented on #162
So, what do we want here ?
At the moment upon "editing" a draft release you have "Edit" and "Delete" options, whereas "Edit" _also_ publishes the release (changing its "draft" state).

It sounds like you'd want "Edit" to keep the "Draft" or "Published" state while adding a "Publish" button to change the state ?

[2016-11-14 16:32] strk commented on #162
Can you test https://github.com/go-gitea/gitea/pull/169 @0xbaadf00d ?

[2016-11-14 16:38] thibaultmeyer commented on #162
Excellent, it working very well @strk.

[2016-11-15 07:41] strk commented on #177
Agreed, are you up to provide a pull request ?

[2016-11-15 18:21] metalmatze commented on #179
Yesterday I thought about exactly this feature. I really want that too and would like to contribute to this as well. Has anyone tried any lib for 2fa in Go?

[2016-11-15 18:28] thibaultmeyer commented on #179
It would be nice if U2F - FIDO Universal 2nd Factor Authentication will be implemented too. It allow usage of USB key rather than SMS / Mail. A GO library exists : https://developers.yubico.com/U2F/Libraries/List_of_libraries.html

[2016-11-15 20:44] gencer commented on #179
@0xbaadf00d this can be useful, yes, but, many people use a traditional way for 2FA -including me-. So at least for starting, we should have 2FA enabled. If we make generalize, im pretty sure that 2FA users are most.

Correct me If I am wrong.

[2016-11-15 20:56] thibaultmeyer commented on #179
@gencer  U2F FIDO is 2FA too, but it allow usage of an cryptographic USB Key. By exemple Github propose U2F FIDO or Token generated via "Authenticator" mobile app.

You can read more at https://help.github.com/articles/configuring-two-factor-authentication-via-fido-u2f/

We have just to keep in mind to get something modular with the possibility to add new 2FA methods in future

[2016-11-15 20:56] tboerger commented on #179
But this won't get into 1.0.0 as this is a release that will be done pretty soon. Maybe we can integrate it for 1.1.0 or 1.2.0.

[2016-11-16 01:54] lunny commented on #179
Yes, this should be enabled on admin panel. It should not be a default setting.

[2016-11-16 08:10] Schwobaland commented on #177
yes - it's already working on local machine. Will provide pull request soon.

[2016-11-16 08:29] thibaultmeyer commented on #177
Nice idea

[2016-11-16 11:47] strk commented on #179
Agreed this cannot be in 1.0.0.
Open for 1.1+, as soon as a PR is ready :)

[2016-11-16 12:16] stevenroose commented on #179
Might go good with #183

[2016-11-16 12:25] stevenroose commented on #184
_From @roblabla on May 25, 2016 12:9_

Somewhat related : https://github.com/gogits/gogs/issues/2210

[2016-11-16 12:26] stevenroose commented on #184
This is the number one feature for a personal hosted Git service!
Would be even greater with #185 !

[2016-11-16 23:05] ekozan commented on #184
This could be integrated with git-appraise integration too  ?

[2016-11-17 06:22] strk commented on #184
@ekozan formal proposals are welcome, but I do see git-appraise integration could be a good companion for federated pull requests (to basically have reviews travel across federated nodes with the rest of the code, right?)

[2016-11-17 14:21] sbrl commented on #31
I also would like binary releases - I don't have a go development environment setup to compile things.

Also, will I be able to upgrade to gitea from gogs? I'd hate to loose my issues etc.

[2016-11-17 14:29] tboerger commented on #31
We will have binary releases and hopefully also packages for the major Linux distributions. You don't need to compile anything.

We will also have binaries for the latest master version.

You will be able to directly launch gitea with the Gogs database. If we got database changes they are getting automatically migrated.

[2016-11-17 17:08] sbrl commented on #31
Ooh sounds awesome! I'm looking forward to it then ☺

-- Starbeamrainbowlabs (keybase.io/sbrl)

[2016-11-18 02:08] ghost commented on #188
Is this repository-specific? Are you able to provide any logs?

[2016-11-18 02:18] denji commented on #31
https://packagecloud.io (OSS — 25 GB Storage / 250 GB Bandwidth + CDN bintray.com 1TB/m)

[2016-11-18 06:19] tboerger commented on #31
@denji yeah I know packagecloud, maybe we will take it, but than we need a drone plugin for it :)

[2016-11-18 07:59] jhasse commented on #137
Okay I've could not reproduce, even with the older Git version :( There seems to be something special about that commit, maybe I have time to create a minimal example. I would create a new bug report then.

[2016-11-18 15:30] pmattern commented on #188
The finding is not repository specific in any way, and I've made it on several instances which were set up by different people.

Even with `LEVEL = Trace` there's nothing in the logs which looks suspicious to me. But following the steps depicted above the problem is 100% reproducible so it's probably easier you have a look at the logs of a Gitea instance you have at hand yourself.

[2016-11-18 17:16] silverwind commented on #11
Customization options could be saved to `localStorage` on the client, but the defaults should come from the repository's `.editorconfig`.

[2016-11-20 17:31] pmattern commented on #188
Confirming the problem is solved in bd13c81. Thanks for the quick fix!

[2016-11-21 02:05] lunny commented on #195
In fact, `go get code.gitea.io/gitea` just OK for source installation. You can find this on `README.md` Installation section.

[2016-11-21 07:41] ogarcia commented on #195
Yes, but is for master not for a tagged version :disappointed:

[2016-11-21 08:49] lunny commented on #195
OK.

[2016-11-21 15:08] thibaultmeyer commented on #207
_"why do I need to set repos as private when the entire Gogs installation is private, that shoud be enough"_

By example, in our company : we don't want that repo A was visible from users who only have read permission on repo B. We also use this feature to hide a lot a repos from trainees or to hide "non android" projects to Android developers.

Private Gitea instance ==> Must be registered to see

[2016-11-21 15:30] lunny commented on #207
^

The same word `private` which has different meaning.

[2016-11-21 16:03] axeloz commented on #207
Hello @0xbaadf00d,

"_why do I need to set repos as private when the entire Gogs installation is private, that shoud be enough_" ==> my mistake I did not finish this sentence, I forgot to get rid of it prior to posting...

Yes, that's my point. I have my internal devs, they're in my MyTeam team and should have access to all repos of my MyOrg organisation.
But I also have external devs on particula

[2016-11-21 17:38] axeloz commented on #207
I add a comment in the issue because it is related :
because my users can't see anything in the Explorer page, they also can't use the search engine.
Plus, because all the repos are ordered by updated date, it is a pain to find a repo : I have to browse all the pages, one by one, to find the repo I'm looking for. I have 50 repos so far and more are coming. It's frustrating.

So my guess would be t

[2016-11-21 22:16] Bwko commented on #207
I'm almost done with:

- allow users to order repos anywhere by name / updated_time / creation_time (and to set this set by default or to keep this setting in a cookie)
- allow users to browse all the repos they have access to in the Explorer page (not only the public one)
- therefore, allow users to use the search engine (not only for public repos but all repos they have access to).

I'll create

[2016-11-22 08:26] axeloz commented on #207
@bwko awesome, thanks. You're fast.
I have to dig into Go. How do you set a dev environment ?

[2016-11-22 09:13] strk commented on #207
On Tue, Nov 22, 2016 at 12:26:34AM -0800, axeloz wrote:

See https://golang.org/doc/install

Once you're setup (Go installed and GOPATH env variable set)
you'd do:

[code]

[2016-11-22 10:45] stevenroose commented on #209
Why would it not be the same as `config.ini`? All the things you mention seem to be configuration variables..

[2016-11-22 11:04] lunny commented on #209
The first three could, but the last three cannot

[2016-11-22 11:11] stevenroose commented on #209
Hmm. "add auth source" could, see #183. The other two indeed should not. But that are post-installation steps, imo.

[2016-11-22 11:13] axeloz commented on #207
Thanks @strk does it include a file watcher which will recompile when I update the code? Or should I rerun the server each time?

[2016-11-22 11:28] strk commented on #207
The commands I showed do not include a file watcher.
You need to _recompile_ (`go build` from within the
source directory) and then re-run the server, upon
changes.

[2016-11-22 12:43] axeloz commented on #207
OK thanks,
I asked because Gogs uses a watcher according to its documentation :

`You can enable live compile by executing bra run in the Gogs source folder
To install bra: go get -u github.com/Unknwon/bra`

[2016-11-22 13:47] lunny commented on #207
Any file watcher included `bra` is still avaiable for Gitea. @axeloz

[2016-11-22 23:36] bkcsoft commented on #195
@ogarcia tagged version should be downloaded as binaries IMO, otherwise you might as well run `master`.
In other cases you can follow the instructions from `development` (but add the `git checkout $tag` yourself :)

[2016-11-23 08:47] ogarcia commented on #195
@bkcsoft Yes. But, Where is `development` docs? I think that may be a link to docs into README.md.

And now `https://docs.gitea.io/ == Blank page` :disappointed:

In Arch Linux and Gentoo prefer make builds from tagged sources than use binaries :wink:

[2016-11-23 15:02] axeloz commented on #207
@Bwko thanks for the pull request, nice piece of work. Hopefully it will be merged soon.

Also, did you guys have the time to consider my last point?
* allow all users of a given team to access (read, read/write or admin according to the team permission) to all repos of the organisation owning the team, no matter the repo belong to the Owner of the organisation or to the team. This point is actual

[2016-11-23 20:30] Bwko commented on #207
I'll look into that. I hope to create a PR in a couple of days

[2016-11-23 22:56] tboerger commented on #200
Our code redirect uses Let's Encrypt certificates, so this can only happen if your system don't like Let's Encrypt ;)

[2016-11-24 10:42] tboerger commented on #210
And for docker I would expect the opposite, drop the log files and print everything to stdout and stderr.

[2016-11-24 10:46] tboerger commented on #194
I also dislike the Wiki approach, the docs have to be bundled with the code and also exported automatically to the docs website.

[2016-11-25 13:28] tboerger commented on #31
This won't happen for 1.0.0, so I will move it to 1.1.0.

[2016-11-25 14:11] jhasse commented on #31
Gogs already provides deb and rpm packages, so this would be a real pity if it won't happen for 1.0.0.

Will I be able to update Gogs 0.9.99.0903 to Gitea 1.1.0 without problems?

[2016-11-25 14:17] tboerger commented on #31
Gogs is using a service that only supports lts versions and which does some strange binary wrapping. We want to have a real solution.

[2016-11-25 14:19] lunny commented on #31
I think you could upgrade from Gogs 0.9.99.0903 to Gitea 1.1.0.

[2016-11-28 07:05] bkcsoft commented on #195
And those who create the `PKGBUILD`/`ebuild`-files already knows how to do that 😉 (I'm an Arch-user myself)

[2016-11-28 07:39] tboerger commented on #195
A proper documentation page is planned, we need to copy or create a Hugo theme, and than we need to migrate the Gogs docs.

[2016-11-28 12:02] stevenroose commented on #184
GitLab is tracking this issue [here](https://gitlab.com/gitlab-org/gitlab-ce/issues/4013), so maybe you could word out a streamlined workflow. They are [planning](https://gitlab.com/gitlab-com/www-gitlab-com/issues/871) to mention the feature during their summit.

[2016-11-28 23:11] strk commented on #184
@bkcsoft maybe you can help with keeping the GitLab specs open enough to allow for federating PR between GitLab and Gitea too ?

[2016-11-29 07:46] lunny commented on #70
Only `modules/bindata/bindata.go` not be fixed. But that file is generated by go-bindata. Any idea? @tboerger

[2016-11-29 07:47] lunny commented on #210
Anyone work on this?

[2016-11-29 07:48] tboerger commented on #210
Nobody claimed it, but as said above I wish we can get rid of all log files for the docker container

[2016-11-29 07:51] tboerger commented on #70
Switch to a proper bindata tool like fileb0x (but it doesn't support tags) or go.rice or somehow ignore it

[2016-11-29 07:51] tboerger commented on #70
On the other side, we will drop the bindata from the repo soon, than it's not part of the repo anymore

[2016-11-29 07:56] strk commented on #210
@lunny please go ahead, for 1.0.0 I'd like to have a working setup outside of docker, further tweaks (like an option to only log to stdout) would be nice for 1.1.x

[2016-11-29 08:08] lunny commented on #70
But maybe we can ingore the golint check on Makefile at first. So that we an close this issue and ask all the PR to pass the golint.

[2016-11-29 09:16] tboerger commented on #70
Maybe you can filter out the bindata package from the list temporary? Like grep -v

[2016-11-29 09:45] stevenroose commented on #184
@strk is @bkcsoft affiliated with GitLab?

[2016-11-29 11:10] strk commented on #70
@lunny if you find out how to ignore a single file, I'm all for going with it, especially as after a "make" invocation you'd have the bindata.go around and it might be annoying to get those false positives

[2016-11-29 11:39] bkcsoft commented on #184
@strk I could steer it in the direction of just sending patch-files between servers (maybe using webhooks?). Which is what I suggest Gitea should do as well. Makes it _really_ easy not having to push/pull between servers :)
@stevenroose Yes

[2016-11-29 11:44] bkcsoft commented on #184
Well, seems like they're already thinking or using `git request-pull -p` (which sends the patch along) so it should be cross-platform compatible :slightly_smiling_face:

[2016-11-29 11:47] bkcsoft commented on #184
https://gitlab.com/gitlab-org/gitlab-ce/issues/4013 is tagged as `moonshot`, unassigned, no milestone and no MR in sight. So maybe not get your hopes up just yet :slightly_smiling_face:

[2016-11-29 11:50] stevenroose commented on #184
@bkcsoft We might take the lead here :) If we can get GitLab and GitHub on board, that would end the locking currently imposed by these platforms

[2016-11-29 12:05] tboerger commented on #184
I can't believe that GitHub wants to solve the lockin issue :P

[2016-11-29 12:10] bkcsoft commented on #195
@tboerger "migrate"... under which license are the docs for Gogs? worst-case we have to re-write the docs...

[2016-11-29 12:15] bkcsoft commented on #31
@tboerger what about doing something like this? https://blog.codeship.com/using-docker-build-debian-packages/

@lunny I'm guessing @jhasse means upgrade by `apt-get upgrade`

[2016-11-29 12:21] tboerger commented on #70
On the short term we can simply ignore the entire `code.gitea.io/gitea/modules/bindata` package.

[2016-11-29 12:26] tboerger commented on #195
I have taken the same license as the Gogs docs to avoid that. First I wanted to do it with a creative commons license, but now it's also apache 2.0.

[2016-11-29 12:27] tboerger commented on #195
https://github.com/go-gitea/docs/commit/cdfe6a8faffd0c6a2e4ecd279a14978afc965147

[2016-11-29 12:33] tboerger commented on #31
A plain apt-get upgrade won't work since we will have a different package name. But I think it will work to do apt-get remove gogs && apt-get install gitea :)

[2016-11-29 12:54] lunny commented on #31
Then they have to copy Gogs' app.ini to Gitea.

[2016-11-29 13:07] jhasse commented on #31
They have to do that before `apt-get install gitea` though, otherwise the service would have already been started.

[2016-11-29 13:19] bkcsoft commented on #209
IMO just create a `gitea admin load <FILE>`-command.

`config.yml` (Yes, I like yaml. And very much hand-written, non-linted, pseudo-yaml)
[code]

[2016-11-29 13:30] bkcsoft commented on #31
@jhasse IIRC debian packaging rules **forbid** auto-enabling services on install :wink:

[2016-11-29 13:42] jhasse commented on #31
You can configure this: http://askubuntu.com/questions/365911/why-the-services-do-not-start-at-installation

And I think the default on Ubuntu is to auto-enable them. At least when I installed Gogs on Ubuntu 14.04 I didn't need to do it manually.

[2016-11-29 14:52] stevenroose commented on #184
No but if other platforms lead the way, people might demand they follow. And people might migrate :)

Software like Gerrit kind of allows for that

[2016-11-29 15:09] lunny commented on #209
lack of auth sources.

[2016-11-29 15:23] lunny commented on #70
So this could be closed via #303

[2016-11-29 17:36] strk commented on #184
@stevenroose do you have reference about the Gerrit support ?

[2016-11-30 01:28] lunny commented on #184
If we implements Gerrit, could we invite Golang team to use Gitea? 😄

[2016-11-30 11:11] stevenroose commented on #184
@strk With Gerrit, you package your commits using `git-review` and push them to a certain ref and it will show up in Gerrit as a code review. No need to create a Gerrit fork. It does not use `git request-pull` though.

[2016-11-30 11:17] stevenroose commented on #209
Run user, admin user, database and auth sources are not install vars but global config vars that should be kept in a config file that is loaded on every run, not black-box inserted on install.

There is no need for pre-installation stuff, I setup a whole lot self-hosted applications and none have them. What they have is a config file that contains all you need.

Post-installation actions might mak

[2016-11-30 11:18] strk commented on #184
You'd still need write permissions to the repo to push those
reviews to the ref, right ?

In that case the missing bit would still be eventually tracking
a different repo holding the review ref ?

[2016-11-30 11:30] stevenroose commented on #184
Yeah it is different. It pushes individual bits with write permission.

With federated PRs, Gitea should periodically (or on request) check the branch reference for new changes.

[2016-11-30 11:57] roblabla commented on #184
AFAIK, git request-pull does not use git commits at all. It merely generates a list of commits between local and remote, and print it on stdout. We'd need to specify a way to send those changes to remotes/to pull them from remotes

Git request-pull is part of the standard git install though, unlike git appraise or git review.

[2016-11-30 16:24] lunny commented on #209
@stevenroose, I don't think so. Installation and Configuration are not the same things. Installation should have something you can not easily change. i.e. database, run user, data root dir. If you changed these, you have to restart your system. Adding users/organizations, adding auth source, config sendmail and etc. are configurations and could be changed when system is running.

[2016-11-30 17:12] tboerger commented on #209
I would prefer a single file as well. And if authentication sources are defined via config I would even disable editing via ui

[2016-11-30 17:28] stevenroose commented on #209
@lunny Almost all of them you could in theory change at runtime except maybe run user. But almost all of them you probably don't want to do that at runtime. Things like database, datadirs, auth source, sendmail are core configurations and will almost never change once your system is deployed. They shouldn't too.

[2016-12-02 07:43] denji commented on #220
realistic password strength estimation: https://github.com/dropbox/zxcvbn
* https://blogs.dropbox.com/tech/2012/04/zxcvbn-realistic-password-strength-estimation/

[2016-12-02 13:42] bkcsoft commented on #220
@denji not exacly relevant. Also given Dropbox [track record](https://www.troyhunt.com/the-dropbox-hack-is-real/) their advice is the _last_ I'd listen too 😆

[2016-12-02 22:38] bkcsoft commented on #209
@stevenroose Gitea currently makes no effort at separating global/install var so currently it's sort-of a moot argument. Being able to bootstrap an instance is _really_ helpful :)

[2016-12-03 09:31] tboerger commented on #104
We already refactored docker

[2016-12-03 15:19] lunny commented on #210
Maybe we could resolve all log issues in 1.1

[2016-12-03 15:55] stevenroose commented on #209
@bkcsoft Yeah but there currently is a global config file and no install config file, so instead of making the latter, I think it makes more sense to just put it into the already existing config file :)

Makes installation much more intuitive for new users too, just fill in the app.ini file and run and you're done.

[2016-12-04 14:34] tboerger commented on #57
Just fixed the milestone, it's already done within 1.0.0

[2016-12-06 18:14] bkcsoft commented on #209
with https://github.com/go-gitea/gitea/pull/354 that will be easier since the default `app.ini` is now included in the binary :)

[2016-12-06 18:49] bkcsoft commented on #124
I can probably make a proof of concept for this sometime during the weekend or next week

[2016-12-13 05:29] lunny commented on #195
So, there are enough documents to resolve this issue?

[2016-12-13 07:11] tboerger commented on #195
The biggest document is https://docs.gitea.io/en-us/hacking-on-gitea/ but we will also write https://docs.gitea.io/en-us/installation-from-source/ with more details.

[2016-12-18 17:41] stevenroose commented on #184
@roblabla Yeah the flow would be to save the `git request-pull` to a file and upload that (like how submitting patches used to work in the past). Or either enter a URL to a branch of a remote repo so that Gitea can update the PR.

[2016-12-19 09:50] strk commented on #184
Unless I'm missing something `git request-pull` references a specific commit,
while github/gitea pull requests reference a (possibly moving) branch.

Do we want federated request to track branches rather than specific commits ?
I think we do want a PR (thread of comments/discussion) to track a branch.

[2016-12-20 08:20] bkcsoft commented on #184
it references specific _commits_ yes. So we'd need to continuously re-fetch the data 😒

[2016-12-20 09:59] strk commented on #184
On Tue, Dec 20, 2016 at 12:20:34AM -0800, bkcsoft wrote:

We can only fetch new commits if we have a reference to a branch name,
which is not in `git request-pull` output. So if we want to keep the
`track-a-branch` approach, we cannot rely on `git request-pull`.

A PR creator could ask for a remote URL and a branch name, check out the
remote branch locally, perform some checks (ie: refuse to creat

[2016-12-20 15:50] stevenroose commented on #184
I would suggest that when creating a PR as a guest account, you'd have a tab with "external" or "federated' or whatever that has two options:

1. a text input field for a branch URL, with a "fetch" or "test" button maybe to check for reachability and availability of tracking

2. a file upload field to upload a `.diff`, `.patch` file or the output of a `git-request-pull`; this might also be a texta

[2016-12-21 15:35] tboerger commented on #195
Solved via https://github.com/go-gitea/docs/pull/19

[2016-12-25 14:02] bkcsoft commented on #10
Closing as fixed by #199

[2016-12-26 18:11] bkcsoft commented on #194
I started to play around with swagger[1] today, IMO it would be the best solution (even though I personally prefer ApiDoc...). I'm just not entirely sure how/where we should present it, @tboerger had the idea of integrating the docs in Gitea itself (e.g. `try.gitea.io/docs/api` ) though I'm not sure that is a good idea

[1] https://github.com/yvasiyarov/swagger

[2016-12-26 18:53] tboerger commented on #194
We can enable or disable that via config flag. Additionally to that we can extract this documentation from every branch and provide all of this within our docs or at a separate page.

[2016-12-26 19:11] joubertredrat commented on #194
For first I think that is good idea to documentation manually on https://api.gitea.io/ as example because today doesn't exists anything about API documentation

After this we can view automated tools like Swagger

[2016-12-26 20:12] tboerger commented on #194
Nobody wants to do it twice, so we should directly provide something generated out of swagger annotations

[2016-12-27 00:44] lunny commented on #194
Yes, we need an API document ASAP.

[2017-01-03 08:22] renothing commented on #184
I don't think this feature usefull, you can add two remote for this case. for example branch github for gh, master for gogs, I use both in my work with one repository. and git review is another things. don't make big feature to solve little problem.
anyway, gogs focus on small business or self hosting. not for public cloud service.

[2017-01-03 13:42] axeloz commented on #207
Hello @all,

sorry for bringing that up again. I understand the search in private repo and ordering will be fixed soon. What's about the team permission related question I asked? @Bwko you said you would create a pull request soon but I don't think you did, right? Are you still considering this point? It's very time consuming to add each repo to each team who should have access to it. When you hav

[2017-01-04 14:23] stevenroose commented on #184
@renothing I don't think you fully understand the proposal. It has nothing to do with being able to compare or checkout code from different remote sources. Instead, it is about allowing people to submit pull requests or patches without having to be registered to your system. If I publish a piece of software on my Gitea instance, I want others to be able to create a PR without requiring them to go

[2017-01-05 02:16] renothing commented on #184
@stevenroose
as I said, it's quite a little demand scene. think about it, how many people need merge a PR from gist? I don't think it's necessary to add this feature to gitea core. maybe it's ok for a plugin  when gitea plugin architecture ready.

[2017-01-05 10:10] sbrl commented on #184
@renothing If I understand the issue being tackled here correctly, it goes far beyond merging just a simple gist. It tackles merging between multiple gitea different instances, and even between a GitHub repository and one on a gitea instance. It allows one to merge changes from any remote branch on any supported git server on the internet.

@stevenroose Correct me if I'm wrong :smiley:

[2017-01-05 10:20] Bwko commented on #207
@axeloz The search in private repo feature is already added to the [latest master](https://dl.gitea.io/gitea/master/) . I haven't had the time to create a PR for this issue. I hope to create a PR in a couple of days/ weeks.

[2017-01-05 10:25] renothing commented on #184
@sbrl
you're right, but if somebody want to do contribution for your repo, he will need fetch your code first, he must have to keep two remote(one for himself, one for yours). it didn't reduce works at all. this feature just reduce login/register step. it didn't help too much, maybe send email path is better choice like linux kernel.

[2017-01-05 20:19] ekozan commented on #184
i'm not ok with you @renothing
1. When you work with git you have always many remote
2. It's a must have
3. login step are fucking boring
4. gitlab will do it too : https://gitlab.com/gitlab-org/gitlab-ce/issues/4013
5. it's a main feature so it's not a plugin

[2017-01-05 21:11] strk commented on #184
I'm all for having support for federated pull requests, anyway
I don't think they could replace logging in, as you still want
to somehow grant/revoke permissions to file PRs and comment on
the corresponding thread.

The login part should be taken care of by OpenID Login (there's
another ticket about that part).

[2017-01-06 08:35] sbrl commented on #184
@renothing As far as I can tell, in actual fact it'll be the server that automatically fetches the code from the remote automatically, meaning that the dude doing the pull request just has to push to a branch on his own server, and doesn't have to have 2 remotes (Again, correct me if I'm wrong).

Besides, if you don't like it, I'm sure there will be an option to disable it - nobody is telling you

[2017-01-06 12:46] mmoya commented on #179
FTR, a proof of concept for gogits/gogs#945 was posted to https://github.com/minecrafter/gogs/commit/5cd29970a39ba273a4d1115373099c7615353902.

[2017-01-06 15:03] lunny commented on #179
@mmoya, Could you send a PR to Gitea?

[2017-01-06 15:30] gencer commented on #179
@lunny  as soon as PR accepted, I will try on brand new server with fresh config for better result and for one to the existing installation to see how its going on. I am preparing a new test server until PR accepted. (Otherwise, I will try target PR source myself)

[2017-01-09 10:42] bkcsoft commented on #26
oauth for searchabilty

( GitHub fix your search-engine FFS 😒 )

[2017-01-09 10:58] mmoya commented on #179
@lunny, I'll ask OP first. @minecrafter, are you willing to submit a PR to gitea with your 2fa proof-of-concept?

[2017-01-09 11:04] willemvd commented on #26
This would mean some area in the admin panel/app.ini to setup OAuth2 client_id, client_secret and a provider based on the goth provider list

Do we want to support non-existing goth providers (like MS ADFS/Office365) and let users enter a custom token & authorize url which we then can use to either create a new goth provider (not sure how) or use the golang.org/x/oauth2 package?

[2017-01-09 13:02] minecrafter commented on #179
I'm assuming the only reason I was mentioned was because I did make [this attempt to support 2FA from the parent project](https://github.com/minecrafter/gogs/tree/2fa).

~~Unfortunately, I do not think I will have the time to continue working on projects like Gitea and Gogs. However, you are free to expand upon my initial work.~~

[2017-01-09 13:56] minecrafter commented on #179
After getting some more background information, I might be willing to contribute two-factor authentication support to the project. I too have been a former Gogs contributor who was stalled by the maintainer.

[2017-01-09 13:58] lunny commented on #179
@minecrafter you are welcome back!

[2017-01-09 13:59] minecrafter commented on #179
@lunny Thanks! :+1:

[2017-01-09 22:49] minecrafter commented on #179
A little update on the progress I've made:

It's largely working. You can log in with 2FA, disenroll and use scratch codes to log in case you lose access to your Gitea account.

Here's a small taste of what you're looking at:

![screenshot from 2017-01-09 17-46-18](https://cloud.githubusercontent.com/assets/979956/21786822/fcac0b9e-d693-11e6-948f-c9670f2057ca.png)

[2017-01-10 07:28] tboerger commented on #26
I think on the first step we will support the goth providers, but on another step we should also try to support more providers.

[2017-01-11 10:12] RichieB2B commented on #31
It is true that packager.io does binary wrapping, but it is needed for gogs/gitea. Several environment variables need to be set up, etc. I found the CentOS 6 gogs RPM very simple to install and set up.
Whatever packaging solution you pick for gitea please make sure it is easy to install, configure and upgrade.

[2017-01-11 19:36] Bwko commented on #220
This got fixed by #223

[2017-01-12 06:57] tboerger commented on #31
Many packages rely on environment variables, still no need to wrap the binary. And easy to install and configure is always the focus of a package or not?

[2017-01-12 16:08] stevenroose commented on #184
Indeed. You might used GitHub, I use my own Gitea. If you want to contribute to my project, I don't  want you to have an account on my Gitea instance, because you use GitHub. I want you to push a feature into a branch on your repo on GitHub, then come back to my instance, the project homepage and file a PR from your GitHub branch into the master one. Without you needing to create an account, all y

[2017-01-12 16:20] strk commented on #184
As I maybe observed in another PR (the OpenID one) even if someone logs
in with a remote authentication mechanism (OpenID in my case, GitHub/OAuth2
in the example you make) he still needs a record onto the local instance,
if not else to be able to partecipate in the discussion about his proposed
changes, and maybe get notified by mail of answers.

So allowing to reference branches on remote git se

[2017-01-13 06:15] renothing commented on #184
to keep gitea core simple,I don't like this feature at all. it will make core features more complex, not only pull request system, also with permission system and hard to integration with 3rd CI system.  anyway, the main authors have rights to choose.

[2017-01-16 15:09] couling commented on #31
So I actually have gitea packaged up in a `.deb`.  I allow nothing on my server that isn't packaged properly.  It's a little bit of a patchwork job at the moment (partly because of this #480).

-----

On the subject of upgrade path... `.deb` packages allow some files to be declared as "config" files which the package manager will:
- Keep after uninstalling the package until the user explicitly "pu

[2017-01-19 21:56] couling commented on #209
To add my two cents worth.  I think we ought to continue to be careful to keep the use of `app.ini` coherent.  There is a danger that it will become confusing.  I think the auth provider is sitting on the wrong side of the fence. I know it threw me when I was first setting up gogs.  We ought to look at moving it, even if it needs its own config file.  INI files are flexible enough that we could ha

[2017-01-20 02:37] lunny commented on #209
reset someuser's password.
[code]

[2017-01-20 06:53] bkcsoft commented on #209
@lunny with an optional password for those of us that don't have an email server setup 😉

[code]

[2017-01-20 10:00] stevenroose commented on #184
@renothing Well, the main authors aren't the ones that should choose, it's the users that should.

On CI, I don't think that's an issue. What CI does is just pull a branch and run some scripts. Since the CI system is probably separate from the Gogs instance anyways, it really makes no difference to pull a branch from the Gogs repo or from any other remote repo.

Also, a permission system should be

[2017-01-20 10:16] strk commented on #184
The idea of a single flag for a "guest account" seems interesting.
But then no guest could be "watching" changes, right ?

You'd be filing a federated PR and not get the comments on it, unless
your email (and prefs) are known by the system.

Do you agree that a local record must be created anyway for the user ?

[2017-01-20 11:09] stevenroose commented on #184
@strk. You would. Guests login with OpenID, so their e-mail address would be known. The user db should just make a distinction between "real" users and guest ones.

With "not member of this instance", I didn't mean that there was no record of them whatsoever in the db.

[2017-01-20 11:18] lunny commented on #209
@bkcsoft This only for who forget admin password. If you have admin password, you can change user's password in `Admin Panel`.

[2017-01-21 02:48] bkcsoft commented on #209
@lunny unless you want a cron-job that changes their password every 3 months ;)

[2017-01-21 07:54] strk commented on #184
You'd still need to know which email (and thus user) to notify upon receiving comments on a ticket, so there must be an association between a ticket (PR) and a "user" (guest or not) - this means still having a record in database, for that association.

BTW, OpenID provided email isn't necessarely trust/confirmed, so if you want to be sure about email you still need to take care of that

[2017-01-26 15:01] lunny commented on #124
@bkcsoft any update?

[2017-01-26 15:04] lunny commented on #31
@couling could you send a PR?

[2017-01-26 16:49] strk commented on #124
Aren't we going to do this with git-appraise ? See #733

[2017-01-26 18:40] sokolovstas commented on #124
I can look at this, but this will be not so fast

[2017-02-05 14:16] lunny commented on #210
I put this to v1.2 since nobody could send a PR to resolve this.

[2017-02-07 13:05] lunny commented on #31
@tboerger any update?

[2017-02-09 17:42] tboerger commented on #31
No updates so far from my side. IMHO we need to run different docker containers to make sure it's properly matching the target OS (reffering to the glibc issue). Beside that a docker workflow excludes 32bit systems and the other architectures since we can not support that with our buildchain yet.

[2017-02-10 01:41] lunny commented on #31
So let's put this to v1.2?

[2017-02-10 08:24] xor-gate commented on #31
I'm not sure if this is helpful. But I have an experimental Golang lib/tool to create Debian packages without using debian at-all (just native golang). I also had some "problems" when creating packages for Debian in a "cross-platform" way and I'm not a big fan of dpkg builder. Have a look: https://github.com/xor-gate/debpkg

It is still in experimental stage, but it is able to generate installable

[2017-02-10 14:16] tboerger commented on #31
@xor-gate thanks, will have a look when I come back to this issue.

[2017-02-14 02:13] lunny commented on #124
Move this v1.2 since #733 has moved.

[2017-02-14 02:17] lunny commented on #124
I have tried to do something. `Comments on PR` is not the same as `comments on commits`. These are two similar PRs. For `comments on PR`, all the comments should be indexed by the IssueID, treePath, lineNum and actionType(add line or del line). But for `comments on commits`,  all the comments should be indexed by commitSHA, treePath, lineNum and actionType(add line or del line).

[2017-02-22 08:15] lunny commented on #26
So this has been resolved by #679 ?

[2017-02-22 08:20] willemvd commented on #26
it will be broken in to multiple PR's, first part is in #679 , but I don't think we need this as reference for the other PR's

[2017-02-22 08:21] lunny commented on #26
So let's close this.

[2017-03-13 14:02] ptman commented on #209
Instead of storing "dynamic configuration variables" in the database, one could keep them in the same config file and support reload instead of restart of gitea. (think apache/nginx reload vs restart)

[2017-03-13 14:27] Lichtjaeger commented on #26
Nice work. But I would like to use Gitea on our intranet with our own OAuth2 provider (self-made with NodeJS).

I hope, this is planned for the next releases.

[2017-03-15 13:09] pgaskin commented on #11
What would be the scope of the saved changes? The repo? The filetype? The filepath? The session?

[2017-03-15 15:44] silverwind commented on #11
I'd say per-user options are sufficient. If you want finer control, you're better of placing a `.editorconfig` in the repo.

[2017-03-19 07:19] strk commented on #184
Interesting design document by NotABug people with ideas about a federated git hosting service: https://notabug.org/NotABug.org/notabug/src/master/README.md

[2017-03-22 00:06] bkcsoft commented on #184
OAuth for GH/BB/GL could be used to link once account, then if you allow it Gitea lists your remote repos and branches and you can create PRs to any repo that has a common ancestor (finding that is gonna be such a pain...). Only issue I see is that _all_ the other system (GitHub, BitBucket, GitLab) has different APIs for fetching this data, we'd need to support all or none. I say plugins :trollfac

[2017-03-22 01:28] roblabla commented on #184
This is really a chicken and egg problem. Until someone implements federation, nobody will implement federation.

EDIT: I'd also argue that if we can federate across gogs instances, we've already made a first step towards federation.

[2017-03-22 02:36] bkcsoft commented on #184
@roblabla Right, I'm not against pull requests across instances, what I am saying though is _use existing functionality_, such as the various providers APIs :)

[2017-03-22 10:04] strk commented on #184
I'd prefer a generic solution to one that is bound to known API, especially from proprietary services.

[2017-03-22 16:47] stevenroose commented on #184
I agree with @strk. Git itself is quite powerful, I would try to resort as much as possible to core Git functionality.

If federation is implemented f.e. based on Git URI's, adding UI sugar for hosting providers is not that hard. For Gitea, we use our own API's to extract information from the PR. For GH/GL/... we can either not support them, so just support copy-paste Git URI's, or implement a UI

[2017-03-22 19:58] strk commented on #184
On Wed, Mar 22, 2017 at 09:47:06AM -0700, Steven Roose wrote:

I don't see how that's an issue.
Just say that in order to submit a "federated pull request" you'll have
to provide all the informations that "git request-pull" asks you to
provide ...

It doesn't necessarely be a single URL, can be a whole form too...

[2017-03-23 22:20] mjturner commented on #31
I was going to take a stab at packaging Gitea for Debian, but I see someone else has beaten me to - see [Debian Bug 79210](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=792101).

[2017-03-23 23:17] MTecknology commented on #31
@mjturner This has been a five month long project for me so far and at my current rate, at least that much longer. The bulk of the work isn't too bad, but I'm stuck in a few key places that are absolutely destroying my ability to make progress.

I need the most help writing package descriptions for all of the gitea dependencies that are not currently packaged in Debian. This has been consuming at

[2017-03-24 10:50] sbrl commented on #184
How about asking GH / GL for their feedback on a proposed standard? Could be an opening into a wider discussion on the subject

[2017-03-24 22:17] strk commented on #184
Sure, but we need that proposed standard first ...

[2017-03-24 23:08] mjturner commented on #31
@MTecknology You beat me to it - I was going to email you and see if I could help in any way. I have a fair amount of Debian packaging experience (I'm a Developer emeritus), although none with packaging Go applications, and a decent amount of Go development experience. Will get in touch via IRC shortly

[2017-03-28 20:25] sapk commented on #194
We could use : https://goswagger.io/generate/spec.html ?

[2017-04-18 02:26] MTecknology commented on #31
@mjturner I seem to have scared you off! If you're at all still interested, I'm at a place where this is getting a bit overwhelming and I could really use a hand.
or.. anyone else? Anyone at all that understands Debian packaging and/or Go? Pretty please?... :cry:

[2017-04-18 10:16] xor-gate commented on #31
Hi guys, debian packaging is not very intuitive because it is very very flexible. Most people just want some files inside a .deb and some meta (packages, version, description).  I think the fastest way is to use some frontend tools to build a simple debian package. E.g https://github.com/laher/goxc or https://github.com/jordansissel/fpm.

The guys at Syncthing (golang project) use FPM to build a d

[2017-04-18 18:59] mjturner commented on #31
@MTecknology Apologies! I definitely haven't been scared off, I've just been so swamped with a ton of other things that I haven't had a chance to give Gitea another look since our last contact a few weeks ago :(

My time is still pretty limited at the moment, but I am still very keen on getting involved.

[2017-04-20 08:28] MTecknology commented on #31
No worries. This project is more than any reasonable, sane, or well adjusted person should ever attempt to pull off. Right now I think I'm dealing with version incompatibilities where the build succeeds but runtime results is a segfault. At least it's finally a policy-compliant build.

It turns out I need some additional javascript libraries packaged. More... woohoo..... :sob:

[2017-04-24 14:51] ralphtheninja commented on #194
Until there is a proper API documentation available. Where can I dig around to find out how to call the api?

[2017-04-24 15:15] sapk commented on #194
You could find all api url in code here : https://github.com/go-gitea/gitea/blob/master/routers/api/v1/api.go#L230

You could copy-paste : https://github.com/sapk-fork/gitea/blob/generate-swagger/public/swagger.v1.json in http://editor.swagger.io for viewing incoming documentation.

You could also look at https://github.com/go-gitea/go-sdk that is a go package to access the api (all url are not im

[2017-06-09 19:18] garyritchie commented on #89
[code]

I'm already using jwilder/nginx-proxy -- that's what VIRTUAL_HOST and VIRTUAL_PORT are for.

Hope this helps someone and wouldn't mind feedback on making it better.

[2017-06-13 21:43] mjturner commented on #31
@MTecknology Any chance you could share your current WIP packages (eg via public repo)? Might help encourage getting others involved.

[2017-06-14 05:38] MTecknology commented on #31
@mjturner heheh... you actually posted a link to where I posted a link to my WIP (the debian bug)
--> https://github.com/MTecknology/gitea-wip/blob/master/work_in_progress

There's been no significant change since my last comment on this thread. I managed to get an actual build, but it segfaults. I have a pretty solid hunch the segfaults were because of mismatched library versions. I have most (~9

[2017-07-04 07:21] MTecknology commented on #31
This is going to be held up by #1484, among other things, but Debian 9 is released and I'm planning to start making some progress again in the near future. There's still a lot to do, but I'll get this sucker closed someday!

[2017-07-05 04:57] rajdavies commented on #209
We would like to to use gitea for out of the box git support in the fabric8.io project - which uses KeyCloak as an identity provider (Oauth).  Being able to configure the OAuth provider in a configuration file seems to be the only way forward for us.

[2017-07-18 18:36] SeanFarrow commented on #194
Hi,
Is there a swagger document available as of now? I need to generate a client in c#.

[2017-07-18 19:28] lafriks commented on #194
@SeanFarrow it is still WIP - https://try.gitea.io/swagger

[2017-07-18 20:09] SeanFarrow commented on #194
Hi,

Thanks, is there a test gitea server anywaere?

From: Lauris BH [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 20:28
To: go-gitea/gitea <gitea@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [go-gitea/gitea] API documentation for endpoint (#194)

@SeanFarrow<https://github.com/seanfarrow> it is still WIP - h

[2017-07-19 09:09] SeanFarrow commented on #194
Thanks, Do you know whether there are any test servers available, or alternatively a vagrant/packer base box. I'm tryingot write integration tests against the API.

[2017-07-19 10:33] lafriks commented on #194
There is https://try.gitea.io but integration tests for api are run localy from development environment (see https://github.com/go-gitea/gitea/tree/master/integrations)

[2017-07-19 10:35] SeanFarrow commented on #194
How are the integration environments spun up?

From: Lauris BH [mailto:notifications@github.com]
Sent: Wednesday, July 19, 2017 11:34
To: go-gitea/gitea <gitea@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [go-gitea/gitea] API documentation for endpoint (#194)

There is https://try.gitea.io but integration tests for api are ru

[2017-07-19 11:49] lafriks commented on #194
On linux you need to run `make test-pgsql` or `make test-mysql` but you need postgresql or mysql set up correctly

[2017-07-19 11:51] SeanFarrow commented on #194
Ok, it would be nice if there were boxes so that this could be run from a windows box for testing—maybe a separate issue!

From: Lauris BH [mailto:notifications@github.com]
Sent: Wednesday, July 19, 2017 12:50
To: go-gitea/gitea <gitea@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [go-gitea/gitea] API documentation for endpoin

[2017-07-25 12:59] SeanFarrow commented on #194
Hi,

Assuming I have a url for a server, what is the uri for the api?
I've had a look at api.go and only see gitea.io url's.
Help appreciated.
Kind regards
Sean.

[2017-07-25 13:11] sapk commented on #194
You could try to go to `/swagger` on your instance to view documentation and you could use integration test has an example for url, like : https://github.com/go-gitea/gitea/blob/f1adaef45849fc260b07be39a39b9c1ee5146923/integrations/api_issue_test.go#L25

[2017-07-25 13:28] SeanFarrow commented on #194
Strange, the swagger url doesn’t seem present on that server.
Cheers
Sean.
Kino r

From: Antoine GIRARD [mailto:notifications@github.com]
Sent: Tuesday, July 25, 2017 14:11
To: go-gitea/gitea <gitea@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [go-gitea/gitea] API documentation for endpoint (#194)

You could try to go to /swa

[2017-07-27 10:03] SeanFarrow commented on #194
Hi,

I’m trying to go to url:
http://server:port/api/v1/orgs/MeasurementSystems
it can’t seem to find the page, as I keep getting an http404, what would be the correct uri to look an organizations repos?
This is for gitea v1.1.0.
Kind regards
Sean.
From: Antoine GIRARD [mailto:notifications@github.com]
Sent: Tuesday, July 25, 2017 14:11
To: go-gitea/gitea <gitea@noreply.github.com>
Cc: Sean Farrow

[2017-08-01 03:15] SeanFarrow commented on #194
Hi all,

What is the minimum version of Gitea that the api works with, with v1.1.0, the API doesn't seem to exist, I'm only getting 404's and no swagger document exists at /swagger as noted above.
Any help appreciated.
Cheers
Sean.

[2017-08-01 03:34] lunny commented on #194
@SeanFarrow /swagger is the document which is on v1.2. But the APIs works well on v1.1.0

[2017-08-01 03:36] SeanFarrow commented on #194
Ok, can you give me a sample uri please, I can’t seem to get this to work what ever uri I use!
Do I need to enable the api?

From: Lunny Xiao [mailto:notifications@github.com]
Sent: Tuesday, August 01, 2017 04:35
To: go-gitea/gitea <gitea@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [go-gitea/gitea] API documentation for endp

[2017-08-03 17:13] hankerepo commented on #209
What about a config directory that would always start with a default app.ini.whatever.  app.ini.whatever would be the starting point with the other files being merged and overriding any settings app.ini.whatever?  Similar to /etc/whatever.d  style directories

[2017-08-29 22:32] aoyawale commented on #31
hello, has anyone succesfully made rpm's in fedora/centos/rhel?

[2017-09-05 21:03] codylane commented on #31
@tboerger - I really love what you and your team is doing with Gitea!  To address folks concerns with Gitea not having RPMs yet, I have written a tool to generate Gitea RPMS for Red Hat derivatives 6.x and 7.x.  I've been testing it locally for a while now and I'm really close to releasing it in the next day or two.

Not sure if you are looking for a GO solution to build RPMS or if you just want a

[2017-09-05 21:24] sapk commented on #31
We are always open to PR even if not merged it could be usefull for other. You could use folder [contrib](https://github.com/go-gitea/gitea/tree/master/contrib) to store your script. Overall we try to keep it to golang  but for specific case we make exception and python is a common tool.

[2017-09-05 21:39] aoyawale commented on #31
@codylane looking forward to it! I was working on doing this using the fedora packaging way but, I barely know how to do that and was going to be a shot in the dark.

[2017-09-05 23:06] codylane commented on #31
Right on, glad to hear this might be useful for people.  I'm just finishing up the readme but I should have it on my public github account tonight.  I'll share the link as soon as it's available.

I'd be happy to submit a pull request to gitea, just figured the community could help me make sure it works before it goes in your repo.  I have a lot of integration tests around the RPM but the best way

[2017-09-05 23:24] tboerger commented on #31
Maybe this can also be some ground work for a drone plugin, already talked to another dev who created a deb plugin for drone.

[2017-09-05 23:30] codylane commented on #31
Cool.  I need to checkout drone as well and it's been on my list of things to play with.

[2017-09-06 03:48] codylane commented on #31
As promised, here's an automated CI process for building the Gitea RPM for CentOS 6 and 7.  https://github.com/codylane/gitea-rpm.

Please let me know if you questions or concerns or if there are any problems.  I've already opened one small issue with systemd.  I'll fix it tomorrow.

[2017-09-06 09:09] jhasse commented on #31
Have you thought about using [Copr](https://copr.fedorainfracloud.org/)?

[2017-09-06 10:36] lunny commented on #31
Maybe who can send a PR to change the drone file to generate deb? @tboerger @bkcsoft @appleboy

[2017-09-06 18:21] tboerger commented on #31
@jhasse than we can also use the open buildservice. I don't believe that these tools are the best selection.

I would prefer a drone plugin for rpm and for deb and host the repos on our own or on bintray/packagecloud

[2017-09-06 19:44] codylane commented on #31
@tboerger - Just curious would you like me to take a stab at the drone stuff?  The reason I ask is because I was thinking about hooking up my repo into TravisCI.  I totally understand if you guys would prefer a self contained build service.  :)

If you would like me to look into drone would you be able to share any documentation on how your team is using it?  I'm big on standards and don't like re

[2017-09-06 20:06] tboerger commented on #31
Currently we are using mostly plugins created by drone contributors from the drone-plugins github org, @thomasf started to build drone-deb for Debian based packaging and I would like to start a drone-rpm plugin within the drone-plugins org.

You can see our .drone.yml within the project root, we are hosting our drone instance at drone.gitea.io

[2017-09-06 20:30] codylane commented on #31
Cool.  Once I fix this systemd problem i'll take a look as you recommended.  Thanks man!

[2017-09-06 22:30] codylane commented on #31
FYI - The systemd issue has been resolved and the RPMs should be in good working order.  Still need look into the drone stuff.

[2017-09-11 12:28] cez81 commented on #194
@SeanFarrow If you haven't got this to work yet, here's an example https://try.gitea.io/api/v1/repos/search?q=gitea

[2017-09-12 08:18] lcges commented on #124
I send the draft as seen to comment on the code.
For some time I will show demo work.
![1](https://user-images.githubusercontent.com/19255071/30315213-752c5512-97a3-11e7-9b75-f6d1679d5a99.png)

[2017-09-22 10:02] lcges commented on #124
Hello.
I send you a preview of the model of action.
This is a static implementation - proof of concept

[gitea_comment_code.zip](https://github.com/go-gitea/gitea/files/1324115/gitea.zip)

[2017-09-22 10:07] daviian commented on #124
@qdbdbp Looks great but I think a button to cancel the comment is missing. How does it look in unified mode?

[2017-09-22 13:08] lcges commented on #124
[gitea_c_o_c.zip](https://github.com/go-gitea/gitea/files/1324606/gitea.1.zip)

I send updated versions.
I'm waiting for comments on this.

![pasted image at 2017_09_22 03_04 pm](https://user-images.githubusercontent.com/19255071/30745729-973e905a-9fa7-11e7-8927-5ceafb2f8353.png)

[2017-09-22 13:10] lunny commented on #124
@qdbdbp I am working on a branch about this, I will send a PR today or last two days. I will copy your code to that PR.

[2017-09-22 14:23] lunny commented on #124
@qdbdbp It seems only the first comment on the code line. how to show the second or third comment on the same line?

[2017-09-23 06:05] lunny commented on #124
@qdbdbp I have sent a PR #2583 but I think maybe I have lost something from your zip. Please review the code and help me with the UI.

[2017-09-25 06:41] lcges commented on #124
no problem. I will do what I need
I'll take your code and I'm already working on the correct code.

![pasted image at 2017_09_25 08_30 am](https://user-images.githubusercontent.com/19255071/30795258-f8360e16-a1cc-11e7-8a93-3a4cb514af2f.png)
![pasted image at 2017_09_25 08_35 am](https://user-images.githubusercontent.com/19255071/30795259-f8360088-a1cc-11e7-900d-aae3cf83f63b.png)

[2017-09-25 10:28] tonivj5 commented on #124
@qdbdbp, what tool do you use to do those designs? :sweat_smile:

[2017-09-25 12:51] lcges commented on #124
hi. I use it for quick drafts this tool:

https://mockflow.com/

[2017-09-29 08:43] strk commented on #89
Ansible role here: https://github.com/alvaroaleman/ansible-gitea

[2017-10-10 21:09] bkcsoft commented on #89
There's also the official ansible role here: https://github.com/go-gitea/infrastructure/tree/master/ansible/roles/demo (Using systemd + compose)

[2017-10-12 06:10] davidlt commented on #184
Pagure (https://pagure.io/pagure) system supports remote pull request, which I found useful while working on Fedora packages repository. You do need to be registered to make a remote pull request.

See: https://docs.pagure.org/pagure/usage/pull_requests.html#remote-git-to-pagure-pull-request

[2017-12-15 00:09] sapk commented on #194
This one could be close

[2017-12-15 00:43] lunny commented on #194
@sapk I think yes.

[2017-12-29 08:34] pitkling commented on #31
Just throwing in another idea to provide a simple means of installation via a "package" under Linux: http://linuxbrew.sh.

[2018-01-08 14:17] link2xt commented on #184
Related: https://github.com/gogits/gogs/issues/4437

[2018-03-13 14:37] bclermont commented on #124
I don't mind to pay to have this feature... how much? who?

[2018-03-13 14:39] lunny commented on #124
@bclermont we already have a wip pull request #2583.

[2018-03-13 14:41] bclermont commented on #124
@lunny yeah, but it can't be merged, and haven't been updated in 6 months! I want to help to implement this feature

[2018-03-13 15:05] lunny commented on #124
You could use https://www.bountysource.com/teams/go-gitea

[2018-03-14 01:19] techknowlogick commented on #124
@lunny thanks for posting that link. I added to the bounty.

[2018-03-14 09:33] marbetschar commented on #194
@sapk https://try.gitea.io/ seems to be down

[2018-03-14 14:47] lunny commented on #194
@marbetschar yes, we are changing to a new plan for bigger disk space.

[2018-03-15 09:44] marbetschar commented on #194
@lunny meanwhile, is there any documentation for the api available? We are working on a Gitea integration, but its not so easy getting things right by solely read the code in the repo.

[2018-03-15 10:21] sapk commented on #194
@marbetschar I just uploaded at https://app.swaggerhub.com/apis/gitea/gitea-api/1.1.1 you can see it there for the moment. I will need to auto-update that if we keep it.

You can always copy https://raw.githubusercontent.com/go-gitea/gitea/master/public/swagger.v1.json to https://editor.swagger.io/ (File -> Import URL)

[2018-03-15 10:54] marbetschar commented on #194
@sapk thanks for this! I can see a bunch of errors there (screenshot attached), but I guess I can ignore them for now?

<img width="1280" alt="bildschirmfoto 2018-03-15 um 11 53 13" src="https://user-images.githubusercontent.com/392542/37459167-8f4c8932-2847-11e8-8fb3-37af0eb64047.png">

[2018-03-15 11:03] sapk commented on #194
@marbetschar yes, we need to fill security schema and maybe other spec to be fully compliant with swagger and the editor seems to be more exigent than the swagger-ui we use in gitea. But with all the definitions allready done you should get enough information to get started with api. You can dismiss error and hide them even.

[2018-03-28 23:37] cobbzilla commented on #124
Thanks for the bounty link. I added $100 if this can be resolved within 6 months. This is the basically the *only* feature that I still miss after migrating from Github to Gitea. I will be super duper happy when Gitea supports in-line code reviewing for pull requests. Go Gitea team!

[2018-03-29 02:05] bclermont commented on #124
I will give equivalent of 100$ in a crypto currency to whoever earn the bounty

[2018-05-04 03:44] rc1021 commented on #124
Are there things to follow?

[2018-05-04 04:03] lunny commented on #124
Please follow #3748

[2018-06-04 12:56] vanitasvitae commented on #184
Any news on this? There is currently a lot of news coverage about Github being acquired by Microsoft, so federation in context of a git web-service would be super cool :)

[2018-06-04 13:58] stevenroose commented on #184
I literally just came search for this issue a minute before I saw the notification from your comment. This (and federated pull requests) is really the killer feature for the next Git platform. I see an OpenID login tab, but it's not very user friendly with regards to easy access to the big OpenID providers like Google. I only saw an exception made for GitHub.

[2018-06-04 21:23] Arkanosis commented on #184
Hi everyone. I found this issue while looking around what was being done on the subject of federated git infrastructures, following the buying of GitHub by Microsoft.

When it comes to federating user identities, comments, activity… and I guess pull / merge requests as well, I think doing it using the [ActivityPub standard](https://www.w3.org/TR/activitypub/) would do even more than just federatin

[2018-06-06 06:54] IzzySoft commented on #184
Chiming in to what @Arkanosis wrote: seems like that's what [GitPub](https://github.com/git-federation/gitpub) aims at. Maybe some Gitea devs chime in there? That's what's currently asked for:

[2018-06-06 12:01] KingDuckZ commented on #184
I'm not sure if @Arkanosis comment would also apply to [Diaspora](https://joindiaspora.org/) but it would definitely be useful for myself if it was the case! Looking forward to this feature! :)

[2018-06-06 12:26] Arkanosis commented on #184
@KingDuckZ: I wish! The last time I checked, Diaspora wasn't implementing ActivityPub, though. I'd really like it to do so to federate with other networks (especially with Mastodon). That would, as an added benefit, make it much easier to federate Diaspora and whatever comes out of this proposal (GitPub or anything else).

Sure, it'd be possible to federate directly with Diaspora using the diaspor

[2018-06-06 12:50] stevenroose commented on #184
Please stay on topic. This issue is only related to being able to open pull requests from remote repos. All that is needed to achieve this is a common formulation of "repo and branch".

An example would be `https://github.com/go-gitea/gitea.git#federated-prs`.

Federation of other data like issues and comments are out of the scope for that. I think as a first step, you should be able to make a PR

[2018-06-06 14:37] IzzySoft commented on #184
@stevenroose if you refer to me: apologies, I should have better placed it in #1612 indeed. Meanwhile someone else did mention it there.

[2018-06-08 08:53] schmittlauch commented on #184
There now exists a working group/ project for designing a ActivityPub based git federation protocol. https://github.com/git-federation/gitpub

Join their mailing list if you're interested.

[2018-07-28 10:56] knottnhupfer commented on #31
Hi, any news about the deb packages? I would really love to have a gitea deb package ;)
Actually I would need them for Ubuntu 16.04 and Ubuntu 18.04, just to be more precise ...

I'm also willing to make the debian package and make it available if this step hasn't been done before, just let me know ;)

[2018-09-06 22:56] tonivj5 commented on #124
Is comment in commits implemented? If it isn't implemented I think this should be reopen

[2018-09-07 01:17] lunny commented on #124
@xxxtonixxx right, Only pull request comment was implemented by #3748 . @lafriks @JonasFranzDEV

[2018-09-07 01:17] lunny commented on #124
But we could open another issue to keep this one closed.

[2018-09-07 06:29] tonivj5 commented on #124
:+1:, I will do it

[2018-09-09 11:30] stevenroose commented on #184
GitLab is implementing it!
https://gitlab.com/gitlab-org/gitlab-ce/issues/40830
https://gitlab.com/groups/gitlab-org/-/epics/260

[2018-09-09 12:25] vanitasvitae commented on #184
Niiiice!

[2018-09-11 06:07] lunny commented on #124
@xxxtonixxx Thank you!

[2018-11-05 18:19] pwFoo commented on #184
Federated git would be awesome. Don't like to register uncountable accounts for git repos...
Federated PRs and issues! 👍

[2018-11-05 18:32] davidak commented on #184
@pwFoo i think it will take some time to specify and implement this.

Would it be an option for you to "Login with GitHub" when it's just one click until then?

[2018-11-05 19:06] pwFoo commented on #184
Could be an workaround, but goal should federated issues / PRs, federated social networks (mastodon, pleroma, misskey, ...) in the future.

[2018-11-05 22:44] jalcine commented on #184
What's the use case of this? Squishing gitea to forcefully share information between ActivityPub platforms and GitFed or whatever solution is built here would lead to overengineering.

[2018-11-06 17:01] stevenroose commented on #184
@jalcine The use case is that if you work on multiple different software projects, you're not required to create & maintain an account on all the platforms these projects are hosted on (GitHub, GitLab or their own self-hosted Gitea/GitLab/whatever). Ideally you have your own repo (GitHub, GitLab, or your own custom Gitea) and you can make PRs to all of the projects your work on from your own repo.

[2018-11-06 23:13] jalcine commented on #184
Right but what the person I was replying to was saying that you'd sign in using Mastodon to Gitea?

[2018-11-07 04:44] DevelAngel commented on #184
In my case, I have a Gitea instance on a home server. My raspberry pi and my internet connection has limited resources. And I want to prevent that bots can created accounts so that I have less administration in my free time.

Because of that, I disabled the registration page. Thus, nobody is able to add issues to my public repositories.

Currently, the only way to get issues from people is using a

[2018-11-07 05:12] pwFoo commented on #184
@jalcine
"Federated git would be awesome. Don't like to register uncountable accounts for git repos...
Federated PRs and issues! 👍"

Goal is not to login with GitHub or Mastodon Account... I quoted my answer.
Goal is to use one account (ideally my own) to open issues, reply to or open PRs.

[2018-11-07 05:21] techknowlogick commented on #184
I've locked this issue as it is being currently discussed in the forgefed mailing list please redirect all conversation there.

More info: https://github.com/forgefed/forgefed

[2019-01-16 09:28] RichieB2B commented on #31
Thanks stalebot for your contribution.

[2019-01-16 09:50] xor-gate commented on #31
I'm still promoting my [github.com/xor-gate/debpkg](https://github.com/xor-gate/debpkg) go package for debian packaging 🎉 .

[2019-01-16 15:20] lunny commented on #31
@xor-gate could you send a PR to add a config file for your library on contrib? Maybe we could release it on a drone plugin.

[2019-02-06 00:10] randyesq commented on #209
Was any support for this ever added? I have the same use case as @rajdavies . I already have Keycloak up and running and in my environment, there is no real way to open a web UI and make changes. Being able to put everything in a config file for Ansible or some other CM tool to bootstrap the installation and configuration is key.

[2019-02-06 01:40] lunny commented on #209
I think now every thing listed could be done via app.ini or gitea command lines.

[2019-02-06 15:35] randyesq commented on #209
Where can I find the related docs?

[2019-02-06 15:37] jolheiser commented on #209
https://docs.gitea.io/en-us/command-line/

[2019-02-12 03:57] lunny commented on #89
Some of them could be found on contrib sub folder or docs. So let's close this one.